In [14]:
import numpy as np
import pandas as pd

## 2016-2017 school vaccination data
- Numbers in the original document have been surpressed for <=1%, <=2%, <=5% and >=95%,>=98%,>=99%. Original file has errors with <=,  >=, and --* symbols when importing directly from .xlsx
- The 3 raw datafiles for childcare, kindergarden, and 7th grade has been compiled manually into a csv called `raw17_18_combined.csv` with <= and >= removed and replaced with the corresponding numbers

In [15]:
# Import raw combined 2016-2017 school vaccination data
pertusis_1617 = pd.read_csv("Raw_Data/raw16_17_combined.csv",encoding = "ISO-8859-1")

In [16]:
pertusis_1617.head()

,FACILITY_NUMBER,COUNTY,pub_priv_headstart,CITY,FACILITY_NAME,ENROLLMENT,n,pct,vac_info_type,REPORTED
0,13417683,ALAMEDA,PRIVATE,HAYWARD,A JOYFUL NOISE LEARNING CENTER,22.0,.,95,childcare,Y
1,13420892,ALAMEDA,UNKNOWN,ALAMEDA,A.U.S.D. - WOODSTOCK C.D.C. - HAIGHT,NaN,.,.,childcare,N
2,13420589,ALAMEDA,PUBLIC,ALAMEDA,A.U.S.D.- WOODSTOCK CHILD DEVELOPMENT CENTER,100.0,98,98,childcare,Y
3,13422012,ALAMEDA,UNKNOWN,SAN LEANDRO,AB'S PRESCHOOL & DAYCARE,NaN,.,.,childcare,N
4,13419449,ALAMEDA,PRIVATE,FREMONT,ABC MAGIC MOMENTS PRESCHOOL - IRVINGTON,55.0,.,98,childcare,Y

In [17]:
#Clean up missing values and set to Nan
pertusis_1617.n=pertusis_1617.n.replace('.', np.nan)
pertusis_1617.pct=pertusis_1617.pct.replace('.',np.nan)

# uppercase all counties and cities
pertusis_1617.COUNTY=pertusis_1617['COUNTY'].str.upper()
pertusis_1617.CITY=pertusis_1617['CITY'].str.upper()

In [18]:
pertusis_1617.CITY

0                HAYWARD
1                ALAMEDA
2                ALAMEDA
3            SAN LEANDRO
4                FREMONT
5                FREMONT
6                ALAMEDA
7          CASTRO VALLEY
8                OAKLAND
9                OAKLAND
10               OAKLAND
11            UNION CITY
12           SAN LORENZO
13            PLEASANTON
14               ALAMEDA
15               ALAMEDA
16               ALAMEDA
17                ALBANY
18                ALBANY
19                ALBANY
20         CASTRO VALLEY
21              BERKELEY
22              BERKELEY
23                ALBANY
24               ALAMEDA
25              BERKELEY
26              BERKELEY
27              BERKELEY
28              BERKELEY
29            EMERYVILLE
              ...
19903            VENTURA
19904            VENTURA
19905            VENTURA
19906              DAVIS
19907              DAVIS
19908              DAVIS
19909              DAVIS
19910            ESPARTO
19911    WEST SACRAMENTO
19912    WEST SACRAMENTO
19913    WEST SACRAMENTO
19914    WEST SACRAMENTO
19915    WEST SACRAMENTO
19916    WEST SACRAMENTO
19917            WINTERS
19918           WOODLAND
19919           WOODLAND
19920              DAVIS
19921           DUNNIGAN
19922    WEST SACRAMENTO
19923           WOODLAND
19924         MARYSVILLE
19925         MARYSVILLE
19926         MARYSVILLE
19927         MARYSVILLE
19928         OLIVEHURST
19929        PLUMAS LAKE
19930          WHEATLAND
19931         MARYSVILLE
19932         MARYSVILLE
Name: CITY, Length: 19933, dtype: object

In [19]:
pertusis_1617.dtypes

FACILITY_NUMBER         int64
COUNTY                 object
pub_priv_headstart     object
CITY                   object
FACILITY_NAME          object
ENROLLMENT            float64
n                      object
pct                    object
vac_info_type          object
REPORTED               object
dtype: object

In [20]:
# Change n and percent to floats
pertusis_1617[['n', 'pct']] = pertusis_1617[['n', 'pct']].astype('float64')

In [21]:
# Check conversion
pertusis_1617.dtypes

FACILITY_NUMBER         int64
COUNTY                 object
pub_priv_headstart     object
CITY                   object
FACILITY_NAME          object
ENROLLMENT            float64
n                     float64
pct                   float64
vac_info_type          object
REPORTED               object
dtype: object

In [22]:
pertusis_1617.head()

,FACILITY_NUMBER,COUNTY,pub_priv_headstart,CITY,FACILITY_NAME,ENROLLMENT,n,pct,vac_info_type,REPORTED
0,13417683,ALAMEDA,PRIVATE,HAYWARD,A JOYFUL NOISE LEARNING CENTER,22.0,NaN,95.0,childcare,Y
1,13420892,ALAMEDA,UNKNOWN,ALAMEDA,A.U.S.D. - WOODSTOCK C.D.C. - HAIGHT,NaN,NaN,NaN,childcare,N
2,13420589,ALAMEDA,PUBLIC,ALAMEDA,A.U.S.D.- WOODSTOCK CHILD DEVELOPMENT CENTER,100.0,98.0,98.0,childcare,Y
3,13422012,ALAMEDA,UNKNOWN,SAN LEANDRO,AB'S PRESCHOOL & DAYCARE,NaN,NaN,NaN,childcare,N
4,13419449,ALAMEDA,PRIVATE,FREMONT,ABC MAGIC MOMENTS PRESCHOOL - IRVINGTON,55.0,NaN,98.0,childcare,Y

In [23]:
sum(pertusis_1617.REPORTED=='N')

2286

In [24]:
sum(pertusis_1617.REPORTED=='Y')

17647

Subset dataset to those that reported

In [25]:
# Take subset that have numbers
vac_1617=pertusis_1617[pertusis_1617.REPORTED=='Y']

In [26]:
vac_1617.head()

,FACILITY_NUMBER,COUNTY,pub_priv_headstart,CITY,FACILITY_NAME,ENROLLMENT,n,pct,vac_info_type,REPORTED
0,13417683,ALAMEDA,PRIVATE,HAYWARD,A JOYFUL NOISE LEARNING CENTER,22.0,NaN,95.0,childcare,Y
2,13420589,ALAMEDA,PUBLIC,ALAMEDA,A.U.S.D.- WOODSTOCK CHILD DEVELOPMENT CENTER,100.0,98.0,98.0,childcare,Y
4,13419449,ALAMEDA,PRIVATE,FREMONT,ABC MAGIC MOMENTS PRESCHOOL - IRVINGTON,55.0,NaN,98.0,childcare,Y
5,13417471,ALAMEDA,PRIVATE,FREMONT,"ABC MAGIC MOMENTS,INC. PRESCHOOL/CHILDCARE",28.0,NaN,95.0,childcare,Y
6,13411388,ALAMEDA,PRIVATE,ALAMEDA,ABC PRESCHOOL,32.0,NaN,95.0,childcare,Y

Numbers in the original document have been surpressed for <=1%, <=2%, <=5% and >=95%,>=98%,>=99% so will impute values by assuming that the percentage is equal to whatever value listed and multiply by the number of students enrolled at the school.

In [27]:
# Calculate n from enrollment and approximate percentage
vac_1617.loc[:,('n')]=vac_1617.n.fillna(vac_1617.ENROLLMENT*vac_1617.pct/100)

C:\Users\42\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [28]:
vac_1617.head()

,FACILITY_NUMBER,COUNTY,pub_priv_headstart,CITY,FACILITY_NAME,ENROLLMENT,n,pct,vac_info_type,REPORTED
0,13417683,ALAMEDA,PRIVATE,HAYWARD,A JOYFUL NOISE LEARNING CENTER,22.0,20.9,95.0,childcare,Y
2,13420589,ALAMEDA,PUBLIC,ALAMEDA,A.U.S.D.- WOODSTOCK CHILD DEVELOPMENT CENTER,100.0,98.0,98.0,childcare,Y
4,13419449,ALAMEDA,PRIVATE,FREMONT,ABC MAGIC MOMENTS PRESCHOOL - IRVINGTON,55.0,53.9,98.0,childcare,Y
5,13417471,ALAMEDA,PRIVATE,FREMONT,"ABC MAGIC MOMENTS,INC. PRESCHOOL/CHILDCARE",28.0,26.6,95.0,childcare,Y
6,13411388,ALAMEDA,PRIVATE,ALAMEDA,ABC PRESCHOOL,32.0,30.4,95.0,childcare,Y

In [29]:
# Change to integers 
vac_1617.loc[:,('ENROLLMENT','n','pct')]=vac_1617.loc[:,('ENROLLMENT','n','pct')].astype('int64')

C:\Users\42\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [30]:
vac_1617.head()

,FACILITY_NUMBER,COUNTY,pub_priv_headstart,CITY,FACILITY_NAME,ENROLLMENT,n,pct,vac_info_type,REPORTED
0,13417683,ALAMEDA,PRIVATE,HAYWARD,A JOYFUL NOISE LEARNING CENTER,22,20,95,childcare,Y
2,13420589,ALAMEDA,PUBLIC,ALAMEDA,A.U.S.D.- WOODSTOCK CHILD DEVELOPMENT CENTER,100,98,98,childcare,Y
4,13419449,ALAMEDA,PRIVATE,FREMONT,ABC MAGIC MOMENTS PRESCHOOL - IRVINGTON,55,53,98,childcare,Y
5,13417471,ALAMEDA,PRIVATE,FREMONT,"ABC MAGIC MOMENTS,INC. PRESCHOOL/CHILDCARE",28,26,95,childcare,Y
6,13411388,ALAMEDA,PRIVATE,ALAMEDA,ABC PRESCHOOL,32,30,95,childcare,Y

In [31]:
# Change print settings to see all
#np.set_printoptions(threshold=np.nan)
#change back to default printing length
np.set_printoptions(threshold=5)
# Check County names
sorted(list(vac_1617.COUNTY.unique()))

['ALAMEDA',
 'AMADOR',
 'BUTTE',
 'CALAVERAS',
 'COLUSA',
 'CONTRA COSTA',
 'DEL NORTE',
 'EL DORADO',
 'FRESNO',
 'GLENN',
 'HUMBOLDT',
 'IMPERIAL',
 'INYO',
 'KERN',
 'KINGS',
 'LAKE',
 'LASSEN',
 'LOS ANGELES',
 'MADERA',
 'MARIN',
 'MARIPOSA',
 'MENDOCINO',
 'MERCED',
 'MODOC',
 'MONO',
 'MONTEREY',
 'NAPA',
 'NEVADA',
 'ORANGE',
 'PLACER',
 'PLUMAS',
 'RIVERSIDE',
 'SACRAMENTO',
 'SAN BENITO',
 'SAN BERNARDINO',
 'SAN DIEGO',
 'SAN FRANCISCO',
 'SAN JOAQUIN',
 'SAN LUIS OBISPO',
 'SAN MATEO',
 'SANTA BARBARA',
 'SANTA CLARA',
 'SANTA CRUZ',
 'SHASTA',
 'SIERRA',
 'SISKIYOU',
 'SOLANO',
 'SONOMA',
 'STANISLAUS',
 'SUTTER',
 'TEHAMA',
 'TRINITY',
 'TULARE',
 'TUOLUMNE',
 'VENTURA',
 'YOLO',
 'YUBA']

In [32]:
#Check city names
sorted(list(vac_1617.CITY.unique()))

['ACAMPO',
 'ACTON',
 'ADELANTO',
 'AGOURA',
 'AGOURA HILLS',
 'AGUANGA',
 'AHWAHNEE',
 'ALAMEDA',
 'ALAMO',
 'ALBANY',
 'ALHAMBRA',
 'ALISO VIEJO',
 'ALPAUGH',
 'ALPINE',
 'ALTA LOMA',
 'ALTADENA',
 'ALTURAS',
 'ALVISO',
 'AMERICAN CANYON',
 'ANAHEIM',
 'ANAHEIM HILLS',
 'ANDERSON',
 'ANGELS CAMP',
 'ANTELOPE',
 'ANTIOCH',
 'ANZA',
 'APPLE VALLEY',
 'APTOS',
 'ARBUCKLE',
 'ARCADIA',
 'ARCATA',
 'ARLETA',
 'ARMONA',
 'ARNOLD',
 'AROMAS',
 'ARROYO GRANDE',
 'ARTESIA',
 'ARVIN',
 'ATASCADERO',
 'ATHERTON',
 'ATWATER',
 'AUBERRY',
 'AUBURN',
 'AVALON',
 'AVENAL',
 'AVERY',
 'AZUSA',
 'BAKERSFIELD',
 'BALDWIN PARK',
 'BALLICO',
 'BANNING',
 'BANTA',
 'BARSTOW',
 'BAY POINT',
 'BAYSIDE',
 'BEALE AFB',
 'BEALE AIR FORCE BASE',
 'BEAUMONT',
 'BELL',
 'BELL GARDENS',
 'BELLA VISTA',
 'BELLFLOWER',
 'BELMONT',
 'BELVEDERE',
 'BEN LOMOND',
 'BENICA',
 'BENICIA',
 'BERKELEY',
 'BERMUDA DUNES',
 'BEVERLY HILLS',
 'BIG BEAR CITY',
 'BIG BEAR LAKE',
 'BIG PINE',
 'BIGGS',
 'BISHOP',
 'BLOOMINGTON',
 'BLUE LAKE',
 'BLYTHE',
 'BOLINAS',
 'BONITA',
 'BONSALL',
 'BOONVILLE',
 'BORON',
 'BORREGO SPRINGS',
 'BOULDER CREEK',
 'BOULEVARD',
 'BOYES HOT SPRINGS',
 'BRAWLEY',
 'BREA',
 'BRENTWOOD',
 'BRICELAND',
 'BRISBANE',
 'BROWNS VALLEY',
 'BUELLTON',
 'BUENA PARK',
 'BURBANK',
 'BURLINGAME',
 'BURNEY',
 'BUTTONWILLOW',
 'BYRON',
 'CABAZON',
 'CALABASAS',
 'CALEXICO',
 'CALIFORNIA CITY',
 'CALIMESA',
 'CALIPATRIA',
 'CALISTOGA',
 'CAMARILLO',
 'CAMBRIA',
 'CAMERON PARK',
 'CAMINO',
 'CAMPBELL',
 'CAMPO',
 'CANOGA PARK',
 'CANTUA CREEK',
 'CANYON COUNTRY',
 'CANYON LAKE',
 'CAPISTRANO BEACH',
 'CAPITOLA',
 'CARDIFF',
 'CARDIFF BY THE SEA',
 'CARDIFF-BY-THE-SEA',
 'CARLOTTA',
 'CARLSBAD',
 'CARMEL',
 'CARMEL VALLEY',
 'CARMICHAEL',
 'CARPINTERIA',
 'CARSON',
 'CARUTHERS',
 'CASTAIC',
 'CASTRO VALLEY',
 'CASTROVILLE',
 'CATHEDRAL CITY',
 'CAYUCOS',
 'CERES',
 'CERRITOS',
 'CHALLENGE',
 'CHATSWORTH',
 'CHERRY VALLEY',
 'CHESTER',
 'CHICO',
 'CHINO',
 'CHINO HILLS',
 'CHOWCHILLA',
 'CHUALAR',
 'CHULA VISTA',
 'CITRUS HEIGHTS',
 'CITY OF COMMERCE',
 'CITY OF INDUSTRY',
 'CLAREMONT',
 'CLARKSBURG',
 'CLAYTON',
 'CLEARLAKE',
 'CLEARLAKE OAKS',
 'CLOVERDALE',
 'CLOVIS',
 'COACHELLA',
 'COALINGA',
 'COARESGOLD',
 'COARSEGOLD',
 'COLFAX',
 'COLMA',
 'COLTON',
 'COLUMBIA',
 'COLUSA',
 'COMMERCE',
 'COMPTON',
 'CONCORD',
 'COOL',
 'COPPEROPOLIS',
 'CORCORAN',
 'CORNING',
 'CORONA',
 'CORONA DEL MAR',
 'CORONADO',
 'CORTE MADERA',
 'COSTA MESA',
 'COTATI',
 'COTO DE CAZA',
 'COTTONWOOD',
 'COURTLAND',
 'COVELO',
 'COVINA',
 'CRESCENT CITY',
 'CRESSEY',
 'CREST PARK',
 'CRESTLINE',
 'CROCKETT',
 'CROWS LANDING',
 'CUDAHY',
 'CULVER CITY',
 'CUPERTINO',
 'CUTLER',
 'CYPRESS',
 'DALY CITY',
 'DANA POINT',
 'DANVILLE',
 'DAVIS',
 'DAVIS,',
 'DEL MAR',
 'DEL REY',
 'DEL REY OAKS',
 'DELANO',
 'DELHI',
 'DENAIR',
 'DESCANSO',
 'DESERT HOT SPRINGS',
 'DIAMOND BAR',
 'DIAMOND SPRINGS',
 'DINUBA',
 'DISCOVERY BAY',
 'DIXON',
 'DORRIS',
 'DOS PALOS',
 'DOUGLAS CITY',
 'DOWNEY',
 'DOYLE',
 'DUARTE',
 'DUBLIN',
 'DUNLAP',
 'DURHAM',
 'E. RANCHO DOMINGUEZ',
 'E. WHITTIER',
 'EARLIMART',
 'EAST NICOLAUS',
 'EAST PALO ALTO',
 'EASTVALE',
 'EDWARDS',
 'EL CAJON',
 'EL CENTRO',
 'EL CERRITO',
 'EL DORADO',
 'EL DORADO HILLS',
 'EL GRANADA',
 'EL MONTE',
 'EL NIDO',
 'EL SEGUNDO',
 'EL SOBRANTE',
 'ELK GROVE',
 'ELVERTA',
 'EMERALD HILLS',
 'EMERYVILLE',
 'EMPIRE',
 'ENCINITAS',
 'ENCINO',
 'ESCALON',
 'ESCONDIDO',
 'ESPARTO',
 'ETIWANDA',
 'ETNA',
 'EUREKA',
 'EXETER',
 'FAIR OAKS',
 'FAIRFAX',
 'FAIRFIELD',
 'FAIRIFELD',
 'FALL RIVER MILLS',
 'FALLBROOK',
 'FARMERSVILLE',
 'FARMINGTON',
 'FELTON',
 'FERNDALE',
 'FILLMORE',
 'FIREBAUGH',
 'FIVE POINTS',
 'FOLSOM',
 'FONTANA',
 'FOOTHILL RANCH',
 'FORESTHILL',
 'FORESTVILLE',
 'FORT BRAGG',
 'FORT IRWIN',
 'FORT JONES',
 'FORTUNA',
 'FOSTER CITY',
 'FOUNTAIN VALLEY',
 'FOWLER',
 'FRAZIER PARK',
 'FREEDOM',
 'FREMONT',
 'FRENCH CAMP',
 'FRESNO',
 'FULLERTON',
 'GALT',
 'GARDEN GROVE',
 'GARDEN VALLEY',
 'GARDENA',
 'GEORGETOWN',
 'GERBER',
 'GEYSERVILLE',
 'GILROY',
 'GLEN ELLEN',
 'GLENDALE',
 'GLENDORA',
 'GOLD RIVER',
 'GOLETA',
 'GONZALES',
 'GRANADA HILLS',
 'GRAND TERRACE',
 'GRANITE BAY',
 'GRASS VALLEY',
 'GREENFIELD',
 'GREENVILLE',
 'GRENADA',
 'GRIDLEY',
 'GROVELAND',
 'GROVER BEACH',
 'GUADALUPE',
 'GUERNEVILLE',
 'GUSTINE',
 'HACIENDA HEIGHTS',
 'HALF MOON BAY',
 'HAMILTON CITY',
 'HANFORD',
 'HAPPY CAMP',
 'HARBOR CITY',
 'HAWAIIAN GARDENS',
 'HAWTHORNE',
 'HAYFORK',
 'HAYWARD',
 'HEALDSBURG',
 'HEBER',
 'HELENDALE',
 'HEMET',
 'HERALD',
 'HERCULES',
 'HERMOSA BEACH',
 'HESPERIA',
 'HICKMAN',
 'HIGHLAND',
 'HIGHLAND PARK',
 'HILLSBOROUGH',
 'HILMAR',
 'HOLLISTER',
 'HOLLYWOOD',
 'HOLTVILLE',
 'HOOPA',
 'HUGHSON',
 'HUNTINGTON',
 'HUNTINGTON BEACH',
 'HUNTINGTON PARK',
 'HURON',
 'HYDESVILLE',
 'IDYLLWILD',
 'IMPERIAL',
 'IMPERIAL BEACH',
 'INDIAN WELLS',
 'INDIO',
 'INGLEWOOD',
 'INVERNESS',
 'INYOKERN',
 'IONE',
 'IRVINE',
 'IRWINDALE',
 'ISLETON',
 'IVANHOE',
 'JACKSON',
 'JAMESTOWN',
 'JAMUL',
 'JANESVILLE',
 'JOSHUA TREE',
 'JULIAN',
 'JURUPA VALLEY',
 'KELSEYVILLE',
 'KENSINGTON',
 'KENTFIELD',
 'KENWOOD',
 'KERMAN',
 'KERNVILLE',
 'KETTLEMAN CITY',
 'KEYES',
 'KING CITY',
 'KINGS BEACH',
 'KINGSBURG',
 'KLAMATH',
 'KNIGHTS FERRY',
 'KNIGHTS LANDING',
 'KNIGHTSEN',
 'LA CANADA',
 'LA CANADA FLINTRIDGE',
 'LA CAÑADA',
 'LA CRESCENTA',
 'LA HABRA',
 'LA HABRA HEIGHTS',
 'LA JOLLA',
 'LA MESA',
 'LA MIRADA',
 'LA PALMA',
 'LA PUENTE',
 'LA QUINTA',
 'LA SELVA BEACH',
 'LA VERNE',
 'LADERA RANCH',
 'LAFAYETTE',
 'LAGUNA BEACH',
 'LAGUNA HILLS',
 'LAGUNA NIGUEL',
 'LAGUNA WOODS',
 'LAKE ARROWHEAD',
 'LAKE BALBOA',
 'LAKE ELSINORE',
 'LAKE FOREST',
 'LAKE HUGHES',
 'LAKE ISABELLA',
 'LAKE MATHEWS',
 'LAKE VIEW TERRACE',
 'LAKEPORT',
 'LAKESIDE',
 'LAKEVIEW TERRACE',
 'LAKEWOOD',
 'LAMONT',
 'LANCASTER',
 'LANDERS',
 'LARKSPUR',
 'LATHROP',
 'LATON',
 'LAVERNE',
 'LAWNDALE',
 'LAYTONVILLE',
 'LE GRAND',
 'LEBEC',
 'LEMON COVE',
 'LEMON GROVE',
 'LEMOORE',
 'LENNOX',
 'LENWOOD',
 'LEUCADIA',
 'LINCOLN',
 'LINDEN',
 'LINDSAY',
 'LITCHFIELD',
 'LITTLEROCK',
 'LIVE OAK',
 'LIVERMORE',
 'LIVINGSTON',
 'LOCKEFORD',
 'LOCKWOOD',
 'LODI',
 'LOMA LINDA',
 'LOMITA',
 'LOMPOC',
 'LONE PINE',
 'LONG BEACH',
 'LOOMIS',
 'LOS ALAMITOS',
 'LOS ALAMOS',
 'LOS ALTOS',
 'LOS ALTOS HILLS',
 'LOS ANGELES',
 'LOS BANOS',
 'LOS FLORES',
 'LOS GATOS',
 'LOS MOLINOS',
 'LOS NIETOS',
 'LOS OLIVOS',
 'LOS OSOS',
 'LOST HILLS',
 'LOWER LAKE',
 'LOYALTON',
 'LUCERNE',
 'LUCERNE VALLEY',
 'LYNWOOD',
 'MADERA',
 'MADISON',
 'MAGALIA',
 'MALIBU',
 'MAMMOTH LAKES',
 'MANHATTAN BEACH',
 'MANTECA',
 'MAR VISTA',
 'MARICOPA',
 'MARIN CITY',
 'MARINA',
 'MARINA DEL REY',
 'MARIPOSA',
 'MARTINEZ',
 'MARYSVILLE',
 'MATHER',
 'MAXWELL',
 'MAYWOOD',
 'MC KINLEYVILLE',
 'MCARTHUR',
 'MCCLELLAN',
 'MCFARLAND',
 'MCKINLEYVILLE',
 'MEADOW VISTA',
 'MECCA',
 'MENDOCINO',
 'MENDOTA',
 'MENIFEE',
 'MENLO PARK',
 'MENTONE',
 'MERCED',
 'MERIDIAN',
 'MIDDLETOWN',
 'MIDWAY CITY',
 'MILL VALLEY',
 'MILLBRAE',
 'MILLVILLE',
 'MILPITAS',
 'MIRA LOMA',
 'MIRANDA',
 'MISSION HILLS',
 'MISSION VIEJO',
 'MODESTO',
 'MOFFETT FIELD',
 'MOJAVE',
 'MONROVIA',
 'MONTAGUE',
 'MONTARA',
 'MONTCLAIR',
 'MONTCLAIR,',
 'MONTE RIO',
 'MONTEBELLO',
 'MONTEREY',
 'MONTEREY PARK',
 'MONTROSE',
 'MOORPARK',
 'MORAGA',
 'MORENO VALLEY',
 'MORGAN HILL',
 'MORONGO VALLEY',
 'MORRO BAY',
 'MOUNT HERMON',
 'MOUNT SHASTA',
 'MOUNTAIN HOUSE',
 'MOUNTAIN VIEW',
 'MT. SHASTA',
 'MURPHYS',
 'MURRIETA',
 'MURRIETTA',
 'N. HOLLYWOOD',
 'N.A.S. LEMOORE',
 'NAPA',
 'NAS LEMOORE',
 'NATIONAL CITY',
 'NEEDLES',
 'NEVADA CITY',
 'NEW CUYAMA',
 'NEWARK',
 'NEWBERRY SPRINGS',
 'NEWBURY PARK',
 'NEWCASTLE',
 'NEWHALL',
 'NEWMAN',
 'NEWPORT BEACH',
 'NEWPORT COAST',
 'NIPOMO',
 'NORCO',
 'NORTH FORK',
 'NORTH HIGHLANDS',
 'NORTH HILLS',
 'NORTH HOLLYWOOD',
 'NORTH SHORE',
 'NORTH TUSTIN',
 'NORTHRIDGE',
 'NORWALK',
 'NOVATO',
 'NUEVO',
 "O'NEALS",
 'OAK PARK',
 'OAK VIEW',
 'OAKDALE',
 'OAKHURST',
 'OAKLAND',
 'OAKLEY',
 'OCCIDENTAL',
 'OCEANO',
 'OCEANSIDE',
 'OJAI',
 'OLIVEHURST',
 'ONTARIO',
 'ORANGE',
 'ORANGE COVE',
 'ORANGEVALE',
 'ORCUTT',
 'ORINDA',
 'ORLAND',
 'ORLEANS',
 'ORO GRANDE',
 'OROSI',
 'OROVILLE',
 'OXNARD',
 'PACIFIC GROVE',
 'PACIFIC PALISADES',
 'PACIFICA',
 'PACOIMA',
 'PACOMIA',
 'PALERMO',
 'PALM DESERT',
 'PALM SPRINGS',
 'PALMDALE',
 'PALO ALTO',
 'PALO CEDRO',
 'PALOS VERDES ESTATES',
 'PANORAM CITY',
 'PANORAMA CITY',
 'PARADISE',
 'PARAMOUNT',
 'PARLIER',
 'PASADENA',
 'PASO ROBLES',
 'PATTERSON',
 'PAUMA VALLEY',
 'PEARBLOSSOM',
 'PENN VALLEY',
 'PENNGROVE',
 'PENRYN',
 'PERRIS',
 'PESCADERO',
 'PETALUMA',
 'PETROLIA',
 'PHELAN',
 'PICO RIVERA',
 'PIEDMONT',
 'PINE GROVE',
 'PINE VALLEY',
 'PINEDALE',
 'PINOLE',
 'PINON HILLS',
 'PIONEER',
 'PIRU',
 'PISMO BEACH',
 'PITTSBURG',
 'PIXLEY',
 'PLACENTIA',
 'PLACERVILLE',
 'PLANADA',
 'PLAYA DEL REY',
 'PLAYA VISTA',
 'PLEASANT GROVE',
 'PLEASANT HILL',
 'PLEASANTON',
 'PLUMAS LAKE',
 'PLYMOUTH',
 'POINT ARENA',
 'POLLOCK PINES',
 'POMONA',
 'PORT HUENEME',
 'PORTER RANCH',
 'PORTERVILLE',
 'PORTOLA',
 'PORTOLA VALLEY',
 'POTRERO',
 'POTTER VALLEY',
 'POWAY',
 'PRATHER',
 'PT. REYES STATION',
 'QUAIL VALLEY',
 'QUARTZ HILL',
 'QUINCY',
 'RAINBOW',
 'RAISIN CITY',
 'RAMONA',
 'RANCHO CORDOVA',
 'RANCHO CUCAMONGA',
 'RANCHO DOMINGUEZ',
 'RANCHO MIRAGE',
 'RANCHO PALOS VERDES',
 'RANCHO SANTA FE',
 'RANCHO SANTA MARGARITA',
 'RED BLUFF',
 'REDDING',
 'REDLANDS',
 'REDONDO BEACH',
 'REDWAY',
 'REDWOOD CITY',
 'REDWOOD VALLEY',
 'REEDLEY',
 'RESCUE',
 'RESEDA',
 'RIALTO',
 'RICHGROVE',
 'RICHMOND',
 'RIDGECREST',
 'RIO DELL',
 'RIO LINDA',
 'RIO VISTA',
 'RIPON',
 'RIVERBANK',
 'RIVERDALE',
 'RIVERSIDE',
 'ROCKLIN',
 'RODEO',
 'ROHNERT PARK',
 'ROLLING HILLS ESTATE',
 'ROLLING HILLS ESTATES',
 'ROMOLAND',
 'ROSAMOND',
 'ROSEMEAD',
 'ROSEVILLE',
 'ROSS',
 'ROSSMOOR',
 'ROWLAND HEIGHTS',
 'RUNNING SPRINGS',
 'RUTHERFORD',
 'S. LAKE TAHOE',
 'SACRAMENTO',
 'SALIDA',
 'SALINAS',
 'SALTON CITY',
 'SAN ANDREAS',
 'SAN ANSELMO',
 'SAN BERNARDINO',
 'SAN BRUNO',
 'SAN CARLOS',
 'SAN CLEMENTE',
 'SAN DIEGO',
 'SAN DIMAS',
 'SAN FERNANDO',
 'SAN FRANCISCO',
 'SAN GABRIEL',
 'SAN GERONIMO',
 'SAN JACINTO',
 'SAN JOAQUIN',
 'SAN JOSE',
 'SAN JUAN BAUTISTA',
 'SAN JUAN CAPISTRANO',
 'SAN LEANDRO',
 'SAN LORENZO',
 'SAN LUIS OBISPO',
 'SAN MARCOS',
 'SAN MARINO',
 'SAN MARTIN',
 'SAN MATEO',
 'SAN MIGUEL',
 'SAN PABLO',
 'SAN PEDRO',
 'SAN RAFAEL',
 'SAN RAMON',
 'SAN YSIDRO',
 'SANGER',
 'SANTA ANA',
 'SANTA BARBARA',
 'SANTA CATALINA',
 'SANTA CLARA',
 'SANTA CLARITA',
 'SANTA CRUZ',
 'SANTA FE SPRINGS',
 'SANTA MARGARITA',
 'SANTA MARIA',
 'SANTA MONICA',
 'SANTA NELLA',
 'SANTA PAULA',
 'SANTA ROSA',
 'SANTA YNEZ',
 'SANTEE',
 'SARATOGA',
 'SAUGUS',
 'SAUSALITO',
 'SCOTIA',
 'SCOTTS VALLEY',
 'SEAL BEACH',
 'SEASIDE',
 'SEBASTOPOL',
 'SEELEY',
 'SELMA',
 'SEPULVEDA',
 'SHAFTER',
 'SHANDON',
 'SHASTA',
 'SHASTA LAKE',
 'SHASTA LAKE CITY',
 'SHERMAN OAKS',
 'SHINGLE SPRINGS',
 'SHINGLETOWN',
 'SIERRA MADRE',
 'SIGNAL HILL',
 'SILVERADO',
 'SILVERADO CANYON',
 'SIMI VALLEY',
 'SLOUGHHOUSE',
 'SMITH RIVER',
 'SOLANA BEACH',
 'SOLEDAD',
 'SOLVANG',
 'SOMERSET',
 'SOMIS',
 'SONOMA',
 'SONORA',
 'SOQUEL',
 'SOULSBYVILLE',
 'SOUTH EL MONTE',
 'SOUTH GATE',
 'SOUTH LAKE TAHOE',
 'SOUTH LATE TAHOE',
 'SOUTH PASADENA',
 'SOUTH SAN FRANCISCO',
 'SOUTH SAN FRANCISOC',
 'SOUTH SAN GABRIEL',
 'SOUTH WHITTIER',
 'SPRECKELS',
 'SPRECKLES',
 'SPRING VALLEY',
 'SPRINGVILLE',
 'ST. HELENA',
 'STANFORD',
 'STANTON',
 'STEVENSON RANCH',
 'STEVINSON',
 'STOCKTON',
 'STRATFORD',
 'STRATHMORE',
 'STUDIO CITY',
 'SUGARLOAF',
 'SUISUN',
 'SUISUN CITY',
 'SUN CITY',
 'SUN VALLEY',
 'SUNLAND',
 'SUNNYVALE',
 'SUNOL',
 'SUNSET BEACH',
 'SUSANVILLE',
 'SUTTER',
 'SUTTER CREEK',
 'SYLMAR',
 'TAFT',
 'TAHOE CITY',
 'TARZANA',
 'TEHACHAPI',
 'TEHAMA',
 'TEMECULA',
 'TEMPLE CITY',
 'TEMPLETON',
 'TERMO',
 'TERRA BELLA',
 'THERMAL',
 'THORNTON',
 'THOUSAND OAKS',
 'THOUSAND PALMS',
 'TIBURON',
 'TIPTON',
 'TOLLHOUSE',
 'TOMALES',
 'TOPANGA',
 'TORRANCE',
 'TRABUCO CANYON',
 'TRACY',
 'TRANQUILLITY',
 'TRAVER',
 'TRAVIS AFB',
 'TRINIDAD',
 'TRONA',
 'TRUCKEE',
 'TUJUNGA',
 'TULARE',
 'TULE RESERVATION',
 'TULELAKE',
 'TUOLUMNE',
 'TURLOCK',
 'TURLOCK,',
 'TUSTIN',
 'TWAIN HARTE',
 'TWENTYNINE PALMS',
 'TWIN PEAKS',
 'UKIAH',
 'UNION CITY',
 'UPLAND',
 'UPPER LAKE',
 'UPPERLAKE',
 'VACAVILLE',
 'VALENCIA',
 'VALINDA',
 'VALLEJO',
 'VALLEY CENTER',
 'VALLEY GLEN',
 'VALLEY HOME',
 'VALLEY SPRINGS',
 'VALLEY VILLAGE',
 'VAN NUYS',
 'VANDENBERG AFB',
 'VANDENBERG AIR FORCE BASE',
 'VENICE',
 'VENTURA',
 'VICTORVILLE',
 'VILLA PARK',
 'VISALIA',
 'VISTA',
 'W. SACRAMENTO',
 'WALNUT',
 'WALNUT CREEK',
 'WALNUT CREET',
 'WALNUT GROVE',
 'WALNUT PARK',
 'WALNUT VALLEY',
 'WARNER SPRINGS',
 'WASCO',
 'WATERFORD',
 'WATSONVILLE',
 'WEAVERVILLE',
 'WEED',
 'WEIMAR',
 'WELDON',
 'WEST COVINA',
 'WEST HILLS',
 'WEST HOLLYWOOD',
 'WEST SACRAMENTO',
 'WESTCHESTER',
 'WESTLAKE VILLAGE',
 'WESTLEY',
 'WESTMINSTER',
 'WESTMORLAND',
 'WESTWOOD',
 'WHEATLAND',
 'WHITTIER',
 'WILDOMAR',
 'WILLIAMS',
 'WILLITS',
 'WILLOW CREEK',
 'WILLOWS',
 'WILMINGTON',
 'WILTON',
 'WINCHESTER',
 'WINDSOR',
 'WINNETKA',
 'WINTERHAVEN',
 'WINTERS',
 'WINTON',
 'WOODLAKE',
 'WOODLAND',
 'WOODLAND HILLS',
 'WOODSIDE',
 'WOODVILLE',
 'WRIGHTWOOD',
 'YERMO',
 'YORBA LINDA',
 'YOUNTVILLE',
 'YREKA',
 'YUBA CITY',
 'YUCAIPA',
 'YUCCA VALLEY']

In [33]:
# Fix City Typos
vac_1617.loc[vac_1617.CITY=='ACTON, CA', 'CITY']='ACTON'
vac_1617.loc[vac_1617.CITY=='AGOURA', 'CITY']='AGOURA HILLS'
vac_1617.loc[vac_1617.CITY=='ANAHEIM,', 'CITY']='ANAHEIM'
vac_1617.loc[vac_1617.CITY=='ANANHEIM', 'CITY']='ANAHEIM'
vac_1617.loc[vac_1617.CITY=='CA', 'CITY']='NAPA'
vac_1617.loc[vac_1617.CITY=='BEALE AIR FORCE BASE', 'CITY']='BEALE AFB' # to match census name
vac_1617.loc[vac_1617.CITY=='BENICA', 'CITY']='BENICIA'
vac_1617.loc[vac_1617.CITY=='CARDIFF', 'CITY']='CARDIFF BY THE SEA'
vac_1617.loc[vac_1617.CITY=='CARMEL', 'CITY']='CARMEL VALLEY'
vac_1617.loc[vac_1617.CITY=='CHINO,', 'CITY']='CHINO'
vac_1617.loc[vac_1617.CITY=='CHULAR', 'CITY']='CHUALAR'
vac_1617.loc[vac_1617.CITY=='CITY OF COMMERCE', 'CITY']='COMMERCE'
vac_1617.loc[vac_1617.CITY=='COSTA MESA,', 'CITY']='COSTA MESA'
vac_1617.loc[vac_1617.CITY=='CITY OF INDUSTRY', 'CITY']='INDUSTRY'
vac_1617.loc[vac_1617.CITY=='CUDAHAY', 'CITY']='CUDAHY'
vac_1617.loc[vac_1617.CITY=='E. NICOLAUS', 'CITY']='EAST NICOLAUS'
vac_1617.loc[vac_1617.CITY=='E. RANCHO DOMINGUEZ', 'CITY']='EAST RANCHO DOMINGUEZ'
vac_1617.loc[vac_1617.CITY=='E. WHITTIER', 'CITY']='EAST WHITTIER'
vac_1617.loc[vac_1617.CITY=='EL SEGUNDO,', 'CITY']='EL SEGUNDO'
vac_1617.loc[vac_1617.CITY=='FAIRIFELD', 'CITY']='FAIRFIELD'
vac_1617.loc[vac_1617.CITY=='FREMOTN', 'CITY']='FREMONT'
vac_1617.loc[vac_1617.CITY=='FT. IRWIN', 'CITY']='FORT IRWIN'
vac_1617.loc[vac_1617.CITY=='GREENFILED', 'CITY']='GREENFIELD'
vac_1617.loc[vac_1617.CITY=='HUNTINGTON', 'CITY']='HUNTINGTON PARK'
vac_1617.loc[vac_1617.CITY=='JAMUAL', 'CITY']='JAMUL'
vac_1617.loc[vac_1617.CITY=='LA', 'CITY']='LOS ANGELES'
vac_1617.loc[vac_1617.CITY=='LA CANADA', 'CITY']='LA CANADA FLINTRIDGE'
vac_1617.loc[vac_1617.CITY=='LA CRESCENTA', 'CITY']='LA CRESCENTA-MONTROSE'
vac_1617.loc[vac_1617.CITY=='LAKE VIEW TERRANCE', 'CITY']='LAKE VIEW TERRACE'
vac_1617.loc[vac_1617.CITY=='LAKEVIEW TERRACE', 'CITY']='LAKE VIEW TERRACE'
vac_1617.loc[vac_1617.CITY=='LANCASTER,', 'CITY']='LANCASTER'
vac_1617.loc[vac_1617.CITY=='LAVERNE', 'CITY']='LA VERNE'
vac_1617.loc[vac_1617.CITY=='MC KINLEYVILLE', 'CITY']='MCKINLEYVILLE'
vac_1617.loc[vac_1617.CITY=='MONTROSE', 'CITY']='LA CRESCENTA-MONTROSE'
vac_1617.loc[vac_1617.CITY=='MT. SHASTA', 'CITY']='MOUNT SHASTA'
vac_1617.loc[vac_1617.CITY=='N. HOLLYWOOD', 'CITY']='NORTH HOLLYWOOD'
vac_1617.loc[vac_1617.CITY=='N.A.S. LEMOORE', 'CITY']='LEMOORE STATION' # match census
vac_1617.loc[vac_1617.CITY=='NAS LEMOORE', 'CITY']='LEMOORE STATION'
vac_1617.loc[vac_1617.CITY=='NEWPORT BEACH,', 'CITY']='NEWPORT BEACH'
vac_1617.loc[vac_1617.CITY=='PACOMIA', 'CITY']='PACOIMA'
vac_1617.loc[vac_1617.CITY=='PANORAM ', 'CITY']='PANORAMA CITY'
vac_1617.loc[vac_1617.CITY=='PANORAM CITY', 'CITY']='PANORAMA CITY'
vac_1617.loc[vac_1617.CITY=='PT. REYES STATION', 'CITY']='POINT REYES STATION'
vac_1617.loc[vac_1617.CITY=='RANCHO SANTA MARGARI', 'CITY']='RANCHO SANTA MARGARITA'
vac_1617.loc[vac_1617.CITY=='RANCHO SAN MARGARITA', 'CITY']='RANCHO SANTA MARGARITA'
vac_1617.loc[vac_1617.CITY=='RANCHO STA MARGAITA', 'CITY']='RANCHO SANTA MARGARITA'
vac_1617.loc[vac_1617.CITY=='RANCHO STA MARGARITA', 'CITY']='RANCHO SANTA MARGARITA'
vac_1617.loc[vac_1617.CITY=='RCHO STA MARG', 'CITY']='RANCHO SANTA MARGARITA'
vac_1617.loc[vac_1617.CITY=='RANCHOS PALOS VERDES', 'CITY']='RANCHO PALOS VERDES'
vac_1617.loc[vac_1617.CITY=='RIVERSIDE,', 'CITY']='RIVERSIDE'
vac_1617.loc[vac_1617.CITY=='ROLLING HILLS ESTATE', 'CITY']='ROLLING HILLS ESTATES'
vac_1617.loc[vac_1617.CITY=='S. EL MONTE', 'CITY']='SOUTH EL MONTE'
vac_1617.loc[vac_1617.CITY=='S. LAKE TAHOE', 'CITY']='SOUTH LAKE TAHOE'
vac_1617.loc[vac_1617.CITY=='SAN BERARDINO', 'CITY']='SAN BERNARDINO'
vac_1617.loc[vac_1617.CITY=='SAN FRNCISCO', 'CITY']='SAN FRANCISCO'
vac_1617.loc[vac_1617.CITY=='SAN JOSE,', 'CITY']='SAN JOSE'
vac_1617.loc[vac_1617.CITY=='SANTA BARARA', 'CITY']='SANTA BARBARA'
vac_1617.loc[vac_1617.CITY=='SHASTA LAKE CITY', 'CITY']='SHASTA LAKE'
vac_1617.loc[vac_1617.CITY=='SILVERADO CANYON', 'CITY']='SILVERADO'
vac_1617.loc[vac_1617.CITY=='SOUTH LATE TAHOE', 'CITY']='SOUTH LAKE TAHOE'
vac_1617.loc[vac_1617.CITY=='SPRECKLES', 'CITY']='SPRECKELS'
vac_1617.loc[vac_1617.CITY=='STEVENSONS RANCH', 'CITY']='STEVENSON RANCH'
vac_1617.loc[vac_1617.CITY=='SUISUN', 'CITY']='SUISUN CITY'
vac_1617.loc[vac_1617.CITY=='SUNNYALE', 'CITY']='SUNNYVALE'
vac_1617.loc[vac_1617.CITY=='SUPELVEDA', 'CITY']='SEPULVEDA'
vac_1617.loc[vac_1617.CITY=='TURLOCK,', 'CITY']='TURLOCK'
vac_1617.loc[vac_1617.CITY=='UPPERLAKE', 'CITY']='UPPER LAKE'
vac_1617.loc[vac_1617.CITY=='VANDENBERG AIR FORCE BASE', 'CITY']='VANDENBERG AFB' # match census
vac_1617.loc[vac_1617.CITY=='W. SACRAMENTO', 'CITY']='WEST SACRAMENTO'

C:\Users\42\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [34]:
# Change case to title case
vac_1617.COUNTY=vac_1617['COUNTY'].str.title()
vac_1617.CITY=vac_1617['CITY'].str.title()

C:\Users\42\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [35]:
# RECODE NEIGHBORHOODS TO CITIES to match Census
vac_1617.loc[vac_1617.CITY=='Alta Loma', 'CITY']='Rancho Cucamonga'
vac_1617.loc[vac_1617.CITY=='Alviso', 'CITY']='San Jose'
vac_1617.loc[vac_1617.CITY=='Anaheim Hills', 'CITY']='Anaheim'
vac_1617.loc[vac_1617.CITY=='Angels Camp', 'CITY']='Angels City'
vac_1617.loc[vac_1617.CITY=='Arleta', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Canoga Park', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Canyon Country', 'CITY']='Santa Clarita'
vac_1617.loc[vac_1617.CITY=='Capistrano Beach', 'CITY']='Dana Point'
vac_1617.loc[vac_1617.CITY=='Cardiff By The Sea', 'CITY']='Encinitas'
vac_1617.loc[vac_1617.CITY=='Carmel Valley', 'CITY']='Carmel Valley Village'
vac_1617.loc[vac_1617.CITY=='Chatsworth', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Corona Del Mar', 'CITY']='Newport Beach'
vac_1617.loc[vac_1617.CITY=='Edwards', 'CITY']='Edwards AFB'
vac_1617.loc[vac_1617.CITY=='Emerald Hills', 'CITY']='San Diego'
vac_1617.loc[vac_1617.CITY=='Encino', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Etiwanda', 'CITY']='Rancho Cucamonga'
vac_1617.loc[vac_1617.CITY=='Foothill Ranch', 'CITY']='Lake Forest'
vac_1617.loc[vac_1617.CITY=='Granada Hills', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Harbor City', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Highland Park', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Hollywood', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Idyllwild', 'CITY']='Idyllwild-Pine Cove'
vac_1617.loc[vac_1617.CITY=='La Jolla', 'CITY']='San Diego'
vac_1617.loc[vac_1617.CITY=='Lake Balboa', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Lake View Terrace', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Leucadia', 'CITY']='Encinitas'
vac_1617.loc[vac_1617.CITY=='Mar Vista', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Mcclellan', 'CITY']='North Highlands'
vac_1617.loc[vac_1617.CITY=='Mira Loma', 'CITY']='Jurupa Valley'
vac_1617.loc[vac_1617.CITY=='Murrietta', 'CITY']='Murrieta'
vac_1617.loc[vac_1617.CITY=='Newbury Park', 'CITY']='Thousand Oaks'
vac_1617.loc[vac_1617.CITY=='Newhall', 'CITY']='Santa Clarita'
vac_1617.loc[vac_1617.CITY=='North Hills', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='North Hollywood', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Northridge', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Olympic Valley', 'CITY']='Squaw Valley'
vac_1617.loc[vac_1617.CITY=='Pacific Palisades', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Pacoima', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Palos Verdes', 'CITY']='Palos Verdes Estates'
vac_1617.loc[vac_1617.CITY=='Palos Verdes Peninsula', 'CITY']='Palos Verdes Estates'
vac_1617.loc[vac_1617.CITY=='Panorama City', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Playa Del Rey', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Playa Vista', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Porter Ranch', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Quail Valley', 'CITY']='Menifee'
vac_1617.loc[vac_1617.CITY=='Reseda', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='San Pedro', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='San Ysidro', 'CITY']='San Diego'
vac_1617.loc[vac_1617.CITY=='Santa Catalina', 'CITY']='Avalon'
vac_1617.loc[vac_1617.CITY=='Saugus', 'CITY']='Santa Clarita'
vac_1617.loc[vac_1617.CITY=='Sepulveda', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Sherman Oaks', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Studio City', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Sun City', 'CITY']='Menifee'
vac_1617.loc[vac_1617.CITY=='Sun Valley', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Sunland', 'CITY']='Sunland-Tujunga'
vac_1617.loc[vac_1617.CITY=='Sunset Beach', 'CITY']='Huntington Beach'
vac_1617.loc[vac_1617.CITY=='Sylmar', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Royal Oaks', 'CITY']='Interlaken'
vac_1617.loc[vac_1617.CITY=='Tahoe City', 'CITY']='Sunnyside–Tahoe City'
vac_1617.loc[vac_1617.CITY=='Tarzana', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Tujunga', 'CITY']='Sunland-Tujunga'
vac_1617.loc[vac_1617.CITY=='Tuolumne', 'CITY']='Tuolumne City'
vac_1617.loc[vac_1617.CITY=='Twenty Nine Palms', 'CITY']='Twentynine Palms'
vac_1617.loc[vac_1617.CITY=='Valencia', 'CITY']='Santa Clarita'
vac_1617.loc[vac_1617.CITY=='Valley Glen', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Valley Village', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Van Nuys', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Venice', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Ventura', 'CITY']="San Buenaventura (Ventura)"
vac_1617.loc[vac_1617.CITY=='Walnut Creet', 'CITY']='Walnut Creek'
vac_1617.loc[vac_1617.CITY=='Walnut Valley', 'CITY']='Walnut'
vac_1617.loc[vac_1617.CITY=='West Hills', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Westchester', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Westminister', 'CITY']='Westminster'
vac_1617.loc[vac_1617.CITY=='Wilmington', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Winnetka', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Woodland Hills', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Angels City', 'CITY']='Angels city'
vac_1617.loc[vac_1617.CITY=='Cardiff-By-The-Sea', 'CITY']='Encinitas city'
vac_1617.loc[vac_1617.CITY=='Davis,', 'CITY']='Davis city'
vac_1617.loc[vac_1617.CITY=='La CaÃ±ada', 'CITY']='La Canada Flintridge'
vac_1617.loc[vac_1617.CITY=='Los Nietos', 'CITY']='West Whittier-Los Nietos CDP'
vac_1617.loc[vac_1617.CITY=='Montclair,', 'CITY']='Montclair city'
vac_1617.loc[vac_1617.CITY=='Newport Coast', 'CITY']='Newport Coast CDP'
vac_1617.loc[vac_1617.CITY=='Paso Robles', 'CITY']='El Paso de Robles (Paso Robles)'
vac_1617.loc[vac_1617.CITY=='South San Francisoc', 'CITY']='South San Francisco city
vac_1617.loc[vac_1617.CITY=='Sunland-Tujunga', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Arcata Ca', 'CITY']='Arcata'
vac_1617.loc[vac_1617.CITY=='Berkeley Ave', 'CITY']='Berkeley'
vac_1617.loc[vac_1617.CITY=='Camp Pendelton', 'CITY']='Camp Pendleton North CDP'
vac_1617.loc[vac_1617.CITY=='Carmicheal', 'CITY']='Carmichael CPD'
vac_1617.loc[vac_1617.CITY=='Laguan Niguel', 'CITY']='Laguna Niguel city'
vac_1617.loc[vac_1617.CITY=='Laguna Niguel Ste 3409', 'CITY']='Laguna Niguel city'
vac_1617.loc[vac_1617.CITY=='Lapuente', 'CITY']='La Puente city'
vac_1617.loc[vac_1617.CITY=='Las Flores', 'CITY']='Las Flores CDP''
vac_1617.loc[vac_1617.CITY=='Mt. View', 'CITY']='Mountain View city'
vac_1617.loc[vac_1617.CITY=='Mision Viejo', 'CITY']='Mission Viejo city'
vac_1617.loc[vac_1617.CITY=='S Lake Tahoe', 'CITY']='South Lake Tahoe city'
vac_1617.loc[vac_1617.CITY=='Saint Helena', 'CITY']='St. Helena city'
vac_1617.loc[vac_1617.CITY=='Santa Clara Ca', 'CITY']='Santa Clara city'
vac_1617.loc[vac_1617.CITY=='St Helena', 'CITY']='St Helena city'
vac_1617.loc[vac_1617.CITY=='Stantan', 'CITY']='Stanton city'
vac_1617.loc[vac_1617.CITY=='Stinson', 'CITY']='Stinson Beach CDP'

C:\Users\42\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [36]:
#Get count of students vaccinated by county,city and grade
vac_n=vac_1617.groupby(by=['COUNTY','CITY','vac_info_type'], as_index=False)['n'].sum()
vac_n

       COUNTY             CITY vac_info_type     n
0     Alameda          Alameda     7th grade   966
1     Alameda          Alameda     childcare  1198
2     Alameda          Alameda  kindergarten   972
3     Alameda           Albany     7th grade   310
4     Alameda           Albany     childcare   211
5     Alameda           Albany  kindergarten   281
6     Alameda         Berkeley     7th grade   820
7     Alameda         Berkeley     childcare  2202
8     Alameda         Berkeley  kindergarten   879
9     Alameda    Castro Valley     7th grade   754
10    Alameda    Castro Valley     childcare   898
11    Alameda    Castro Valley  kindergarten   736
12    Alameda           Dublin     7th grade   892
13    Alameda           Dublin     childcare  1240
14    Alameda           Dublin  kindergarten  1208
15    Alameda       Emeryville     childcare   184
16    Alameda          Fremont     7th grade  2887
17    Alameda          Fremont     childcare  4303
18    Alameda          Fremont  kindergarten  3596
19    Alameda          Hayward     7th grade  1619
20    Alameda          Hayward     childcare  1799
21    Alameda          Hayward  kindergarten  2243
22    Alameda        Livermore     7th grade  1049
23    Alameda        Livermore     childcare  1511
24    Alameda        Livermore  kindergarten  1198
25    Alameda           Newark     7th grade   499
26    Alameda           Newark     childcare   987
27    Alameda           Newark  kindergarten   659
28    Alameda          Oakland     7th grade  3942
29    Alameda          Oakland     childcare  3943
...       ...              ...           ...   ...
2143     Yolo          Esparto     7th grade    69
2144     Yolo          Esparto     childcare    43
2145     Yolo          Esparto  kindergarten    79
2146     Yolo  Knights Landing  kindergarten    39
2147     Yolo          Madison     childcare    51
2148     Yolo  West Sacramento     7th grade   584
2149     Yolo  West Sacramento     childcare   392
2150     Yolo  West Sacramento  kindergarten   810
2151     Yolo          Winters     7th grade   118
2152     Yolo          Winters     childcare   168
2153     Yolo          Winters  kindergarten   148
2154     Yolo         Woodland     7th grade   817
2155     Yolo         Woodland     childcare   875
2156     Yolo         Woodland  kindergarten   923
2157     Yuba        Beale Afb     childcare    65
2158     Yuba        Beale Afb  kindergarten   116
2159     Yuba    Browns Valley  kindergarten    44
2160     Yuba        Challenge  kindergarten    19
2161     Yuba       Marysville     7th grade   284
2162     Yuba       Marysville     childcare   162
2163     Yuba       Marysville  kindergarten   491
2164     Yuba       Olivehurst     7th grade   389
2165     Yuba       Olivehurst     childcare   105
2166     Yuba       Olivehurst  kindergarten   429
2167     Yuba      Plumas Lake     7th grade   126
2168     Yuba      Plumas Lake     childcare    69
2169     Yuba      Plumas Lake  kindergarten   172
2170     Yuba        Wheatland     7th grade   126
2171     Yuba        Wheatland     childcare    94
2172     Yuba        Wheatland  kindergarten    94

[2173 rows x 4 columns]

In [37]:
#Export count of students vaccinated by county,city and grade
vac_n.to_csv("vac_n_table1617.CSV")

In [38]:
#Get average percentage of students vaccinated by county,city and grade
vac_pct=vac_1617.groupby(by=['COUNTY','CITY','vac_info_type'], as_index=False)['pct'].mean()
vac_pct

       COUNTY             CITY vac_info_type        pct
0     Alameda          Alameda     7th grade  97.100000
1     Alameda          Alameda     childcare  95.923077
2     Alameda          Alameda  kindergarten  96.500000
3     Alameda           Albany     7th grade  96.000000
4     Alameda           Albany     childcare  94.166667
5     Alameda           Albany  kindergarten  96.666667
6     Alameda         Berkeley     7th grade  96.142857
7     Alameda         Berkeley     childcare  94.243902
8     Alameda         Berkeley  kindergarten  93.000000
9     Alameda    Castro Valley     7th grade  97.000000
10    Alameda    Castro Valley     childcare  96.615385
11    Alameda    Castro Valley  kindergarten  96.916667
12    Alameda           Dublin     7th grade  96.600000
13    Alameda           Dublin     childcare  94.850000
14    Alameda           Dublin  kindergarten  96.909091
15    Alameda       Emeryville     childcare  95.750000
16    Alameda          Fremont     7th grade  96.307692
17    Alameda          Fremont     childcare  94.951613
18    Alameda          Fremont  kindergarten  97.459459
19    Alameda          Hayward     7th grade  97.090909
20    Alameda          Hayward     childcare  95.263158
21    Alameda          Hayward  kindergarten  97.714286
22    Alameda        Livermore     7th grade  96.625000
23    Alameda        Livermore     childcare  96.541667
24    Alameda        Livermore  kindergarten  97.833333
25    Alameda           Newark     7th grade  97.333333
26    Alameda           Newark     childcare  96.437500
27    Alameda           Newark  kindergarten  96.900000
28    Alameda          Oakland     7th grade  95.960784
29    Alameda          Oakland     childcare  95.571429
...       ...              ...           ...        ...
2143     Yolo          Esparto     7th grade  97.000000
2144     Yolo          Esparto     childcare  95.000000
2145     Yolo          Esparto  kindergarten  98.000000
2146     Yolo  Knights Landing  kindergarten  95.000000
2147     Yolo          Madison     childcare  98.000000
2148     Yolo  West Sacramento     7th grade  97.714286
2149     Yolo  West Sacramento     childcare  95.833333
2150     Yolo  West Sacramento  kindergarten  95.909091
2151     Yolo          Winters     7th grade  99.000000
2152     Yolo          Winters     childcare  96.500000
2153     Yolo          Winters  kindergarten  98.000000
2154     Yolo         Woodland     7th grade  96.666667
2155     Yolo         Woodland     childcare  95.894737
2156     Yolo         Woodland  kindergarten  97.727273
2157     Yuba        Beale Afb     childcare  98.000000
2158     Yuba        Beale Afb  kindergarten  96.500000
2159     Yuba    Browns Valley  kindergarten  95.000000
2160     Yuba        Challenge  kindergarten  95.000000
2161     Yuba       Marysville     7th grade  95.500000
2162     Yuba       Marysville     childcare  95.000000
2163     Yuba       Marysville  kindergarten  93.285714
2164     Yuba       Olivehurst     7th grade  99.000000
2165     Yuba       Olivehurst     childcare  96.500000
2166     Yuba       Olivehurst  kindergarten  97.400000
2167     Yuba      Plumas Lake     7th grade  99.000000
2168     Yuba      Plumas Lake     childcare  98.000000
2169     Yuba      Plumas Lake  kindergarten  97.000000
2170     Yuba        Wheatland     7th grade  99.000000
2171     Yuba        Wheatland     childcare  96.000000
2172     Yuba        Wheatland  kindergarten  98.000000

[2173 rows x 4 columns]

In [39]:
#Export average percentage of students vaccinated by county,city and grade
vac_pct.to_csv("vac_pct_table1617.CSV")

In [40]:
vac_1617.head()

,FACILITY_NUMBER,COUNTY,pub_priv_headstart,CITY,FACILITY_NAME,ENROLLMENT,n,pct,vac_info_type,REPORTED
0,13417683,Alameda,PRIVATE,Hayward,A JOYFUL NOISE LEARNING CENTER,22,20,95,childcare,Y
2,13420589,Alameda,PUBLIC,Alameda,A.U.S.D.- WOODSTOCK CHILD DEVELOPMENT CENTER,100,98,98,childcare,Y
4,13419449,Alameda,PRIVATE,Fremont,ABC MAGIC MOMENTS PRESCHOOL - IRVINGTON,55,53,98,childcare,Y
5,13417471,Alameda,PRIVATE,Fremont,"ABC MAGIC MOMENTS,INC. PRESCHOOL/CHILDCARE",28,26,95,childcare,Y
6,13411388,Alameda,PRIVATE,Alameda,ABC PRESCHOOL,32,30,95,childcare,Y

In [41]:
#Export full cleaned data
vac_1617.to_csv("clean1617.csv", index=False)

## Census Data Cleaning

### Demographics

In [42]:
# Import and clean census data for basic demographics age gender race
census16 = pd.read_csv("Raw_Data/Census/ACS_16_demographic.csv",encoding = "ISO-8859-1",header=[0],na_values=['-'],)

In [43]:
census16.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC03,HC02_VC03,HC03_VC03,HC04_VC03,HC01_VC04,HC02_VC04,HC03_VC04,...,HC03_VC108,HC04_VC108,HC01_VC109,HC02_VC109,HC03_VC109,HC04_VC109,HC01_VC110,HC02_VC110,HC03_VC110,HC04_VC110
0,1600000US0600135,600135,"Acalanes Ridge CDP, California",1000,338,1000,(X),409,146,40.9,...,695,(X),279,101,40.1,7.1,416,194,59.9,7.1
1,1600000US0600156,600156,"Acampo CDP, California",466,398,466,(X),291,277,62.4,...,466,(X),291,277,62.4,13.7,175,137,37.6,13.7
2,1600000US0600212,600212,"Acton CDP, California",7170,555,7170,(X),3776,318,52.7,...,5777,(X),3020,279,52.3,2.2,2757,199,47.7,2.2
3,1600000US0600296,600296,"Adelanto city, California",32311,35,32311,(X),16350,651,50.6,...,16322,(X),8399,706,51.5,2.4,7923,539,48.5,2.4
4,1600000US0600310,600310,"Adin CDP, California",155,91,155,(X),59,40,38.1,...,115,(X),52,33,45.2,15.8,63,35,54.8,15.8

In [44]:
demographic16 = census16[['GEO.id','GEO.id2','GEO.display-label',
                     'HC01_VC03',
                     'HC01_VC04','HC03_VC04',
                     'HC01_VC05','HC03_VC05',
                     'HC01_VC08','HC03_VC08',
                     'HC01_VC09','HC03_VC09',
                     'HC01_VC10','HC03_VC10',
                     'HC01_VC11','HC03_VC11',
                     'HC01_VC12','HC03_VC12',
                     'HC01_VC13','HC03_VC13',
                     'HC01_VC14','HC03_VC14',
                     'HC01_VC15','HC03_VC15',
                     'HC01_VC16','HC03_VC16',
                     'HC01_VC17','HC03_VC17',
                     'HC01_VC18','HC03_VC18',
                     'HC01_VC19','HC03_VC19',
                     'HC01_VC20','HC03_VC20',
                     'HC01_VC23','HC03_VC23',
                     'HC01_VC88','HC03_VC88',
                     'HC01_VC94','HC03_VC94',
                     'HC01_VC95','HC03_VC95',
                     'HC01_VC96','HC03_VC96',
                     'HC01_VC97','HC03_VC97',
                     'HC01_VC98','HC03_VC98',
                     'HC01_VC99','HC03_VC99',
                     'HC01_VC100','HC03_VC100',
                     'HC01_VC101','HC03_VC101',
                     'HC01_VC102','HC03_VC102'                 
        ]]

In [32]:
demographic16.dtypes

GEO.id                object
GEO.id2                int64
GEO.display-label     object
HC01_VC03              int64
HC01_VC04              int64
HC03_VC04            float64
HC01_VC05              int64
HC03_VC05            float64
HC01_VC08              int64
HC03_VC08            float64
HC01_VC09              int64
HC03_VC09            float64
HC01_VC10              int64
HC03_VC10            float64
HC01_VC11              int64
HC03_VC11            float64
HC01_VC12              int64
HC03_VC12            float64
HC01_VC13              int64
HC03_VC13            float64
HC01_VC14              int64
HC03_VC14            float64
HC01_VC15              int64
HC03_VC15            float64
HC01_VC16              int64
HC03_VC16            float64
HC01_VC17              int64
HC03_VC17            float64
HC01_VC18              int64
HC03_VC18            float64
HC01_VC19              int64
HC03_VC19            float64
HC01_VC20              int64
HC03_VC20            float64
HC01_VC23            float64
HC03_VC23             object
HC01_VC88              int64
HC03_VC88            float64
HC01_VC94              int64
HC03_VC94            float64
HC01_VC95              int64
HC03_VC95            float64
HC01_VC96              int64
HC03_VC96            float64
HC01_VC97              int64
HC03_VC97            float64
HC01_VC98              int64
HC03_VC98            float64
HC01_VC99              int64
HC03_VC99            float64
HC01_VC100             int64
HC03_VC100           float64
HC01_VC101             int64
HC03_VC101           float64
HC01_VC102             int64
HC03_VC102           float64
dtype: object

In [45]:
#combine other race, two or more races (HC01_VC99, HC01_VC100, HC01_VC101, HC01_VC102)
demographic16['other']=pd.Series(census16['HC01_VC99']+census16['HC01_VC100']+census16['HC01_VC101']+census16['HC01_VC102'])

C:\Users\42\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [46]:
demographic16['other_pct']=pd.Series(census16['HC03_VC99']+census16['HC03_VC100']+census16['HC03_VC101']+census16['HC03_VC102'])

C:\Users\42\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [47]:
demographic16.rename(columns={'GEO.display-label': 'city',
                         'HC01_VC03': 'tot_pop', 
                         'HC01_VC04': 'male',
                         'HC01_VC05': 'female',
                         'HC01_VC08':'under_5',
                         'HC01_VC09':'5_9',
                         'HC01_VC10':'10_14',
                         'HC01_VC11':'15_19',
                         'HC01_VC12':'20_24',
                         'HC01_VC13':'25_34',
                         'HC01_VC14':'35_44',
                         'HC01_VC15':'45_54',
                         'HC01_VC16':'55_59',
                         'HC01_VC17':'60_64',
                         'HC01_VC18':'65_74',
                         'HC01_VC19':'75_84',
                         'HC01_VC20':'85_over',
                         'HC01_VC23':'median_age',
                         'HC01_VC88':'hispanic_latino',
                         'HC01_VC89':'mexican',
                         'HC01_VC94':'white',
                         'HC01_VC95':'black',
                         'HC01_VC96':'aian',
                         'HC01_VC97':'asian',
                         'HC01_VC98':'nhopi',

                         'HC03_VC04': 'male_pct',
                         'HC03_VC05': 'female_pct',
                         'HC03_VC08':'under_5_pct',
                         'HC03_VC09':'5_9_pct',
                         'HC03_VC10':'10_14_pct',
                         'HC03_VC11':'15_19_pct',
                         'HC03_VC12':'20_24_pct',
                         'HC03_VC13':'25_34_pct',
                         'HC03_VC14':'35_44_pct',
                         'HC03_VC15':'45_54_pct',
                         'HC03_VC16':'55_59_pct',
                         'HC03_VC17':'60_64_pct',
                         'HC03_VC18':'65_74_pct',
                         'HC03_VC19':'75_84_pct',
                         'HC03_VC20':'85_over_pct',
                         'HC03_VC23':'median_age_pct',
                         'HC03_VC88':'hispanic_latino_pct',
                         'HC03_VC89':'mexican_pct',
                         'HC03_VC94':'white_pct',
                         'HC03_VC95':'black_pct',
                         'HC03_VC96':'aian_pct',
                         'HC03_VC97':'asian_pct',
                         'HC03_VC98':'nhopi_pct'
                        }, 
                inplace=True)
# Other race categories
#                          'HC01_VC99':'other_only',
#                          'HC01_VC100':'more_two_races',
#                          'HC01_VC101':'more_two_races_other',
#                          'HC01_VC102':'more_two_races_other_exclude',

C:\Users\42\Anaconda3\lib\site-packages\pandas\core\frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [37]:
demographic16.dtypes

GEO.id                  object
GEO.id2                  int64
city                    object
tot_pop                  int64
male                     int64
male_pct               float64
female                   int64
female_pct             float64
under_5                  int64
under_5_pct            float64
5_9                      int64
5_9_pct                float64
10_14                    int64
10_14_pct              float64
15_19                    int64
15_19_pct              float64
20_24                    int64
20_24_pct              float64
25_34                    int64
25_34_pct              float64
35_44                    int64
35_44_pct              float64
45_54                    int64
45_54_pct              float64
55_59                    int64
55_59_pct              float64
60_64                    int64
60_64_pct              float64
65_74                    int64
65_74_pct              float64
75_84                    int64
75_84_pct              float64
85_over                  int64
85_over_pct            float64
median_age             float64
median_age_pct          object
hispanic_latino          int64
hispanic_latino_pct    float64
white                    int64
white_pct              float64
black                    int64
black_pct              float64
aian                     int64
aian_pct               float64
asian                    int64
asian_pct              float64
nhopi                    int64
nhopi_pct              float64
HC01_VC99                int64
HC03_VC99              float64
HC01_VC100               int64
HC03_VC100             float64
HC01_VC101               int64
HC03_VC101             float64
HC01_VC102               int64
HC03_VC102             float64
other                    int64
other_pct              float64
dtype: object

In [48]:
demographic16['city']=demographic16.city.replace(' city, California', '', regex=True)

C:\Users\42\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [49]:
demographic16['city']=demographic16.city.replace(' CDP, California', '', regex=True)

C:\Users\42\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [50]:
demographic16['city']=demographic16.city.replace(' town, California', '', regex=True)

C:\Users\42\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [51]:
## Uppercase cities
demographic16['city']=demographic16['city'].str.title()

C:\Users\42\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [52]:
demographic16=demographic16.drop(columns=['HC01_VC99','HC03_VC99','HC01_VC100','HC03_VC100','HC01_VC101','HC03_VC101','HC01_VC102','HC03_VC102'])
demographic16.head()

,GEO.id,GEO.id2,city,tot_pop,male,male_pct,female,female_pct,under_5,under_5_pct,...,black,black_pct,aian,aian_pct,asian,asian_pct,nhopi,nhopi_pct,other,other_pct
0,1600000US0600135,600135,Acalanes Ridge,1000,409,40.9,591,59.1,33,3.3,...,0,0.0,0,0.0,209,20.9,0,0.0,322,32.2
1,1600000US0600156,600156,Acampo,466,291,62.4,175,37.6,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
2,1600000US0600212,600212,Acton,7170,3776,52.7,3394,47.3,350,4.9,...,120,1.7,15,0.2,67,0.9,0,0.0,254,3.6
3,1600000US0600296,600296,Adelanto,32311,16350,50.6,15961,49.4,3148,9.7,...,5810,18.0,12,0.0,497,1.5,0,0.0,2061,6.3
4,1600000US0600310,600310,Adin,155,59,38.1,96,61.9,7,4.5,...,0,0.0,0,0.0,0,0.0,0,0.0,10,6.4

### Median Household Income and Health insurance Status

Median Household Income has categories 2,500-, 250,000+ which was changed to 2500 and 250000.

In [53]:
# Import and clean acs data for income and insurance status
acs16 = pd.read_csv("Raw_Data/Census/ACS_16_economic.csv", encoding = "ISO-8859-1", header=[0], na_values=['-'])

In [54]:
acs16.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC03,HC02_VC03,HC03_VC03,HC04_VC03,HC01_VC04,HC02_VC04,HC03_VC04,...,HC03_VC178,HC04_VC178,HC01_VC179,HC02_VC179,HC03_VC179,HC04_VC179,HC01_VC180,HC02_VC180,HC03_VC180,HC04_VC180
0,1600000US0600135,600135,"Acalanes Ridge CDP, California",747,288,747,(X),497,296,66.5,...,0.0,26.1,(X),(X),0.0,3.5,(X),(X),0.0,26.9
1,1600000US0600156,600156,"Acampo CDP, California",466,398,466,(X),368,359,79.0,...,0.0,27.6,(X),(X),0.0,9.3,(X),(X),0.0,21.6
2,1600000US0600212,600212,"Acton CDP, California",6098,398,6098,(X),3917,339,64.2,...,5.2,3.6,(X),(X),1.6,1.2,(X),(X),39.7,11.7
3,1600000US0600296,600296,"Adelanto city, California",21534,628,21534,(X),9910,597,46.0,...,21.3,6.9,(X),(X),41.5,5.6,(X),(X),49.4,5.9
4,1600000US0600310,600310,"Adin CDP, California",123,63,123,(X),51,36,41.5,...,32.5,43.5,(X),(X),0.0,28.3,(X),(X),34.0,32.3

In [55]:
acs16=acs16[['GEO.id','GEO.id2','GEO.display-label','HC01_VC85','HC01_VC131','HC03_VC131',
                'HC01_VC132','HC03_VC132','HC01_VC133','HC03_VC133','HC01_VC134','HC03_VC134']]
income16=acs16

In [56]:
income16.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC85,HC01_VC131,HC03_VC131,HC01_VC132,HC03_VC132,HC01_VC133,HC03_VC133,HC01_VC134,HC03_VC134
0,1600000US0600135,600135,"Acalanes Ridge CDP, California",187604.0,988,98.8,952,95.2,149,14.9,12,1.2
1,1600000US0600156,600156,"Acampo CDP, California",155385.0,451,96.8,451,96.8,98,21.0,15,3.2
2,1600000US0600212,600212,"Acton CDP, California",91168.0,6582,92.0,5798,81.0,1660,23.2,575,8.0
3,1600000US0600296,600296,"Adelanto city, California",29647.0,26528,86.7,9306,30.4,18268,59.7,4068,13.3
4,1600000US0600310,600310,"Adin CDP, California",55625.0,150,96.8,111,71.6,62,40.0,5,3.2

In [57]:
income16.dtypes

GEO.id                object
GEO.id2                int64
GEO.display-label     object
HC01_VC85            float64
HC01_VC131             int64
HC03_VC131           float64
HC01_VC132             int64
HC03_VC132           float64
HC01_VC133             int64
HC03_VC133           float64
HC01_VC134             int64
HC03_VC134           float64
dtype: object

In [58]:
income16.rename(columns={'GEO.display-label': 'city',
                         'HC01_VC85': 'median_income',
                         'HC01_VC131': 'insurance',
                         'HC01_VC132': 'private_insure',
                         'HC01_VC133': 'public_insure',
                         'HC01_VC134': 'no_insurance',

                         'HC03_VC131': 'insurance_pct',
                         'HC03_VC132': 'private_insure_pct',
                         'HC03_VC133': 'public_insure_pct',
                         'HC03_VC134': 'no_insurance_pct'  
                        }, 
                inplace=True)

In [59]:
income16.dtypes

GEO.id                 object
GEO.id2                 int64
city                   object
median_income         float64
insurance               int64
insurance_pct         float64
private_insure          int64
private_insure_pct    float64
public_insure           int64
public_insure_pct     float64
no_insurance            int64
no_insurance_pct      float64
dtype: object

In [60]:
income16['city']=income16.city.replace(' CDP, California', '', regex=True)

In [61]:
income16['city']=income16.city.replace(' city, California', '', regex=True)

In [62]:
income16['city']=income16.city.replace(' town, California', '', regex=True)

In [63]:
income16.head()

,GEO.id,GEO.id2,city,median_income,insurance,insurance_pct,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct
0,1600000US0600135,600135,Acalanes Ridge,187604.0,988,98.8,952,95.2,149,14.9,12,1.2
1,1600000US0600156,600156,Acampo,155385.0,451,96.8,451,96.8,98,21.0,15,3.2
2,1600000US0600212,600212,Acton,91168.0,6582,92.0,5798,81.0,1660,23.2,575,8.0
3,1600000US0600296,600296,Adelanto,29647.0,26528,86.7,9306,30.4,18268,59.7,4068,13.3
4,1600000US0600310,600310,Adin,55625.0,150,96.8,111,71.6,62,40.0,5,3.2

## Join Demographics and income data

In [64]:
pop_data=demographic16.merge(income16, left_on='GEO.id', right_on='GEO.id', how='outer')
pop_data.head()

,GEO.id,GEO.id2_x,city_x,tot_pop,male,male_pct,female,female_pct,under_5,under_5_pct,...,city_y,median_income,insurance,insurance_pct,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct
0,1600000US0600135,600135,Acalanes Ridge,1000,409,40.9,591,59.1,33,3.3,...,Acalanes Ridge,187604.0,988,98.8,952,95.2,149,14.9,12,1.2
1,1600000US0600156,600156,Acampo,466,291,62.4,175,37.6,0,0.0,...,Acampo,155385.0,451,96.8,451,96.8,98,21.0,15,3.2
2,1600000US0600212,600212,Acton,7170,3776,52.7,3394,47.3,350,4.9,...,Acton,91168.0,6582,92.0,5798,81.0,1660,23.2,575,8.0
3,1600000US0600296,600296,Adelanto,32311,16350,50.6,15961,49.4,3148,9.7,...,Adelanto,29647.0,26528,86.7,9306,30.4,18268,59.7,4068,13.3
4,1600000US0600310,600310,Adin,155,59,38.1,96,61.9,7,4.5,...,Adin,55625.0,150,96.8,111,71.6,62,40.0,5,3.2

In [65]:
list(pop_data.columns.values)

['GEO.id',
 'GEO.id2_x',
 'city_x',
 'tot_pop',
 'male',
 'male_pct',
 'female',
 'female_pct',
 'under_5',
 'under_5_pct',
 '5_9',
 '5_9_pct',
 '10_14',
 '10_14_pct',
 '15_19',
 '15_19_pct',
 '20_24',
 '20_24_pct',
 '25_34',
 '25_34_pct',
 '35_44',
 '35_44_pct',
 '45_54',
 '45_54_pct',
 '55_59',
 '55_59_pct',
 '60_64',
 '60_64_pct',
 '65_74',
 '65_74_pct',
 '75_84',
 '75_84_pct',
 '85_over',
 '85_over_pct',
 'median_age',
 'median_age_pct',
 'hispanic_latino',
 'hispanic_latino_pct',
 'white',
 'white_pct',
 'black',
 'black_pct',
 'aian',
 'aian_pct',
 'asian',
 'asian_pct',
 'nhopi',
 'nhopi_pct',
 'other',
 'other_pct',
 'GEO.id2_y',
 'city_y',
 'median_income',
 'insurance',
 'insurance_pct',
 'private_insure',
 'private_insure_pct',
 'public_insure',
 'public_insure_pct',
 'no_insurance',
 'no_insurance_pct']

In [66]:
pop_data=pop_data.drop(columns=['GEO.id2_y','city_y'])

In [67]:
pop_data=pop_data.rename(columns={'GEO.id': 'geoid',
                         'GEO.id2_x': 'geoid2',
                         'city_x': 'city'})

In [68]:
# Fix City naming to be similar for special characters
pop_data.loc[pop_data.city=='La Cañada Flintridge', 'city']='La Canada Flintridge'

# Change census cities names that are present in multiple places to match vaccine data city
pop_data.loc[pop_data.city=='El Sobrante Cdp (Contra Costa County), California', 'city']='El Sobrante'
pop_data.loc[pop_data.city=='Edwards Afb', 'city']='Edwards AFB'
pop_data.loc[pop_data.city=='Las Flores Cdp (Orange County), California', 'city']='Los Flores'
pop_data.loc[pop_data.city=='West Whittier-Los Nietos CDP, California', 'city']='Los Nietos'
pop_data.loc[pop_data.city=="El Paso de Robles (Paso Robles)", 'city']='Paso Robles'
pop_data.loc[pop_data.city=='Piñon Hills', 'city']='Pinon Hills'
pop_data.loc[pop_data.city=='San Miguel Cdp (San Luis Obispo County), California', 'city']='San Miguel'
pop_data.loc[pop_data.city=='Spring Valley Cdp (San Diego County), California', 'city']='Spring Valley'

In [69]:
pop_data.head()

,geoid,geoid2,city,tot_pop,male,male_pct,female,female_pct,under_5,under_5_pct,...,other_pct,median_income,insurance,insurance_pct,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct
0,1600000US0600135,600135,Acalanes Ridge,1000,409,40.9,591,59.1,33,3.3,...,32.2,187604.0,988,98.8,952,95.2,149,14.9,12,1.2
1,1600000US0600156,600156,Acampo,466,291,62.4,175,37.6,0,0.0,...,0.0,155385.0,451,96.8,451,96.8,98,21.0,15,3.2
2,1600000US0600212,600212,Acton,7170,3776,52.7,3394,47.3,350,4.9,...,3.6,91168.0,6582,92.0,5798,81.0,1660,23.2,575,8.0
3,1600000US0600296,600296,Adelanto,32311,16350,50.6,15961,49.4,3148,9.7,...,6.3,29647.0,26528,86.7,9306,30.4,18268,59.7,4068,13.3
4,1600000US0600310,600310,Adin,155,59,38.1,96,61.9,7,4.5,...,6.4,55625.0,150,96.8,111,71.6,62,40.0,5,3.2

In [60]:
# Exported merged census data
pop_data.to_csv("pop_data16.csv", index=False)

## Join Vaccine data to Census data

Join needs unique cities in the vaccine data to use as a key. Will need to figure out how to weight the different grade levels based on the census population numbers for age.

In [70]:
vac_pop_1617=vac_1617.merge(pop_data, left_on='CITY', right_on='city', how='outer')
vac_pop_1617

,FACILITY_NUMBER,COUNTY,pub_priv_headstart,CITY,FACILITY_NAME,ENROLLMENT,n,pct,vac_info_type,REPORTED,...,other_pct,median_income,insurance,insurance_pct,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct
0,13417683.0,Alameda,PRIVATE,Hayward,A JOYFUL NOISE LEARNING CENTER,22.0,20.0,95.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
1,13420960.0,Alameda,HEAD START,Hayward,CFCS - JOHN MUIR HEAD START SITE,67.0,65.0,98.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
2,13422049.0,Alameda,HEAD START,Hayward,CFCS HANSEN HEAD START,37.0,35.0,95.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
3,10212000.0,Alameda,HEAD START,Hayward,CFCS HEAD START - GLASSBROOK,36.0,34.0,95.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
4,13418959.0,Alameda,HEAD START,Hayward,CFCS HEAD START - SUNSET,46.0,43.0,95.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
5,13418950.0,Alameda,HEAD START,Hayward,CFCS HEAD START CENTER - BIDWELL,32.0,30.0,95.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
6,13422051.0,Alameda,HEAD START,Hayward,CFCS RUUS HEAD START,32.0,30.0,95.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
7,13420577.0,Alameda,HEAD START,Hayward,CFCS- LORENZO MANOR HEAD START,34.0,32.0,95.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
8,13411745.0,Alameda,PUBLIC,Hayward,"CHABOT COLLEGE, CHILDREN'S CENTER",57.0,55.0,98.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
9,13420978.0,Alameda,PRIVATE,Hayward,CHILDRENS CHOICE EDUCARE,45.0,42.0,95.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
10,13420608.0,Alameda,PRIVATE,Hayward,CREATIVE KIDS,30.0,28.0,95.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
11,13419440.0,Alameda,PRIVATE,Hayward,EIFFEL TOWER MONTESSORI PRESCHOOL & K,54.0,52.0,98.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
12,10210079.0,Alameda,PRIVATE,Hayward,ELMHURST DAY CARE AND PRESCHOOL,80.0,78.0,98.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
13,13422406.0,Alameda,PRIVATE,Hayward,HIS KIDS CHILDRENS CENTER,32.0,30.0,94.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
14,13420954.0,Alameda,PUBLIC,Hayward,HUSD - FAIRVIEW STATE PRESCHOOL,40.0,38.0,95.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
15,13420955.0,Alameda,PUBLIC,Hayward,HUSD - HARDER STATE PRESCHOOL,46.0,43.0,95.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
16,13421426.0,Alameda,PUBLIC,Hayward,HUSD - PARK STATE PRESCHOOL,39.0,37.0,95.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
17,10214552.0,Alameda,PUBLIC,Hayward,HUSD CHILD DEV. PROGRAM - BOWMAN,36.0,34.0,95.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
18,10214554.0,Alameda,PUBLIC,Hayward,HUSD CHILD DEV. PROGRAM - CHERRYLAND,48.0,45.0,95.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
19,10206034.0,Alameda,PUBLIC,Hayward,HUSD CHILD DEV. PROGRAM - HELEN TURNER,210.0,207.0,99.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
20,10214550.0,Alameda,PUBLIC,Hayward,HUSD CHILD DEV. PROGRAM - MUIR,88.0,86.0,98.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
21,10214551.0,Alameda,PUBLIC,Hayward,HUSD CHILD DEV. PROGRAM - SHEPHERD,44.0,41.0,95.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
22,13414055.0,Alameda,PUBLIC,Hayward,HUSD CHILD DEVELOPMENT CTR. - PALMA CEIA,44.0,41.0,95.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
23,13419486.0,Alameda,PUBLIC,Hayward,KIDANGO - AMADOR,78.0,66.0,85.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
24,13420905.0,Alameda,PUBLIC,Hayward,KIDANGO - COLONIAL ACRES,47.0,44.0,95.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
25,13422029.0,Alameda,PUBLIC,Hayward,KIDANGO - EDEN YOUTH CENTER,62.0,58.0,94.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
26,13420561.0,Alameda,PUBLIC,Hayward,KIDANGO - SUNSET,44.0,41.0,95.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
27,13419469.0,Alameda,PUBLIC,Hayward,KIDANGO HELEN TURNER,45.0,42.0,95.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
28,13411214.0,Alameda,PRIVATE,Hayward,KIDANGO-GLEN BERRY CHILD DEVELOPMENT CENTER,30.0,28.0,95.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
29,13415366.0,Alameda,PRIVATE,Hayward,KIDANGO-HILLVIEW CREST CHILD DEVELOPMENT CENTER,48.0,45.0,95.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18477,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.7,67562.0,19366.0,91.1,13911.0,65.4,7702.0,36.2,1891.0,8.9
18478,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,25335.0,285.0,49.1,59.0,10.2,233.0,40.2,295.0,50.9
18479,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.4,54138.0,843.0,85.3,560.0,56.7,443.0,44.8,145.0,14.7
18480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.0,180192.0,3792.0,99.1,3640.0,95.2,548.0,14.3,33.0,0.9
18481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.8,30682.0,4482.0,85.0,1152.0,21.8,3669.0,69.6,792.0,15.0
18482,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.7,29262.0,26135.0,81.4,11832.0,36.9,16495.0,51.4,5954.0,18.6
18483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.4,45526.0,631.0,82.6,264.0,34.6,424.0,55.5,133.0,17.4
18484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,24922.0,648.0,96.9,244.0,36.5,562.0,84.0,21.0,3.1
18485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.6,66532.0,20256.0,82.8,12245.0,50.1,9298.0,38.0,4209.0,17.2
18486,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.7,52676.0,19595.0,86.7,11590.0,51.3,9985.0,44.2,3001.0,13.3
18487,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,41563.0,181.0,67.3,38.0,14.1,147.0,54.6,88.0,32.7
18488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.2,64943.0,22262.0,82.4,15426.0,57.1,8270.0,30.6,4754.0,17.6
18489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,77188.0,65.0,100.0,53.0,81.5,57.0,87.7,0.0,0.0
18490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.4,35145.0,753.0,91.7,285.0,34.7,502.0,61.1,68.0,8.3
18491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.5,88083.0,254.0,87.0,254.0,87.0,17.0,5.8,38.0,13.0
18492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,75875.0,489.0,90.7,477.0,88.5,85.0,15.8,50.0,9.3
18493,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,38070.0,17006.0,77.5,6261.0,28.5,11366.0,51.8,4951.0,22.5
18494,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
18495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.2,61208.0,18852.0,89.2,14407.0,68.2,6912.0,32.7,2280.0,10.8
18496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.8,34167.0,1590.0,100.0,1109.0,69.7,1046.0,65.8,0.0,0.0
18497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.2,90824.0,1498.0,97.1,1252.0,81.2,513.0,33.3,44.0,2.9
18498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.4,75466.0,3461.0,89.8,2716.0,70.4,1425.0,37.0,395.0,10.2
18499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.1,88133.0,14569.0,90.0,11136.0,68.8,4989.0,30.8,1621.0,10.0
18500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,140188.0,1075.0,100.0,977.0,90.9,452.0,42.0,0.0,0.0
18501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.4,43333.0,257.0,81.1,132.0,41.6,213.0,67.2,60.0,18.9
18502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,291.0,82.4,28.0,7.9,263.0,74.5,62.0,17.6
18503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,75792.0,371.0,82.8,301.0,67.2,80.0,17.9,77.0,17.2
18504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.4,58430.0,4417.0,86.9,3389.0,66.7,2245.0,44.2,664.0,13.1
18505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,37132.0,948.0,95.4,849.0,85.4,152.0,15.3,46.0,4.6
18506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.0,94432.0,884.0,93.9,791.0,84.1,195.0,20.7,57.0,6.1

In [71]:
#Export full cleaned data
vac_pop_1617.to_csv("cleanjoin1617.csv", index=False)

In [72]:
vac_pop_1617.dtypes

FACILITY_NUMBER        float64
COUNTY                  object
pub_priv_headstart      object
CITY                    object
FACILITY_NAME           object
ENROLLMENT             float64
n                      float64
pct                    float64
vac_info_type           object
REPORTED                object
geoid                   object
geoid2                 float64
city                    object
tot_pop                float64
male                   float64
male_pct               float64
female                 float64
female_pct             float64
under_5                float64
under_5_pct            float64
5_9                    float64
5_9_pct                float64
10_14                  float64
10_14_pct              float64
15_19                  float64
15_19_pct              float64
20_24                  float64
20_24_pct              float64
25_34                  float64
25_34_pct              float64
                        ...
65_74_pct              float64
75_84                  float64
75_84_pct              float64
85_over                float64
85_over_pct            float64
median_age             float64
median_age_pct          object
hispanic_latino        float64
hispanic_latino_pct    float64
white                  float64
white_pct              float64
black                  float64
black_pct              float64
aian                   float64
aian_pct               float64
asian                  float64
asian_pct              float64
nhopi                  float64
nhopi_pct              float64
other                  float64
other_pct              float64
median_income          float64
insurance              float64
insurance_pct          float64
private_insure         float64
private_insure_pct     float64
public_insure          float64
public_insure_pct      float64
no_insurance           float64
no_insurance_pct       float64
Length: 69, dtype: object

Calculate the weight for each of the schools based on the population