In [1]:
import numpy as np
import pandas as pd
import os, json, getpass, imp

In [2]:
#Set path for raw data
VAX_PATH = "/Users/" + getpass.getuser() + "/desktop/capstone/mids_capstone/vaxxfacts/raw_data/school_vaccination/"
CENSUS_PATH = "/Users/" + getpass.getuser() + "/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/"

## School vaccination data

In [3]:
# Import raw combined school vaccination data
pertusis12 = pd.read_csv(VAX_PATH + "2011-2012/2011-2012_merged.csv",
                         encoding = "ISO-8859-1", na_values=['.'])

pertusis13 = pd.read_csv(VAX_PATH + "2012-2013/2012-2013_merged.csv", 
                         encoding = "ISO-8859-1", na_values=['.'])

pertusis14 = pd.read_csv(VAX_PATH + "2013-2014/2013-2014_merged.csv",
                         encoding = "ISO-8859-1", na_values=['.'])

pertusis15 = pd.read_csv(VAX_PATH + "2014-2015/2014-2015_merged.csv",
                          encoding = "ISO-8859-1", na_values=['.'])

pertusis16 = pd.read_csv(VAX_PATH + "2015-2016/2015-2016_merged.csv",
                         encoding = "ISO-8859-1", na_values=['.'])

pertusis17 = pd.read_csv(VAX_PATH + "2016-2017/2016-2017_merged.csv",
                         encoding = "ISO-8859-1", na_values=['.'])

pertusis18 = pd.read_csv(VAX_PATH + "2017-2018/2017-2018_merged.csv",
                         encoding = "ISO-8859-1", na_values=['.'])
# Drop the first column
pertusis12=pertusis12.drop(columns=['Unnamed: 0'])
pertusis13=pertusis13.drop(columns=['Unnamed: 0'])
pertusis14=pertusis14.drop(columns=['Unnamed: 0'])
pertusis15=pertusis15.drop(columns=['Unnamed: 0'])
pertusis16=pertusis16.drop(columns=['Unnamed: 0'])
pertusis17=pertusis17.drop(columns=['Unnamed: 0'])
pertusis18=pertusis18.drop(columns=['Unnamed: 0'])

In [4]:
# Subset to schools that reported
vac_data12=pertusis12[pertusis12.reported=='Y']
vac_data13=pertusis13[pertusis13.reported=='Y']
vac_data14=pertusis14[pertusis14.reported=='Y']
vac_data15=pertusis15[pertusis15.reported=='Y']
vac_data16=pertusis16[pertusis16.reported=='Y']
vac_data17=pertusis17[pertusis17.reported=='Y']
vac_data18=pertusis18[pertusis18.reported=='Y']

In [5]:
# assign school year and year variables
vac_data12.loc[:,'year']='2012'
vac_data13.loc[:,'year']='2013'
vac_data14.loc[:,'year']='2014'
vac_data15.loc[:,'year']='2015'
vac_data16.loc[:,'year']='2016'
vac_data17.loc[:,'year']='2017'
vac_data18.loc[:,'year']='2018'

vac_data12.loc[:,'school_year']='2011-2012'
vac_data13.loc[:,'school_year']='2012-2013'
vac_data14.loc[:,'school_year']='2013-2014'
vac_data15.loc[:,'school_year']='2014-2015'
vac_data16.loc[:,'school_year']='2015-2016'
vac_data17.loc[:,'school_year']='2016-2017'
vac_data18.loc[:,'school_year']='2017-2018'

C:\Users\42\Anaconda3\lib\site-packages\pandas\core\indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\42\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [6]:
# Check datatypes
print(vac_data12.dtypes)
print(vac_data13.dtypes)
print(vac_data14.dtypes)
print(vac_data15.dtypes)
print(vac_data16.dtypes)
print(vac_data17.dtypes)
print(vac_data18.dtypes)

facility_num     float64
county            object
is_public         object
city              object
facility_name     object
enrollment        object
n                float64
pct              float64
reported          object
vac_info_type     object
year              object
school_year       object
dtype: object
facility_num      int64
county           object
is_public        object
city             object
facility_name    object
enrollment       object
n                object
pct              object
reported         object
vac_info_type    object
year             object
school_year      object
dtype: object
facility_num       int64
county            object
is_public         object
city              object
facility_name     object
enrollment        object
n                float64
pct              float64
reported          object
vac_info_type     object
year              object
school_year       object
dtype: object
facility_num       int64
county            object
is_public         object
city              object
facility_name     object
enrollment        object
n                float64
pct              float64
reported          object
vac_info_type     object
year              object
school_year       object
dtype: object
facility_num       int64
county            object
is_public         object
city              object
facility_name     object
enrollment       float64
n                float64
pct              float64
reported          object
vac_info_type     object
year              object
school_year       object
dtype: object
facility_num       int64
county            object
is_public         object
city              object
facility_name     object
enrollment       float64
n                float64
pct              float64
reported          object
vac_info_type     object
year              object
school_year       object
dtype: object
facility_num       int64
county            object
is_public         object
city              object
facility_name     object
enrollment       float64
n                float64
pct              float64
reported          object
vac_info_type     object
year              object
school_year       object
dtype: object

In [7]:
# Change n and percent to floats
vac_data12[['enrollment','n', 'pct']] = vac_data12[['enrollment','n', 'pct']].astype('float64')
vac_data13[['enrollment','n', 'pct']] = vac_data13[['enrollment','n', 'pct']].astype('float64')
vac_data14[['enrollment','n', 'pct']] = vac_data14[['enrollment','n', 'pct']].astype('float64')
vac_data15[['enrollment','n', 'pct']] = vac_data15[['enrollment','n', 'pct']].astype('float64')
vac_data16[['enrollment','n', 'pct']] = vac_data16[['enrollment','n', 'pct']].astype('float64')
vac_data17[['enrollment','n', 'pct']] = vac_data17[['enrollment','n', 'pct']].astype('float64')
vac_data18[['enrollment','n', 'pct']] = vac_data18[['enrollment','n', 'pct']].astype('float64')

C:\Users\42\Anaconda3\lib\site-packages\pandas\core\frame.py:3137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [8]:
# Calculate n from enrollment and approximate percentage
vac_data12.loc[:,('n')]=vac_data12.n.fillna(vac_data12.enrollment*vac_data12.pct/100)
vac_data13.loc[:,('n')]=vac_data13.n.fillna(vac_data13.enrollment*vac_data13.pct/100)
vac_data14.loc[:,('n')]=vac_data14.n.fillna(vac_data14.enrollment*vac_data14.pct/100)
vac_data15.loc[:,('n')]=vac_data15.n.fillna(vac_data15.enrollment*vac_data15.pct/100)
vac_data16.loc[:,('n')]=vac_data16.n.fillna(vac_data16.enrollment*vac_data16.pct/100)
vac_data17.loc[:,('n')]=vac_data17.n.fillna(vac_data17.enrollment*vac_data17.pct/100)
vac_data18.loc[:,('n')]=vac_data18.n.fillna(vac_data18.enrollment*vac_data18.pct/100)

C:\Users\42\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [9]:
# Change to integers 
vac_data12.loc[:,('enrollment','n')]=vac_data12.loc[:,('enrollment','n')].astype('int64')
vac_data13.loc[:,('enrollment','n')]=vac_data13.loc[:,('enrollment','n')].astype('int64')
vac_data14.loc[:,('enrollment','n')]=vac_data14.loc[:,('enrollment','n')].astype('int64')
vac_data15.loc[:,('enrollment','n')]=vac_data15.loc[:,('enrollment','n')].astype('int64')
vac_data16.loc[:,('enrollment','n')]=vac_data16.loc[:,('enrollment','n')].astype('int64')
vac_data17.loc[:,('enrollment','n')]=vac_data17.loc[:,('enrollment','n')].astype('int64')
vac_data18.loc[:,('enrollment','n')]=vac_data18.loc[:,('enrollment','n')].astype('int64')

C:\Users\42\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [10]:
vac_data=pd.concat([
           vac_data12, 
           vac_data13,
           vac_data14,
           vac_data15,
           vac_data16,
           vac_data17,
           vac_data18
          ],ignore_index=False,sort=False)

In [11]:
# Delete "Test School" invalid entry facility_num= 7777777
vac_data=vac_data[vac_data.facility_num != 7777777]
vac_data[vac_data.facility_num==7777777]

Empty DataFrame
Columns: [facility_num, county, is_public, city, facility_name, enrollment, n, pct, reported, vac_info_type, year, school_year]
Index: []

In [12]:
vac_data.head()

,facility_num,county,is_public,city,facility_name,enrollment,n,pct,reported,vac_info_type,year,school_year
0,NaN,ALAMEDA,HEAD START,ALAMEDA,ALAMEDA HEAD START - SUE MATHESON CENTER,45,43,95.555556,Y,ChildCareData,2012,2011-2012
1,NaN,ALAMEDA,HEAD START,ALAMEDA,ALAMEDA HEAD START - WASHINGTON,28,28,100.000000,Y,ChildCareData,2012,2011-2012
2,NaN,ALAMEDA,HEAD START,ALAMEDA,ALAMEDA HEAD START- COLLEGE OF ALAMEDA HEAD START,27,24,88.888889,Y,ChildCareData,2012,2011-2012
3,NaN,ALAMEDA,HEAD START,EMERYVILLE,BERKELEY YMCA HDSTART/ST PRESCH EMERYVILLE MARINA,46,45,97.826087,Y,ChildCareData,2012,2011-2012
4,NaN,ALAMEDA,HEAD START,BERKELEY,BERKELEY YMCA HEAD START - OCEAN VIEW,42,40,95.238095,Y,ChildCareData,2012,2011-2012

In [13]:
# uppercase all counties and cities
vac_data.county=vac_data['county'].str.upper()
vac_data.city=vac_data['city'].str.upper()

In [14]:
# Fix City Typos
vac_data.loc[vac_data.city=='ACTON, CA', 'city']='ACTON'
vac_data.loc[vac_data.city=='AGOURA', 'city']='AGOURA HILLS'
vac_data.loc[vac_data.city=='ANAHEIM,', 'city']='ANAHEIM'
vac_data.loc[vac_data.city=='ANANHEIM,', 'city']='ANAHEIM'
vac_data.loc[vac_data.city=='CA', 'city']='NAPA'
vac_data.loc[vac_data.city=='BEALE AIR FORCE BASE', 'city']='BEALE AFB' # to match census name
vac_data.loc[vac_data.city=='BENICA', 'city']='BENICIA'
vac_data.loc[vac_data.city=='CARDIFF', 'city']='CARDIFF BY THE SEA'
vac_data.loc[vac_data.city=='CARMEL', 'city']='CARMEL VALLEY'
vac_data.loc[vac_data.city=='CHINO,', 'city']='CHINO'
vac_data.loc[vac_data.city=='CHULAR', 'city']='CHUALAR'
vac_data.loc[vac_data.city=='CITY OF COMMERCE', 'city']='COMMERCE'
vac_data.loc[vac_data.city=='CITY OF INDUSTRY', 'city']='INDUSTRY'
vac_data.loc[vac_data.city=='CUDAHAY', 'city']='CUDAHY'
vac_data.loc[vac_data.city=='E. NICOLAUS', 'city']='EAST NICOLAUS'
vac_data.loc[vac_data.city=='E. RANCHO DOMINGUEZ', 'city']='EAST RANCHO DOMINGUEZ'
vac_data.loc[vac_data.city=='E RANCHO DOMINGUEZ', 'city']='EAST RANCHO DOMINGUEZ'
vac_data.loc[vac_data.city=='E. WHITTIER', 'city']='EAST WHITTIER'
vac_data.loc[vac_data.city=='EL SEGUNDO,', 'city']='EL SEGUNDO'
vac_data.loc[vac_data.city=='FAIRIFELD', 'city']='FAIRFIELD'
vac_data.loc[vac_data.city=='FREMOTN', 'city']='FREMONT'
vac_data.loc[vac_data.city=='FT. IRWIN', 'city']='FORT IRWIN'
vac_data.loc[vac_data.city=='GREENFILED', 'city']='GREENFIELD'
vac_data.loc[vac_data.city=='HUNTINGTON', 'city']='HUNTINGTON PARK'
vac_data.loc[vac_data.city=='JAMUAL', 'city']='JAMUL'
vac_data.loc[vac_data.city=='LA', 'city']='LOS ANGELES'
vac_data.loc[vac_data.city=='LA CANADA', 'city']='LA CANADA FLINTRIDGE'
vac_data.loc[vac_data.city=='LA CAÃ\x91ADA', 'city']='LA CANADA FLINTRIDGE'
vac_data.loc[vac_data.city=='LA CAÃ\x83â\x80\x98ADA', 'city']='LA CANADA FLINTRIDGE'
vac_data.loc[vac_data.city=='LA CRESCENTA', 'city']='LA CRESCENTA-MONTROSE'
vac_data.loc[vac_data.city=='LAKE VIEW TERRANCE', 'city']='LAKE VIEW TERRACE'
vac_data.loc[vac_data.city=='LAKEVIEW TERRACE', 'city']='LAKE VIEW TERRACE'
vac_data.loc[vac_data.city=='LANCASTER,', 'city']='LANCASTER'
vac_data.loc[vac_data.city=='LAVERNE', 'city']='LA VERNE'
vac_data.loc[vac_data.city=='MC KINLEYVILLE', 'city']='MCKINLEYVILLE'
vac_data.loc[vac_data.city=='MONTROSE', 'city']='LA CRESCENTA-MONTROSE'
vac_data.loc[vac_data.city=='MT. SHASTA', 'city']='MOUNT SHASTA'
vac_data.loc[vac_data.city=='N. HOLLYWOOD', 'city']='NORTH HOLLYWOOD'
vac_data.loc[vac_data.city=='N.A.S. LEMOORE', 'city']='LEMOORE STATION' # match census
vac_data.loc[vac_data.city=='NAS LEMOORE', 'city']='LEMOORE STATION'
vac_data.loc[vac_data.city=='NEWPORT BEACH,', 'city']='NEWPORT BEACH'
vac_data.loc[vac_data.city=='PACOMIA', 'city']='PACOIMA'
vac_data.loc[vac_data.city=='PANORAM ', 'city']='PANORAMA CITY'
vac_data.loc[vac_data.city=='PANORAM CITY', 'city']='PANORAMA CITY'
vac_data.loc[vac_data.city=='PT. REYES STATION', 'city']='POINT REYES STATION'
vac_data.loc[vac_data.city=='RANCHO SANTA MARGARI', 'city']='RANCHO SANTA MARGARITA'
vac_data.loc[vac_data.city=='RANCHO SAN MARGARITA', 'city']='RANCHO SANTA MARGARITA'
vac_data.loc[vac_data.city=='RANCHO STA MARGAITA', 'city']='RANCHO SANTA MARGARITA'
vac_data.loc[vac_data.city=='RANCHO STA MARGARITA', 'city']='RANCHO SANTA MARGARITA'
vac_data.loc[vac_data.city=='RCHO STA MARG', 'city']='RANCHO SANTA MARGARITA'
vac_data.loc[vac_data.city=='RANCHOS PALOS VERDES', 'city']='RANCHO PALOS VERDES'
vac_data.loc[vac_data.city=='RIVERSIDE,', 'city']='RIVERSIDE'
vac_data.loc[vac_data.city=='ROLLING HILLS ESTATE', 'city']='ROLLING HILLS ESTATES'
vac_data.loc[vac_data.city=='S. EL MONTE', 'city']='SOUTH EL MONTE'
vac_data.loc[vac_data.city=='S. LAKE TAHOE', 'city']='SOUTH LAKE TAHOE'
vac_data.loc[vac_data.city=='S PASADENA', 'city']='SOUTH PASADENA'
vac_data.loc[vac_data.city=='SAN BERARDINO', 'city']='SAN BERNARDINO'
vac_data.loc[vac_data.city=='SAN FRNCISCO', 'city']='SAN FRANCISCO'
vac_data.loc[vac_data.city=='SAN JOSE,', 'city']='SAN JOSE'
vac_data.loc[vac_data.city=='SANTA BARARA', 'city']='SANTA BARBARA'
vac_data.loc[vac_data.city=='SHASTA LAKE CITY', 'city']='SHASTA LAKE'
vac_data.loc[vac_data.city=='SILVERADO CANYON', 'city']='SILVERADO'
vac_data.loc[vac_data.city=='SOUTH LATE TAHOE', 'city']='SOUTH LAKE TAHOE'
vac_data.loc[vac_data.city=='SPRECKLES', 'city']='SPRECKELS'
vac_data.loc[vac_data.city=='STEVENSONS RANCH', 'city']='STEVENSON RANCH'
vac_data.loc[vac_data.city=='SUISUN', 'city']='SUISUN CITY'
vac_data.loc[vac_data.city=='SUNNYALE', 'city']='SUNNYVALE'
vac_data.loc[vac_data.city=='SUPELVEDA', 'city']='SEPULVEDA'
vac_data.loc[vac_data.city=='TURLOCK,', 'city']='TURLOCK'
vac_data.loc[vac_data.city=='UPPERLAKE', 'city']='UPPER LAKE'
vac_data.loc[vac_data.city=='VANDENBERG AIR FORCE BASE', 'city']='VANDENBERG AFB' # match census
vac_data.loc[vac_data.city=='W. SACRAMENTO', 'city']='WEST SACRAMENTO'
vac_data.loc[vac_data.city=='WEST LOS ANGELES', 'city']='LOS ANGELES'

vac_data.loc[vac_data.county=='BERKELEY CITY', 'county']='ALAMEDA'
vac_data.loc[vac_data.county=='LONG BEACH', 'county']='LOS ANGELES'

In [15]:
# Change case to title case
vac_data.county=vac_data['county'].str.title()
vac_data.city=vac_data['city'].str.title()

In [16]:
# RECODE NEIGHBORHOODS TO CITIES to match Census
vac_data.loc[vac_data.city=='Alta Loma', 'city']='Rancho Cucamonga'
vac_data.loc[vac_data.city=='Alviso', 'city']='San Jose'
vac_data.loc[vac_data.city=='Anaheim Hills', 'city']='Anaheim'
vac_data.loc[vac_data.city=='Angels Camp', 'city']='Angels'
vac_data.loc[vac_data.city=='Arleta', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Canoga Park', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Canyon Country', 'city']='Santa Clarita'
vac_data.loc[vac_data.city=='Capistrano Beach', 'city']='Dana Point'
vac_data.loc[vac_data.city=='Cardiff By The Sea', 'city']='Encinitas'
vac_data.loc[vac_data.city=='Carmel Valley', 'city']='Carmel Valley Village'
vac_data.loc[vac_data.city=='Chatsworth', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Corona Del Mar', 'city']='Newport Beach'
vac_data.loc[vac_data.city=='Edwards', 'city']='Edwards AFB'
vac_data.loc[vac_data.city=='Emerald Hills', 'city']='San Diego'
vac_data.loc[vac_data.city=='Encino', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Etiwanda', 'city']='Rancho Cucamonga'
vac_data.loc[vac_data.city=='Foothill Ranch', 'city']='Lake Forest'
vac_data.loc[vac_data.city=='Granada Hills', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Harbor City', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Highland Park', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Hollywood', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Idyllwild', 'city']='Idyllwild-Pine Cove'
vac_data.loc[vac_data.city=='La Jolla', 'city']='San Diego'
vac_data.loc[vac_data.city=='Lake Balboa', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Lake View Terrace', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Leucadia', 'city']='Encinitas'
vac_data.loc[vac_data.city=='Mar Vista', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Mcclellan', 'city']='North Highlands'
vac_data.loc[vac_data.city=='Mira Loma', 'city']='Jurupa Valley'
vac_data.loc[vac_data.city=='Murrietta', 'city']='Murrieta'
vac_data.loc[vac_data.city=='Newbury Park', 'city']='Thousand Oaks'
vac_data.loc[vac_data.city=='Newhall', 'city']='Santa Clarita'
vac_data.loc[vac_data.city=='North Hills', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='North Hollywood', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Northridge', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Olympic Valley', 'city']='Squaw Valley'
vac_data.loc[vac_data.city=='Pacific Palisades', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Pacoima', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Palos Verdes', 'city']='Palos Verdes Estates'
vac_data.loc[vac_data.city=='Palos Verdes Peninsula', 'city']='Palos Verdes Estates'
vac_data.loc[vac_data.city=='Panorama City', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Playa Del Rey', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Playa Vista', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Porter Ranch', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Quail Valley', 'city']='Menifee'
vac_data.loc[vac_data.city=='Reseda', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='San Pedro', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='San Ysidro', 'city']='San Diego'
vac_data.loc[vac_data.city=='Santa Catalina', 'city']='Avalon'
vac_data.loc[vac_data.city=='Saugus', 'city']='Santa Clarita'
vac_data.loc[vac_data.city=='Sepulveda', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Sherman Oaks', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Studio City', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Sun City', 'city']='Menifee'
vac_data.loc[vac_data.city=='Sun Valley', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Sunland', 'city']='Sunland-Tujunga'
vac_data.loc[vac_data.city=='Sunset Beach', 'city']='Huntington Beach'
vac_data.loc[vac_data.city=='Sylmar', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Royal Oaks', 'city']='Interlaken'
vac_data.loc[vac_data.city=='Tahoe City', 'city']='Sunnyside-Tahoe City'
vac_data.loc[vac_data.city=='Tarzana', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Tujunga', 'city']='Sunland-Tujunga'
vac_data.loc[vac_data.city=='Tuolumne', 'city']='Tuolumne City'
vac_data.loc[vac_data.city=='Twenty Nine Palms', 'city']='Twentynine Palms'
vac_data.loc[vac_data.city=='Valencia', 'city']='Santa Clarita'
vac_data.loc[vac_data.city=='Valley Glen', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Valley Village', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Van Nuys', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Venice', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Ventura', 'city']="San Buenaventura (Ventura)"
vac_data.loc[vac_data.city=='Walnut Creet', 'city']='Walnut Creek'
vac_data.loc[vac_data.city=='Walnut Valley', 'city']='Walnut'
vac_data.loc[vac_data.city=='West Hills', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Westchester', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Westminister', 'city']='Westminster'
vac_data.loc[vac_data.city=='Wilmington', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Winnetka', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Woodland Hills', 'city']='Los Angeles'

vac_data.loc[vac_data.city=='Angels City', 'city']='Angels'
vac_data.loc[vac_data.city=='Cardiff-By-The-Sea', 'city']='Encinitas'
vac_data.loc[vac_data.city=='Davis,', 'city']='Davis'
vac_data.loc[vac_data.city=='La Cañada', 'city']='La Canada Flintridge'
vac_data.loc[vac_data.city=='La Canada', 'city']='La Canada Flintridge'
vac_data.loc[vac_data.city=='Los Nietos', 'city']='West Whittier-Los Nietos'
vac_data.loc[vac_data.city=='Montclair,', 'city']='Montclair'
vac_data.loc[vac_data.city=='Newport Coast', 'city']='Newport Coast'
vac_data.loc[vac_data.city=='South San Francisoc', 'city']='South San Francisco'
vac_data.loc[vac_data.city=='Sunland-Tujunga', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Arcata Ca', 'city']='Arcata'
vac_data.loc[vac_data.city=='Berkeley Ave', 'city']='Berkeley'
vac_data.loc[vac_data.city=='Camp Pendelton', 'city']='Camp Pendleton North'
vac_data.loc[vac_data.city=='Carmicheal', 'city']='Carmichael'
vac_data.loc[vac_data.city=='Laguan Niguel', 'city']='Laguna Niguel'
vac_data.loc[vac_data.city=='Laguna Niguel Ste 3409', 'city']='Laguna Niguel'
vac_data.loc[vac_data.city=='Lapuente', 'city']='La Puente'
vac_data.loc[vac_data.city=='Las Flores', 'city']='Las Flores'
vac_data.loc[vac_data.city=='Mt. View', 'city']='Mountain View'
vac_data.loc[vac_data.city=='Mision Viejo', 'city']='Mission Viejo'
vac_data.loc[vac_data.city=='S Lake Tahoe', 'city']='South Lake Tahoe'
vac_data.loc[vac_data.city=='Saint Helena', 'city']='St. Helena'
vac_data.loc[vac_data.city=='Santa Clara Ca', 'city']='Santa Clara'
vac_data.loc[vac_data.city=='St Helena', 'city']='St. Helena'
vac_data.loc[vac_data.city=='St Helena', 'city']='St. Helena'
vac_data.loc[vac_data.city=='Stantan', 'city']='Stanton'
vac_data.loc[vac_data.city=='Stinson', 'city']='Stinson Beach'

vac_data.loc[vac_data.city=='Vandenberg Afb', 'city']='Vandenberg AFB'
vac_data.loc[vac_data.city=='Travis Afb', 'city']='Travis AFB'
vac_data.loc[vac_data.city=='Beale Afb', 'city']='Beale AFB'

vac_data.loc[vac_data.city=='"Avalon, Catalina Isl"', 'city']='Avalon'
vac_data.loc[vac_data.city=='"Beale Afb, Ca"', 'city']='Beale AFB'
vac_data.loc[vac_data.city=='"Menifee, Ca"', 'city']='Menifee'
vac_data.loc[vac_data.city=='"Palm Springs, Ca"', 'city']='Palm Springs'
vac_data.loc[vac_data.city=='Aliso Viejo, Ca.', 'city']='Aliso Viejo'
vac_data.loc[vac_data.city=='Avalon, Catalina Isl', 'city']='Avalon'
vac_data.loc[vac_data.city=='Beale Afb, Ca', 'city']='Beale AFB'
vac_data.loc[vac_data.city=='Camarilla', 'city']='Camarillo'
vac_data.loc[vac_data.city=='Camp Pendleton', 'city']='Camp Pendleton North'
vac_data.loc[vac_data.city=='Capinteria', 'city']='Carpinteria'
vac_data.loc[vac_data.city=='Carpenteria', 'city']='Carpinteria'
vac_data.loc[vac_data.city=='Castic', 'city']='Castaic'
vac_data.loc[vac_data.city=='Clear Lake', 'city']='Clearlake'
vac_data.loc[vac_data.city=='Coto De Caza', 'city']='Coto de Caza'
vac_data.loc[vac_data.city=='E. Palo Alto', 'city']='East Palo Alto'
vac_data.loc[vac_data.city=='El Sobrante', 'city']='El Sobrante (Contra Costa County)'
vac_data.loc[vac_data.city=='Fairfield Ca', 'city']='Fairfield'
vac_data.loc[vac_data.city=='Firebaugh Ca', 'city']='Firebaugh'
vac_data.loc[vac_data.city=='Fort Dick', 'city']='Fort Dick'
vac_data.loc[vac_data.city=='Ft Irwin', 'city']='Fort Irwin'
vac_data.loc[vac_data.city=='Grover City', 'city']='Grover Beach'
vac_data.loc[vac_data.city=='Hoopa', 'city']='Hoopa'
vac_data.loc[vac_data.city=='Hunington Beach', 'city']='Huntington Beach'
vac_data.loc[vac_data.city=='Huntington Beach', 'city']='Huntington Beach'
vac_data.loc[vac_data.city=="King'S Beach", 'city']='Kings Beach'
vac_data.loc[vac_data.city=='Ladrea Ranch', 'city']='Ladera Ranch'
vac_data.loc[vac_data.city=='Lancaster, Ca', 'city']='Lancaster'
vac_data.loc[vac_data.city=='Las Flores', 'city']='Las Flores'
vac_data.loc[vac_data.city=='Lemore Nas', 'city']='Lemoore'
vac_data.loc[vac_data.city=='Long Beach', 'city']='Long Beach'
vac_data.loc[vac_data.city=='Los Alto Hills', 'city']='Los Altos Hills'
vac_data.loc[vac_data.city=='Los Angeles, Ca', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Los Flores', 'city']='Las Flores (Orange County)'
vac_data.loc[vac_data.city=='Marina Del Rey', 'city']='Marina del Rey'
vac_data.loc[vac_data.city=='Mcarthur', 'city']='McArthur'
vac_data.loc[vac_data.city=='Mccloud', 'city']='McCloud'
vac_data.loc[vac_data.city=='Mcfarland', 'city']='McFarland'
vac_data.loc[vac_data.city=='Mckinleyville', 'city']='McKinleyville'
vac_data.loc[vac_data.city=='Mckittrick', 'city']='McKittrick'
vac_data.loc[vac_data.city=='Menifee, Ca', 'city']='Menifee'
vac_data.loc[vac_data.city=='Mountain Veiw', 'city']='Mountain View'
vac_data.loc[vac_data.city=='Mountian View', 'city']='Mountain View'
vac_data.loc[vac_data.city=='Mt Shasta', 'city']='Mount Shasta'
vac_data.loc[vac_data.city=='Newport Coast', 'city']='Newport Coast'
vac_data.loc[vac_data.city=='No. Hollywood', 'city']='North Hollywood'
vac_data.loc[vac_data.city=='Northrige', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Onatrio', 'city']='Ontario'
vac_data.loc[vac_data.city=='Pala', 'city']='Pala'
vac_data.loc[vac_data.city=='Palm Springs, Ca', 'city']='Palm Springs'
vac_data.loc[vac_data.city=='Palmdale,', 'city']='Palmdale'
vac_data.loc[vac_data.city=='Palos Verdes Peninsu', 'city']='Palos Verdes Estates'
vac_data.loc[vac_data.city=='Poplar', 'city']='Poplar-Cotton Center'
vac_data.loc[vac_data.city=='Presidio Of Sf', 'city']='San Francisco'
vac_data.loc[vac_data.city=='Rancho Bernardo', 'city']='San Diego'
vac_data.loc[vac_data.city=='Rolling Hills Est.', 'city']='Rolling Hills Estates'
vac_data.loc[vac_data.city=='Sacramento, Ca', 'city']='Sacramento'
vac_data.loc[vac_data.city=='San Bernadino', 'city']='San Bernadino'
vac_data.loc[vac_data.city=='San Miguel', 'city']='San Miguel'
vac_data.loc[vac_data.city=='Santa Barbra', 'city']='Santa Barbara'
vac_data.loc[vac_data.city=='Simi Valley', 'city']='Simi Valley'
vac_data.loc[vac_data.city=='So. Lake Tahoe', 'city']='South Lake Tahoe'
vac_data.loc[vac_data.city=='So. San Francisco', 'city']='South San Francisco'
vac_data.loc[vac_data.city=='Spring Valley', 'city']='Spring Valley'
vac_data.loc[vac_data.city=='Stevenson', 'city']='Stevenson Ranch'
vac_data.loc[vac_data.city=='Thousand Oak', 'city']='Thousand Oaks'
vac_data.loc[vac_data.city=='Tranquility', 'city']='Tranquillity'
vac_data.loc[vac_data.city=='Travis AFB', 'city']='Fairfield'
vac_data.loc[vac_data.city=='W. Hollywood', 'city']='West Hollywood'
vac_data.loc[vac_data.city=='West Los Angeles', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Westlake', 'city']='Westlake Village'
vac_data.loc[vac_data.city=='Westminter', 'city']='Westminster'
vac_data.loc[vac_data.city=='Yermo', 'city']='Yermo'

vac_data.loc[vac_data.city=='El Sobrante', 'city']='El Sobrante (Contra Costa County)'
vac_data.loc[vac_data.city=='Las Flores', 'city']='Las Flores (Orange County)'
vac_data.loc[vac_data.city=='Los Nietos', 'city']='West Whittier-Los Nietos'
vac_data.loc[vac_data.city=='West Whittier', 'city']='West Whittier-Los Nietos'
vac_data.loc[vac_data.city=='Paso Robles', 'city']='El Paso de Robles (Paso Robles)'
vac_data.loc[vac_data.city=='El Paso de Robles', 'city']='El Paso de Robles (Paso Robles)'
vac_data.loc[vac_data.city=='Piñon Hills', 'city']='Pinon Hills'
vac_data.loc[vac_data.city=='San Miguel', 'city']='San Miguel (San Luis Obispo County)'
vac_data.loc[vac_data.city=='Spring Valley', 'city']='Spring Valley (San Diego County)'

# Fix more typos
vac_data.loc[vac_data.city=='Ananheim', 'city']='Anaheim'
vac_data.loc[vac_data.city=='Costa Mesa,', 'city']='Costa Mesa'
vac_data.loc[vac_data.city=='Paso Robles', 'city']='El Paso De Robles (Paso Robles)'
vac_data.loc[vac_data.city=='El Paso de Robles', 'city']='El Paso De Robles (Paso Robles)'
vac_data.loc[vac_data.city=='Chasworth', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Huntington  Beach', 'city']='Huntington Beach'
vac_data.loc[vac_data.city=='Long  Beach', 'city']='Long Beach'
vac_data.loc[vac_data.city=='Mt Baldy', 'city']='Mount Baldy'
vac_data.loc[vac_data.city=='Mt. Baldy', 'city']='Mount Baldy'
vac_data.loc[vac_data.city=='North Hollywood', 'city']='Los Angeles'
vac_data.loc[vac_data.city=='Oneals', 'city']="O'Neals"
vac_data.loc[vac_data.city=='Canyon County', 'city']='Santa Clarita'
vac_data.loc[vac_data.city=='Coaresgold', 'city']='Coarsegold'
vac_data.loc[vac_data.city=='El Toro', 'city']='Lake Forest'
vac_data.loc[vac_data.city=='Herber', 'city']='Hbeber'
vac_data.loc[vac_data.city=='Hespera', 'city']='Hesperia'
vac_data.loc[vac_data.city=='Los Oso', 'city']='Los Osos'
vac_data.loc[vac_data.city=='Newport Coast', 'city']='Newport Beach'
vac_data.loc[vac_data.city=='Pinedale', 'city']='Fresno'
vac_data.loc[vac_data.city=='Rancho Tehema', 'city']='Rancho Tehama Reserve'
vac_data.loc[vac_data.city=='Redding ', 'city']='Redding'
vac_data.loc[vac_data.city=='Riversidty', 'city']='Riverside'
vac_data.loc[vac_data.city=='San Bernadino', 'city']='San Bernardino'
vac_data.loc[vac_data.city=='Simi  Valley', 'city']='Simi Valley'
vac_data.loc[vac_data.city=='Hilmar', 'city']='Hilmar-Irwin'

In [17]:
vac_data.head()

,facility_num,county,is_public,city,facility_name,enrollment,n,pct,reported,vac_info_type,year,school_year
0,NaN,Alameda,HEAD START,Alameda,ALAMEDA HEAD START - SUE MATHESON CENTER,45,43,95.555556,Y,ChildCareData,2012,2011-2012
1,NaN,Alameda,HEAD START,Alameda,ALAMEDA HEAD START - WASHINGTON,28,28,100.000000,Y,ChildCareData,2012,2011-2012
2,NaN,Alameda,HEAD START,Alameda,ALAMEDA HEAD START- COLLEGE OF ALAMEDA HEAD START,27,24,88.888889,Y,ChildCareData,2012,2011-2012
3,NaN,Alameda,HEAD START,Emeryville,BERKELEY YMCA HDSTART/ST PRESCH EMERYVILLE MARINA,46,45,97.826087,Y,ChildCareData,2012,2011-2012
4,NaN,Alameda,HEAD START,Berkeley,BERKELEY YMCA HEAD START - OCEAN VIEW,42,40,95.238095,Y,ChildCareData,2012,2011-2012

In [18]:
# vac_data.to_csv("vac_11_18_combined.csv", index=False)

# Census City and County Level

## Demographic

In [19]:
## City level
# Import and clean census data for basic demographics age gender race is DP05 file
demo12 = pd.read_csv(CENSUS_PATH + "ACS_12_5YR_DP05.csv",
                     encoding = "ISO-8859-1",
                       header=[0],na_values=['-'])

demo13 = pd.read_csv(CENSUS_PATH + "ACS_13_5YR_DP05.csv",
                     encoding = "ISO-8859-1",
                       header=[0],na_values=['-'])

demo14 = pd.read_csv(CENSUS_PATH + "ACS_14_5YR_DP05.csv",
                     encoding = "ISO-8859-1",
                       header=[0],na_values=['-'])

demo15 = pd.read_csv(CENSUS_PATH + "ACS_15_5YR_DP05.csv",
                     encoding = "ISO-8859-1",
                       header=[0],na_values=['-'])

demo16 = pd.read_csv(CENSUS_PATH + "ACS_16_demographic.csv",
                     encoding = "ISO-8859-1",
                       header=[0],na_values=['-'])

In [20]:
## County level
# Import and clean census data for basic demographics age gender race is DP05 file
cdemo12 = pd.read_csv(CENSUS_PATH + "County/ACS_12_5YR_DP05.csv",
                     encoding = "ISO-8859-1",
                       header=[0],na_values=['-'])
cdemo13 = pd.read_csv(CENSUS_PATH + "County/ACS_13_5YR_DP05.csv",
                     encoding = "ISO-8859-1",
                       header=[0],na_values=['-'])
cdemo14 = pd.read_csv(CENSUS_PATH + "County/ACS_14_5YR_DP05.csv",
                     encoding = "ISO-8859-1",
                       header=[0],na_values=['-'])
cdemo15 = pd.read_csv(CENSUS_PATH + "County/ACS_15_5YR_DP05.csv",
                     encoding = "ISO-8859-1",
                       header=[0],na_values=['-'])
cdemo16 = pd.read_csv(CENSUS_PATH + "County/ACS_16_5YR_DP05.csv",
                     encoding = "ISO-8859-1",
                       header=[0],na_values=['-'])

#### Subset Demographic census for both city and county to relevant categories
- Note 2012 has different header names than 2013-2016

In [21]:
## City
demo12 = demo12[['GEO.id','GEO.display-label',
                         'HC01_VC03',
                         'HC01_VC04', 'HC03_VC04',
                         'HC01_VC05', 'HC03_VC05',
                         'HC01_VC07', 'HC03_VC07',
                         'HC01_VC08', 'HC03_VC08',
                         'HC01_VC09', 'HC03_VC09',
                         'HC01_VC10', 'HC03_VC10',
                         'HC01_VC11', 'HC03_VC11',
                         'HC01_VC12', 'HC03_VC12',
                         'HC01_VC13', 'HC03_VC13',
                         'HC01_VC14', 'HC03_VC14',
                         'HC01_VC15', 'HC03_VC15',
                         'HC01_VC16', 'HC03_VC16',
                         'HC01_VC17', 'HC03_VC17',
                         'HC01_VC18', 'HC03_VC18',
                         'HC01_VC19', 'HC03_VC19',
                         'HC01_VC21', 
                         'HC01_VC82', 'HC03_VC82',
                         
                         'HC01_VC88', 'HC03_VC88',
                         'HC01_VC89', 'HC03_VC89',
                         'HC01_VC90', 'HC03_VC90',
                         'HC01_VC91', 'HC03_VC91',
                         'HC01_VC92', 'HC03_VC92',

                         'HC01_VC93', 'HC03_VC93',
                         'HC01_VC94', 'HC03_VC94',
                         'HC01_VC95', 'HC03_VC95',
                         'HC01_VC96', 'HC03_VC96']]
demo13 = demo13[['GEO.id','GEO.display-label',
                     'HC01_VC03',
                     'HC01_VC04','HC03_VC04',
                     'HC01_VC05','HC03_VC05',
                     'HC01_VC08','HC03_VC08',
                     'HC01_VC09','HC03_VC09',
                     'HC01_VC10','HC03_VC10',
                     'HC01_VC11','HC03_VC11',
                     'HC01_VC12','HC03_VC12',
                     'HC01_VC13','HC03_VC13',
                     'HC01_VC14','HC03_VC14',
                     'HC01_VC15','HC03_VC15',
                     'HC01_VC16','HC03_VC16',
                     'HC01_VC17','HC03_VC17',
                     'HC01_VC18','HC03_VC18',
                     'HC01_VC19','HC03_VC19',
                     'HC01_VC20','HC03_VC20',
                     'HC01_VC23',
                     'HC01_VC88','HC03_VC88',
                     'HC01_VC94','HC03_VC94',
                     'HC01_VC95','HC03_VC95',
                     'HC01_VC96','HC03_VC96',
                     'HC01_VC97','HC03_VC97',
                     'HC01_VC98','HC03_VC98',
                     'HC01_VC99','HC03_VC99',
                     'HC01_VC100','HC03_VC100',
                     'HC01_VC101','HC03_VC101',
                     'HC01_VC102','HC03_VC102'                 
        ]]
demo14 = demo14[['GEO.id','GEO.display-label',
                     'HC01_VC03',
                     'HC01_VC04','HC03_VC04',
                     'HC01_VC05','HC03_VC05',
                     'HC01_VC08','HC03_VC08',
                     'HC01_VC09','HC03_VC09',
                     'HC01_VC10','HC03_VC10',
                     'HC01_VC11','HC03_VC11',
                     'HC01_VC12','HC03_VC12',
                     'HC01_VC13','HC03_VC13',
                     'HC01_VC14','HC03_VC14',
                     'HC01_VC15','HC03_VC15',
                     'HC01_VC16','HC03_VC16',
                     'HC01_VC17','HC03_VC17',
                     'HC01_VC18','HC03_VC18',
                     'HC01_VC19','HC03_VC19',
                     'HC01_VC20','HC03_VC20',
                     'HC01_VC23',
                     'HC01_VC88','HC03_VC88',
                     'HC01_VC94','HC03_VC94',
                     'HC01_VC95','HC03_VC95',
                     'HC01_VC96','HC03_VC96',
                     'HC01_VC97','HC03_VC97',
                     'HC01_VC98','HC03_VC98',
                     'HC01_VC99','HC03_VC99',
                     'HC01_VC100','HC03_VC100',
                     'HC01_VC101','HC03_VC101',
                     'HC01_VC102','HC03_VC102'                 
        ]]
demo15 = demo15[['GEO.id','GEO.display-label',
                     'HC01_VC03',
                     'HC01_VC04','HC03_VC04',
                     'HC01_VC05','HC03_VC05',
                     'HC01_VC08','HC03_VC08',
                     'HC01_VC09','HC03_VC09',
                     'HC01_VC10','HC03_VC10',
                     'HC01_VC11','HC03_VC11',
                     'HC01_VC12','HC03_VC12',
                     'HC01_VC13','HC03_VC13',
                     'HC01_VC14','HC03_VC14',
                     'HC01_VC15','HC03_VC15',
                     'HC01_VC16','HC03_VC16',
                     'HC01_VC17','HC03_VC17',
                     'HC01_VC18','HC03_VC18',
                     'HC01_VC19','HC03_VC19',
                     'HC01_VC20','HC03_VC20',
                     'HC01_VC23',
                     'HC01_VC88','HC03_VC88',
                     'HC01_VC94','HC03_VC94',
                     'HC01_VC95','HC03_VC95',
                     'HC01_VC96','HC03_VC96',
                     'HC01_VC97','HC03_VC97',
                     'HC01_VC98','HC03_VC98',
                     'HC01_VC99','HC03_VC99',
                     'HC01_VC100','HC03_VC100',
                     'HC01_VC101','HC03_VC101',
                     'HC01_VC102','HC03_VC102'                 
        ]]
demo16 = demo16[['GEO.id','GEO.display-label',
                     'HC01_VC03',
                     'HC01_VC04','HC03_VC04',
                     'HC01_VC05','HC03_VC05',
                     'HC01_VC08','HC03_VC08',
                     'HC01_VC09','HC03_VC09',
                     'HC01_VC10','HC03_VC10',
                     'HC01_VC11','HC03_VC11',
                     'HC01_VC12','HC03_VC12',
                     'HC01_VC13','HC03_VC13',
                     'HC01_VC14','HC03_VC14',
                     'HC01_VC15','HC03_VC15',
                     'HC01_VC16','HC03_VC16',
                     'HC01_VC17','HC03_VC17',
                     'HC01_VC18','HC03_VC18',
                     'HC01_VC19','HC03_VC19',
                     'HC01_VC20','HC03_VC20',
                     'HC01_VC23',
                     'HC01_VC88','HC03_VC88',
                     'HC01_VC94','HC03_VC94',
                     'HC01_VC95','HC03_VC95',
                     'HC01_VC96','HC03_VC96',
                     'HC01_VC97','HC03_VC97',
                     'HC01_VC98','HC03_VC98',
                     'HC01_VC99','HC03_VC99',
                     'HC01_VC100','HC03_VC100',
                     'HC01_VC101','HC03_VC101',
                     'HC01_VC102','HC03_VC102'                 
        ]]

## County
cdemo12 = cdemo12[['GEO.id','GEO.display-label',
                         'HC01_VC03',
                         'HC01_VC04', 'HC03_VC04',
                         'HC01_VC05', 'HC03_VC05',
                         'HC01_VC07', 'HC03_VC07',
                         'HC01_VC08', 'HC03_VC08',
                         'HC01_VC09', 'HC03_VC09',
                         'HC01_VC10', 'HC03_VC10',
                         'HC01_VC11', 'HC03_VC11',
                         'HC01_VC12', 'HC03_VC12',
                         'HC01_VC13', 'HC03_VC13',
                         'HC01_VC14', 'HC03_VC14',
                         'HC01_VC15', 'HC03_VC15',
                         'HC01_VC16', 'HC03_VC16',
                         'HC01_VC17', 'HC03_VC17',
                         'HC01_VC18', 'HC03_VC18',
                         'HC01_VC19', 'HC03_VC19',
                         'HC01_VC21', 
                         'HC01_VC82', 'HC03_VC82',
                       
                         'HC01_VC88', 'HC03_VC88',
                         'HC01_VC89', 'HC03_VC89',
                         'HC01_VC90', 'HC03_VC90',
                         'HC01_VC91', 'HC03_VC91',
                         'HC01_VC92', 'HC03_VC92',

                         'HC01_VC93', 'HC03_VC93',
                         'HC01_VC94', 'HC03_VC94',
                         'HC01_VC95', 'HC03_VC95',
                         'HC01_VC96', 'HC03_VC96']]
cdemo13 = cdemo13[['GEO.id','GEO.display-label',
                     'HC01_VC03',
                     'HC01_VC04','HC03_VC04',
                     'HC01_VC05','HC03_VC05',
                     'HC01_VC08','HC03_VC08',
                     'HC01_VC09','HC03_VC09',
                     'HC01_VC10','HC03_VC10',
                     'HC01_VC11','HC03_VC11',
                     'HC01_VC12','HC03_VC12',
                     'HC01_VC13','HC03_VC13',
                     'HC01_VC14','HC03_VC14',
                     'HC01_VC15','HC03_VC15',
                     'HC01_VC16','HC03_VC16',
                     'HC01_VC17','HC03_VC17',
                     'HC01_VC18','HC03_VC18',
                     'HC01_VC19','HC03_VC19',
                     'HC01_VC20','HC03_VC20',
                     'HC01_VC23',
                     'HC01_VC88','HC03_VC88',
                     'HC01_VC94','HC03_VC94',
                     'HC01_VC95','HC03_VC95',
                     'HC01_VC96','HC03_VC96',
                     'HC01_VC97','HC03_VC97',
                     'HC01_VC98','HC03_VC98',
                     'HC01_VC99','HC03_VC99',
                     'HC01_VC100','HC03_VC100',
                     'HC01_VC101','HC03_VC101',
                     'HC01_VC102','HC03_VC102'                 
        ]]
cdemo14 = cdemo14[['GEO.id','GEO.display-label',
                     'HC01_VC03',
                     'HC01_VC04','HC03_VC04',
                     'HC01_VC05','HC03_VC05',
                     'HC01_VC08','HC03_VC08',
                     'HC01_VC09','HC03_VC09',
                     'HC01_VC10','HC03_VC10',
                     'HC01_VC11','HC03_VC11',
                     'HC01_VC12','HC03_VC12',
                     'HC01_VC13','HC03_VC13',
                     'HC01_VC14','HC03_VC14',
                     'HC01_VC15','HC03_VC15',
                     'HC01_VC16','HC03_VC16',
                     'HC01_VC17','HC03_VC17',
                     'HC01_VC18','HC03_VC18',
                     'HC01_VC19','HC03_VC19',
                     'HC01_VC20','HC03_VC20',
                     'HC01_VC23',
                     'HC01_VC88','HC03_VC88',
                     'HC01_VC94','HC03_VC94',
                     'HC01_VC95','HC03_VC95',
                     'HC01_VC96','HC03_VC96',
                     'HC01_VC97','HC03_VC97',
                     'HC01_VC98','HC03_VC98',
                     'HC01_VC99','HC03_VC99',
                     'HC01_VC100','HC03_VC100',
                     'HC01_VC101','HC03_VC101',
                     'HC01_VC102','HC03_VC102'                 
        ]]
cdemo15 = cdemo15[['GEO.id','GEO.display-label',
                     'HC01_VC03',
                     'HC01_VC04','HC03_VC04',
                     'HC01_VC05','HC03_VC05',
                     'HC01_VC08','HC03_VC08',
                     'HC01_VC09','HC03_VC09',
                     'HC01_VC10','HC03_VC10',
                     'HC01_VC11','HC03_VC11',
                     'HC01_VC12','HC03_VC12',
                     'HC01_VC13','HC03_VC13',
                     'HC01_VC14','HC03_VC14',
                     'HC01_VC15','HC03_VC15',
                     'HC01_VC16','HC03_VC16',
                     'HC01_VC17','HC03_VC17',
                     'HC01_VC18','HC03_VC18',
                     'HC01_VC19','HC03_VC19',
                     'HC01_VC20','HC03_VC20',
                     'HC01_VC23',
                     'HC01_VC88','HC03_VC88',
                     'HC01_VC94','HC03_VC94',
                     'HC01_VC95','HC03_VC95',
                     'HC01_VC96','HC03_VC96',
                     'HC01_VC97','HC03_VC97',
                     'HC01_VC98','HC03_VC98',
                     'HC01_VC99','HC03_VC99',
                     'HC01_VC100','HC03_VC100',
                     'HC01_VC101','HC03_VC101',
                     'HC01_VC102','HC03_VC102'                 
        ]]
cdemo16 = cdemo16[['GEO.id','GEO.display-label',
                     'HC01_VC03',
                     'HC01_VC04','HC03_VC04',
                     'HC01_VC05','HC03_VC05',
                     'HC01_VC08','HC03_VC08',
                     'HC01_VC09','HC03_VC09',
                     'HC01_VC10','HC03_VC10',
                     'HC01_VC11','HC03_VC11',
                     'HC01_VC12','HC03_VC12',
                     'HC01_VC13','HC03_VC13',
                     'HC01_VC14','HC03_VC14',
                     'HC01_VC15','HC03_VC15',
                     'HC01_VC16','HC03_VC16',
                     'HC01_VC17','HC03_VC17',
                     'HC01_VC18','HC03_VC18',
                     'HC01_VC19','HC03_VC19',
                     'HC01_VC20','HC03_VC20',
                     'HC01_VC23',
                     'HC01_VC88','HC03_VC88',
                     'HC01_VC94','HC03_VC94',
                     'HC01_VC95','HC03_VC95',
                     'HC01_VC96','HC03_VC96',
                     'HC01_VC97','HC03_VC97',
                     'HC01_VC98','HC03_VC98',
                     'HC01_VC99','HC03_VC99',
                     'HC01_VC100','HC03_VC100',
                     'HC01_VC101','HC03_VC101',
                     'HC01_VC102','HC03_VC102'                 
        ]]

In [22]:
#combine other race, two or more races (HC01_VC99, HC01_VC100, HC01_VC101, HC01_VC102)
## City
demo12['other']=pd.Series(demo12['HC01_VC93']+demo12['HC01_VC94']+demo12['HC01_VC95']+demo12['HC01_VC96'])
demo13['other']=pd.Series(demo13['HC01_VC99']+demo13['HC01_VC100']+demo13['HC01_VC101']+demo13['HC01_VC102'])
demo14['other']=pd.Series(demo14['HC01_VC99']+demo14['HC01_VC100']+demo14['HC01_VC101']+demo14['HC01_VC102'])
demo15['other']=pd.Series(demo15['HC01_VC99']+demo15['HC01_VC100']+demo15['HC01_VC101']+demo15['HC01_VC102'])
demo16['other']=pd.Series(demo16['HC01_VC99']+demo16['HC01_VC100']+demo16['HC01_VC101']+demo16['HC01_VC102'])

demo12['other_pct']=pd.Series(demo12['HC03_VC93']+demo12['HC03_VC94']+demo12['HC03_VC95']+demo12['HC03_VC96'])
demo13['other_pct']=pd.Series(demo13['HC03_VC99']+demo13['HC03_VC100']+demo13['HC03_VC101']+demo13['HC03_VC102'])
demo14['other_pct']=pd.Series(demo14['HC03_VC99']+demo14['HC03_VC100']+demo14['HC03_VC101']+demo14['HC03_VC102'])
demo15['other_pct']=pd.Series(demo15['HC03_VC99']+demo15['HC03_VC100']+demo15['HC03_VC101']+demo15['HC03_VC102'])
demo16['other_pct']=pd.Series(demo16['HC03_VC99']+demo16['HC03_VC100']+demo16['HC03_VC101']+demo16['HC03_VC102'])

## County
cdemo12['other']=pd.Series(cdemo12['HC01_VC93']+cdemo12['HC01_VC94']+cdemo12['HC01_VC95']+cdemo12['HC01_VC96'])
cdemo13['other']=pd.Series(cdemo13['HC01_VC99']+cdemo13['HC01_VC100']+cdemo13['HC01_VC101']+cdemo13['HC01_VC102'])
cdemo14['other']=pd.Series(cdemo14['HC01_VC99']+cdemo14['HC01_VC100']+cdemo14['HC01_VC101']+cdemo14['HC01_VC102'])
cdemo15['other']=pd.Series(cdemo15['HC01_VC99']+cdemo15['HC01_VC100']+cdemo15['HC01_VC101']+cdemo15['HC01_VC102'])
cdemo16['other']=pd.Series(cdemo16['HC01_VC99']+cdemo16['HC01_VC100']+cdemo16['HC01_VC101']+cdemo16['HC01_VC102'])

cdemo12['other_pct']=pd.Series(cdemo12['HC03_VC93']+cdemo12['HC03_VC94']+cdemo12['HC03_VC95']+cdemo12['HC03_VC96'])
cdemo13['other_pct']=pd.Series(cdemo13['HC03_VC99']+cdemo13['HC03_VC100']+cdemo13['HC03_VC101']+cdemo13['HC03_VC102'])
cdemo14['other_pct']=pd.Series(cdemo14['HC03_VC99']+cdemo14['HC03_VC100']+cdemo14['HC03_VC101']+cdemo14['HC03_VC102'])
cdemo15['other_pct']=pd.Series(cdemo15['HC03_VC99']+cdemo15['HC03_VC100']+cdemo15['HC03_VC101']+cdemo15['HC03_VC102'])
cdemo16['other_pct']=pd.Series(cdemo16['HC03_VC99']+cdemo16['HC03_VC100']+cdemo16['HC03_VC101']+cdemo16['HC03_VC102'])

In [23]:
## Drop out variables that make up the other race category
## City
demo12=demo12.drop(columns=['HC01_VC93','HC03_VC93','HC01_VC94','HC03_VC94','HC01_VC95','HC03_VC95','HC01_VC96','HC03_VC96'])
demo13=demo13.drop(columns=['HC01_VC99','HC03_VC99','HC01_VC100','HC03_VC100','HC01_VC101','HC03_VC101','HC01_VC102','HC03_VC102'])
demo14=demo14.drop(columns=['HC01_VC99','HC03_VC99','HC01_VC100','HC03_VC100','HC01_VC101','HC03_VC101','HC01_VC102','HC03_VC102'])
demo15=demo15.drop(columns=['HC01_VC99','HC03_VC99','HC01_VC100','HC03_VC100','HC01_VC101','HC03_VC101','HC01_VC102','HC03_VC102'])
demo16=demo16.drop(columns=['HC01_VC99','HC03_VC99','HC01_VC100','HC03_VC100','HC01_VC101','HC03_VC101','HC01_VC102','HC03_VC102'])

## County
cdemo12=cdemo12.drop(columns=['HC01_VC93','HC03_VC93','HC01_VC94','HC03_VC94','HC01_VC95','HC03_VC95','HC01_VC96','HC03_VC96'])
cdemo13=cdemo13.drop(columns=['HC01_VC99','HC03_VC99','HC01_VC100','HC03_VC100','HC01_VC101','HC03_VC101','HC01_VC102','HC03_VC102'])
cdemo14=cdemo14.drop(columns=['HC01_VC99','HC03_VC99','HC01_VC100','HC03_VC100','HC01_VC101','HC03_VC101','HC01_VC102','HC03_VC102'])
cdemo15=cdemo15.drop(columns=['HC01_VC99','HC03_VC99','HC01_VC100','HC03_VC100','HC01_VC101','HC03_VC101','HC01_VC102','HC03_VC102'])
cdemo16=cdemo16.drop(columns=['HC01_VC99','HC03_VC99','HC01_VC100','HC03_VC100','HC01_VC101','HC03_VC101','HC01_VC102','HC03_VC102'])

In [24]:
## City
demo12.rename(columns={'GEO.id': 'geoid',
                       'GEO.display-label': 'city',
                         'HC01_VC03': 'tot_pop', 
                         'HC01_VC04': 'male',
                         'HC01_VC05': 'female',
                         'HC01_VC07':'under_5',
                         'HC01_VC08':'5_9',
                         'HC01_VC09':'10_14',
                         'HC01_VC10':'15_19',
                         'HC01_VC11':'20_24',
                         'HC01_VC12':'25_34',
                         'HC01_VC13':'35_44',
                         'HC01_VC14':'45_54',
                         'HC01_VC15':'55_59',
                         'HC01_VC16':'60_64',
                         'HC01_VC17':'65_74',
                         'HC01_VC18':'75_84',
                         'HC01_VC19':'85_over',
                         'HC01_VC21':'median_age',
                         'HC01_VC82':'hispanic_latino',
                        
                         'HC01_VC88':'white',
                         'HC01_VC89':'black',
                         'HC01_VC90':'aian',
                         'HC01_VC91':'asian',
                         'HC01_VC92':'nhopi',

                         'HC03_VC04': 'male_pct',
                         'HC03_VC05': 'female_pct',
                         'HC03_VC07':'under_5_pct',
                         'HC03_VC08':'5_9_pct',
                         'HC03_VC09':'10_14_pct',
                         'HC03_VC10':'15_19_pct',
                         'HC03_VC11':'20_24_pct',
                         'HC03_VC12':'25_34_pct',
                         'HC03_VC13':'35_44_pct',
                         'HC03_VC14':'45_54_pct',
                         'HC03_VC15':'55_59_pct',
                         'HC03_VC16':'60_64_pct',
                         'HC03_VC17':'65_74_pct',
                         'HC03_VC18':'75_84_pct',
                         'HC03_VC19':'85_over_pct',
                         
                         'HC03_VC82':'hispanic_latino_pct',
                         
                         'HC03_VC88':'white_pct',
                         'HC03_VC89':'black_pct',
                         'HC03_VC90':'aian_pct',
                         'HC03_VC91':'asian_pct',
                         'HC03_VC92':'nhopi_pct'
                        }, 
                inplace=True)
demo13.rename(columns={'GEO.id': 'geoid',
                       'GEO.display-label': 'city',
                         'HC01_VC03': 'tot_pop', 
                         'HC01_VC04': 'male',
                         'HC01_VC05': 'female',
                         'HC01_VC08':'under_5',
                         'HC01_VC09':'5_9',
                         'HC01_VC10':'10_14',
                         'HC01_VC11':'15_19',
                         'HC01_VC12':'20_24',
                         'HC01_VC13':'25_34',
                         'HC01_VC14':'35_44',
                         'HC01_VC15':'45_54',
                         'HC01_VC16':'55_59',
                         'HC01_VC17':'60_64',
                         'HC01_VC18':'65_74',
                         'HC01_VC19':'75_84',
                         'HC01_VC20':'85_over',
                         'HC01_VC23':'median_age',
                         'HC01_VC88':'hispanic_latino',
                   
                         'HC01_VC94':'white',
                         'HC01_VC95':'black',
                         'HC01_VC96':'aian',
                         'HC01_VC97':'asian',
                         'HC01_VC98':'nhopi',

                         'HC03_VC04': 'male_pct',
                         'HC03_VC05': 'female_pct',
                         'HC03_VC08':'under_5_pct',
                         'HC03_VC09':'5_9_pct',
                         'HC03_VC10':'10_14_pct',
                         'HC03_VC11':'15_19_pct',
                         'HC03_VC12':'20_24_pct',
                         'HC03_VC13':'25_34_pct',
                         'HC03_VC14':'35_44_pct',
                         'HC03_VC15':'45_54_pct',
                         'HC03_VC16':'55_59_pct',
                         'HC03_VC17':'60_64_pct',
                         'HC03_VC18':'65_74_pct',
                         'HC03_VC19':'75_84_pct',
                         'HC03_VC20':'85_over_pct',

                         'HC03_VC88':'hispanic_latino_pct',
                      
                         'HC03_VC94':'white_pct',
                         'HC03_VC95':'black_pct',
                         'HC03_VC96':'aian_pct',
                         'HC03_VC97':'asian_pct',
                         'HC03_VC98':'nhopi_pct'
                        }, 
                inplace=True)
demo14.rename(columns={'GEO.id': 'geoid',
                       'GEO.display-label': 'city',
                         'HC01_VC03': 'tot_pop', 
                         'HC01_VC04': 'male',
                         'HC01_VC05': 'female',
                         'HC01_VC08':'under_5',
                         'HC01_VC09':'5_9',
                         'HC01_VC10':'10_14',
                         'HC01_VC11':'15_19',
                         'HC01_VC12':'20_24',
                         'HC01_VC13':'25_34',
                         'HC01_VC14':'35_44',
                         'HC01_VC15':'45_54',
                         'HC01_VC16':'55_59',
                         'HC01_VC17':'60_64',
                         'HC01_VC18':'65_74',
                         'HC01_VC19':'75_84',
                         'HC01_VC20':'85_over',
                         'HC01_VC23':'median_age',
                         'HC01_VC88':'hispanic_latino',
                    
                         'HC01_VC94':'white',
                         'HC01_VC95':'black',
                         'HC01_VC96':'aian',
                         'HC01_VC97':'asian',
                         'HC01_VC98':'nhopi',

                         'HC03_VC04': 'male_pct',
                         'HC03_VC05': 'female_pct',
                         'HC03_VC08':'under_5_pct',
                         'HC03_VC09':'5_9_pct',
                         'HC03_VC10':'10_14_pct',
                         'HC03_VC11':'15_19_pct',
                         'HC03_VC12':'20_24_pct',
                         'HC03_VC13':'25_34_pct',
                         'HC03_VC14':'35_44_pct',
                         'HC03_VC15':'45_54_pct',
                         'HC03_VC16':'55_59_pct',
                         'HC03_VC17':'60_64_pct',
                         'HC03_VC18':'65_74_pct',
                         'HC03_VC19':'75_84_pct',
                         'HC03_VC20':'85_over_pct',

                         'HC03_VC88':'hispanic_latino_pct',
                     
                         'HC03_VC94':'white_pct',
                         'HC03_VC95':'black_pct',
                         'HC03_VC96':'aian_pct',
                         'HC03_VC97':'asian_pct',
                         'HC03_VC98':'nhopi_pct'
                        }, 
                inplace=True)
demo15.rename(columns={'GEO.id': 'geoid',
                       'GEO.display-label': 'city',
                         'HC01_VC03': 'tot_pop', 
                         'HC01_VC04': 'male',
                         'HC01_VC05': 'female',
                         'HC01_VC08':'under_5',
                         'HC01_VC09':'5_9',
                         'HC01_VC10':'10_14',
                         'HC01_VC11':'15_19',
                         'HC01_VC12':'20_24',
                         'HC01_VC13':'25_34',
                         'HC01_VC14':'35_44',
                         'HC01_VC15':'45_54',
                         'HC01_VC16':'55_59',
                         'HC01_VC17':'60_64',
                         'HC01_VC18':'65_74',
                         'HC01_VC19':'75_84',
                         'HC01_VC20':'85_over',
                         'HC01_VC23':'median_age',
                         'HC01_VC88':'hispanic_latino',
                    
                         'HC01_VC94':'white',
                         'HC01_VC95':'black',
                         'HC01_VC96':'aian',
                         'HC01_VC97':'asian',
                         'HC01_VC98':'nhopi',

                         'HC03_VC04': 'male_pct',
                         'HC03_VC05': 'female_pct',
                         'HC03_VC08':'under_5_pct',
                         'HC03_VC09':'5_9_pct',
                         'HC03_VC10':'10_14_pct',
                         'HC03_VC11':'15_19_pct',
                         'HC03_VC12':'20_24_pct',
                         'HC03_VC13':'25_34_pct',
                         'HC03_VC14':'35_44_pct',
                         'HC03_VC15':'45_54_pct',
                         'HC03_VC16':'55_59_pct',
                         'HC03_VC17':'60_64_pct',
                         'HC03_VC18':'65_74_pct',
                         'HC03_VC19':'75_84_pct',
                         'HC03_VC20':'85_over_pct',

                         'HC03_VC88':'hispanic_latino_pct',
                      
                         'HC03_VC94':'white_pct',
                         'HC03_VC95':'black_pct',
                         'HC03_VC96':'aian_pct',
                         'HC03_VC97':'asian_pct',
                         'HC03_VC98':'nhopi_pct'
                        }, 
                inplace=True)
demo16.rename(columns={'GEO.id': 'geoid',
                       'GEO.display-label': 'city',
                         'HC01_VC03': 'tot_pop', 
                         'HC01_VC04': 'male',
                         'HC01_VC05': 'female',
                         'HC01_VC08':'under_5',
                         'HC01_VC09':'5_9',
                         'HC01_VC10':'10_14',
                         'HC01_VC11':'15_19',
                         'HC01_VC12':'20_24',
                         'HC01_VC13':'25_34',
                         'HC01_VC14':'35_44',
                         'HC01_VC15':'45_54',
                         'HC01_VC16':'55_59',
                         'HC01_VC17':'60_64',
                         'HC01_VC18':'65_74',
                         'HC01_VC19':'75_84',
                         'HC01_VC20':'85_over',
                         'HC01_VC23':'median_age',
                         'HC01_VC88':'hispanic_latino',
               
                         'HC01_VC94':'white',
                         'HC01_VC95':'black',
                         'HC01_VC96':'aian',
                         'HC01_VC97':'asian',
                         'HC01_VC98':'nhopi',

                         'HC03_VC04': 'male_pct',
                         'HC03_VC05': 'female_pct',
                         'HC03_VC08':'under_5_pct',
                         'HC03_VC09':'5_9_pct',
                         'HC03_VC10':'10_14_pct',
                         'HC03_VC11':'15_19_pct',
                         'HC03_VC12':'20_24_pct',
                         'HC03_VC13':'25_34_pct',
                         'HC03_VC14':'35_44_pct',
                         'HC03_VC15':'45_54_pct',
                         'HC03_VC16':'55_59_pct',
                         'HC03_VC17':'60_64_pct',
                         'HC03_VC18':'65_74_pct',
                         'HC03_VC19':'75_84_pct',
                         'HC03_VC20':'85_over_pct',

                         'HC03_VC88':'hispanic_latino_pct',
                    
                         'HC03_VC94':'white_pct',
                         'HC03_VC95':'black_pct',
                         'HC03_VC96':'aian_pct',
                         'HC03_VC97':'asian_pct',
                         'HC03_VC98':'nhopi_pct'
                        }, 
                inplace=True)


# AIAN is american Indian Alaskan Native
# NHOPI is Native Hawaiian and Other Pacific Islander

# Other race categories
#                          'HC01_VC93':'other_only',
#                          'HC01_VC94':'more_two_races',
#                          'HC01_VC95':'more_two_races_other',
#                          'HC01_VC96':'more_two_races_other_exclude',

In [25]:
## County
cdemo12.rename(columns={'GEO.id': 'geoid',
                        'GEO.display-label': 'county',
                         'HC01_VC03': 'tot_pop', 
                         'HC01_VC04': 'male',
                         'HC01_VC05': 'female',
                         'HC01_VC07':'under_5',
                         'HC01_VC08':'5_9',
                         'HC01_VC09':'10_14',
                         'HC01_VC10':'15_19',
                         'HC01_VC11':'20_24',
                         'HC01_VC12':'25_34',
                         'HC01_VC13':'35_44',
                         'HC01_VC14':'45_54',
                         'HC01_VC15':'55_59',
                         'HC01_VC16':'60_64',
                         'HC01_VC17':'65_74',
                         'HC01_VC18':'75_84',
                         'HC01_VC19':'85_over',
                         'HC01_VC21':'median_age',
                         'HC01_VC82':'hispanic_latino',
                        
                         'HC01_VC88':'white',
                         'HC01_VC89':'black',
                         'HC01_VC90':'aian',
                         'HC01_VC91':'asian',
                         'HC01_VC92':'nhopi',

                         'HC03_VC04': 'male_pct',
                         'HC03_VC05': 'female_pct',
                         'HC03_VC07':'under_5_pct',
                         'HC03_VC08':'5_9_pct',
                         'HC03_VC09':'10_14_pct',
                         'HC03_VC10':'15_19_pct',
                         'HC03_VC11':'20_24_pct',
                         'HC03_VC12':'25_34_pct',
                         'HC03_VC13':'35_44_pct',
                         'HC03_VC14':'45_54_pct',
                         'HC03_VC15':'55_59_pct',
                         'HC03_VC16':'60_64_pct',
                         'HC03_VC17':'65_74_pct',
                         'HC03_VC18':'75_84_pct',
                         'HC03_VC19':'85_over_pct',
                         
                         'HC03_VC82':'hispanic_latino_pct',
                      
                         'HC03_VC88':'white_pct',
                         'HC03_VC89':'black_pct',
                         'HC03_VC90':'aian_pct',
                         'HC03_VC91':'asian_pct',
                         'HC03_VC92':'nhopi_pct'
                        }, 
                inplace=True)
cdemo13.rename(columns={'GEO.id': 'geoid',
                        'GEO.display-label': 'county',
                         'HC01_VC03': 'tot_pop', 
                         'HC01_VC04': 'male',
                         'HC01_VC05': 'female',
                         'HC01_VC08':'under_5',
                         'HC01_VC09':'5_9',
                         'HC01_VC10':'10_14',
                         'HC01_VC11':'15_19',
                         'HC01_VC12':'20_24',
                         'HC01_VC13':'25_34',
                         'HC01_VC14':'35_44',
                         'HC01_VC15':'45_54',
                         'HC01_VC16':'55_59',
                         'HC01_VC17':'60_64',
                         'HC01_VC18':'65_74',
                         'HC01_VC19':'75_84',
                         'HC01_VC20':'85_over',
                         'HC01_VC23':'median_age',
                         'HC01_VC88':'hispanic_latino',
                   
                         'HC01_VC94':'white',
                         'HC01_VC95':'black',
                         'HC01_VC96':'aian',
                         'HC01_VC97':'asian',
                         'HC01_VC98':'nhopi',

                         'HC03_VC04': 'male_pct',
                         'HC03_VC05': 'female_pct',
                         'HC03_VC08':'under_5_pct',
                         'HC03_VC09':'5_9_pct',
                         'HC03_VC10':'10_14_pct',
                         'HC03_VC11':'15_19_pct',
                         'HC03_VC12':'20_24_pct',
                         'HC03_VC13':'25_34_pct',
                         'HC03_VC14':'35_44_pct',
                         'HC03_VC15':'45_54_pct',
                         'HC03_VC16':'55_59_pct',
                         'HC03_VC17':'60_64_pct',
                         'HC03_VC18':'65_74_pct',
                         'HC03_VC19':'75_84_pct',
                         'HC03_VC20':'85_over_pct',
                         
                         'HC03_VC88':'hispanic_latino_pct',
                       
                         'HC03_VC94':'white_pct',
                         'HC03_VC95':'black_pct',
                         'HC03_VC96':'aian_pct',
                         'HC03_VC97':'asian_pct',
                         'HC03_VC98':'nhopi_pct'
                        }, 
                inplace=True)
cdemo14.rename(columns={'GEO.id': 'geoid',
                        'GEO.display-label': 'county',
                         'HC01_VC03': 'tot_pop', 
                         'HC01_VC04': 'male',
                         'HC01_VC05': 'female',
                         'HC01_VC08':'under_5',
                         'HC01_VC09':'5_9',
                         'HC01_VC10':'10_14',
                         'HC01_VC11':'15_19',
                         'HC01_VC12':'20_24',
                         'HC01_VC13':'25_34',
                         'HC01_VC14':'35_44',
                         'HC01_VC15':'45_54',
                         'HC01_VC16':'55_59',
                         'HC01_VC17':'60_64',
                         'HC01_VC18':'65_74',
                         'HC01_VC19':'75_84',
                         'HC01_VC20':'85_over',
                         'HC01_VC23':'median_age',
                         'HC01_VC88':'hispanic_latino',
                      
                         'HC01_VC94':'white',
                         'HC01_VC95':'black',
                         'HC01_VC96':'aian',
                         'HC01_VC97':'asian',
                         'HC01_VC98':'nhopi',

                         'HC03_VC04': 'male_pct',
                         'HC03_VC05': 'female_pct',
                         'HC03_VC08':'under_5_pct',
                         'HC03_VC09':'5_9_pct',
                         'HC03_VC10':'10_14_pct',
                         'HC03_VC11':'15_19_pct',
                         'HC03_VC12':'20_24_pct',
                         'HC03_VC13':'25_34_pct',
                         'HC03_VC14':'35_44_pct',
                         'HC03_VC15':'45_54_pct',
                         'HC03_VC16':'55_59_pct',
                         'HC03_VC17':'60_64_pct',
                         'HC03_VC18':'65_74_pct',
                         'HC03_VC19':'75_84_pct',
                         'HC03_VC20':'85_over_pct',
                         
                         'HC03_VC88':'hispanic_latino_pct',
                      
                         'HC03_VC94':'white_pct',
                         'HC03_VC95':'black_pct',
                         'HC03_VC96':'aian_pct',
                         'HC03_VC97':'asian_pct',
                         'HC03_VC98':'nhopi_pct'
                        }, 
                inplace=True)
cdemo15.rename(columns={'GEO.id': 'geoid',
                        'GEO.display-label': 'county',
                         'HC01_VC03': 'tot_pop', 
                         'HC01_VC04': 'male',
                         'HC01_VC05': 'female',
                         'HC01_VC08':'under_5',
                         'HC01_VC09':'5_9',
                         'HC01_VC10':'10_14',
                         'HC01_VC11':'15_19',
                         'HC01_VC12':'20_24',
                         'HC01_VC13':'25_34',
                         'HC01_VC14':'35_44',
                         'HC01_VC15':'45_54',
                         'HC01_VC16':'55_59',
                         'HC01_VC17':'60_64',
                         'HC01_VC18':'65_74',
                         'HC01_VC19':'75_84',
                         'HC01_VC20':'85_over',
                         'HC01_VC23':'median_age',
                         'HC01_VC88':'hispanic_latino',
                  
                         'HC01_VC94':'white',
                         'HC01_VC95':'black',
                         'HC01_VC96':'aian',
                         'HC01_VC97':'asian',
                         'HC01_VC98':'nhopi',

                         'HC03_VC04': 'male_pct',
                         'HC03_VC05': 'female_pct',
                         'HC03_VC08':'under_5_pct',
                         'HC03_VC09':'5_9_pct',
                         'HC03_VC10':'10_14_pct',
                         'HC03_VC11':'15_19_pct',
                         'HC03_VC12':'20_24_pct',
                         'HC03_VC13':'25_34_pct',
                         'HC03_VC14':'35_44_pct',
                         'HC03_VC15':'45_54_pct',
                         'HC03_VC16':'55_59_pct',
                         'HC03_VC17':'60_64_pct',
                         'HC03_VC18':'65_74_pct',
                         'HC03_VC19':'75_84_pct',
                         'HC03_VC20':'85_over_pct',
                         
                         'HC03_VC88':'hispanic_latino_pct',
                     
                         'HC03_VC94':'white_pct',
                         'HC03_VC95':'black_pct',
                         'HC03_VC96':'aian_pct',
                         'HC03_VC97':'asian_pct',
                         'HC03_VC98':'nhopi_pct'
                        }, 
                inplace=True)
cdemo16.rename(columns={'GEO.id': 'geoid',
                        'GEO.display-label': 'county',
                         'HC01_VC03': 'tot_pop', 
                         'HC01_VC04': 'male',
                         'HC01_VC05': 'female',
                         'HC01_VC08':'under_5',
                         'HC01_VC09':'5_9',
                         'HC01_VC10':'10_14',
                         'HC01_VC11':'15_19',
                         'HC01_VC12':'20_24',
                         'HC01_VC13':'25_34',
                         'HC01_VC14':'35_44',
                         'HC01_VC15':'45_54',
                         'HC01_VC16':'55_59',
                         'HC01_VC17':'60_64',
                         'HC01_VC18':'65_74',
                         'HC01_VC19':'75_84',
                         'HC01_VC20':'85_over',
                         'HC01_VC23':'median_age',
                         'HC01_VC88':'hispanic_latino',
                  
                         'HC01_VC94':'white',
                         'HC01_VC95':'black',
                         'HC01_VC96':'aian',
                         'HC01_VC97':'asian',
                         'HC01_VC98':'nhopi',

                         'HC03_VC04': 'male_pct',
                         'HC03_VC05': 'female_pct',
                         'HC03_VC08':'under_5_pct',
                         'HC03_VC09':'5_9_pct',
                         'HC03_VC10':'10_14_pct',
                         'HC03_VC11':'15_19_pct',
                         'HC03_VC12':'20_24_pct',
                         'HC03_VC13':'25_34_pct',
                         'HC03_VC14':'35_44_pct',
                         'HC03_VC15':'45_54_pct',
                         'HC03_VC16':'55_59_pct',
                         'HC03_VC17':'60_64_pct',
                         'HC03_VC18':'65_74_pct',
                         'HC03_VC19':'75_84_pct',
                         'HC03_VC20':'85_over_pct',
                         
                         'HC03_VC88':'hispanic_latino_pct',
                     
                         'HC03_VC94':'white_pct',
                         'HC03_VC95':'black_pct',
                         'HC03_VC96':'aian_pct',
                         'HC03_VC97':'asian_pct',
                         'HC03_VC98':'nhopi_pct'
                        }, 
                inplace=True)
# Other race categories
#                          'HC01_VC99':'other_only',
#                          'HC01_VC100':'more_two_races',
#                          'HC01_VC101':'more_two_races_other',
#                          'HC01_VC102':'more_two_races_other_exclude',

In [26]:
demo13.head()

,geoid,city,tot_pop,male,male_pct,female,female_pct,under_5,under_5_pct,5_9,...,black,black_pct,aian,aian_pct,asian,asian_pct,nhopi,nhopi_pct,other,other_pct
0,1600000US0600135,"Acalanes Ridge CDP, California",1111,565,50.9,546,49.1,71,6.4,49,...,0,0.0,0,0.0,224,20.2,0,0.0,262,23.6
1,1600000US0600156,"Acampo CDP, California",666,480,72.1,186,27.9,68,10.2,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
2,1600000US0600212,"Acton CDP, California",7022,3596,51.2,3426,48.8,398,5.7,377,...,22,0.3,18,0.3,95,1.4,0,0.0,264,3.9
3,1600000US0600296,"Adelanto city, California",31376,16302,52.0,15074,48.0,3739,11.9,3339,...,6509,20.7,6,0.0,661,2.1,170,0.5,2933,9.4
4,1600000US0600310,"Adin CDP, California",289,132,45.7,157,54.3,18,6.2,36,...,0,0.0,3,1.0,0,0.0,0,0.0,0,0.0

In [27]:
cdemo13.head()

,geoid,county,tot_pop,male,male_pct,female,female_pct,under_5,under_5_pct,5_9,...,black,black_pct,aian,aian_pct,asian,asian_pct,nhopi,nhopi_pct,other,other_pct
0,0500000US06001,"Alameda County, California",1535248,752840,49.0,782408,51.0,97522,6.4,94982,...,181315,11.8,4484,0.3,408556,26.6,12230,0.8,125705,8.2
1,0500000US06003,"Alpine County, California",1165,708,60.8,457,39.2,43,3.7,112,...,7,0.6,200,17.2,17,1.5,27,2.3,8,0.6
2,0500000US06005,"Amador County, California",37422,20236,54.1,17186,45.9,1290,3.4,1701,...,893,2.4,623,1.7,503,1.3,79,0.2,1372,3.6
3,0500000US06007,"Butte County, California",220542,109200,49.5,111342,50.5,12245,5.6,12180,...,2795,1.3,1677,0.8,9406,4.3,333,0.2,18564,8.4
4,0500000US06009,"Calaveras County, California",45147,22612,50.1,22535,49.9,1846,4.1,2374,...,378,0.8,349,0.8,553,1.2,9,0.0,2981,6.6

In [28]:
# Setting the year before combining demographic years
demo12['year']='2012'
demo13['year']='2013'
demo14['year']='2014'
demo15['year']='2015'
demo16['year']='2016'

cdemo12['year']='2012'
cdemo13['year']='2013'
cdemo14['year']='2014'
cdemo15['year']='2015'
cdemo16['year']='2016'

In [29]:
# Use 2016 data as a proxy for 2017 and 2018 demographics 

demo17=demo16.copy()
demo17['year']='2017'
demo18=demo16.copy()
demo18['year']='2018'

cdemo17=cdemo16.copy()
cdemo17['year']='2017'
cdemo18=cdemo16.copy()
cdemo18['year']='2018'

In [30]:
city_demo=pd.concat([ 
           demo12,
           demo13,
           demo14,
           demo15,
           demo16,
           demo17,
           demo18
          ],ignore_index=True, sort=False)

county_demo=pd.concat([ 
           cdemo12,
           cdemo13,
           cdemo14,
           cdemo15,
           cdemo16,
           cdemo17,
           cdemo18
          ],ignore_index=True, sort=False)

In [31]:
city_demo.head()

,geoid,city,tot_pop,male,male_pct,female,female_pct,under_5,under_5_pct,5_9,...,black_pct,aian,aian_pct,asian,asian_pct,nhopi,nhopi_pct,other,other_pct,year
0,1600000US0600135,"Acalanes Ridge CDP, California",1281,641,50.0,640,50.0,120,9.4,43,...,0.0,0,0.0,216,16.9,0,0.0,356,27.8,2012
1,1600000US0600156,"Acampo CDP, California",462,324,70.1,138,29.9,64,13.9,0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,2012
2,1600000US0600212,"Acton CDP, California",7117,3547,49.8,3570,50.2,432,6.1,421,...,0.4,0,0.0,92,1.3,0,0.0,303,4.3,2012
3,1600000US0600296,"Adelanto city, California",31040,16275,52.4,14765,47.6,3305,10.6,3262,...,21.2,24,0.1,756,2.4,224,0.7,2813,9.0,2012
4,1600000US0600310,"Adin CDP, California",322,156,48.4,166,51.6,15,4.7,39,...,0.0,5,1.6,0,0.0,0,0.0,0,0.0,2012

In [32]:
county_demo.head()

,geoid,county,tot_pop,male,male_pct,female,female_pct,under_5,under_5_pct,5_9,...,black_pct,aian,aian_pct,asian,asian_pct,nhopi,nhopi_pct,other,other_pct,year
0,0500000US06001,"Alameda County, California",1515136,742993,49.0,772143,51.0,98185,6.5,95028,...,12.0,4318,0.3,397475,26.2,12442,0.8,120919,8.0,2012
1,0500000US06003,"Alpine County, California",1197,669,55.9,528,44.1,60,5.0,96,...,0.0,230,19.2,32,2.7,22,1.8,0,0.0,2012
2,0500000US06005,"Amador County, California",37764,20542,54.4,17222,45.6,1345,3.6,1706,...,2.5,707,1.9,473,1.3,46,0.1,1317,3.5,2012
3,0500000US06007,"Butte County, California",220101,108961,49.5,111140,50.5,12340,5.6,12030,...,1.4,1712,0.8,9195,4.2,390,0.2,18141,8.3,2012
4,0500000US06009,"Calaveras County, California",45507,22871,50.3,22636,49.7,1838,4.0,2338,...,1.0,354,0.8,619,1.4,20,0.0,2647,5.8,2012

In [33]:
# city_demo.to_csv("city_demo.csv", index=False)
# county_demo.to_csv("county_demo.csv", index=False)

### Census Education Data City Level

In [34]:
## City
educ12 = pd.read_csv(CENSUS_PATH + "ACS_12_5YR_S1501.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-']) 
educ13 = pd.read_csv(CENSUS_PATH + "ACS_13_5YR_S1501.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-']) 
educ14 = pd.read_csv(CENSUS_PATH + "ACS_14_5YR_S1501.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-']) 
educ15 = pd.read_csv(CENSUS_PATH + "ACS_15_5YR_S1501.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-']) 
educ16 = pd.read_csv(CENSUS_PATH + "ACS_16_5YR_S1501.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-'])

In [35]:
## County
edu12 = pd.read_csv(CENSUS_PATH + "County/ACS_12_5YR_S1501.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-']) 
edu13 = pd.read_csv(CENSUS_PATH + "County/ACS_13_5YR_S1501.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-']) 
edu14 = pd.read_csv(CENSUS_PATH + "County/ACS_14_5YR_S1501.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-']) 
edu15 = pd.read_csv(CENSUS_PATH + "County/ACS_15_5YR_S1501.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-']) 
edu16 = pd.read_csv(CENSUS_PATH + "County/ACS_16_5YR_S1501.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-'])

In [36]:
#City
educ12= educ12[['GEO.id', 'HC01_EST_VC16','HC01_EST_VC17']]
educ13= educ13[['GEO.id', 'HC01_EST_VC16','HC01_EST_VC17']]
educ14= educ14[['GEO.id', 'HC01_EST_VC16','HC01_EST_VC17']]
educ15= educ15[['GEO.id', 'HC02_EST_VC17','HC02_EST_VC18']]
educ16= educ16[['GEO.id', 'HC02_EST_VC17','HC02_EST_VC18']]

#County
edu12= edu12[['GEO.id', 'HC01_EST_VC16','HC01_EST_VC17']]
edu13= edu13[['GEO.id', 'HC01_EST_VC16','HC01_EST_VC17']]
edu14= edu14[['GEO.id', 'HC01_EST_VC16','HC01_EST_VC17']]
edu15= edu15[['GEO.id', 'HC02_EST_VC17','HC02_EST_VC18']]
edu16= edu16[['GEO.id', 'HC02_EST_VC17','HC02_EST_VC18']]

In [37]:
# City
educ12.rename(columns={'GEO.id': 'geoid',
                         'HC01_EST_VC16': 'hs_degree_pct',
                         'HC01_EST_VC17': 'bachelor_degree_pct' 
                        }, 
                inplace=True)
educ13.rename(columns={'GEO.id': 'geoid',
                         'HC01_EST_VC16': 'hs_degree_pct',
                         'HC01_EST_VC17': 'bachelor_degree_pct' 
                        }, 
                inplace=True)
educ14.rename(columns={'GEO.id': 'geoid',
                         'HC01_EST_VC16': 'hs_degree_pct',
                         'HC01_EST_VC17': 'bachelor_degree_pct' 
                        }, 
                inplace=True)

educ15.rename(columns={'GEO.id': 'geoid',
                         'HC02_EST_VC17': 'hs_degree_pct',
                         'HC02_EST_VC18': 'bachelor_degree_pct' 
                        }, 
                inplace=True)
educ16.rename(columns={'GEO.id': 'geoid',
                         'HC02_EST_VC17': 'hs_degree_pct',
                         'HC02_EST_VC18': 'bachelor_degree_pct' 
                        }, 
                inplace=True)

#County
edu12.rename(columns={'GEO.id': 'geoid',
                         'HC01_EST_VC16': 'hs_degree_pct',
                         'HC01_EST_VC17': 'bachelor_degree_pct' 
                        }, 
                inplace=True)
edu13.rename(columns={'GEO.id': 'geoid',
                         'HC01_EST_VC16': 'hs_degree_pct',
                         'HC01_EST_VC17': 'bachelor_degree_pct' 
                        }, 
                inplace=True)
edu14.rename(columns={'GEO.id': 'geoid',
                         'HC01_EST_VC16': 'hs_degree_pct',
                         'HC01_EST_VC17': 'bachelor_degree_pct' 
                        }, 
                inplace=True)

edu15.rename(columns={'GEO.id': 'geoid',
                         'HC02_EST_VC17': 'hs_degree_pct',
                         'HC02_EST_VC18': 'bachelor_degree_pct' 
                        }, 
                inplace=True)
edu16.rename(columns={'GEO.id': 'geoid',
                         'HC02_EST_VC17': 'hs_degree_pct',
                         'HC02_EST_VC18': 'bachelor_degree_pct' 
                        }, 
                inplace=True)

In [38]:
educ12['year']='2012'
educ13['year']='2013'
educ14['year']='2014'
educ15['year']='2015'
educ16['year']='2016'
# Use 2016 as proxy for 2017 and 2018 demographics
educ17=educ16.copy()
educ17['year']='2017'
educ18=educ16.copy()
educ18['year']='2018'


edu12['year']='2012'
edu13['year']='2013'
edu14['year']='2014'
edu15['year']='2015'
edu16['year']='2016'
# Use 2016 as proxy for 2017 and 2018 demographics
edu17=edu16.copy()
edu17['year']='2017'
edu18=edu16.copy()
edu18['year']='2018'

In [39]:
county_edu=pd.concat([ 
           edu12,
           edu13,
           edu14,
           edu15,
           edu16,
           edu17,
           edu18
          ],ignore_index=True)

city_edu=pd.concat([ 
           educ12,
           educ13,
           educ14,
           educ15,
           educ16,
           educ17,
           educ18
          ],ignore_index=True)

In [40]:
county_edu.head()

            geoid  hs_degree_pct  bachelor_degree_pct  year
0  0500000US06001           86.2                 41.1  2012
1  0500000US06003           91.1                 31.7  2012
2  0500000US06005           87.5                 18.8  2012
3  0500000US06007           86.7                 24.0  2012
4  0500000US06009           92.8                 20.8  2012

In [41]:
city_edu.head()

              geoid  hs_degree_pct  bachelor_degree_pct  year
0  1600000US0600135           93.2                 60.2  2012
1  1600000US0600156           54.3                  0.0  2012
2  1600000US0600212           93.6                 27.9  2012
3  1600000US0600296           67.4                  7.4  2012
4  1600000US0600310           83.1                 13.7  2012

In [42]:
# county_edu.to_csv("county_edu.csv", index=False)
# city_edu.to_csv("city_edu.csv", index=False)

In [43]:
# Merge with demographic dataset
city_demo_edu=city_demo.merge(city_edu, left_on=['geoid', 'year'], right_on=['geoid', 'year'], how='left')
county_demo_edu=county_demo.merge(county_edu, left_on=['geoid', 'year'], right_on=['geoid', 'year'], how='left')

In [44]:
city_demo_edu.head()

,geoid,city,tot_pop,male,male_pct,female,female_pct,under_5,under_5_pct,5_9,...,aian_pct,asian,asian_pct,nhopi,nhopi_pct,other,other_pct,year,hs_degree_pct,bachelor_degree_pct
0,1600000US0600135,"Acalanes Ridge CDP, California",1281,641,50.0,640,50.0,120,9.4,43,...,0.0,216,16.9,0,0.0,356,27.8,2012,93.2,60.2
1,1600000US0600156,"Acampo CDP, California",462,324,70.1,138,29.9,64,13.9,0,...,0.0,0,0.0,0,0.0,0,0.0,2012,54.3,0.0
2,1600000US0600212,"Acton CDP, California",7117,3547,49.8,3570,50.2,432,6.1,421,...,0.0,92,1.3,0,0.0,303,4.3,2012,93.6,27.9
3,1600000US0600296,"Adelanto city, California",31040,16275,52.4,14765,47.6,3305,10.6,3262,...,0.1,756,2.4,224,0.7,2813,9.0,2012,67.4,7.4
4,1600000US0600310,"Adin CDP, California",322,156,48.4,166,51.6,15,4.7,39,...,1.6,0,0.0,0,0.0,0,0.0,2012,83.1,13.7

In [45]:
county_demo_edu.head()

,geoid,county,tot_pop,male,male_pct,female,female_pct,under_5,under_5_pct,5_9,...,aian_pct,asian,asian_pct,nhopi,nhopi_pct,other,other_pct,year,hs_degree_pct,bachelor_degree_pct
0,0500000US06001,"Alameda County, California",1515136,742993,49.0,772143,51.0,98185,6.5,95028,...,0.3,397475,26.2,12442,0.8,120919,8.0,2012,86.2,41.1
1,0500000US06003,"Alpine County, California",1197,669,55.9,528,44.1,60,5.0,96,...,19.2,32,2.7,22,1.8,0,0.0,2012,91.1,31.7
2,0500000US06005,"Amador County, California",37764,20542,54.4,17222,45.6,1345,3.6,1706,...,1.9,473,1.3,46,0.1,1317,3.5,2012,87.5,18.8
3,0500000US06007,"Butte County, California",220101,108961,49.5,111140,50.5,12340,5.6,12030,...,0.8,9195,4.2,390,0.2,18141,8.3,2012,86.7,24.0
4,0500000US06009,"Calaveras County, California",45507,22871,50.3,22636,49.7,1838,4.0,2338,...,0.8,619,1.4,20,0.0,2647,5.8,2012,92.8,20.8

## Median Household Income and Health Insurance Status

In [46]:
# Import and clean acs data for income and insurance status
##City
cinc12 = pd.read_csv(CENSUS_PATH + "ACS_12_5YR_DP03.csv", 
                  encoding = "ISO-8859-1", header=[0], na_values=['-']) 
cinc13 = pd.read_csv(CENSUS_PATH + "ACS_13_5YR_DP03.csv", 
                  encoding = "ISO-8859-1", header=[0], na_values=['-']) 
cinc14 = pd.read_csv(CENSUS_PATH + "ACS_14_5YR_DP03.csv", 
                  encoding = "ISO-8859-1", header=[0], na_values=['-']) 
cinc15 = pd.read_csv(CENSUS_PATH + "ACS_15_5YR_DP03.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-']) 
cinc16 = pd.read_csv(CENSUS_PATH + "ACS_16_economic.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-'])

In [47]:
## County
inc12 = pd.read_csv(CENSUS_PATH + "County/ACS_12_5YR_DP03.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-']) 
inc13 = pd.read_csv(CENSUS_PATH + "County/ACS_13_5YR_DP03.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-']) 
inc14 = pd.read_csv(CENSUS_PATH + "County/ACS_14_5YR_DP03.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-']) 
inc15 = pd.read_csv(CENSUS_PATH + "County/ACS_15_5YR_DP03.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-']) 
inc16 = pd.read_csv(CENSUS_PATH + "County/ACS_16_5YR_DP03.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-'])

In [48]:
## City
cinc12=cinc12[['GEO.id','HC01_VC85','HC01_VC128','HC03_VC128',
                'HC01_VC129','HC03_VC129','HC01_VC130','HC03_VC130','HC01_VC131','HC03_VC131']]

cinc13=cinc13[['GEO.id','HC01_VC85','HC01_VC131','HC03_VC131',
                'HC01_VC132','HC03_VC132','HC01_VC133','HC03_VC133','HC01_VC134','HC03_VC134']]
cinc14=cinc14[['GEO.id','HC01_VC85','HC01_VC131','HC03_VC131',
                'HC01_VC132','HC03_VC132','HC01_VC133','HC03_VC133','HC01_VC134','HC03_VC134']]
cinc15=cinc15[['GEO.id','HC01_VC85','HC01_VC131','HC03_VC131',
                'HC01_VC132','HC03_VC132','HC01_VC133','HC03_VC133','HC01_VC134','HC03_VC134']]
cinc16=cinc16[['GEO.id','HC01_VC85','HC01_VC131','HC03_VC131',
                'HC01_VC132','HC03_VC132','HC01_VC133','HC03_VC133','HC01_VC134','HC03_VC134']]

## County
inc12=inc12[['GEO.id','HC01_VC85','HC01_VC128','HC03_VC128',
                'HC01_VC129','HC03_VC129','HC01_VC130','HC03_VC130','HC01_VC131','HC03_VC131']]

inc13=inc13[['GEO.id','HC01_VC85','HC01_VC131','HC03_VC131',
                'HC01_VC132','HC03_VC132','HC01_VC133','HC03_VC133','HC01_VC134','HC03_VC134']]
inc14=inc14[['GEO.id','HC01_VC85','HC01_VC131','HC03_VC131',
                'HC01_VC132','HC03_VC132','HC01_VC133','HC03_VC133','HC01_VC134','HC03_VC134']]
inc15=inc15[['GEO.id','HC01_VC85','HC01_VC131','HC03_VC131',
                'HC01_VC132','HC03_VC132','HC01_VC133','HC03_VC133','HC01_VC134','HC03_VC134']]
inc16=inc16[['GEO.id','HC01_VC85','HC01_VC131','HC03_VC131',
                'HC01_VC132','HC03_VC132','HC01_VC133','HC03_VC133','HC01_VC134','HC03_VC134']]

In [49]:
## City
cinc12.rename(columns={'GEO.id': 'geoid',                  
                         'HC01_VC85': 'median_income',
                         'HC01_VC128': 'insurance',
                         'HC01_VC129': 'private_insure',
                         'HC01_VC130': 'public_insure',
                         'HC01_VC131': 'no_insurance',

                         'HC03_VC128': 'insurance_pct',
                         'HC03_VC129': 'private_insure_pct',
                         'HC03_VC130': 'public_insure_pct',
                         'HC03_VC131': 'no_insurance_pct'
                        }, 
                inplace=True)
cinc13.rename(columns={'GEO.id': 'geoid',
                         'HC01_VC85': 'median_income',
                         'HC01_VC131': 'insurance',
                         'HC01_VC132': 'private_insure',
                         'HC01_VC133': 'public_insure',
                         'HC01_VC134': 'no_insurance',

                         'HC03_VC131': 'insurance_pct',
                         'HC03_VC132': 'private_insure_pct',
                         'HC03_VC133': 'public_insure_pct',
                         'HC03_VC134': 'no_insurance_pct'  
                        }, 
                inplace=True)
cinc14.rename(columns={'GEO.id': 'geoid',
                         'HC01_VC85': 'median_income',
                         'HC01_VC131': 'insurance',
                         'HC01_VC132': 'private_insure',
                         'HC01_VC133': 'public_insure',
                         'HC01_VC134': 'no_insurance',

                         'HC03_VC131': 'insurance_pct',
                         'HC03_VC132': 'private_insure_pct',
                         'HC03_VC133': 'public_insure_pct',
                         'HC03_VC134': 'no_insurance_pct'  
                        }, 
                inplace=True)
cinc15.rename(columns={'GEO.id': 'geoid',
                         'HC01_VC85': 'median_income',
                         'HC01_VC131': 'insurance',
                         'HC01_VC132': 'private_insure',
                         'HC01_VC133': 'public_insure',
                         'HC01_VC134': 'no_insurance',

                         'HC03_VC131': 'insurance_pct',
                         'HC03_VC132': 'private_insure_pct',
                         'HC03_VC133': 'public_insure_pct',
                         'HC03_VC134': 'no_insurance_pct'  
                        }, 
                inplace=True)
cinc16.rename(columns={'GEO.id': 'geoid',
                         'HC01_VC85': 'median_income',
                         'HC01_VC131': 'insurance',
                         'HC01_VC132': 'private_insure',
                         'HC01_VC133': 'public_insure',
                         'HC01_VC134': 'no_insurance',

                         'HC03_VC131': 'insurance_pct',
                         'HC03_VC132': 'private_insure_pct',
                         'HC03_VC133': 'public_insure_pct',
                         'HC03_VC134': 'no_insurance_pct'  
                        }, 
                inplace=True)

In [50]:
# County
inc12.rename(columns={'GEO.id': 'geoid',
                         'HC01_VC85': 'median_income',
                         'HC01_VC128': 'insurance',
                         'HC01_VC129': 'private_insure',
                         'HC01_VC130': 'public_insure',
                         'HC01_VC131': 'no_insurance',

                         'HC03_VC128': 'insurance_pct',
                         'HC03_VC129': 'private_insure_pct',
                         'HC03_VC130': 'public_insure_pct',
                         'HC03_VC131': 'no_insurance_pct'
                        }, 
                inplace=True)

inc13.rename(columns={'GEO.id': 'geoid',
                         'HC01_VC85': 'median_income',
                         'HC01_VC131': 'insurance',
                         'HC01_VC132': 'private_insure',
                         'HC01_VC133': 'public_insure',
                         'HC01_VC134': 'no_insurance',

                         'HC03_VC131': 'insurance_pct',
                         'HC03_VC132': 'private_insure_pct',
                         'HC03_VC133': 'public_insure_pct',
                         'HC03_VC134': 'no_insurance_pct' 
                        }, 
                inplace=True)
inc14.rename(columns={'GEO.id': 'geoid',
                         'HC01_VC85': 'median_income',
                         'HC01_VC131': 'insurance',
                         'HC01_VC132': 'private_insure',
                         'HC01_VC133': 'public_insure',
                         'HC01_VC134': 'no_insurance',

                         'HC03_VC131': 'insurance_pct',
                         'HC03_VC132': 'private_insure_pct',
                         'HC03_VC133': 'public_insure_pct',
                         'HC03_VC134': 'no_insurance_pct' 
                        }, 
                inplace=True)
inc15.rename(columns={'GEO.id': 'geoid',
                         'HC01_VC85': 'median_income',
                         'HC01_VC131': 'insurance',
                         'HC01_VC132': 'private_insure',
                         'HC01_VC133': 'public_insure',
                         'HC01_VC134': 'no_insurance',

                         'HC03_VC131': 'insurance_pct',
                         'HC03_VC132': 'private_insure_pct',
                         'HC03_VC133': 'public_insure_pct',
                         'HC03_VC134': 'no_insurance_pct' 
                        }, 
                inplace=True)
inc16.rename(columns={'GEO.id': 'geoid',
                         'HC01_VC85': 'median_income',
                         'HC01_VC131': 'insurance',
                         'HC01_VC132': 'private_insure',
                         'HC01_VC133': 'public_insure',
                         'HC01_VC134': 'no_insurance',


                         'HC03_VC131': 'insurance_pct',
                         'HC03_VC132': 'private_insure_pct',
                         'HC03_VC133': 'public_insure_pct',
                         'HC03_VC134': 'no_insurance_pct' 
                        }, 
                inplace=True)

In [51]:
## City
cinc12['year']='2012'
cinc13['year']='2013'
cinc14['year']='2014'
cinc15['year']='2015'
cinc16['year']='2016'

cinc17=cinc16.copy()
cinc17['year']='2017'
cinc18=cinc16.copy()
cinc18['year']='2018'

## County
inc12['year']='2012'
inc13['year']='2013'
inc14['year']='2014'
inc15['year']='2015'
inc16['year']='2016'

inc17=inc16.copy()
inc17['year']='2017'
inc18=inc16.copy()
inc18['year']='2018'

In [52]:
inc12.head()

,geoid,median_income,insurance,insurance_pct,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct,year
0,0500000US06001,71516,1316411,87.6,1065525,70.9,376206,25.0,185774,12.4,2012
1,0500000US06003,59931,906,75.7,649,54.2,363,30.3,291,24.3,2012
2,0500000US06005,53462,29297,87.9,23254,69.8,13004,39.0,4021,12.1,2012
3,0500000US06007,43339,182717,83.8,130226,59.7,82655,37.9,35348,16.2,2012
4,0500000US06009,54686,39963,88.8,31832,70.7,16796,37.3,5041,11.2,2012

In [53]:
cinc12.head()

,geoid,median_income,insurance,insurance_pct,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct,year
0,1600000US0600135,135865.0,1254,97.9,1185,92.5,229,17.9,27,2.1,2012
1,1600000US0600156,123635.0,377,81.6,377,81.6,0,0.0,85,18.4,2012
2,1600000US0600212,91888.0,6543,92.0,5676,79.8,1766,24.8,569,8.0,2012
3,1600000US0600296,41113.0,22321,76.4,10474,35.9,13060,44.7,6888,23.6,2012
4,1600000US0600310,38750.0,308,95.7,222,68.9,157,48.8,14,4.3,2012

In [54]:
county_inc=pd.concat([ 
           inc12,
           inc13,
           inc14,
           inc15,
           inc16,
           inc17,
           inc18
          ],ignore_index=True, sort=False)

city_inc=pd.concat([ 
           cinc12,
           cinc13,
           cinc14,
           cinc15,
           cinc16,
           cinc17,
           cinc18
          ],ignore_index=True, sort=False)

In [55]:
county_inc.head()

,geoid,median_income,insurance,insurance_pct,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct,year
0,0500000US06001,71516,1316411,87.6,1065525,70.9,376206,25.0,185774,12.4,2012
1,0500000US06003,59931,906,75.7,649,54.2,363,30.3,291,24.3,2012
2,0500000US06005,53462,29297,87.9,23254,69.8,13004,39.0,4021,12.1,2012
3,0500000US06007,43339,182717,83.8,130226,59.7,82655,37.9,35348,16.2,2012
4,0500000US06009,54686,39963,88.8,31832,70.7,16796,37.3,5041,11.2,2012

In [56]:
city_inc.head()

,geoid,median_income,insurance,insurance_pct,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct,year
0,1600000US0600135,135865.0,1254,97.9,1185,92.5,229,17.9,27,2.1,2012
1,1600000US0600156,123635.0,377,81.6,377,81.6,0,0.0,85,18.4,2012
2,1600000US0600212,91888.0,6543,92.0,5676,79.8,1766,24.8,569,8.0,2012
3,1600000US0600296,41113.0,22321,76.4,10474,35.9,13060,44.7,6888,23.6,2012
4,1600000US0600310,38750.0,308,95.7,222,68.9,157,48.8,14,4.3,2012

In [57]:
# Merge with demographic dataset
city_acs=city_demo_edu.merge(city_inc, left_on=['geoid', 'year'], right_on=['geoid', 'year'], how='left')
county_acs=county_demo_edu.merge(county_inc, left_on=['geoid', 'year'], right_on=['geoid', 'year'], how='left')

In [58]:
## Clean up the naming conventions to be similar to the vaccine data
city_acs['city']=city_acs.city.replace(' CDP, California', '', regex=True)
city_acs['city']=city_acs.city.replace(' city, California', '', regex=True)
city_acs['city']=city_acs.city.replace(' town, California', '', regex=True)

county_acs['county']=county_acs.county.replace(' County, California', '', regex=True)

In [59]:
city_acs.head()

,geoid,city,tot_pop,male,male_pct,female,female_pct,under_5,under_5_pct,5_9,...,bachelor_degree_pct,median_income,insurance,insurance_pct,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct
0,1600000US0600135,Acalanes Ridge,1281,641,50.0,640,50.0,120,9.4,43,...,60.2,135865.0,1254,97.9,1185,92.5,229,17.9,27,2.1
1,1600000US0600156,Acampo,462,324,70.1,138,29.9,64,13.9,0,...,0.0,123635.0,377,81.6,377,81.6,0,0.0,85,18.4
2,1600000US0600212,Acton,7117,3547,49.8,3570,50.2,432,6.1,421,...,27.9,91888.0,6543,92.0,5676,79.8,1766,24.8,569,8.0
3,1600000US0600296,Adelanto,31040,16275,52.4,14765,47.6,3305,10.6,3262,...,7.4,41113.0,22321,76.4,10474,35.9,13060,44.7,6888,23.6
4,1600000US0600310,Adin,322,156,48.4,166,51.6,15,4.7,39,...,13.7,38750.0,308,95.7,222,68.9,157,48.8,14,4.3

In [60]:
county_acs.head()

,geoid,county,tot_pop,male,male_pct,female,female_pct,under_5,under_5_pct,5_9,...,bachelor_degree_pct,median_income,insurance,insurance_pct,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct
0,0500000US06001,Alameda,1515136,742993,49.0,772143,51.0,98185,6.5,95028,...,41.1,71516,1316411,87.6,1065525,70.9,376206,25.0,185774,12.4
1,0500000US06003,Alpine,1197,669,55.9,528,44.1,60,5.0,96,...,31.7,59931,906,75.7,649,54.2,363,30.3,291,24.3
2,0500000US06005,Amador,37764,20542,54.4,17222,45.6,1345,3.6,1706,...,18.8,53462,29297,87.9,23254,69.8,13004,39.0,4021,12.1
3,0500000US06007,Butte,220101,108961,49.5,111140,50.5,12340,5.6,12030,...,24.0,43339,182717,83.8,130226,59.7,82655,37.9,35348,16.2
4,0500000US06009,Calaveras,45507,22871,50.3,22636,49.7,1838,4.0,2338,...,20.8,54686,39963,88.8,31832,70.7,16796,37.3,5041,11.2

In [61]:
# Fix City naming to be similar for special characters
city_acs.loc[city_acs.city=='La Cañada Flintridge', 'city']='La Canada Flintridge'
city_acs.loc[city_acs.city=='Piñon Hills', 'city']='Pinon Hills'

# Change census cities names that are present in multiple places to match vaccine data city
city_acs.loc[city_acs.city=='El Sobrante CDP (Contra Costa County), California', 'city']='El Sobrante (Contra Costa County)'
city_acs.loc[city_acs.city=='Edwards Afb', 'city']='Edwards AFB'
city_acs.loc[city_acs.city=='Las Flores CDP (Orange County), California', 'city']='Las Flores (Orange County)'

In [62]:
# county_acs.to_csv("county_acs.csv", index=False)
# city_acs.to_csv("city_acs.csv", index=False)

## Combine all Vaccine Data with Demographic Data for County and City

In [63]:
# Combine with demographic city data
fulljoin=vac_data.merge(city_acs, left_on=['city','year'], right_on=['city','year'], how='left')

In [64]:
fulljoin.head()

,facility_num,county,is_public,city,facility_name,enrollment,n,pct,reported,vac_info_type,...,bachelor_degree_pct,median_income,insurance,insurance_pct,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct
0,NaN,Alameda,HEAD START,Alameda,ALAMEDA HEAD START - SUE MATHESON CENTER,45,43,95.555556,Y,ChildCareData,...,47.2,77249.0,65482.0,90.1,55055.0,75.7,18158.0,25.0,7212.0,9.9
1,NaN,Alameda,HEAD START,Alameda,ALAMEDA HEAD START - WASHINGTON,28,28,100.000000,Y,ChildCareData,...,47.2,77249.0,65482.0,90.1,55055.0,75.7,18158.0,25.0,7212.0,9.9
2,NaN,Alameda,HEAD START,Alameda,ALAMEDA HEAD START- COLLEGE OF ALAMEDA HEAD START,27,24,88.888889,Y,ChildCareData,...,47.2,77249.0,65482.0,90.1,55055.0,75.7,18158.0,25.0,7212.0,9.9
3,NaN,Alameda,HEAD START,Emeryville,BERKELEY YMCA HDSTART/ST PRESCH EMERYVILLE MARINA,46,45,97.826087,Y,ChildCareData,...,70.2,66136.0,8493.0,85.5,7233.0,72.8,2325.0,23.4,1441.0,14.5
4,NaN,Alameda,HEAD START,Berkeley,BERKELEY YMCA HEAD START - OCEAN VIEW,42,40,95.238095,Y,ChildCareData,...,69.5,63505.0,102661.0,91.4,91778.0,81.7,21254.0,18.9,9674.0,8.6

In [65]:
# fulljoin.to_csv("cleanjoin1118.csv", index=False)

### Make Correlation Datasets

### City

In [66]:
#Keep county, city, school grade, population #, enrollment, vaccinated (n), 
city_vac=vac_data[['county','city','enrollment','n','vac_info_type','school_year','year']]

In [67]:
city_vac.head()

    county        city  enrollment   n  vac_info_type school_year  year
0  Alameda     Alameda          45  43  ChildCareData   2011-2012  2012
1  Alameda     Alameda          28  28  ChildCareData   2011-2012  2012
2  Alameda     Alameda          27  24  ChildCareData   2011-2012  2012
3  Alameda  Emeryville          46  45  ChildCareData   2011-2012  2012
4  Alameda    Berkeley          42  40  ChildCareData   2011-2012  2012

In [68]:
city_vac=city_vac.groupby(by=['city', 'school_year', 'year'], as_index=False)['enrollment','n'].sum()

In [69]:
city_vac.rename(columns={'n': 'vaccinated'}, inplace=True)
city_vac['vac_pct']=city_vac.vaccinated/city_vac.enrollment*100

In [70]:
city_vac.head()

     city school_year  year  enrollment  vaccinated     vac_pct
0  Acampo   2011-2012  2012         366         360   98.360656
1  Acampo   2012-2013  2013         222         212   95.495495
2  Acampo   2013-2014  2014         220         214   97.272727
3  Acampo   2014-2015  2015         159         159  100.000000
4  Acampo   2015-2016  2016         133         131   98.496241

In [71]:
# Combine with demographic city data
city_corr=city_vac.merge(city_acs, left_on=['city','year'], right_on=['city','year'], how='left')

In [72]:
city_corr.head()

,city,school_year,year,enrollment,vaccinated,vac_pct,geoid,tot_pop,male,male_pct,...,bachelor_degree_pct,median_income,insurance,insurance_pct,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct
0,Acampo,2011-2012,2012,366,360,98.360656,1600000US0600156,462.0,324.0,70.1,...,0.0,123635.0,377.0,81.6,377.0,81.6,0.0,0.0,85.0,18.4
1,Acampo,2012-2013,2013,222,212,95.495495,1600000US0600156,666.0,480.0,72.1,...,17.9,126923.0,576.0,86.5,576.0,86.5,0.0,0.0,90.0,13.5
2,Acampo,2013-2014,2014,220,214,97.272727,1600000US0600156,776.0,511.0,65.9,...,17.3,141250.0,686.0,88.4,686.0,88.4,0.0,0.0,90.0,11.6
3,Acampo,2014-2015,2015,159,159,100.000000,1600000US0600156,787.0,533.0,67.7,...,18.9,152713.0,695.0,88.3,695.0,88.3,0.0,0.0,92.0,11.7
4,Acampo,2015-2016,2016,133,131,98.496241,1600000US0600156,466.0,291.0,62.4,...,30.0,155385.0,451.0,96.8,451.0,96.8,98.0,21.0,15.0,3.2

In [73]:
# city_corr.to_csv('city_correlation.csv', index=False)

### County

In [74]:
#Keep county, city, school grade, population #, enrollment, vaccinated (n), 
county_vac=vac_data[['county','city','enrollment','n','vac_info_type','school_year','year']]

In [75]:
county_vac=vac_data.groupby(by=['county', 'school_year','year'], as_index=False)['enrollment','n'].sum()

In [76]:
county_vac.rename(columns={'n': 'vaccinated'}, inplace=True)
county_vac['vac_pct']=county_vac.vaccinated/county_vac.enrollment*100

In [77]:
county_vac.tail()

    county school_year  year  enrollment  vaccinated    vac_pct
397   Yuba   2013-2014  2014        3189        3003  94.167451
398   Yuba   2014-2015  2015        3949        3768  95.416561
399   Yuba   2015-2016  2016        3383        3230  95.477387
400   Yuba   2016-2017  2017        2877        2785  96.802225
401   Yuba   2017-2018  2018        3375        3194  94.637037

In [78]:
# merge county education data
county_corr=county_vac.merge(county_acs, left_on=['county', 'year'], right_on=['county','year'], how='left')

In [79]:
county_corr.head()

,county,school_year,year,enrollment,vaccinated,vac_pct,geoid,tot_pop,male,male_pct,...,bachelor_degree_pct,median_income,insurance,insurance_pct,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct
0,Alameda,2011-2012,2012,148667,145045,97.563683,0500000US06001,1515136,742993,49.0,...,41.1,71516,1316411,87.6,1065525,70.9,376206,25.0,185774,12.4
1,Alameda,2012-2013,2013,60432,57112,94.506222,0500000US06001,1535248,752840,49.0,...,41.8,72112,1331504,87.4,1069074,70.2,391370,25.7,191264,12.6
2,Alameda,2013-2014,2014,59565,56333,94.573995,0500000US06001,1559308,763965,49.0,...,42.1,73775,1364761,88.2,1084523,70.1,413231,26.7,182223,11.8
3,Alameda,2014-2015,2015,60134,56902,94.625337,0500000US06001,1584983,776699,49.0,...,43.0,75619,1414617,89.9,1112221,70.7,438949,27.9,158734,10.1
4,Alameda,2015-2016,2016,62628,60910,97.256818,0500000US06001,1605217,786730,49.0,...,43.9,79831,1460959,91.6,1143354,71.7,459358,28.8,133234,8.4

In [80]:
#Export full combined County data
# county_corr.to_csv("county_correlation.csv", index=False)