In [1]:
import numpy as np
import pandas as pd

### Census Education Data City Level

In [2]:
educ11 = pd.read_csv("/Users/42/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/ACS_11_5YR_S1501.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-'])
educ12 = pd.read_csv("/Users/42/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/ACS_12_5YR_S1501.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-']) 
educ13 = pd.read_csv("/Users/42/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/ACS_13_5YR_S1501.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-']) 
educ14 = pd.read_csv("/Users/42/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/ACS_14_5YR_S1501.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-']) 
educ15 = pd.read_csv("/Users/42/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/ACS_15_5YR_S1501.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-']) 
educ16 = pd.read_csv("/Users/42/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/ACS_16_5YR_S1501.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-']) 


edu11 = pd.read_csv("/Users/42/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/County/ACS_11_5YR_S1501.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-'])
edu12 = pd.read_csv("/Users/42/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/County/ACS_12_5YR_S1501.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-']) 
edu13 = pd.read_csv("/Users/42/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/County/ACS_13_5YR_S1501.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-']) 
edu14 = pd.read_csv("/Users/42/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/County/ACS_14_5YR_S1501.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-']) 
edu15 = pd.read_csv("/Users/42/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/County/ACS_15_5YR_S1501.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-']) 
edu16 = pd.read_csv("/Users/42/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/County/ACS_16_5YR_S1501.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-'])

In [3]:
#City
educ11= educ11[['GEO.id', 'HC01_EST_VC16','HC01_EST_VC17']]
educ12= educ12[['GEO.id', 'HC01_EST_VC16','HC01_EST_VC17']]
educ13= educ13[['GEO.id', 'HC01_EST_VC16','HC01_EST_VC17']]
educ14= educ14[['GEO.id', 'HC01_EST_VC16','HC01_EST_VC17']]
educ15= educ15[['GEO.id', 'HC02_EST_VC17','HC02_EST_VC18']]
educ16= educ16[['GEO.id', 'HC02_EST_VC17','HC02_EST_VC18']]

#County
edu11= edu11[['GEO.id', 'HC01_EST_VC16','HC01_EST_VC17']]
edu12= edu12[['GEO.id', 'HC01_EST_VC16','HC01_EST_VC17']]
edu13= edu13[['GEO.id', 'HC01_EST_VC16','HC01_EST_VC17']]
edu14= edu14[['GEO.id', 'HC01_EST_VC16','HC01_EST_VC17']]
edu15= edu15[['GEO.id', 'HC02_EST_VC17','HC02_EST_VC18']]
edu16= edu16[['GEO.id', 'HC02_EST_VC17','HC02_EST_VC18']]

In [4]:
# City
educ11.rename(columns={'GEO.id': 'geoid',
                         'HC01_EST_VC16': 'hs_degree_pct',
                         'HC01_EST_VC17': 'bachleor_degree_pct' 
                        }, 
                inplace=True)
educ12.rename(columns={'GEO.id': 'geoid',
                         'HC01_EST_VC16': 'hs_degree_pct',
                         'HC01_EST_VC17': 'bachleor_degree_pct' 
                        }, 
                inplace=True)
educ13.rename(columns={'GEO.id': 'geoid',
                         'HC01_EST_VC16': 'hs_degree_pct',
                         'HC01_EST_VC17': 'bachleor_degree_pct' 
                        }, 
                inplace=True)
educ14.rename(columns={'GEO.id': 'geoid',
                         'HC01_EST_VC16': 'hs_degree_pct',
                         'HC01_EST_VC17': 'bachleor_degree_pct' 
                        }, 
                inplace=True)

educ15.rename(columns={'GEO.id': 'geoid',
                         'HC02_EST_VC17': 'hs_degree_pct',
                         'HC02_EST_VC18': 'bachleor_degree_pct' 
                        }, 
                inplace=True)
educ16.rename(columns={'GEO.id': 'geoid',
                         'HC02_EST_VC17': 'hs_degree_pct',
                         'HC02_EST_VC18': 'bachleor_degree_pct' 
                        }, 
                inplace=True)

#County
edu11.rename(columns={
                         'HC01_EST_VC16': 'hs_degree_pct',
                         'HC01_EST_VC17': 'bachleor_degree_pct' 
                        }, 
                inplace=True)
edu12.rename(columns={
                         'HC01_EST_VC16': 'hs_degree_pct',
                         'HC01_EST_VC17': 'bachleor_degree_pct' 
                        }, 
                inplace=True)
edu13.rename(columns={
                         'HC01_EST_VC16': 'hs_degree_pct',
                         'HC01_EST_VC17': 'bachleor_degree_pct' 
                        }, 
                inplace=True)
edu14.rename(columns={
                         'HC01_EST_VC16': 'hs_degree_pct',
                         'HC01_EST_VC17': 'bachleor_degree_pct' 
                        }, 
                inplace=True)

edu15.rename(columns={
                         'HC02_EST_VC17': 'hs_degree_pct',
                         'HC02_EST_VC18': 'bachleor_degree_pct' 
                        }, 
                inplace=True)
edu16.rename(columns={
                         'HC02_EST_VC17': 'hs_degree_pct',
                         'HC02_EST_VC18': 'bachleor_degree_pct' 
                        }, 
                inplace=True)

In [5]:
educ11['year']='2011'
educ12['year']='2012'
educ13['year']='2013'
educ14['year']='2014'
educ15['year']='2015'
educ16['year']='2016'

educ17=educ16.copy()
educ17['year']='2017'
educ18=educ16.copy()
educ18['year']='2018'


edu11['year']='2011'
edu12['year']='2012'
edu13['year']='2013'
edu14['year']='2014'
edu15['year']='2015'
edu16['year']='2016'

edu17=edu16.copy()
edu17['year']='2017'
edu18=edu16.copy()
edu18['year']='2018'

In [6]:
educ18.head()

              geoid  hs_degree_pct  bachleor_degree_pct  year
0  1600000US0600135          100.0                 79.5  2018
1  1600000US0600156           96.3                 30.0  2018
2  1600000US0600212           90.6                 27.8  2018
3  1600000US0600296           64.7                  6.1  2018
4  1600000US0600310          100.0                 30.9  2018

In [7]:
edu18.head()

           GEO.id  hs_degree_pct  bachleor_degree_pct  year
0  0500000US06001           87.3                 43.9  2018
1  0500000US06003           91.1                 29.7  2018
2  0500000US06005           88.3                 21.5  2018
3  0500000US06007           88.3                 26.1  2018
4  0500000US06009           90.4                 20.2  2018

In [8]:
county_edu=pd.concat([ 
           edu12,
           edu13,
           edu14,
           edu15,
           edu16,
           edu17,
           edu18
          ],ignore_index=True)

city_edu=pd.concat([ 
           educ12,
           educ13,
           educ14,
           educ15,
           educ16,
           educ17,
           educ18
          ],ignore_index=True)

In [9]:
county_edu.head()

           GEO.id  hs_degree_pct  bachleor_degree_pct  year
0  0500000US06001           86.2                 41.1  2012
1  0500000US06003           91.1                 31.7  2012
2  0500000US06005           87.5                 18.8  2012
3  0500000US06007           86.7                 24.0  2012
4  0500000US06009           92.8                 20.8  2012

In [10]:
city_edu.head()

              geoid  hs_degree_pct  bachleor_degree_pct  year
0  1600000US0600135           93.2                 60.2  2012
1  1600000US0600156           54.3                  0.0  2012
2  1600000US0600212           93.6                 27.9  2012
3  1600000US0600296           67.4                  7.4  2012
4  1600000US0600310           83.1                 13.7  2012

## Combine all Vaccine Data Years

In [11]:
# Import compiled vaccine data
data1112 = pd.read_csv("cleanjoin1112.csv", encoding = "ISO-8859-1")
data1213 = pd.read_csv("cleanjoin1213.csv", encoding = "ISO-8859-1")
data1314 = pd.read_csv("cleanjoin1314.csv", encoding = "ISO-8859-1")
data1415 = pd.read_csv("cleanjoin1415.csv", encoding = "ISO-8859-1")
data1516 = pd.read_csv("cleanjoin1516.csv", encoding = "ISO-8859-1")
data1617 = pd.read_csv("cleanjoin1617.csv", encoding = "ISO-8859-1")
data1718 = pd.read_csv("cleanjoin1718.csv", encoding = "ISO-8859-1")

In [12]:
data1112['year']='2012'
data1213['year']='2013'
data1314['year']='2014'
data1415['year']='2015'
data1516['year']='2016'
data1617['year']='2017'
data1718['year']='2018'

data1112['school_year']='2011-2012'
data1213['school_year']='2012-2013'
data1314['school_year']='2013-2014'
data1415['school_year']='2014-2015'
data1516['school_year']='2015-2016'
data1617['school_year']='2016-2017'
data1718['school_year']='2017-2018'

In [13]:
data1112.dtypes

facility_num           float64
county                  object
is_public               object
city                    object
facility_name           object
enrollment             float64
n                      float64
pct                    float64
reported                object
vac_info_type           object
geoid                   object
geoid2                 float64
tot_pop                float64
male                   float64
male_pct               float64
female                 float64
female_pct             float64
under_5                float64
under_5_pct            float64
5_9                    float64
5_9_pct                float64
10_14                  float64
10_14_pct              float64
15_19                  float64
15_19_pct              float64
20_24                  float64
20_24_pct              float64
25_34                  float64
25_34_pct              float64
35_44                  float64
                        ...
85_over_pct            float64
median_age             float64
median_age_pct         float64
hispanic_latino        float64
hispanic_latino_pct    float64
mexican                float64
mexican_pct            float64
white                  float64
white_pct              float64
black                  float64
black_pct              float64
aian                   float64
aian_pct               float64
asian                  float64
asian_pct              float64
nhopi                  float64
nhopi_pct              float64
other                  float64
other_pct              float64
median_income          float64
HC01_VC128             float64
HC03_VC128             float64
HC01_VC129             float64
HC03_VC129             float64
HC01_VC130             float64
HC03_VC130             float64
insurance              float64
insurance_pct          float64
year                    object
school_year             object
Length: 72, dtype: object

In [14]:
cleanjoin1118=pd.concat([
           data1112, 
           data1213,
           data1314,
           data1415,
           data1516,
           data1617,
           data1718
          ],ignore_index=False,sort=False)

In [15]:
cleanjoin1118.head()

,facility_num,county,is_public,city,facility_name,enrollment,n,pct,reported,vac_info_type,...,insurance,insurance_pct,year,school_year,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct
0,NaN,Alameda,HEAD START,Alameda,ALAMEDA HEAD START - SUE MATHESON CENTER,45.0,43.0,95.555556,Y,ChildCareData,...,7212.0,9.9,2012,2011-2012,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Alameda,HEAD START,Alameda,ALAMEDA HEAD START - WASHINGTON,28.0,28.0,100.000000,Y,ChildCareData,...,7212.0,9.9,2012,2011-2012,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Alameda,HEAD START,Alameda,ALAMEDA HEAD START- COLLEGE OF ALAMEDA HEAD START,27.0,24.0,88.888889,Y,ChildCareData,...,7212.0,9.9,2012,2011-2012,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Alameda,HEAD START,Emeryville,BERKELEY YMCA HDSTART/ST PRESCH EMERYVILLE MARINA,46.0,45.0,97.826087,Y,ChildCareData,...,1441.0,14.5,2012,2011-2012,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Alameda,HEAD START,Berkeley,BERKELEY YMCA HEAD START - OCEAN VIEW,42.0,40.0,95.238095,Y,ChildCareData,...,9674.0,8.6,2012,2011-2012,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
cleanjoin1118.dtypes

facility_num          float64
county                 object
is_public              object
city                   object
facility_name          object
enrollment            float64
n                     float64
pct                   float64
reported               object
vac_info_type          object
geoid                  object
geoid2                float64
tot_pop               float64
male                  float64
male_pct              float64
female                float64
female_pct            float64
under_5               float64
under_5_pct           float64
5_9                   float64
5_9_pct               float64
10_14                 float64
10_14_pct             float64
15_19                 float64
15_19_pct             float64
20_24                 float64
20_24_pct             float64
25_34                 float64
25_34_pct             float64
35_44                 float64
                       ...
mexican_pct           float64
white                 float64
white_pct             float64
black                 float64
black_pct             float64
aian                  float64
aian_pct              float64
asian                 float64
asian_pct             float64
nhopi                 float64
nhopi_pct             float64
other                 float64
other_pct             float64
median_income         float64
HC01_VC128            float64
HC03_VC128            float64
HC01_VC129            float64
HC03_VC129            float64
HC01_VC130            float64
HC03_VC130            float64
insurance             float64
insurance_pct         float64
year                   object
school_year            object
private_insure        float64
private_insure_pct    float64
public_insure         float64
public_insure_pct     float64
no_insurance          float64
no_insurance_pct      float64
Length: 78, dtype: object

In [17]:
# Combine with education data
fulljoin=cleanjoin1118.merge(city_edu, left_on=['geoid','year'], right_on=['geoid','year'], how='left')

In [18]:
fulljoin.head()

,facility_num,county,is_public,city,facility_name,enrollment,n,pct,reported,vac_info_type,...,year,school_year,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct,hs_degree_pct,bachleor_degree_pct
0,NaN,Alameda,HEAD START,Alameda,ALAMEDA HEAD START - SUE MATHESON CENTER,45.0,43.0,95.555556,Y,ChildCareData,...,2012,2011-2012,NaN,NaN,NaN,NaN,NaN,NaN,91.5,47.2
1,NaN,Alameda,HEAD START,Alameda,ALAMEDA HEAD START - WASHINGTON,28.0,28.0,100.000000,Y,ChildCareData,...,2012,2011-2012,NaN,NaN,NaN,NaN,NaN,NaN,91.5,47.2
2,NaN,Alameda,HEAD START,Alameda,ALAMEDA HEAD START- COLLEGE OF ALAMEDA HEAD START,27.0,24.0,88.888889,Y,ChildCareData,...,2012,2011-2012,NaN,NaN,NaN,NaN,NaN,NaN,91.5,47.2
3,NaN,Alameda,HEAD START,Emeryville,BERKELEY YMCA HDSTART/ST PRESCH EMERYVILLE MARINA,46.0,45.0,97.826087,Y,ChildCareData,...,2012,2011-2012,NaN,NaN,NaN,NaN,NaN,NaN,96.6,70.2
4,NaN,Alameda,HEAD START,Berkeley,BERKELEY YMCA HEAD START - OCEAN VIEW,42.0,40.0,95.238095,Y,ChildCareData,...,2012,2011-2012,NaN,NaN,NaN,NaN,NaN,NaN,95.0,69.5

In [19]:
fulljoin.to_csv("cleanjoin1118.csv", index=False)

### Make Correlation Datasets

### City

In [20]:
#Keep county, city, school grade, population #, enrollment, vaccinated (n), 
vac1112=data1112[['county','city','enrollment','n','vac_info_type']]
vac1213=data1213[['county','city','enrollment','n','vac_info_type']]
vac1314=data1314[['county','city','enrollment','n','vac_info_type']]
vac1415=data1415[['county','city','enrollment','n','vac_info_type']]
vac1516=data1516[['county','city','enrollment','n','vac_info_type']]
vac1617=data1617[['county','city','enrollment','n','vac_info_type']]
vac1718=data1718[['county','city','enrollment','n','vac_info_type']]

In [21]:
vac1112.head()

    county        city  enrollment     n  vac_info_type
0  Alameda     Alameda        45.0  43.0  ChildCareData
1  Alameda     Alameda        28.0  28.0  ChildCareData
2  Alameda     Alameda        27.0  24.0  ChildCareData
3  Alameda  Emeryville        46.0  45.0  ChildCareData
4  Alameda    Berkeley        42.0  40.0  ChildCareData

In [22]:
data1112.head()

,facility_num,county,is_public,city,facility_name,enrollment,n,pct,reported,vac_info_type,...,HC01_VC128,HC03_VC128,HC01_VC129,HC03_VC129,HC01_VC130,HC03_VC130,insurance,insurance_pct,year,school_year
0,NaN,Alameda,HEAD START,Alameda,ALAMEDA HEAD START - SUE MATHESON CENTER,45.0,43.0,95.555556,Y,ChildCareData,...,65482.0,90.1,55055.0,75.7,18158.0,25.0,7212.0,9.9,2012,2011-2012
1,NaN,Alameda,HEAD START,Alameda,ALAMEDA HEAD START - WASHINGTON,28.0,28.0,100.000000,Y,ChildCareData,...,65482.0,90.1,55055.0,75.7,18158.0,25.0,7212.0,9.9,2012,2011-2012
2,NaN,Alameda,HEAD START,Alameda,ALAMEDA HEAD START- COLLEGE OF ALAMEDA HEAD START,27.0,24.0,88.888889,Y,ChildCareData,...,65482.0,90.1,55055.0,75.7,18158.0,25.0,7212.0,9.9,2012,2011-2012
3,NaN,Alameda,HEAD START,Emeryville,BERKELEY YMCA HDSTART/ST PRESCH EMERYVILLE MARINA,46.0,45.0,97.826087,Y,ChildCareData,...,8493.0,85.5,7233.0,72.8,2325.0,23.4,1441.0,14.5,2012,2011-2012
4,NaN,Alameda,HEAD START,Berkeley,BERKELEY YMCA HEAD START - OCEAN VIEW,42.0,40.0,95.238095,Y,ChildCareData,...,102661.0,91.4,91778.0,81.7,21254.0,18.9,9674.0,8.6,2012,2011-2012

In [23]:
vac1112=vac1112.groupby(by=['city'], as_index=False)['enrollment','n'].sum()
vac1213=vac1213.groupby(by=['city'], as_index=False)['enrollment','n'].sum()
vac1314=vac1314.groupby(by=['city'], as_index=False)['enrollment','n'].sum()
vac1415=vac1415.groupby(by=['city'], as_index=False)['enrollment','n'].sum()
vac1516=vac1516.groupby(by=['city'], as_index=False)['enrollment','n'].sum()
vac1617=vac1617.groupby(by=['city'], as_index=False)['enrollment','n'].sum()
vac1718=vac1718.groupby(by=['city'], as_index=False)['enrollment','n'].sum()

In [24]:
vac1112['school_year']='2011-2012'
vac1112['year']='2012'

vac1213['school_year']='2012-2013'
vac1213['year']='2013'

vac1314['school_year']='2013-2014'
vac1314['year']='2014'

vac1415['school_year']='2014-2015'
vac1415['year']='2015'

vac1516['school_year']='2015-2016'
vac1516['year']='2016'

vac1617['school_year']='2016-2017'
vac1617['year']='2017'

vac1718['school_year']='2017-2018'
vac1718['year']='2018'

In [25]:
vac_11_18=pd.concat([vac1112, 
           vac1213,
           vac1314,
           vac1415,
           vac1516,
           vac1617,
           vac1718
          ],ignore_index=True, sort=False)

In [26]:
# # Fix typos
# vac_11_18.loc[vac_11_18.city=='Ananheim', 'city']='Anaheim'
# vac_11_18.loc[vac_11_18.city=='Costa Mesa,', 'city']='Costa Mesa'
# vac_11_18.loc[vac_11_18.city=='Paso Robles', 'city']='El Paso De Robles (Paso Robles)'
# vac_11_18.loc[vac_11_18.city=='El Paso de Robles', 'city']='El Paso De Robles (Paso Robles)'
# vac_11_18.loc[vac_11_18.city=='Chasworth', 'city']='Los Angeles'
# vac_11_18.loc[vac_11_18.city=='Huntington  Beach', 'city']='Huntington Beach'
# vac_11_18.loc[vac_11_18.city=='Long  Beach', 'city']='Long Beach'
# vac_11_18.loc[vac_11_18.city=='Mt Baldy', 'city']='Mount Baldy'
# vac_11_18.loc[vac_11_18.city=='Mt. Baldy', 'city']='Mount Baldy'
# vac_11_18.loc[vac_11_18.city=='North Hollywood', 'city']='Los Angeles'
# vac_11_18.loc[vac_11_18.city=='Oneals', 'city']="O'Neals"
# vac_11_18.loc[vac_11_18.city=='Canyon County', 'city']='Santa Clarita'
# vac_11_18.loc[vac_11_18.city=='Coaresgold', 'city']='Coarsegold'
# vac_11_18.loc[vac_11_18.city=='El Toro', 'city']='Lake Forest'
# vac_11_18.loc[vac_11_18.city=='Herber', 'city']='Heber'
# vac_11_18.loc[vac_11_18.city=='Hespera', 'city']='Hesperia'
# vac_11_18.loc[vac_11_18.city=='Los Oso', 'city']='Los Osos'
# vac_11_18.loc[vac_11_18.city=='Newport Coast', 'city']='Newport Beach'
# vac_11_18.loc[vac_11_18.city=='Pinedale', 'city']='Fresno'
# vac_11_18.loc[vac_11_18.city=='Rancho Tehema', 'city']='Rancho Tehama Reserve'
# vac_11_18.loc[vac_11_18.city=='Redding ', 'city']='Redding'
# vac_11_18.loc[vac_11_18.city=='Riversidty', 'city']='Riverside'
# vac_11_18.loc[vac_11_18.city=='San Bernadino', 'city']='San Bernardino'
# vac_11_18.loc[vac_11_18.city=='Simi  Valley', 'city']='Simi Valley'
# vac_11_18.loc[vac_11_18.city=='Hilmar', 'city']='Hilmar-Irwin'

In [27]:
vac_11_18.rename(columns={'n': 'vaccinated'}, inplace=True)
vac_11_18['vac_pct']=vac_11_18.vaccinated/vac_11_18.enrollment*100

In [28]:
vac_11_18.city.unique()

array(['Acampo', 'Acton', 'Adelanto', 'Adin', 'Agoura Hills',
       'Agua Dulce', 'Aguanga', 'Ahwahnee', 'Alameda', 'Alamo', 'Albany',
       'Alhambra', 'Aliso Viejo', 'Allensworth', 'Alpaugh', 'Alpine',
       'Alta', 'Altadena', 'Alturas', 'American Canyon', 'Anaheim',
       'Anderson', 'Angels', 'Angwin', 'Antelope', 'Antioch', 'Anza',
       'Apple Valley', 'Aptos', 'Arboga', 'Arbuckle', 'Arcadia', 'Arcata',
       'Armona', 'Arnold', 'Aromas', 'Arroyo Grande', 'Artesia', 'Arvin',
       'Atascadero', 'Atherton', 'Atwater', 'Auberry', 'Auburn', 'Avalon',
       'Avenal', 'Avery', 'Azusa', 'Baker', 'Bakersfield', 'Baldwin Park',
       'Baldy Mesa', 'Ballico', 'Bangor', 'Banning', 'Banta', 'Barstow',
       'Bay Point', 'Bayside', 'Beale AFB', 'Beaumont', 'Bell',
       'Bell Gardens', 'Bella Vista', 'Bellflower', 'Belmont',
       'Belvedere', 'Ben Lomond', 'Benicia', 'Berkeley', 'Bermuda Dunes',
       'Berry Creek', 'Beverly Hills', 'Bieber', 'Big Bear City',
       'Big Bear Lake', 'Big Pine', 'Big River', 'Big Sur', 'Biggs',
       'Bishop', 'Bloomington', 'Blue Lake', 'Blythe', 'Bodega Bay',
       'Bolinas', 'Bonita', 'Bonsall', 'Boonville', 'Boron',
       'Borrego Springs', 'Boulder Creek', 'Boulevard',
       'Boyes Hot Springs', 'Bradley', 'Brawley', 'Brea', 'Brentwood',
       'Briceland', 'Bridgeport', 'Bridgeville', 'Brisbane',
       'Browns Valley', 'Buellton', 'Buena Park', 'Burbank', 'Burlingame',
       'Burney', 'Burnt Ranch', 'Burrel', 'Buttonwillow', 'Byron',
       'Cabazon', 'Calabasas', 'Calexico', 'California City', 'Calimesa',
       'Calipatria', 'Calistoga', 'Calpella', 'Camarillo', 'Cambria',
       'Cameron Park', 'Camino', 'Camp Pendleton North', 'Campbell',
       'Campo', 'Cantua Creek', 'Canyon', 'Capitola', 'Carlotta',
       'Carlsbad', 'Carmel Valley Village', 'Carmichael', 'Carpinteria',
       'Carson', 'Caruthers', 'Caspar', 'Castaic', 'Castella',
       'Castro Valley', 'Castroville', 'Cathedral City', 'Cayucos',
       'Cedarville', 'Ceres', 'Cerritos', 'Challenge', 'Cherry Valley',
       'Chester', 'Chicago Park', 'Chico', 'Chino', 'Chino Hills',
       'Chowchilla', 'Chualar', 'Chula Vista', 'Citrus Heights',
       'Claremont', 'Clarksburg', 'Clayton', 'Clearlake',
       'Clearlake Oaks', 'Clipper Gap', 'Cloverdale', 'Clovis',
       'Coachella', 'Coalinga', 'Coarsegold', 'Cobb', 'Coleville',
       'Colfax', 'Colma', 'Colton', 'Columbia', 'Colusa', 'Commerce',
       'Compton', 'Concord', 'Cool', 'Copperopolis', 'Corcoran',
       'Corning', 'Corona', 'Coronado', 'Corralitos', 'Corte Madera',
       'Costa Mesa', 'Cotati', 'Cottonwood', 'Courtland', 'Covelo',
       'Covina', 'Crescent City', 'Crescent Mills', 'Cressey',
       'Crest Park', 'Crestline', 'Creston', 'Crockett', 'Crows Landing',
       'Cudahy', 'Culver City', 'Cupertino', 'Cutler', 'Cuyama',
       'Cypress', 'Daggett', 'Daly City', 'Dana Point', 'Danville',
       'Davenport', 'Davis', 'Del Mar', 'Del Rey', 'Del Rey Oaks',
       'Delano', 'Delhi', 'Denair', 'Descanso', 'Desert Hot Springs',
       'Diamond Bar', 'Diamond Springs', 'Dinuba', 'Discovery Bay',
       'Dixon', 'Dobbins', 'Dorris', 'Dos Palos', 'Douglas City',
       'Downey', 'Doyle', 'Duarte', 'Dublin', 'Ducor', 'Dunlap',
       'Dunsmuir', 'Durham', 'Earlimart', 'East Nicolaus',
       'East Palo Alto', 'East Rancho Dominguez', 'East Whittier',
       'Eastvale', 'Edgewood', 'Edwards AFB', 'El Cajon', 'El Centro',
       'El Cerrito', 'El Dorado', 'El Dorado Hills', 'El Granada',
       'El Monte', 'El Nido', 'El Paso de Robles (Paso Robles)',
       'El Segundo', 'El Sobrante (Contra Costa County)', 'Elk Creek',
       'Elk Grove', 'Elverta', 'Emeryville', 'Empire', 'Encinitas',
       'Escalon', 'Escondido', 'Esparto', 'Etna', 'Eureka', 'Exeter',
       'Fair Oaks', 'Fairfax', 'Fairfield', 'Fairmead',
       'Fall River Mills', 'Fallbrook', 'Farmersville', 'Farmington',
       'Fellows', 'Felton', 'Ferndale', 'Fieldbrook', 'Fillmore',
       'Firebaugh', 'Five Points', 'Folsom', 'Fontana', 'Forest Falls',
       'Forest Ranch', 'Foresthill', 'Forestville', 'Fort Bragg',
       'Fort Dick', 'Fort Irwin', 'Fort Jones', 'Fortuna', 'Foster City',
       'Fountain Valley', 'Fowler', 'Frazier Park', 'Freedom', 'Fremont',
       'French Camp', 'Fresno', 'Fullerton', 'Galt', 'Garden Grove',
       'Garden Valley', 'Gardena', 'Gaviota', 'Gazelle', 'Georgetown',
       'Gerber', 'Geyserville', 'Gilroy', 'Glen Ellen', 'Glendale',
       'Glendora', 'Glenn', 'Gold River', 'Goleta', 'Gonzales', 'Gorman',
       'Goshen', 'Grand Terrace', 'Granite Bay', 'Grass Valley',
       'Greeley Hill', 'Greenfield', 'Greenville', 'Grenada', 'Gridley',
       'Grimes', 'Groveland', 'Grover Beach', 'Guadalupe', 'Guerneville',
       'Gustine', 'Hacienda Heights', 'Half Moon Bay', 'Hamilton City',
       'Hanford', 'Happy Camp', 'Hawaiian Gardens', 'Hawthorne',
       'Hayfork', 'Hayward', 'Healdsburg', 'Heber', 'Helendale', 'Helm',
       'Hemet', 'Herald', 'Hercules', 'Herlong', 'Hermosa Beach',
       'Hesperia', 'Hickman', 'Highland', 'Hillsborough', 'Hilmar-Irwin',
       'Hinkley', 'Hollister', 'Holtville', 'Hoopa', 'Hughson',
       'Huntington Beach', 'Huntington Park', 'Huron', 'Hydesville',
       'Idyllwild-Pine Cove', 'Imperial', 'Imperial Beach',
       'Indian Wells', 'Indio', 'Industry', 'Inglewood', 'Inverness',
       'Inyokern', 'Ione', 'Irvine', 'Irwindale', 'Isleton', 'Ivanhoe',
       'Jackson', 'Jacumba', 'Jamestown', 'Jamul', 'Janesville',
       'Joshua Tree', 'Julian', 'Junction City', 'Jurupa Valley',
       'Kelseyville', 'Kensington', 'Kentfield', 'Kenwood', 'Kerman',
       'Kernville', 'Kettleman City', 'Keyes', 'King City', 'Kings Beach',
       'Kingsburg', 'Klamath', 'Knights Ferry', 'Knights Landing',
       'Knightsen', 'La Canada Flintridge', 'La Crescenta-Montrose',
       'La Grange', 'La Habra', 'La Habra Heights', 'La Honda', 'La Mesa',
       'La Mirada', 'La Palma', 'La Puente', 'La Quinta',
       'La Selva Beach', 'La Verne', 'Ladera Ranch', 'Lafayette',
       'Laguna Beach', 'Laguna Hills', 'Laguna Niguel', 'Laguna Woods',
       'Lake Arrowhead', 'Lake Elsinore', 'Lake Forest', 'Lake Hughes',
       'Lake Isabella', 'Lake Mathews', 'Lakeport', 'Lakeside',
       'Lakewood', 'Lamont', 'Lancaster', 'Larkspur',
       'Las Flores (Orange County)', 'Lathrop', 'Laton', 'Lawndale',
       'Laytonville', 'Le Grand', 'Lebec', 'Lee Vining', 'Leggett',
       'Lemon Cove', 'Lemon Grove', 'Lemoore', 'Lemoore Station',
       'Lennox', 'Leona Valley', 'Lewiston', 'Lincoln', 'Linden',
       'Lindsay', 'Litchfield', 'Littlerock', 'Live Oak', 'Livermore',
       'Livingston', 'Lockeford', 'Lockwood', 'Lodi', 'Loleta',
       'Loma Linda', 'Lomita', 'Lompoc', 'London', 'Lone Pine',
       'Long Barn', 'Long Beach', 'Loomis', 'Los Alamitos', 'Los Alamos',
       'Los Altos', 'Los Altos Hills', 'Los Angeles', 'Los Banos',
       'Los Gatos', 'Los Molinos', 'Los Olivos', 'Los Osos', 'Lost Hills',
       'Lower Lake', 'Loyalton', 'Lucerne', 'Lucerne Valley', 'Lynwood',
       'Macdoel', 'Madera', 'Madison', 'Magalia', 'Malibu',
       'Mammoth Lakes', 'Manhattan Beach', 'Manteca', 'Maricopa',
       'Marin City', 'Marina', 'Marina del Rey', 'Mariposa',
       'Markleeville', 'Martinez', 'Marysville', 'Mather', 'Maxwell',
       'Maywood', 'McArthur', 'McCloud', 'McFarland', 'McKinleyville',
       'McKittrick', 'Meadow Vista', 'Mecca', 'Mendocino', 'Mendota',
       'Menifee', 'Menlo Park', 'Mentone', 'Merced', 'Middletown',
       'Midway City', 'Mill Valley', 'Millbrae', 'Millville', 'Milpitas',
       'Miranda', 'Mission Hills', 'Mission Viejo', 'Modesto',
       'Moffett Field', 'Mojave', 'Mokelumne Hill', 'Monrovia',
       'Montague', 'Montara', 'Montclair', 'Monte Rio', 'Montebello',
       'Monterey', 'Monterey Park', 'Montgomery Creek', 'Moorpark',
       'Moraga', 'Moreno Valley', 'Morgan Hill', 'Morongo Valley',
       'Morro Bay', 'Mount Baldy', 'Mount Hermon', 'Mount Shasta',
       'Mountain House', 'Mountain View', 'Murphys', 'Murrieta', 'Napa',
       'National City', 'Needles', 'Nevada City', 'New Cuyama', 'Newark',
       'Newberry Springs', 'Newcastle', 'Newell', 'Newman',
       'Newport Beach', 'Nicolaus', 'Niland', 'Nipomo', 'Norco', 'Norden',
       'North Fork', 'North Highlands', 'North San Juan', 'Norwalk',
       'Novato', 'Nuevo', "O'Neals", 'Oak Hills', 'Oak Park', 'Oak Run',
       'Oak View', 'Oakdale', 'Oakhurst', 'Oakland', 'Oakley',
       'Occidental', 'Oceano', 'Oceanside', 'Ojai', 'Olivehurst',
       'Ontario', 'Orange', 'Orange Cove', 'Orangevale', 'Orcutt',
       'Oregon House', 'Orinda', 'Orland', 'Orleans', 'Oro Grande',
       'Orosi', 'Oroville', 'Oxnard', 'Pacific Grove', 'Pacifica', 'Pala',
       'Palermo', 'Palm Desert', 'Palm Springs', 'Palmdale', 'Palo Alto',
       'Palo Cedro', 'Palos Verdes Estates', 'Paradise', 'Paramount',
       'Parlier', 'Pasadena', 'Patterson', 'Pauma Valley', 'Pearblossom',
       'Pebble Beach', 'Penn Valley', 'Penngrove', 'Penryn', 'Perris',
       'Pescadero', 'Petaluma', 'Petrolia', 'Phelan', 'Pico Rivera',
       'Piedmont', 'Pine Grove', 'Pine Mountain Club', 'Pine Valley',
       'Pinole', 'Pinon Hills', 'Pioneer', 'Piru', 'Pismo Beach',
       'Pittsburg', 'Pixley', 'Placentia', 'Placerville', 'Planada',
       'Pleasant Grove', 'Pleasant Hill', 'Pleasanton', 'Plumas Lake',
       'Plymouth', 'Point Arena', 'Point Reyes Station', 'Pollock Pines',
       'Pomona', 'Pope Valley', 'Poplar-Cotton Center', 'Port Hueneme',
       'Porterville', 'Portola', 'Portola Valley', 'Potrero',
       'Potter Valley', 'Poway', 'Prather', 'Princeton', 'Prunedale',
       'Quartz Hill', 'Quincy', 'Rainbow', 'Raisin City', 'Ramona',
       'Rancho Cordova', 'Rancho Cucamonga', 'Rancho Mirage',
       'Rancho Murieta', 'Rancho Palos Verdes', 'Rancho Santa Fe',
       'Rancho Santa Margarita', 'Rancho Tehama Reserve', 'Raymond',
       'Red Bluff', 'Redding', 'Redlands', 'Redondo Beach', 'Redway',
       'Redwood City', 'Redwood Valley', 'Reedley', 'Rescue', 'Rialto',
       'Richgrove', 'Richmond', 'Ridgecrest', 'Rim Forest', 'Rio Dell',
       'Rio Linda', 'Rio Oso', 'Rio Vista', 'Ripon', 'Riverbank',
       'Riverdale', 'Riverside', 'Robbins', 'Rocklin', 'Rodeo',
       'Rohnert Park', 'Rolling Hills', 'Rolling Hills Estates',
       'Romoland', 'Rosamond', 'Rosemead', 'Roseville', 'Ross',
       'Rossmoor', 'Rowland Heights', 'Running Springs', 'Rutherford',
       'Sacramento', 'Salida', 'Salinas', 'Salton City', 'San Andreas',
       'San Anselmo', 'San Ardo', 'San Bernardino', 'San Bruno',
       'San Buenaventura (Ventura)', 'San Carlos', 'San Clemente',
       'San Diego', 'San Dimas', 'San Fernando', 'San Francisco',
       'San Gabriel', 'San Geronimo', 'San Jacinto', 'San Joaquin',
       'San Jose', 'San Juan Bautista', 'San Juan Capistrano',
       'San Leandro', 'San Lorenzo', 'San Lucas', 'San Luis Obispo',
       'San Marcos', 'San Marino', 'San Martin', 'San Mateo',
       'San Miguel (San Luis Obispo County)', 'San Pablo', 'San Rafael',
       'San Ramon', 'Sanger', 'Santa Ana', 'Santa Barbara', 'Santa Clara',
       'Santa Clarita', 'Santa Cruz', 'Santa Fe Springs',
       'Santa Margarita', 'Santa Maria', 'Santa Monica', 'Santa Nella',
       'Santa Paula', 'Santa Rosa', 'Santa Ynez', 'Santee', 'Saratoga',
       'Saticoy', 'Sausalito', 'Scotia', 'Scotts Valley', 'Seal Beach',
       'Seaside', 'Sebastopol', 'Seeley', 'Selma', 'Shafter', 'Shandon',
       'Shasta', 'Shasta Lake', 'Sheridan', 'Shingle Springs',
       'Shingletown', 'Sierra Madre', 'Signal Hill', 'Silverado',
       'Simi Valley', 'Sloughhouse', 'Smith River', 'Snelling',
       'Soda Springs', 'Solana Beach', 'Soledad', 'Solvang', 'Somerset',
       'Somis', 'Sonoma', 'Sonora', 'Soquel', 'Soulsbyville',
       'South Dos Palos', 'South El Monte', 'South Gate',
       'South Lake Tahoe', 'South Pasadena', 'South San Francisco',
       'South San Gabriel', 'South Whittier', 'Spreckels',
       'Spring Valley (San Diego County)', 'Springville', 'St. Helena',
       'Stanford', 'Stanton', 'Stevenson Ranch', 'Stevinson',
       'Stinson Beach', 'Stockton', 'Stratford', 'Strathmore',
       'Sugarloaf', 'Suisun City', 'Sultana', 'Sunnyside-Tahoe City',
       'Sunnyvale', 'Sunol', 'Susanville', 'Sutter', 'Sutter Creek',
       'Taft', 'Talmage', 'Tecate', 'Tehachapi', 'Tehama', 'Temecula',
       'Temple City', 'Templeton', 'Termo', 'Terra Bella', 'Thermal',
       'Thornton', 'Thousand Oaks', 'Thousand Palms', 'Three Rivers',
       'Tiburon', 'Tipton', 'Tollhouse', 'Tomales', 'Topanga', 'Torrance',
       'Trabuco Canyon', 'Tracy', 'Tranquillity', 'Traver', 'Tres Pinos',
       'Trinidad', 'Trona', 'Truckee', 'Tulare', 'Tule Reservation',
       'Tulelake', 'Tuolumne City', 'Tupman', 'Turlock', 'Tustin',
       'Twain Harte', 'Twentynine Palms', 'Twin Peaks', 'Ukiah',
       'Union City', 'Upland', 'Upper Lake', 'Vacaville', 'Val Verde',
       'Valinda', 'Vallecito', 'Vallejo', 'Valley Center', 'Valley Home',
       'Valley Springs', 'Vandenberg AFB', 'Victor', 'Victorville',
       'Villa Park', 'Vina', 'Visalia', 'Vista', 'Walnut', 'Walnut Creek',
       'Walnut Grove', 'Walnut Park', 'Warner Springs', 'Wasco',
       'Waterford', 'Watsonville', 'Weaverville', 'Weed', 'Weimar',
       'Weldon', 'West Covina', 'West Hollywood', 'West Point',
       'West Sacramento', 'West Whittier-Los Nietos', 'Westlake Village',
       'Westley', 'Westminster', 'Westmorland', 'Westwood', 'Wheatland',
       'Whitethorn', 'Whittier', 'Wildomar', 'Williams', 'Willits',
       'Willow Creek', 'Willows', 'Wilton', 'Winchester', 'Windsor',
       'Winterhaven', 'Winters', 'Winton', 'Woodacre', 'Woodlake',
       'Woodland', 'Woodside', 'Woodville', 'Wrightwood', 'Yerington',
       'Yermo', 'Yettem', 'Yolo', 'Yorba Linda', 'Yountville', 'Yreka',
       'Yuba City', 'Yucaipa', 'Yucca Valley', 'Albion',
       'Avocado Heights', 'Canby', 'Catheys Valley', 'Garberville',
       'Landers', 'Meridian', 'North Tustin', 'Rail Road Flat',
       'Summerland', 'Weott', 'Annapolis', 'Calente', 'Canyon Lake',
       'Coto de Caza', 'El Portal', 'Kingvale', 'Lenwood', 'Manchester',
       'Independence', 'Muscoy', 'North Shore', 'Rancho Dominguez',
       'Squaw Valley', 'Coulterville', 'Santa Ysabel', 'Speckles',
       'Bradbury', 'Interlaken', 'Whitmore'], dtype=object)

In [29]:
vac_11_18.head()

           city  enrollment  vaccinated school_year  year    vac_pct
0        Acampo       366.0       360.0   2011-2012  2012  98.360656
1         Acton       841.0       636.0   2011-2012  2012  75.624257
2      Adelanto      1500.0      1415.0   2011-2012  2012  94.333333
3          Adin        20.0        18.0   2011-2012  2012  90.000000
4  Agoura Hills      3619.0      3406.0   2011-2012  2012  94.114396

In [30]:
#Export full cleaned data
vac_11_18.to_csv("vac_11_18_combined.csv", index=False)

#### Census population city level

In [31]:
# Import compiled census data
c11 = pd.read_csv("pop_data11.csv", encoding = "ISO-8859-1")
c12 = pd.read_csv("pop_data12.csv", encoding = "ISO-8859-1")
c13 = pd.read_csv("pop_data13.csv", encoding = "ISO-8859-1")
c14 = pd.read_csv("pop_data14.csv", encoding = "ISO-8859-1")
c15 = pd.read_csv("pop_data15.csv", encoding = "ISO-8859-1")
c16 = pd.read_csv("pop_data16.csv", encoding = "ISO-8859-1")

In [32]:
# #Keep relevant variables
# acs11=c11[['geoid','city','male_pct','female_pct','under_5_pct','5_9_pct','10_14_pct', 
#            '15_19_pct','20_24_pct','25_34_pct','35_44_pct','45_54_pct','55_59_pct','60_64_pct',
#            '65_74_pct','75_84_pct','85_over_pct','median_age','hispanic_latino_pct',
#            'white_pct','black_pct','aian_pct','asian_pct','nhopi_pct','other_pct',
#            'median_income', 'insurance_pct', 'private_insure_pct',
#            'public_insure_pct','no_insurance_pct']]
# acs12=c12[['geoid','city','male_pct','female_pct','under_5_pct','5_9_pct','10_14_pct', 
#            '15_19_pct','20_24_pct','25_34_pct','35_44_pct','45_54_pct','55_59_pct','60_64_pct',
#            '65_74_pct','75_84_pct','85_over_pct','median_age','hispanic_latino_pct',
#            'white_pct','black_pct','aian_pct','asian_pct','nhopi_pct','other_pct',
#            'median_income', 'insurance_pct', 'private_insure_pct',
#            'public_insure_pct','no_insurance_pct']]
# acs13=c13[['geoid','city','male_pct','female_pct','under_5_pct','5_9_pct','10_14_pct', 
#            '15_19_pct','20_24_pct','25_34_pct','35_44_pct','45_54_pct','55_59_pct','60_64_pct',
#            '65_74_pct','75_84_pct','85_over_pct','median_age','hispanic_latino_pct',
#            'white_pct','black_pct','aian_pct','asian_pct','nhopi_pct','other_pct',
#            'median_income', 'insurance_pct', 'private_insure_pct',
#            'public_insure_pct','no_insurance_pct']]
# acs14=c14[['geoid','city','male_pct','female_pct','under_5_pct','5_9_pct','10_14_pct', 
#            '15_19_pct','20_24_pct','25_34_pct','35_44_pct','45_54_pct','55_59_pct','60_64_pct',
#            '65_74_pct','75_84_pct','85_over_pct','median_age','hispanic_latino_pct',
#            'white_pct','black_pct','aian_pct','asian_pct','nhopi_pct','other_pct',
#            'median_income', 'insurance_pct', 'private_insure_pct',
#            'public_insure_pct','no_insurance_pct']]
# acs15=c15[['geoid','city','male_pct','female_pct','under_5_pct','5_9_pct','10_14_pct', 
#            '15_19_pct','20_24_pct','25_34_pct','35_44_pct','45_54_pct','55_59_pct','60_64_pct',
#            '65_74_pct','75_84_pct','85_over_pct','median_age','hispanic_latino_pct',
#            'white_pct','black_pct','aian_pct','asian_pct','nhopi_pct','other_pct',
#            'median_income', 'insurance_pct', 'private_insure_pct',
#            'public_insure_pct','no_insurance_pct']]
# acs16=c16[['geoid','city','male_pct','female_pct','under_5_pct','5_9_pct','10_14_pct', 
#            '15_19_pct','20_24_pct','25_34_pct','35_44_pct','45_54_pct','55_59_pct','60_64_pct',
#            '65_74_pct','75_84_pct','85_over_pct','median_age','hispanic_latino_pct',
#            'white_pct','black_pct','aian_pct','asian_pct','nhopi_pct','other_pct',
#            'median_income', 'insurance_pct', 'private_insure_pct',
#            'public_insure_pct','no_insurance_pct']]

In [33]:
c11['year']='2011'
c12['year']='2012'
c13['year']='2013'
c14['year']='2014'
c15['year']='2015'
c16['year']='2016'
c17=c16.copy()
c17['year']='2017'
c18=c16.copy()
c18['year']='2017'

# acs11['year']='2011'
# acs12['year']='2012'
# acs13['year']='2013'
# acs14['year']='2014'
# acs15['year']='2015'
# acs16['year']='2016'
# acs17=acs16.copy()
# acs17['year']='2017'
# acs18=acs16.copy()
# acs18['year']='2017'

In [34]:
city_pct_12_16=pd.concat([
           c12, 
           c13,
           c14,
           c15,
           c16,
           c17,
           c18
          ],ignore_index=True, sort=False)

In [35]:
city_pct_12_16.head()

,geoid,geoid2,city,tot_pop,male,male_pct,female,female_pct,under_5,under_5_pct,...,HC03_VC130,insurance,insurance_pct,year,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct
0,1600000US0600135,600135,Acalanes Ridge,1281,641,50.0,640,50.0,120,9.4,...,17.9,27,2.1,2012,NaN,NaN,NaN,NaN,NaN,NaN
1,1600000US0600156,600156,Acampo,462,324,70.1,138,29.9,64,13.9,...,0.0,85,18.4,2012,NaN,NaN,NaN,NaN,NaN,NaN
2,1600000US0600212,600212,Acton,7117,3547,49.8,3570,50.2,432,6.1,...,24.8,569,8.0,2012,NaN,NaN,NaN,NaN,NaN,NaN
3,1600000US0600296,600296,Adelanto,31040,16275,52.4,14765,47.6,3305,10.6,...,44.7,6888,23.6,2012,NaN,NaN,NaN,NaN,NaN,NaN
4,1600000US0600310,600310,Adin,322,156,48.4,166,51.6,15,4.7,...,48.8,14,4.3,2012,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
# Combine with education data
cityjoin=city_pct_12_16.merge(city_edu, left_on=['geoid','year'], right_on=['geoid','year'], how='left')

In [37]:
cityjoin.head()

,geoid,geoid2,city,tot_pop,male,male_pct,female,female_pct,under_5,under_5_pct,...,insurance_pct,year,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct,hs_degree_pct,bachleor_degree_pct
0,1600000US0600135,600135,Acalanes Ridge,1281,641,50.0,640,50.0,120,9.4,...,2.1,2012,NaN,NaN,NaN,NaN,NaN,NaN,93.2,60.2
1,1600000US0600156,600156,Acampo,462,324,70.1,138,29.9,64,13.9,...,18.4,2012,NaN,NaN,NaN,NaN,NaN,NaN,54.3,0.0
2,1600000US0600212,600212,Acton,7117,3547,49.8,3570,50.2,432,6.1,...,8.0,2012,NaN,NaN,NaN,NaN,NaN,NaN,93.6,27.9
3,1600000US0600296,600296,Adelanto,31040,16275,52.4,14765,47.6,3305,10.6,...,23.6,2012,NaN,NaN,NaN,NaN,NaN,NaN,67.4,7.4
4,1600000US0600310,600310,Adin,322,156,48.4,166,51.6,15,4.7,...,4.3,2012,NaN,NaN,NaN,NaN,NaN,NaN,83.1,13.7

In [38]:
combined_1118=vac_11_18.merge(cityjoin, left_on=['city', 'year'], right_on=['city','year'], how='inner')
combined_1118

,city,enrollment,vaccinated,school_year,year,vac_pct,geoid,geoid2,tot_pop,male,...,insurance,insurance_pct,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct,hs_degree_pct,bachleor_degree_pct
0,Acampo,366.0,360.0,2011-2012,2012,98.360656,1600000US0600156,600156,462,324,...,85,18.4,NaN,NaN,NaN,NaN,NaN,NaN,54.3,0.0
1,Acton,841.0,636.0,2011-2012,2012,75.624257,1600000US0600212,600212,7117,3547,...,569,8.0,NaN,NaN,NaN,NaN,NaN,NaN,93.6,27.9
2,Adelanto,1500.0,1415.0,2011-2012,2012,94.333333,1600000US0600296,600296,31040,16275,...,6888,23.6,NaN,NaN,NaN,NaN,NaN,NaN,67.4,7.4
3,Adin,20.0,18.0,2011-2012,2012,90.000000,1600000US0600310,600310,322,156,...,14,4.3,NaN,NaN,NaN,NaN,NaN,NaN,83.1,13.7
4,Agoura Hills,3619.0,3406.0,2011-2012,2012,94.114396,1600000US0600394,600394,20431,10427,...,1314,6.4,NaN,NaN,NaN,NaN,NaN,NaN,95.5,55.5
5,Agua Dulce,34.0,32.0,2011-2012,2012,94.117647,1600000US0600450,600450,3233,1575,...,301,9.3,NaN,NaN,NaN,NaN,NaN,NaN,94.1,33.1
6,Aguanga,109.0,103.0,2011-2012,2012,94.495413,1600000US0600464,600464,1254,584,...,406,32.4,NaN,NaN,NaN,NaN,NaN,NaN,84.1,5.7
7,Ahwahnee,114.0,101.0,2011-2012,2012,88.596491,1600000US0600478,600478,1748,827,...,185,10.6,NaN,NaN,NaN,NaN,NaN,NaN,87.0,12.6
8,Alameda,7618.0,7411.0,2011-2012,2012,97.282751,1600000US0600562,600562,74023,35792,...,7212,9.9,NaN,NaN,NaN,NaN,NaN,NaN,91.5,47.2
9,Alamo,3049.0,3012.0,2011-2012,2012,98.786487,1600000US0600618,600618,15504,7704,...,246,1.6,NaN,NaN,NaN,NaN,NaN,NaN,98.1,70.4
10,Albany,2407.0,2247.0,2011-2012,2012,93.352721,1600000US0600674,600674,18493,8975,...,1460,7.9,NaN,NaN,NaN,NaN,NaN,NaN,95.5,72.5
11,Alhambra,9753.0,9662.0,2011-2012,2012,99.066954,1600000US0600884,600884,83513,39750,...,15706,19.0,NaN,NaN,NaN,NaN,NaN,NaN,79.2,30.8
12,Aliso Viejo,7221.0,6473.0,2011-2012,2012,89.641324,1600000US0600947,600947,47910,22732,...,4936,10.3,NaN,NaN,NaN,NaN,NaN,NaN,94.7,55.0
13,Allensworth,25.0,24.0,2011-2012,2012,96.000000,1600000US0601010,601010,386,179,...,131,33.9,NaN,NaN,NaN,NaN,NaN,NaN,42.3,0.0
14,Alpaugh,164.0,157.0,2011-2012,2012,95.731707,1600000US0601164,601164,793,418,...,220,27.7,NaN,NaN,NaN,NaN,NaN,NaN,59.9,1.1
15,Alpine,869.0,796.0,2011-2012,2012,91.599540,1600000US0601192,601192,13511,6386,...,1254,9.3,NaN,NaN,NaN,NaN,NaN,NaN,91.1,30.0
16,Alta,28.0,25.0,2011-2012,2012,89.285714,1600000US0601276,601276,527,262,...,70,13.3,NaN,NaN,NaN,NaN,NaN,NaN,93.4,12.9
17,Altadena,1835.0,1665.0,2011-2012,2012,90.735695,1600000US0601290,601290,44578,21397,...,6927,15.6,NaN,NaN,NaN,NaN,NaN,NaN,86.3,42.7
18,Alturas,657.0,533.0,2011-2012,2012,81.126332,1600000US0601444,601444,2792,1371,...,465,17.1,NaN,NaN,NaN,NaN,NaN,NaN,88.0,16.5
19,American Canyon,2076.0,2063.0,2011-2012,2012,99.373796,1600000US0601640,601640,19127,9017,...,2095,11.0,NaN,NaN,NaN,NaN,NaN,NaN,85.1,32.1
20,Anaheim,41407.0,40773.0,2011-2012,2012,98.468858,1600000US0602000,602000,337471,169243,...,77590,23.1,NaN,NaN,NaN,NaN,NaN,NaN,73.8,23.8
21,Anderson,2153.0,1980.0,2011-2012,2012,91.964700,1600000US0602042,602042,9971,4552,...,1624,16.4,NaN,NaN,NaN,NaN,NaN,NaN,82.3,7.5
22,Angels,1021.0,978.0,2011-2012,2012,95.788443,1600000US0602112,602112,3824,1699,...,670,17.5,NaN,NaN,NaN,NaN,NaN,NaN,90.4,22.9
23,Angwin,151.0,132.0,2011-2012,2012,87.417219,1600000US0602168,602168,3233,1675,...,323,10.0,NaN,NaN,NaN,NaN,NaN,NaN,89.4,40.3
24,Antelope,4980.0,4691.0,2011-2012,2012,94.196787,1600000US0602210,602210,46865,22299,...,6024,12.9,NaN,NaN,NaN,NaN,NaN,NaN,91.1,22.9
25,Antioch,11474.0,11197.0,2011-2012,2012,97.585846,1600000US0602252,602252,102575,49626,...,15607,15.3,NaN,NaN,NaN,NaN,NaN,NaN,85.9,20.0
26,Anza,575.0,537.0,2011-2012,2012,93.391304,1600000US0602294,602294,2623,1235,...,675,25.7,NaN,NaN,NaN,NaN,NaN,NaN,83.9,3.7
27,Apple Valley,9166.0,8689.0,2011-2012,2012,94.795985,1600000US0602364,602364,69155,32970,...,11164,16.2,NaN,NaN,NaN,NaN,NaN,NaN,84.6,16.4
28,Aptos,2852.0,2679.0,2011-2012,2012,93.934081,1600000US0602378,602378,6317,2946,...,489,7.8,NaN,NaN,NaN,NaN,NaN,NaN,97.9,47.0
29,Arbuckle,789.0,776.0,2011-2012,2012,98.352345,1600000US0602420,602420,3341,1744,...,880,26.3,NaN,NaN,NaN,NaN,NaN,NaN,62.3,15.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5858,Windsor,807.0,789.0,2016-2017,2017,97.769517,1600000US0685922,685922,27318,13928,...,24837,90.9,20579.0,75.3,7535.0,27.6,2481.0,9.1,86.6,28.6
5859,Windsor,807.0,789.0,2016-2017,2017,97.769517,1600000US0685922,685922,27318,13928,...,24837,90.9,20579.0,75.3,7535.0,27.6,2481.0,9.1,86.6,28.6
5860,Winterhaven,124.0,119.0,2016-2017,2017,95.967742,1600000US0686020,686020,212,117,...,204,96.2,27.0,12.7,195.0,92.0,8.0,3.8,47.1,4.7
5861,Winterhaven,124.0,119.0,2016-2017,2017,95.967742,1600000US0686020,686020,212,117,...,204,96.2,27.0,12.7,195.0,92.0,8.0,3.8,47.1,4.7
5862,Winters,447.0,434.0,2016-2017,2017,97.091723,1600000US0686034,686034,6974,3512,...,6081,87.3,5029.0,72.2,1697.0,24.4,882.0,12.7,76.5,25.0
5863,Winters,447.0,434.0,2016-2017,2017,97.091723,1600000US0686034,686034,6974,3512,...,6081,87.3,5029.0,72.2,1697.0,24.4,882.0,12.7,76.5,25.0
5864,Winton,652.0,627.0,2016-2017,2017,96.165644,1600000US0686076,686076,11309,5771,...,9554,84.5,4299.0,38.0,6212.0,54.9,1755.0,15.5,52.7,5.4
5865,Winton,652.0,627.0,2016-2017,2017,96.165644,1600000US0686076,686076,11309,5771,...,9554,84.5,4299.0,38.0,6212.0,54.9,1755.0,15.5,52.7,5.4
5866,Woodlake,524.0,511.0,2016-2017,2017,97.519084,1600000US0686300,686300,7567,3756,...,6482,85.7,3012.0,39.8,4025.0,53.2,1085.0,14.3,55.9,7.2
5867,Woodlake,524.0,511.0,2016-2017,2017,97.519084,1600000US0686300,686300,7567,3756,...,6482,85.7,3012.0,39.8,4025.0,53.2,1085.0,14.3,55.9,7.2
5868,Woodland,2691.0,2615.0,2016-2017,2017,97.175771,1600000US0686328,686328,57552,28174,...,49390,87.3,34835.0,61.6,20566.0,36.4,7154.0,12.7,79.6,25.2
5869,Woodland,2691.0,2615.0,2016-2017,2017,97.175771,1600000US0686328,686328,57552,28174,...,49390,87.3,34835.0,61.6,20566.0,36.4,7154.0,12.7,79.6,25.2
5870,Woodside,175.0,165.0,2016-2017,2017,94.285714,1600000US0686440,686440,5496,2643,...,5351,97.4,4825.0,87.8,1370.0,24.9,145.0,2.6,97.4,75.6
5871,Woodside,175.0,165.0,2016-2017,2017,94.285714,1600000US0686440,686440,5496,2643,...,5351,97.4,4825.0,87.8,1370.0,24.9,145.0,2.6,97.4,75.6
5872,Woodville,55.0,53.0,2016-2017,2017,96.363636,1600000US0686482,686482,1748,1010,...,1231,70.4,286.0,16.4,966.0,55.3,517.0,29.6,32.3,4.1
5873,Woodville,55.0,53.0,2016-2017,2017,96.363636,1600000US0686482,686482,1748,1010,...,1231,70.4,286.0,16.4,966.0,55.3,517.0,29.6,32.3,4.1
5874,Wrightwood,100.0,94.0,2016-2017,2017,94.000000,1600000US0686594,686594,4510,2194,...,4218,93.5,3211.0,71.2,1415.0,31.4,292.0,6.5,95.8,38.6
5875,Wrightwood,100.0,94.0,2016-2017,2017,94.000000,1600000US0686594,686594,4510,2194,...,4218,93.5,3211.0,71.2,1415.0,31.4,292.0,6.5,95.8,38.6
5876,Yorba Linda,4051.0,3941.0,2016-2017,2017,97.284621,1600000US0686832,686832,67362,33159,...,63884,95.1,55690.0,82.9,14456.0,21.5,3299.0,4.9,95.8,52.0
5877,Yorba Linda,4051.0,3941.0,2016-2017,2017,97.284621,1600000US0686832,686832,67362,33159,...,63884,95.1,55690.0,82.9,14456.0,21.5,3299.0,4.9,95.8,52.0
5878,Yountville,56.0,52.0,2016-2017,2017,92.857143,1600000US0686930,686930,2991,1230,...,2374,94.7,2038.0,81.3,1128.0,45.0,133.0,5.3,92.7,50.3
5879,Yountville,56.0,52.0,2016-2017,2017,92.857143,1600000US0686930,686930,2991,1230,...,2374,94.7,2038.0,81.3,1128.0,45.0,133.0,5.3,92.7,50.3
5880,Yreka,389.0,374.0,2016-2017,2017,96.143959,1600000US0686944,686944,7598,3408,...,7000,92.4,3448.0,45.5,4757.0,62.8,578.0,7.6,84.7,16.4
5881,Yreka,389.0,374.0,2016-2017,2017,96.143959,1600000US0686944,686944,7598,3408,...,7000,92.4,3448.0,45.5,4757.0,62.8,578.0,7.6,84.7,16.4
5882,Yuba City,3617.0,3464.0,2016-2017,2017,95.769975,1600000US0686972,686972,66147,32829,...,56044,86.1,34661.0,53.3,28214.0,43.4,9038.0,13.9,79.3,17.7
5883,Yuba City,3617.0,3464.0,2016-2017,2017,95.769975,1600000US0686972,686972,66147,32829,...,56044,86.1,34661.0,53.3,28214.0,43.4,9038.0,13.9,79.3,17.7
5884,Yucaipa,1840.0,1786.0,2016-2017,2017,97.065217,1600000US0687042,687042,52886,25925,...,47001,89.6,32561.0,62.1,19533.0,37.2,5456.0,10.4,86.6,19.9
5885,Yucaipa,1840.0,1786.0,2016-2017,2017,97.065217,1600000US0687042,687042,52886,25925,...,47001,89.6,32561.0,62.1,19533.0,37.2,5456.0,10.4,86.6,19.9
5886,Yucca Valley,910.0,854.0,2016-2017,2017,93.846154,1600000US0687056,687056,21362,10379,...,18461,88.1,10584.0,50.5,10800.0,51.6,2485.0,11.9,86.4,13.6
5887,Yucca Valley,910.0,854.0,2016-2017,2017,93.846154,1600000US0687056,687056,21362,10379,...,18461,88.1,10584.0,50.5,10800.0,51.6,2485.0,11.9,86.4,13.6

In [39]:
# more data cleaning on cities that didn't merge with census
combined_1118.loc[combined_1118.city=='La Canada Flintridge', 'geoid']='1600000US0639003'
combined_1118.loc[combined_1118.city=='Pinon Hills', 'geoid']='1600000US0657302'
combined_1118.loc[combined_1118.city=='El Paso De Robles (Paso Robles)', 'geoid']='1600000US0622300'
combined_1118.loc[combined_1118.city=='San Miguel (San Luis Obispo County)', 'geoid']='1600000US0668266'
combined_1118.loc[combined_1118.city=='Spring Valley (San Diego County)', 'geoid']='1600000US0673696'

In [40]:
combined_1118.to_csv('city_correlation.csv', index=False)

## County

#### Vaccine County level

In [41]:
#Keep county, city, school grade, population #, enrollment, vaccinated (n), 
cvac1112=data1112[['county','city','enrollment','n','vac_info_type']]
cvac1213=data1213[['county','city','enrollment','n','vac_info_type']]
cvac1314=data1314[['county','city','enrollment','n','vac_info_type']]
cvac1415=data1415[['county','city','enrollment','n','vac_info_type']]
cvac1516=data1516[['county','city','enrollment','n','vac_info_type']]
cvac1617=data1617[['county','city','enrollment','n','vac_info_type']]
cvac1718=data1718[['county','city','enrollment','n','vac_info_type']]

In [42]:
cvac1112=cvac1112.groupby(by=['county'], as_index=False)['enrollment','n'].sum()
cvac1213=cvac1213.groupby(by=['county'], as_index=False)['enrollment','n'].sum()
cvac1314=cvac1314.groupby(by=['county'], as_index=False)['enrollment','n'].sum()
cvac1415=cvac1415.groupby(by=['county'], as_index=False)['enrollment','n'].sum()
cvac1516=cvac1516.groupby(by=['county'], as_index=False)['enrollment','n'].sum()
cvac1617=cvac1617.groupby(by=['county'], as_index=False)['enrollment','n'].sum()
cvac1718=cvac1718.groupby(by=['county'], as_index=False)['enrollment','n'].sum()

In [43]:
cvac1112['school_year']='2011-2012'
cvac1112['year']='2012'

cvac1213['school_year']='2012-2013'
cvac1213['year']='2013'

cvac1314['school_year']='2013-2014'
cvac1314['year']='2014'

cvac1415['school_year']='2014-2015'
cvac1415['year']='2015'

cvac1516['school_year']='2015-2016'
cvac1516['year']='2016'

cvac1617['school_year']='2016-2017'
cvac1617['year']='2017'

cvac1718['school_year']='2017-2018'
cvac1718['year']='2018'

In [44]:
cvac1112.head()

      county  enrollment         n school_year  year
0    Alameda    148667.0  145045.0   2011-2012  2012
1     Alpine        57.0      56.0   2011-2012  2012
2     Amador      2543.0    2417.0   2011-2012  2012
3      Butte     22560.0   21008.0   2011-2012  2012
4  Calaveras      3716.0    3417.0   2011-2012  2012

In [45]:
county_vac1118=pd.concat([cvac1112, 
           cvac1213,
           cvac1314,
           cvac1415,
           cvac1516,
           cvac1617,
           cvac1718
          ],ignore_index=True)

In [46]:
county_vac1118.tail()

       county  enrollment        n school_year  year
397    Tulare     22047.0  21398.0   2017-2018  2018
398  Tuolumne      1429.0   1300.0   2017-2018  2018
399   Ventura     34578.0  33252.0   2017-2018  2018
400      Yolo      8048.0   7718.0   2017-2018  2018
401      Yuba      3375.0   3194.0   2017-2018  2018

#### Census County level data

In [47]:
# Import and clean census data for basic demographics age gender race is DP05 file
demo11 = pd.read_csv("/Users/42/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/County/ACS_11_5YR_DP05.csv",
                     encoding = "ISO-8859-1",
                       header=[0],na_values=['-'])
demo12 = pd.read_csv("/Users/42/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/County/ACS_12_5YR_DP05.csv",
                     encoding = "ISO-8859-1",
                       header=[0],na_values=['-'])
demo13 = pd.read_csv("/Users/42/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/County/ACS_13_5YR_DP05.csv",
                     encoding = "ISO-8859-1",
                       header=[0],na_values=['-'])
demo14 = pd.read_csv("/Users/42/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/County/ACS_14_5YR_DP05.csv",
                     encoding = "ISO-8859-1",
                       header=[0],na_values=['-'])
demo15 = pd.read_csv("/Users/42/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/County/ACS_15_5YR_DP05.csv",
                     encoding = "ISO-8859-1",
                       header=[0],na_values=['-'])
demo16 = pd.read_csv("/Users/42/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/County/ACS_16_5YR_DP05.csv",
                     encoding = "ISO-8859-1",
                       header=[0],na_values=['-'])

In [48]:
demo11 = demo11[['GEO.id','GEO.id2','GEO.display-label',
                         'HC01_VC03',
                         'HC01_VC04', 'HC03_VC04',
                         'HC01_VC05', 'HC03_VC05',
                         'HC01_VC07', 'HC03_VC07',
                         'HC01_VC08', 'HC03_VC08',
                         'HC01_VC09', 'HC03_VC09',
                         'HC01_VC10', 'HC03_VC10',
                         'HC01_VC11', 'HC03_VC11',
                         'HC01_VC12', 'HC03_VC12',
                         'HC01_VC13', 'HC03_VC13',
                         'HC01_VC14', 'HC03_VC14',
                         'HC01_VC15', 'HC03_VC15',
                         'HC01_VC16', 'HC03_VC16',
                         'HC01_VC17', 'HC03_VC17',
                         'HC01_VC18', 'HC03_VC18',
                         'HC01_VC19', 'HC03_VC19',
                         'HC01_VC21', 'HC03_VC21',
                         'HC01_VC82', 'HC03_VC82',
                         'HC01_VC83', 'HC03_VC83',
                         'HC01_VC88', 'HC03_VC88',
                         'HC01_VC89', 'HC03_VC89',
                         'HC01_VC90', 'HC03_VC90',
                         'HC01_VC91', 'HC03_VC91',
                         'HC01_VC92', 'HC03_VC92',

                         'HC01_VC93', 'HC03_VC93',
                         'HC01_VC94', 'HC03_VC94',
                         'HC01_VC95', 'HC03_VC95',
                         'HC01_VC96', 'HC03_VC96']]
demo12 = demo12[['GEO.id','GEO.id2','GEO.display-label',
                         'HC01_VC03',
                         'HC01_VC04', 'HC03_VC04',
                         'HC01_VC05', 'HC03_VC05',
                         'HC01_VC07', 'HC03_VC07',
                         'HC01_VC08', 'HC03_VC08',
                         'HC01_VC09', 'HC03_VC09',
                         'HC01_VC10', 'HC03_VC10',
                         'HC01_VC11', 'HC03_VC11',
                         'HC01_VC12', 'HC03_VC12',
                         'HC01_VC13', 'HC03_VC13',
                         'HC01_VC14', 'HC03_VC14',
                         'HC01_VC15', 'HC03_VC15',
                         'HC01_VC16', 'HC03_VC16',
                         'HC01_VC17', 'HC03_VC17',
                         'HC01_VC18', 'HC03_VC18',
                         'HC01_VC19', 'HC03_VC19',
                         'HC01_VC21', 'HC03_VC21',
                         'HC01_VC82', 'HC03_VC82',
                         'HC01_VC83', 'HC03_VC83',
                         'HC01_VC88', 'HC03_VC88',
                         'HC01_VC89', 'HC03_VC89',
                         'HC01_VC90', 'HC03_VC90',
                         'HC01_VC91', 'HC03_VC91',
                         'HC01_VC92', 'HC03_VC92',

                         'HC01_VC93', 'HC03_VC93',
                         'HC01_VC94', 'HC03_VC94',
                         'HC01_VC95', 'HC03_VC95',
                         'HC01_VC96', 'HC03_VC96']]

In [49]:
#combine other race, two or more races (HC01_VC99, HC01_VC100, HC01_VC101, HC01_VC102)
demo11['other']=pd.Series(demo11['HC01_VC93']+demo11['HC01_VC94']+demo11['HC01_VC95']+demo11['HC01_VC96'])
demo12['other']=pd.Series(demo12['HC01_VC93']+demo12['HC01_VC94']+demo12['HC01_VC95']+demo12['HC01_VC96'])

In [50]:
demo11['other_pct']=pd.Series(demo11['HC03_VC93']+demo11['HC03_VC94']+demo11['HC03_VC95']+demo11['HC03_VC96'])
demo12['other_pct']=pd.Series(demo12['HC03_VC93']+demo12['HC03_VC94']+demo12['HC03_VC95']+demo12['HC03_VC96'])

In [51]:
demo11=demo11.drop(columns=['HC01_VC93','HC03_VC93','HC01_VC94','HC03_VC94','HC01_VC95','HC03_VC95','HC01_VC96','HC03_VC96'])
demo12=demo12.drop(columns=['HC01_VC93','HC03_VC93','HC01_VC94','HC03_VC94','HC01_VC95','HC03_VC95','HC01_VC96','HC03_VC96'])

In [52]:
demo11.rename(columns={'GEO.display-label': 'county',
                         'HC01_VC03': 'tot_pop', 
                         'HC01_VC04': 'male',
                         'HC01_VC05': 'female',
                         'HC01_VC07':'under_5',
                         'HC01_VC08':'5_9',
                         'HC01_VC09':'10_14',
                         'HC01_VC10':'15_19',
                         'HC01_VC11':'20_24',
                         'HC01_VC12':'25_34',
                         'HC01_VC13':'35_44',
                         'HC01_VC14':'45_54',
                         'HC01_VC15':'55_59',
                         'HC01_VC16':'60_64',
                         'HC01_VC17':'65_74',
                         'HC01_VC18':'75_84',
                         'HC01_VC19':'85_over',
                         'HC01_VC21':'median_age',
                         'HC01_VC82':'hispanic_latino',
                         'HC01_VC83':'mexican',
                         'HC01_VC88':'white',
                         'HC01_VC89':'black',
                         'HC01_VC90':'aian',
                         'HC01_VC91':'asian',
                         'HC01_VC92':'nhopi',

                         'HC03_VC04': 'male_pct',
                         'HC03_VC05': 'female_pct',
                         'HC03_VC07':'under_5_pct',
                         'HC03_VC08':'5_9_pct',
                         'HC03_VC09':'10_14_pct',
                         'HC03_VC10':'15_19_pct',
                         'HC03_VC11':'20_24_pct',
                         'HC03_VC12':'25_34_pct',
                         'HC03_VC13':'35_44_pct',
                         'HC03_VC14':'45_54_pct',
                         'HC03_VC15':'55_59_pct',
                         'HC03_VC16':'60_64_pct',
                         'HC03_VC17':'65_74_pct',
                         'HC03_VC18':'75_84_pct',
                         'HC03_VC19':'85_over_pct',
                         'HC03_VC21':'median_age_pct',
                         'HC03_VC82':'hispanic_latino_pct',
                         'HC03_VC83':'mexican_pct',
                         'HC03_VC88':'white_pct',
                         'HC03_VC89':'black_pct',
                         'HC03_VC90':'aian_pct',
                         'HC03_VC91':'asian_pct',
                         'HC03_VC92':'nhopi_pct'
                        }, 
                inplace=True)

demo12.rename(columns={'GEO.display-label': 'county',
                         'HC01_VC03': 'tot_pop', 
                         'HC01_VC04': 'male',
                         'HC01_VC05': 'female',
                         'HC01_VC07':'under_5',
                         'HC01_VC08':'5_9',
                         'HC01_VC09':'10_14',
                         'HC01_VC10':'15_19',
                         'HC01_VC11':'20_24',
                         'HC01_VC12':'25_34',
                         'HC01_VC13':'35_44',
                         'HC01_VC14':'45_54',
                         'HC01_VC15':'55_59',
                         'HC01_VC16':'60_64',
                         'HC01_VC17':'65_74',
                         'HC01_VC18':'75_84',
                         'HC01_VC19':'85_over',
                         'HC01_VC21':'median_age',
                         'HC01_VC82':'hispanic_latino',
                         'HC01_VC83':'mexican',
                         'HC01_VC88':'white',
                         'HC01_VC89':'black',
                         'HC01_VC90':'aian',
                         'HC01_VC91':'asian',
                         'HC01_VC92':'nhopi',

                         'HC03_VC04': 'male_pct',
                         'HC03_VC05': 'female_pct',
                         'HC03_VC07':'under_5_pct',
                         'HC03_VC08':'5_9_pct',
                         'HC03_VC09':'10_14_pct',
                         'HC03_VC10':'15_19_pct',
                         'HC03_VC11':'20_24_pct',
                         'HC03_VC12':'25_34_pct',
                         'HC03_VC13':'35_44_pct',
                         'HC03_VC14':'45_54_pct',
                         'HC03_VC15':'55_59_pct',
                         'HC03_VC16':'60_64_pct',
                         'HC03_VC17':'65_74_pct',
                         'HC03_VC18':'75_84_pct',
                         'HC03_VC19':'85_over_pct',
                         'HC03_VC21':'median_age_pct',
                         'HC03_VC82':'hispanic_latino_pct',
                         'HC03_VC83':'mexican_pct',
                         'HC03_VC88':'white_pct',
                         'HC03_VC89':'black_pct',
                         'HC03_VC90':'aian_pct',
                         'HC03_VC91':'asian_pct',
                         'HC03_VC92':'nhopi_pct'
                        }, 
                inplace=True)

# AIAN is american Indian Alaskan Native
# NHOPI is Native Hawaiian and Other Pacific Islander

# Other race categories
#                          'HC01_VC93':'other_only',
#                          'HC01_VC94':'more_two_races',
#                          'HC01_VC95':'more_two_races_other',
#                          'HC01_VC96':'more_two_races_other_exclude',

In [53]:
demo11.head()

,GEO.id,GEO.id2,county,tot_pop,male,male_pct,female,female_pct,under_5,under_5_pct,...,black,black_pct,aian,aian_pct,asian,asian_pct,nhopi,nhopi_pct,other,other_pct
0,0500000US06001,6001,"Alameda County, California",1494876,733297,49.1,761579,50.9,98049,6.6,...,182827,12.2,3827,0.3,388491,26.0,11993,0.8,110254,7.4
1,0500000US06003,6003,"Alpine County, California",1167,605,51.8,562,48.2,77,6.6,...,0,0.0,232,19.9,39,3.3,21,1.8,56,4.8
2,0500000US06005,6005,"Amador County, California",38244,20860,54.5,17384,45.5,1242,3.2,...,834,2.2,824,2.2,529,1.4,79,0.2,1385,3.6
3,0500000US06007,6007,"Butte County, California",219309,108441,49.4,110868,50.6,12270,5.6,...,3105,1.4,1761,0.8,9217,4.2,477,0.2,17308,7.9
4,0500000US06009,6009,"Calaveras County, California",45794,22861,49.9,22933,50.1,1900,4.1,...,489,1.1,506,1.1,591,1.3,16,0.0,2379,5.2

In [54]:
demo13 = demo13[['GEO.id','GEO.id2','GEO.display-label',
                     'HC01_VC03',
                     'HC01_VC04','HC03_VC04',
                     'HC01_VC05','HC03_VC05',
                     'HC01_VC08','HC03_VC08',
                     'HC01_VC09','HC03_VC09',
                     'HC01_VC10','HC03_VC10',
                     'HC01_VC11','HC03_VC11',
                     'HC01_VC12','HC03_VC12',
                     'HC01_VC13','HC03_VC13',
                     'HC01_VC14','HC03_VC14',
                     'HC01_VC15','HC03_VC15',
                     'HC01_VC16','HC03_VC16',
                     'HC01_VC17','HC03_VC17',
                     'HC01_VC18','HC03_VC18',
                     'HC01_VC19','HC03_VC19',
                     'HC01_VC20','HC03_VC20',
                     'HC01_VC23','HC03_VC23',
                     'HC01_VC88','HC03_VC88',
                     'HC01_VC94','HC03_VC94',
                     'HC01_VC95','HC03_VC95',
                     'HC01_VC96','HC03_VC96',
                     'HC01_VC97','HC03_VC97',
                     'HC01_VC98','HC03_VC98',
                     'HC01_VC99','HC03_VC99',
                     'HC01_VC100','HC03_VC100',
                     'HC01_VC101','HC03_VC101',
                     'HC01_VC102','HC03_VC102'                 
        ]]
demo14 = demo14[['GEO.id','GEO.id2','GEO.display-label',
                     'HC01_VC03',
                     'HC01_VC04','HC03_VC04',
                     'HC01_VC05','HC03_VC05',
                     'HC01_VC08','HC03_VC08',
                     'HC01_VC09','HC03_VC09',
                     'HC01_VC10','HC03_VC10',
                     'HC01_VC11','HC03_VC11',
                     'HC01_VC12','HC03_VC12',
                     'HC01_VC13','HC03_VC13',
                     'HC01_VC14','HC03_VC14',
                     'HC01_VC15','HC03_VC15',
                     'HC01_VC16','HC03_VC16',
                     'HC01_VC17','HC03_VC17',
                     'HC01_VC18','HC03_VC18',
                     'HC01_VC19','HC03_VC19',
                     'HC01_VC20','HC03_VC20',
                     'HC01_VC23','HC03_VC23',
                     'HC01_VC88','HC03_VC88',
                     'HC01_VC94','HC03_VC94',
                     'HC01_VC95','HC03_VC95',
                     'HC01_VC96','HC03_VC96',
                     'HC01_VC97','HC03_VC97',
                     'HC01_VC98','HC03_VC98',
                     'HC01_VC99','HC03_VC99',
                     'HC01_VC100','HC03_VC100',
                     'HC01_VC101','HC03_VC101',
                     'HC01_VC102','HC03_VC102'                 
        ]]
demo15 = demo15[['GEO.id','GEO.id2','GEO.display-label',
                     'HC01_VC03',
                     'HC01_VC04','HC03_VC04',
                     'HC01_VC05','HC03_VC05',
                     'HC01_VC08','HC03_VC08',
                     'HC01_VC09','HC03_VC09',
                     'HC01_VC10','HC03_VC10',
                     'HC01_VC11','HC03_VC11',
                     'HC01_VC12','HC03_VC12',
                     'HC01_VC13','HC03_VC13',
                     'HC01_VC14','HC03_VC14',
                     'HC01_VC15','HC03_VC15',
                     'HC01_VC16','HC03_VC16',
                     'HC01_VC17','HC03_VC17',
                     'HC01_VC18','HC03_VC18',
                     'HC01_VC19','HC03_VC19',
                     'HC01_VC20','HC03_VC20',
                     'HC01_VC23','HC03_VC23',
                     'HC01_VC88','HC03_VC88',
                     'HC01_VC94','HC03_VC94',
                     'HC01_VC95','HC03_VC95',
                     'HC01_VC96','HC03_VC96',
                     'HC01_VC97','HC03_VC97',
                     'HC01_VC98','HC03_VC98',
                     'HC01_VC99','HC03_VC99',
                     'HC01_VC100','HC03_VC100',
                     'HC01_VC101','HC03_VC101',
                     'HC01_VC102','HC03_VC102'                 
        ]]
demo16 = demo16[['GEO.id','GEO.id2','GEO.display-label',
                     'HC01_VC03',
                     'HC01_VC04','HC03_VC04',
                     'HC01_VC05','HC03_VC05',
                     'HC01_VC08','HC03_VC08',
                     'HC01_VC09','HC03_VC09',
                     'HC01_VC10','HC03_VC10',
                     'HC01_VC11','HC03_VC11',
                     'HC01_VC12','HC03_VC12',
                     'HC01_VC13','HC03_VC13',
                     'HC01_VC14','HC03_VC14',
                     'HC01_VC15','HC03_VC15',
                     'HC01_VC16','HC03_VC16',
                     'HC01_VC17','HC03_VC17',
                     'HC01_VC18','HC03_VC18',
                     'HC01_VC19','HC03_VC19',
                     'HC01_VC20','HC03_VC20',
                     'HC01_VC23','HC03_VC23',
                     'HC01_VC88','HC03_VC88',
                     'HC01_VC94','HC03_VC94',
                     'HC01_VC95','HC03_VC95',
                     'HC01_VC96','HC03_VC96',
                     'HC01_VC97','HC03_VC97',
                     'HC01_VC98','HC03_VC98',
                     'HC01_VC99','HC03_VC99',
                     'HC01_VC100','HC03_VC100',
                     'HC01_VC101','HC03_VC101',
                     'HC01_VC102','HC03_VC102'                 
        ]]

In [55]:
demo13.rename(columns={'GEO.display-label': 'county',
                         'HC01_VC03': 'tot_pop', 
                         'HC01_VC04': 'male',
                         'HC01_VC05': 'female',
                         'HC01_VC08':'under_5',
                         'HC01_VC09':'5_9',
                         'HC01_VC10':'10_14',
                         'HC01_VC11':'15_19',
                         'HC01_VC12':'20_24',
                         'HC01_VC13':'25_34',
                         'HC01_VC14':'35_44',
                         'HC01_VC15':'45_54',
                         'HC01_VC16':'55_59',
                         'HC01_VC17':'60_64',
                         'HC01_VC18':'65_74',
                         'HC01_VC19':'75_84',
                         'HC01_VC20':'85_over',
                         'HC01_VC23':'median_age',
                         'HC01_VC88':'hispanic_latino',
                         'HC01_VC89':'mexican',
                         'HC01_VC94':'white',
                         'HC01_VC95':'black',
                         'HC01_VC96':'aian',
                         'HC01_VC97':'asian',
                         'HC01_VC98':'nhopi',

                         'HC03_VC04': 'male_pct',
                         'HC03_VC05': 'female_pct',
                         'HC03_VC08':'under_5_pct',
                         'HC03_VC09':'5_9_pct',
                         'HC03_VC10':'10_14_pct',
                         'HC03_VC11':'15_19_pct',
                         'HC03_VC12':'20_24_pct',
                         'HC03_VC13':'25_34_pct',
                         'HC03_VC14':'35_44_pct',
                         'HC03_VC15':'45_54_pct',
                         'HC03_VC16':'55_59_pct',
                         'HC03_VC17':'60_64_pct',
                         'HC03_VC18':'65_74_pct',
                         'HC03_VC19':'75_84_pct',
                         'HC03_VC20':'85_over_pct',
                         'HC03_VC23':'median_age_pct',
                         'HC03_VC88':'hispanic_latino_pct',
                         'HC03_VC89':'mexican_pct',
                         'HC03_VC94':'white_pct',
                         'HC03_VC95':'black_pct',
                         'HC03_VC96':'aian_pct',
                         'HC03_VC97':'asian_pct',
                         'HC03_VC98':'nhopi_pct'
                        }, 
                inplace=True)
demo14.rename(columns={'GEO.display-label': 'county',
                         'HC01_VC03': 'tot_pop', 
                         'HC01_VC04': 'male',
                         'HC01_VC05': 'female',
                         'HC01_VC08':'under_5',
                         'HC01_VC09':'5_9',
                         'HC01_VC10':'10_14',
                         'HC01_VC11':'15_19',
                         'HC01_VC12':'20_24',
                         'HC01_VC13':'25_34',
                         'HC01_VC14':'35_44',
                         'HC01_VC15':'45_54',
                         'HC01_VC16':'55_59',
                         'HC01_VC17':'60_64',
                         'HC01_VC18':'65_74',
                         'HC01_VC19':'75_84',
                         'HC01_VC20':'85_over',
                         'HC01_VC23':'median_age',
                         'HC01_VC88':'hispanic_latino',
                         'HC01_VC89':'mexican',
                         'HC01_VC94':'white',
                         'HC01_VC95':'black',
                         'HC01_VC96':'aian',
                         'HC01_VC97':'asian',
                         'HC01_VC98':'nhopi',

                         'HC03_VC04': 'male_pct',
                         'HC03_VC05': 'female_pct',
                         'HC03_VC08':'under_5_pct',
                         'HC03_VC09':'5_9_pct',
                         'HC03_VC10':'10_14_pct',
                         'HC03_VC11':'15_19_pct',
                         'HC03_VC12':'20_24_pct',
                         'HC03_VC13':'25_34_pct',
                         'HC03_VC14':'35_44_pct',
                         'HC03_VC15':'45_54_pct',
                         'HC03_VC16':'55_59_pct',
                         'HC03_VC17':'60_64_pct',
                         'HC03_VC18':'65_74_pct',
                         'HC03_VC19':'75_84_pct',
                         'HC03_VC20':'85_over_pct',
                         'HC03_VC23':'median_age_pct',
                         'HC03_VC88':'hispanic_latino_pct',
                         'HC03_VC89':'mexican_pct',
                         'HC03_VC94':'white_pct',
                         'HC03_VC95':'black_pct',
                         'HC03_VC96':'aian_pct',
                         'HC03_VC97':'asian_pct',
                         'HC03_VC98':'nhopi_pct'
                        }, 
                inplace=True)
demo15.rename(columns={'GEO.display-label': 'county',
                         'HC01_VC03': 'tot_pop', 
                         'HC01_VC04': 'male',
                         'HC01_VC05': 'female',
                         'HC01_VC08':'under_5',
                         'HC01_VC09':'5_9',
                         'HC01_VC10':'10_14',
                         'HC01_VC11':'15_19',
                         'HC01_VC12':'20_24',
                         'HC01_VC13':'25_34',
                         'HC01_VC14':'35_44',
                         'HC01_VC15':'45_54',
                         'HC01_VC16':'55_59',
                         'HC01_VC17':'60_64',
                         'HC01_VC18':'65_74',
                         'HC01_VC19':'75_84',
                         'HC01_VC20':'85_over',
                         'HC01_VC23':'median_age',
                         'HC01_VC88':'hispanic_latino',
                         'HC01_VC89':'mexican',
                         'HC01_VC94':'white',
                         'HC01_VC95':'black',
                         'HC01_VC96':'aian',
                         'HC01_VC97':'asian',
                         'HC01_VC98':'nhopi',

                         'HC03_VC04': 'male_pct',
                         'HC03_VC05': 'female_pct',
                         'HC03_VC08':'under_5_pct',
                         'HC03_VC09':'5_9_pct',
                         'HC03_VC10':'10_14_pct',
                         'HC03_VC11':'15_19_pct',
                         'HC03_VC12':'20_24_pct',
                         'HC03_VC13':'25_34_pct',
                         'HC03_VC14':'35_44_pct',
                         'HC03_VC15':'45_54_pct',
                         'HC03_VC16':'55_59_pct',
                         'HC03_VC17':'60_64_pct',
                         'HC03_VC18':'65_74_pct',
                         'HC03_VC19':'75_84_pct',
                         'HC03_VC20':'85_over_pct',
                         'HC03_VC23':'median_age_pct',
                         'HC03_VC88':'hispanic_latino_pct',
                         'HC03_VC89':'mexican_pct',
                         'HC03_VC94':'white_pct',
                         'HC03_VC95':'black_pct',
                         'HC03_VC96':'aian_pct',
                         'HC03_VC97':'asian_pct',
                         'HC03_VC98':'nhopi_pct'
                        }, 
                inplace=True)
demo16.rename(columns={'GEO.display-label': 'county',
                         'HC01_VC03': 'tot_pop', 
                         'HC01_VC04': 'male',
                         'HC01_VC05': 'female',
                         'HC01_VC08':'under_5',
                         'HC01_VC09':'5_9',
                         'HC01_VC10':'10_14',
                         'HC01_VC11':'15_19',
                         'HC01_VC12':'20_24',
                         'HC01_VC13':'25_34',
                         'HC01_VC14':'35_44',
                         'HC01_VC15':'45_54',
                         'HC01_VC16':'55_59',
                         'HC01_VC17':'60_64',
                         'HC01_VC18':'65_74',
                         'HC01_VC19':'75_84',
                         'HC01_VC20':'85_over',
                         'HC01_VC23':'median_age',
                         'HC01_VC88':'hispanic_latino',
                         'HC01_VC89':'mexican',
                         'HC01_VC94':'white',
                         'HC01_VC95':'black',
                         'HC01_VC96':'aian',
                         'HC01_VC97':'asian',
                         'HC01_VC98':'nhopi',

                         'HC03_VC04': 'male_pct',
                         'HC03_VC05': 'female_pct',
                         'HC03_VC08':'under_5_pct',
                         'HC03_VC09':'5_9_pct',
                         'HC03_VC10':'10_14_pct',
                         'HC03_VC11':'15_19_pct',
                         'HC03_VC12':'20_24_pct',
                         'HC03_VC13':'25_34_pct',
                         'HC03_VC14':'35_44_pct',
                         'HC03_VC15':'45_54_pct',
                         'HC03_VC16':'55_59_pct',
                         'HC03_VC17':'60_64_pct',
                         'HC03_VC18':'65_74_pct',
                         'HC03_VC19':'75_84_pct',
                         'HC03_VC20':'85_over_pct',
                         'HC03_VC23':'median_age_pct',
                         'HC03_VC88':'hispanic_latino_pct',
                         'HC03_VC89':'mexican_pct',
                         'HC03_VC94':'white_pct',
                         'HC03_VC95':'black_pct',
                         'HC03_VC96':'aian_pct',
                         'HC03_VC97':'asian_pct',
                         'HC03_VC98':'nhopi_pct'
                        }, 
                inplace=True)
# Other race categories
#                          'HC01_VC99':'other_only',
#                          'HC01_VC100':'more_two_races',
#                          'HC01_VC101':'more_two_races_other',
#                          'HC01_VC102':'more_two_races_other_exclude',

In [56]:
#combine other race, two or more races (HC01_VC99, HC01_VC100, HC01_VC101, HC01_VC102)
demo13['other']=pd.Series(demo13['HC01_VC99']+demo13['HC01_VC100']+demo13['HC01_VC101']+demo13['HC01_VC102'])
demo14['other']=pd.Series(demo14['HC01_VC99']+demo14['HC01_VC100']+demo14['HC01_VC101']+demo14['HC01_VC102'])
demo15['other']=pd.Series(demo15['HC01_VC99']+demo15['HC01_VC100']+demo15['HC01_VC101']+demo15['HC01_VC102'])
demo16['other']=pd.Series(demo16['HC01_VC99']+demo16['HC01_VC100']+demo16['HC01_VC101']+demo16['HC01_VC102'])

In [57]:
demo13['other_pct']=pd.Series(demo13['HC03_VC99']+demo13['HC03_VC100']+demo13['HC03_VC101']+demo13['HC03_VC102'])
demo14['other_pct']=pd.Series(demo14['HC03_VC99']+demo14['HC03_VC100']+demo14['HC03_VC101']+demo14['HC03_VC102'])
demo15['other_pct']=pd.Series(demo15['HC03_VC99']+demo15['HC03_VC100']+demo15['HC03_VC101']+demo15['HC03_VC102'])
demo16['other_pct']=pd.Series(demo16['HC03_VC99']+demo16['HC03_VC100']+demo16['HC03_VC101']+demo16['HC03_VC102'])

In [58]:
demo13=demo13.drop(columns=['HC01_VC99','HC03_VC99','HC01_VC100','HC03_VC100','HC01_VC101','HC03_VC101','HC01_VC102','HC03_VC102'])
demo14=demo14.drop(columns=['HC01_VC99','HC03_VC99','HC01_VC100','HC03_VC100','HC01_VC101','HC03_VC101','HC01_VC102','HC03_VC102'])
demo15=demo15.drop(columns=['HC01_VC99','HC03_VC99','HC01_VC100','HC03_VC100','HC01_VC101','HC03_VC101','HC01_VC102','HC03_VC102'])
demo16=demo16.drop(columns=['HC01_VC99','HC03_VC99','HC01_VC100','HC03_VC100','HC01_VC101','HC03_VC101','HC01_VC102','HC03_VC102'])

In [59]:
demo13.head()

,GEO.id,GEO.id2,county,tot_pop,male,male_pct,female,female_pct,under_5,under_5_pct,...,black,black_pct,aian,aian_pct,asian,asian_pct,nhopi,nhopi_pct,other,other_pct
0,0500000US06001,6001,"Alameda County, California",1535248,752840,49.0,782408,51.0,97522,6.4,...,181315,11.8,4484,0.3,408556,26.6,12230,0.8,125705,8.2
1,0500000US06003,6003,"Alpine County, California",1165,708,60.8,457,39.2,43,3.7,...,7,0.6,200,17.2,17,1.5,27,2.3,8,0.6
2,0500000US06005,6005,"Amador County, California",37422,20236,54.1,17186,45.9,1290,3.4,...,893,2.4,623,1.7,503,1.3,79,0.2,1372,3.6
3,0500000US06007,6007,"Butte County, California",220542,109200,49.5,111342,50.5,12245,5.6,...,2795,1.3,1677,0.8,9406,4.3,333,0.2,18564,8.4
4,0500000US06009,6009,"Calaveras County, California",45147,22612,50.1,22535,49.9,1846,4.1,...,378,0.8,349,0.8,553,1.2,9,0.0,2981,6.6

#### Census income

In [60]:
# Import and clean acs data for income and insurance status
inc11 = pd.read_csv("/Users/42/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/County/ACS_11_5YR_DP03.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-']) 
inc12 = pd.read_csv("/Users/42/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/County/ACS_12_5YR_DP03.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-']) 
inc13 = pd.read_csv("/Users/42/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/County/ACS_13_5YR_DP03.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-']) 
inc14 = pd.read_csv("/Users/42/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/County/ACS_14_5YR_DP03.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-']) 
inc15 = pd.read_csv("/Users/42/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/County/ACS_15_5YR_DP03.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-']) 
inc16 = pd.read_csv("/Users/42/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/County/ACS_16_5YR_DP03.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-'])

In [61]:
inc11=inc11[['GEO.id','GEO.id2','GEO.display-label','HC01_VC85','HC01_VC128','HC03_VC128',
                'HC01_VC129','HC03_VC129','HC01_VC130','HC03_VC130','HC01_VC131','HC03_VC131']]
inc12=inc12[['GEO.id','GEO.id2','GEO.display-label','HC01_VC85','HC01_VC128','HC03_VC128',
                'HC01_VC129','HC03_VC129','HC01_VC130','HC03_VC130','HC01_VC131','HC03_VC131']]

inc13=inc13[['GEO.id','GEO.id2','GEO.display-label','HC01_VC85','HC01_VC131','HC03_VC131',
                'HC01_VC132','HC03_VC132','HC01_VC133','HC03_VC133','HC01_VC134','HC03_VC134']]
inc14=inc14[['GEO.id','GEO.id2','GEO.display-label','HC01_VC85','HC01_VC131','HC03_VC131',
                'HC01_VC132','HC03_VC132','HC01_VC133','HC03_VC133','HC01_VC134','HC03_VC134']]
inc15=inc15[['GEO.id','GEO.id2','GEO.display-label','HC01_VC85','HC01_VC131','HC03_VC131',
                'HC01_VC132','HC03_VC132','HC01_VC133','HC03_VC133','HC01_VC134','HC03_VC134']]
inc16=inc16[['GEO.id','GEO.id2','GEO.display-label','HC01_VC85','HC01_VC131','HC03_VC131',
                'HC01_VC132','HC03_VC132','HC01_VC133','HC03_VC133','HC01_VC134','HC03_VC134']]

In [62]:
inc11.rename(columns={'GEO.display-label': 'county',
                         'HC01_VC85': 'median_income',
                         'HC01_VC128': 'insurance',
                         'HC01_VC129': 'private_insure',
                         'HC01_VC130': 'public_insure',
                         'HC01_VC131': 'no_insurance',

                         'HC03_VC128': 'insurance_pct',
                         'HC03_VC129': 'private_insure_pct',
                         'HC03_VC130': 'public_insure_pct',
                         'HC03_VC131': 'no_insurance_pct'
                        }, 
                inplace=True)
inc12.rename(columns={'GEO.display-label': 'county',
                         'HC01_VC85': 'median_income',
                         'HC01_VC128': 'insurance',
                         'HC01_VC129': 'private_insure',
                         'HC01_VC130': 'public_insure',
                         'HC01_VC131': 'no_insurance',

                         'HC03_VC128': 'insurance_pct',
                         'HC03_VC129': 'private_insure_pct',
                         'HC03_VC130': 'public_insure_pct',
                         'HC03_VC131': 'no_insurance_pct'
                        }, 
                inplace=True)

inc13.rename(columns={'GEO.display-label': 'county',
                         'HC01_VC85': 'median_income',
                         'HC01_VC131': 'insurance',
                         'HC01_VC132': 'private_insure',
                         'HC01_VC133': 'public_insure',
                         'HC01_VC134': 'no_insurance',

                         'HC03_VC131': 'insurance_pct',
                         'HC03_VC132': 'private_insure_pct',
                         'HC03_VC133': 'public_insure_pct',
                         'HC03_VC134': 'no_insurance_pct' 
                        }, 
                inplace=True)
inc14.rename(columns={'GEO.display-label': 'county',
                         'HC01_VC85': 'median_income',
                         'HC01_VC131': 'insurance',
                         'HC01_VC132': 'private_insure',
                         'HC01_VC133': 'public_insure',
                         'HC01_VC134': 'no_insurance',

                         'HC03_VC131': 'insurance_pct',
                         'HC03_VC132': 'private_insure_pct',
                         'HC03_VC133': 'public_insure_pct',
                         'HC03_VC134': 'no_insurance_pct' 
                        }, 
                inplace=True)
inc15.rename(columns={'GEO.display-label': 'county',
                         'HC01_VC85': 'median_income',
                         'HC01_VC131': 'insurance',
                         'HC01_VC132': 'private_insure',
                         'HC01_VC133': 'public_insure',
                         'HC01_VC134': 'no_insurance',

                         'HC03_VC131': 'insurance_pct',
                         'HC03_VC132': 'private_insure_pct',
                         'HC03_VC133': 'public_insure_pct',
                         'HC03_VC134': 'no_insurance_pct' 
                        }, 
                inplace=True)
inc16.rename(columns={'GEO.display-label': 'county',
                         'HC01_VC85': 'median_income',
                         'HC01_VC131': 'insurance',
                         'HC01_VC132': 'private_insure',
                         'HC01_VC133': 'public_insure',
                         'HC01_VC134': 'no_insurance',

                         'HC03_VC131': 'insurance_pct',
                         'HC03_VC132': 'private_insure_pct',
                         'HC03_VC133': 'public_insure_pct',
                         'HC03_VC134': 'no_insurance_pct' 
                        }, 
                inplace=True)

In [63]:
inc11['year']='2011'
inc12['year']='2012'
inc13['year']='2013'
inc14['year']='2014'
inc15['year']='2015'
inc16['year']='2016'

In [64]:
inc11.head()

,GEO.id,GEO.id2,county,median_income,insurance,insurance_pct,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct,year
0,0500000US06001,6001,"Alameda County, California",70821,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011
1,0500000US06003,6003,"Alpine County, California",59018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011
2,0500000US06005,6005,"Amador County, California",56180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011
3,0500000US06007,6007,"Butte County, California",42971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011
4,0500000US06009,6009,"Calaveras County, California",55256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011

In [65]:
county11=demo11.merge(inc11, left_on='GEO.id', right_on='GEO.id', how='outer')
county12=demo12.merge(inc12, left_on='GEO.id', right_on='GEO.id', how='outer')
county13=demo13.merge(inc13, left_on='GEO.id', right_on='GEO.id', how='outer')
county14=demo14.merge(inc14, left_on='GEO.id', right_on='GEO.id', how='outer')
county15=demo15.merge(inc15, left_on='GEO.id', right_on='GEO.id', how='outer')
county16=demo16.merge(inc16, left_on='GEO.id', right_on='GEO.id', how='outer')

In [66]:
county11.head()

,GEO.id,GEO.id2_x,county_x,tot_pop,male,male_pct,female,female_pct,under_5,under_5_pct,...,median_income,insurance,insurance_pct,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct,year
0,0500000US06001,6001,"Alameda County, California",1494876,733297,49.1,761579,50.9,98049,6.6,...,70821,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011
1,0500000US06003,6003,"Alpine County, California",1167,605,51.8,562,48.2,77,6.6,...,59018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011
2,0500000US06005,6005,"Amador County, California",38244,20860,54.5,17384,45.5,1242,3.2,...,56180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011
3,0500000US06007,6007,"Butte County, California",219309,108441,49.4,110868,50.6,12270,5.6,...,42971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011
4,0500000US06009,6009,"Calaveras County, California",45794,22861,49.9,22933,50.1,1900,4.1,...,55256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011

In [67]:
county11=county11.drop(columns=['GEO.id2_x','county_y'])
county12=county12.drop(columns=['GEO.id2_x','county_y'])
county13=county13.drop(columns=['GEO.id2_x','county_y'])
county14=county14.drop(columns=['GEO.id2_x','county_y'])
county15=county15.drop(columns=['GEO.id2_x','county_y'])
county16=county16.drop(columns=['GEO.id2_x','county_y'])


county11=county11.rename(columns={'county_x': 'county'})
county12=county12.rename(columns={'county_x': 'county'})
county13=county13.rename(columns={'county_x': 'county'})
county14=county14.rename(columns={'county_x': 'county'})
county15=county15.rename(columns={'county_x': 'county'})
county16=county16.rename(columns={'county_x': 'county'})

In [68]:
county16.head()

,GEO.id,county,tot_pop,male,male_pct,female,female_pct,under_5,under_5_pct,5_9,...,median_income,insurance,insurance_pct,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct,year
0,0500000US06001,"Alameda County, California",1605217,786730,49.0,818487,51.0,97572,6.1,97295,...,79831,1460959,91.6,1143354,71.7,459358,28.8,133234,8.4,2016
1,0500000US06003,"Alpine County, California",1184,692,58.4,492,41.6,51,4.3,58,...,62375,1009,85.2,655,55.3,484,40.9,175,14.8,2016
2,0500000US06005,"Amador County, California",36963,19839,53.7,17124,46.3,1392,3.8,1616,...,57032,30689,93.0,22454,68.0,15581,47.2,2323,7.0,2016
3,0500000US06007,"Butte County, California",223877,110926,49.5,112951,50.5,12220,5.5,13202,...,44366,197738,89.3,132465,59.8,96959,43.8,23714,10.7,2016
4,0500000US06009,"Calaveras County, California",44787,22156,49.5,22631,50.5,1827,4.1,2551,...,53502,40735,91.7,29287,66.0,20450,46.1,3667,8.3,2016

In [69]:
# Use 2016 data as a proxy for 2017 and 2018 data
county17=county16.copy()
county17['year']='2017'

county18=county16.copy()
county18['year']='2018'

In [70]:
county16.head()

,GEO.id,county,tot_pop,male,male_pct,female,female_pct,under_5,under_5_pct,5_9,...,median_income,insurance,insurance_pct,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct,year
0,0500000US06001,"Alameda County, California",1605217,786730,49.0,818487,51.0,97572,6.1,97295,...,79831,1460959,91.6,1143354,71.7,459358,28.8,133234,8.4,2016
1,0500000US06003,"Alpine County, California",1184,692,58.4,492,41.6,51,4.3,58,...,62375,1009,85.2,655,55.3,484,40.9,175,14.8,2016
2,0500000US06005,"Amador County, California",36963,19839,53.7,17124,46.3,1392,3.8,1616,...,57032,30689,93.0,22454,68.0,15581,47.2,2323,7.0,2016
3,0500000US06007,"Butte County, California",223877,110926,49.5,112951,50.5,12220,5.5,13202,...,44366,197738,89.3,132465,59.8,96959,43.8,23714,10.7,2016
4,0500000US06009,"Calaveras County, California",44787,22156,49.5,22631,50.5,1827,4.1,2551,...,53502,40735,91.7,29287,66.0,20450,46.1,3667,8.3,2016

In [71]:
#Make county census file for 12-18 using 16 as proxy for 17 and 18
county_12_18=pd.concat([ 
           county12,
           county13,
           county14,   
           county15,
           county16,
           county17,
           county18
          ],ignore_index=True,sort=False)

In [72]:
county_12_18.head()

,GEO.id,county,tot_pop,male,male_pct,female,female_pct,under_5,under_5_pct,5_9,...,median_income,insurance,insurance_pct,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct,year
0,0500000US06001,"Alameda County, California",1515136,742993,49.0,772143,51.0,98185,6.5,95028,...,71516,1316411,87.6,1065525,70.9,376206,25.0,185774,12.4,2012
1,0500000US06003,"Alpine County, California",1197,669,55.9,528,44.1,60,5.0,96,...,59931,906,75.7,649,54.2,363,30.3,291,24.3,2012
2,0500000US06005,"Amador County, California",37764,20542,54.4,17222,45.6,1345,3.6,1706,...,53462,29297,87.9,23254,69.8,13004,39.0,4021,12.1,2012
3,0500000US06007,"Butte County, California",220101,108961,49.5,111140,50.5,12340,5.6,12030,...,43339,182717,83.8,130226,59.7,82655,37.9,35348,16.2,2012
4,0500000US06009,"Calaveras County, California",45507,22871,50.3,22636,49.7,1838,4.0,2338,...,54686,39963,88.8,31832,70.7,16796,37.3,5041,11.2,2012

In [73]:
county_edu.head()

           GEO.id  hs_degree_pct  bachleor_degree_pct  year
0  0500000US06001           86.2                 41.1  2012
1  0500000US06003           91.1                 31.7  2012
2  0500000US06005           87.5                 18.8  2012
3  0500000US06007           86.7                 24.0  2012
4  0500000US06009           92.8                 20.8  2012

In [74]:
# merge county education data
county_acs_1218=county_12_18.merge(county_edu, left_on=['GEO.id', 'year'], right_on=['GEO.id','year'], how='left')
county_acs_1218

,GEO.id,county,tot_pop,male,male_pct,female,female_pct,under_5,under_5_pct,5_9,...,insurance_pct,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct,year,hs_degree_pct,bachleor_degree_pct
0,0500000US06001,"Alameda County, California",1515136,742993,49.0,772143,51.0,98185,6.5,95028,...,87.6,1065525,70.9,376206,25.0,185774,12.4,2012,86.2,41.1
1,0500000US06003,"Alpine County, California",1197,669,55.9,528,44.1,60,5.0,96,...,75.7,649,54.2,363,30.3,291,24.3,2012,91.1,31.7
2,0500000US06005,"Amador County, California",37764,20542,54.4,17222,45.6,1345,3.6,1706,...,87.9,23254,69.8,13004,39.0,4021,12.1,2012,87.5,18.8
3,0500000US06007,"Butte County, California",220101,108961,49.5,111140,50.5,12340,5.6,12030,...,83.8,130226,59.7,82655,37.9,35348,16.2,2012,86.7,24.0
4,0500000US06009,"Calaveras County, California",45507,22871,50.3,22636,49.7,1838,4.0,2338,...,88.8,31832,70.7,16796,37.3,5041,11.2,2012,92.8,20.8
5,0500000US06011,"Colusa County, California",21329,11019,51.7,10310,48.3,1833,8.6,1785,...,78.9,10640,50.5,8038,38.1,4447,21.1,2012,69.5,13.5
6,0500000US06013,"Contra Costa County, California",1052047,513441,48.8,538606,51.2,66847,6.4,72770,...,88.2,779845,74.5,255159,24.4,123086,11.8,2012,88.6,38.6
7,0500000US06015,"Del Norte County, California",28496,15677,55.0,12819,45.0,1705,6.0,1418,...,86.1,13524,53.9,11633,46.4,3492,13.9,2012,78.9,13.8
8,0500000US06017,"El Dorado County, California",180441,90422,50.1,90019,49.9,9305,5.2,11015,...,89.5,137364,76.5,48682,27.1,18784,10.5,2012,93.1,31.3
9,0500000US06019,"Fresno County, California",930517,464903,50.0,465614,50.0,79126,8.5,75575,...,80.1,453219,49.3,359925,39.2,182614,19.9,2012,72.8,19.4
10,0500000US06021,"Glenn County, California",28078,14207,50.6,13871,49.4,2104,7.5,1804,...,79.1,14065,50.8,11220,40.5,5780,20.9,2012,73.5,15.4
11,0500000US06023,"Humboldt County, California",134317,67287,50.1,67030,49.9,7583,5.6,7348,...,80.5,76008,57.1,46988,35.3,25935,19.5,2012,90.3,26.4
12,0500000US06025,"Imperial County, California",173487,89318,51.5,84169,48.5,13829,8.0,13827,...,78.4,73384,45.0,64608,39.6,35202,21.6,2012,63.8,13.2
13,0500000US06027,"Inyo County, California",18474,9396,50.9,9078,49.1,1084,5.9,957,...,83.7,11273,61.8,6939,38.1,2969,16.3,2012,88.6,21.0
14,0500000US06029,"Kern County, California",839153,432484,51.5,406669,48.5,73121,8.7,69199,...,79.8,420201,52.1,290377,36.0,163266,20.2,2012,71.6,14.9
15,0500000US06031,"Kings County, California",151982,85499,56.3,66483,43.7,12819,8.4,12139,...,80.3,73316,55.8,42848,32.6,25886,19.7,2012,71.3,12.4
16,0500000US06033,"Lake County, California",64360,32529,50.5,31831,49.5,3554,5.5,3721,...,80.7,32306,50.7,28657,45.0,12279,19.3,2012,86.9,16.8
17,0500000US06035,"Lassen County, California",34628,22681,65.5,11947,34.5,1575,4.5,1278,...,89.4,16672,68.0,8611,35.1,2600,10.6,2012,79.9,13.5
18,0500000US06037,"Los Angeles County, California",9840024,4852259,49.3,4987765,50.7,651662,6.6,632456,...,77.8,5389571,55.2,2819442,28.9,2168228,22.2,2012,76.4,29.5
19,0500000US06039,"Madera County, California",150615,72557,48.2,78058,51.8,12119,8.0,11515,...,78.9,66210,46.5,59338,41.7,30034,21.1,2012,68.0,13.9
20,0500000US06041,"Marin County, California",252759,124430,49.2,128329,50.8,13849,5.5,14995,...,90.6,197192,80.1,61728,25.1,23192,9.4,2012,92.1,54.6
21,0500000US06043,"Mariposa County, California",18193,9130,50.2,9063,49.8,745,4.1,720,...,86.7,11557,63.9,7403,41.0,2409,13.3,2012,89.4,19.9
22,0500000US06045,"Mendocino County, California",87577,43930,50.2,43647,49.8,5283,6.0,5064,...,81.2,45641,52.7,35625,41.1,16256,18.8,2012,85.0,21.4
23,0500000US06047,"Merced County, California",256398,129131,50.4,127267,49.6,22142,8.6,21506,...,81.0,126233,49.8,99978,39.4,48242,19.0,2012,66.6,12.5
24,0500000US06049,"Modoc County, California",9545,4829,50.6,4716,49.4,482,5.0,462,...,83.2,5100,55.5,4130,44.9,1548,16.8,2012,85.1,19.4
25,0500000US06051,"Mono County, California",14181,7516,53.0,6665,47.0,875,6.2,812,...,79.2,9107,65.1,3372,24.1,2908,20.8,2012,86.3,29.1
26,0500000US06053,"Monterey County, California",416199,214090,51.4,202109,48.6,33021,7.9,31302,...,78.9,231594,58.3,121208,30.5,83680,21.1,2012,70.4,23.2
27,0500000US06055,"Napa County, California",136644,68206,49.9,68438,50.1,8086,5.9,8621,...,85.8,98044,72.9,35670,26.5,19127,14.2,2012,82.6,31.2
28,0500000US06057,"Nevada County, California",98521,48924,49.7,49597,50.3,4371,4.4,5026,...,85.4,68522,70.1,32583,33.4,14275,14.6,2012,95.0,32.7
29,0500000US06059,"Orange County, California",3021840,1495127,49.5,1526713,50.5,193834,6.4,199596,...,82.8,1989633,66.2,720158,24.0,517292,17.2,2012,83.6,36.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,0500000US06057,"Nevada County, California",98639,48833,49.5,49806,50.5,4243,4.3,4642,...,88.8,65169,66.7,40052,41.0,10911,11.2,2018,93.3,34.4
377,0500000US06059,"Orange County, California",3132211,1546687,49.4,1585524,50.6,189534,6.1,195681,...,87.7,2045413,65.7,919070,29.5,384240,12.3,2018,84.5,38.4
378,0500000US06061,"Placer County, California",370571,180790,48.8,189781,51.2,20139,5.4,23948,...,92.3,289002,78.6,106331,28.9,28326,7.7,2018,94.2,36.9
379,0500000US06063,"Plumas County, California",18754,9484,50.6,9270,49.4,876,4.7,942,...,89.7,11850,63.7,8592,46.2,1908,10.3,2018,91.9,21.9
380,0500000US06065,"Riverside County, California",2323892,1156126,49.7,1167766,50.3,157562,6.8,171118,...,85.3,1302330,56.6,857100,37.2,338467,14.7,2018,80.5,21.2
381,0500000US06067,"Sacramento County, California",1479300,722955,48.9,756345,51.1,99086,6.7,100822,...,89.6,930862,63.6,540017,36.9,151656,10.4,2018,86.8,29.3
382,0500000US06069,"San Benito County, California",58051,29062,50.1,28989,49.9,3919,6.8,4297,...,88.6,36979,63.9,19328,33.4,6594,11.4,2018,78.3,19.0
383,0500000US06071,"San Bernardino County, California",2106754,1047925,49.7,1058829,50.3,154388,7.3,160173,...,85.9,1123962,54.6,787120,38.2,290269,14.1,2018,78.8,19.3
384,0500000US06073,"San Diego County, California",3253356,1635137,50.3,1618219,49.7,211794,6.5,200294,...,87.8,2112298,67.0,951030,30.2,385939,12.2,2018,86.4,36.5
385,0500000US06075,"San Francisco County, California",850282,433226,51.0,417056,49.0,38715,4.6,31467,...,93.1,619665,73.3,239641,28.3,58719,6.9,2018,87.4,54.8
386,0500000US06077,"San Joaquin County, California",714860,355719,49.8,359141,50.2,52509,7.3,55602,...,88.3,408807,57.9,280396,39.7,82648,11.7,2018,78.0,18.2
387,0500000US06079,"San Luis Obispo County, California",278680,141572,50.8,137108,49.2,13611,4.9,14188,...,89.9,199143,73.2,84383,31.0,27491,10.1,2018,90.1,34.1
388,0500000US06081,"San Mateo County, California",754748,371545,49.2,383203,50.8,45703,6.1,47053,...,92.8,576493,76.8,200489,26.7,54146,7.2,2018,88.6,47.1
389,0500000US06083,"Santa Barbara County, California",439395,220159,50.1,219236,49.9,28474,6.5,26922,...,86.4,276068,63.9,146013,33.8,58970,13.6,2018,80.1,32.2
390,0500000US06085,"Santa Clara County, California",1885056,949223,50.4,935833,49.6,120684,6.4,125390,...,92.3,1400734,74.7,483314,25.8,144253,7.7,2018,87.1,49.1
391,0500000US06087,"Santa Cruz County, California",270931,134367,49.6,136564,50.4,14960,5.5,14986,...,89.8,185583,68.9,85266,31.6,27600,10.2,2018,86.3,39.0
392,0500000US06089,"Shasta County, California",179228,87903,49.0,91325,51.0,10466,5.8,10981,...,88.4,101991,57.4,82724,46.5,20547,11.6,2018,90.0,20.1
393,0500000US06091,"Sierra County, California",2931,1449,49.4,1482,50.6,103,3.5,154,...,91.9,1806,62.2,1465,50.5,236,8.1,2018,89.0,19.8
394,0500000US06093,"Siskiyou County, California",43668,21713,49.7,21955,50.3,2288,5.2,2660,...,90.1,22781,52.4,23679,54.4,4291,9.9,2018,88.6,22.2
395,0500000US06095,"Solano County, California",429596,213518,49.7,216078,50.3,26482,6.2,27489,...,90.8,290169,69.7,142509,34.2,38213,9.2,2018,87.5,25.1
396,0500000US06097,"Sonoma County, California",497776,243919,49.0,253857,51.0,26442,5.3,29071,...,89.9,344024,69.7,166005,33.6,49892,10.1,2018,87.2,33.1
397,0500000US06099,"Stanislaus County, California",530561,262151,49.4,268410,50.6,39067,7.4,39718,...,88.5,292562,55.5,223762,42.4,60716,11.5,2018,77.6,16.5
398,0500000US06101,"Sutter County, California",95406,47486,49.8,47920,50.2,6604,6.9,7735,...,86.8,51729,54.9,40649,43.2,12398,13.2,2018,79.2,17.9
399,0500000US06103,"Tehama County, California",63015,31379,49.8,31636,50.2,3859,6.1,4486,...,89.2,33297,53.3,31387,50.2,6761,10.8,2018,82.9,13.8
400,0500000US06105,"Trinity County, California",13180,6752,51.2,6428,48.8,581,4.4,610,...,83.6,5934,45.7,6620,50.9,2135,16.4,2018,90.7,20.1
401,0500000US06107,"Tulare County, California",455769,227963,50.0,227806,50.0,39815,8.7,41120,...,85.1,196374,43.5,220748,48.9,67127,14.9,2018,68.2,14.0
402,0500000US06109,"Tuolumne County, California",53864,28134,52.2,25730,47.8,2288,4.2,2782,...,91.3,32282,63.5,24399,48.0,4409,8.7,2018,89.8,19.7
403,0500000US06111,"Ventura County, California",843110,417442,49.5,425668,50.5,53353,6.3,55811,...,87.7,562762,67.3,254122,30.4,103017,12.3,2018,83.4,32.2
404,0500000US06113,"Yolo County, California",209671,102268,48.8,107403,51.2,12353,5.9,12725,...,90.6,147440,70.8,60572,29.1,19648,9.4,2018,85.6,40.0
405,0500000US06115,"Yuba County, California",73897,37471,50.7,36426,49.3,6123,8.3,6012,...,87.8,38185,53.4,32877,46.0,8750,12.2,2018,82.2,15.5

In [75]:
# county_11_16['county']=county_11_16.county.replace('County, California', '', regex=True)
county_acs_1218['county']=county_acs_1218.county.replace(' County, California', '', regex=True)

In [76]:
county_acs_1218.head()

,GEO.id,county,tot_pop,male,male_pct,female,female_pct,under_5,under_5_pct,5_9,...,insurance_pct,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct,year,hs_degree_pct,bachleor_degree_pct
0,0500000US06001,Alameda,1515136,742993,49.0,772143,51.0,98185,6.5,95028,...,87.6,1065525,70.9,376206,25.0,185774,12.4,2012,86.2,41.1
1,0500000US06003,Alpine,1197,669,55.9,528,44.1,60,5.0,96,...,75.7,649,54.2,363,30.3,291,24.3,2012,91.1,31.7
2,0500000US06005,Amador,37764,20542,54.4,17222,45.6,1345,3.6,1706,...,87.9,23254,69.8,13004,39.0,4021,12.1,2012,87.5,18.8
3,0500000US06007,Butte,220101,108961,49.5,111140,50.5,12340,5.6,12030,...,83.8,130226,59.7,82655,37.9,35348,16.2,2012,86.7,24.0
4,0500000US06009,Calaveras,45507,22871,50.3,22636,49.7,1838,4.0,2338,...,88.8,31832,70.7,16796,37.3,5041,11.2,2012,92.8,20.8

In [77]:
#Export full combined County city data

# county_acs_12_18.to_csv("county_acs_12_18.csv", index=False)

#### Merge city vaccine and city census geoids

In [78]:
county_vac1118.rename(columns={'n': 'vaccinated'}, inplace=True)
county_vac1118['vac_pct']=county_vac1118.vaccinated/county_vac1118.enrollment*100

In [79]:
county_vac1118.head()

      county  enrollment  vaccinated school_year  year    vac_pct
0    Alameda    148667.0    145045.0   2011-2012  2012  97.563683
1     Alpine        57.0        56.0   2011-2012  2012  98.245614
2     Amador      2543.0      2417.0   2011-2012  2012  95.045222
3      Butte     22560.0     21008.0   2011-2012  2012  93.120567
4  Calaveras      3716.0      3417.0   2011-2012  2012  91.953714

In [80]:
list(county_vac1118.county.unique())

['Alameda',
 'Alpine',
 'Amador',
 'Butte',
 'Calaveras',
 'Colusa',
 'Contra Costa',
 'Del Norte',
 'El Dorado',
 'Fresno',
 'Glenn',
 'Humboldt',
 'Imperial',
 'Inyo',
 'Kern',
 'Kings',
 'Lake',
 'Lassen',
 'Los Angeles',
 'Madera',
 'Marin',
 'Mariposa',
 'Mendocino',
 'Merced',
 'Modoc',
 'Mono',
 'Monterey',
 'Napa',
 'Nevada',
 'Orange',
 'Placer',
 'Plumas',
 'Riverside',
 'Sacramento',
 'San Benito',
 'San Bernardino',
 'San Diego',
 'San Francisco',
 'San Joaquin',
 'San Luis Obispo',
 'San Mateo',
 'Santa Barbara',
 'Santa Clara',
 'Santa Cruz',
 'Shasta',
 'Sierra',
 'Siskiyou',
 'Solano',
 'Sonoma',
 'Stanislaus',
 'Sutter',
 'Tehama',
 'Trinity',
 'Tulare',
 'Tuolumne',
 'Ventura',
 'Yolo',
 'Yuba']

In [81]:
combined_county_1118=county_vac1118.merge(county_acs_1218, left_on=['county','year'], right_on=['county','year'], how='left')

In [82]:
combined_county_1118.head()

,county,enrollment,vaccinated,school_year,year,vac_pct,GEO.id,tot_pop,male,male_pct,...,insurance,insurance_pct,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct,hs_degree_pct,bachleor_degree_pct
0,Alameda,148667.0,145045.0,2011-2012,2012,97.563683,0500000US06001,1515136,742993,49.0,...,1316411,87.6,1065525,70.9,376206,25.0,185774,12.4,86.2,41.1
1,Alpine,57.0,56.0,2011-2012,2012,98.245614,0500000US06003,1197,669,55.9,...,906,75.7,649,54.2,363,30.3,291,24.3,91.1,31.7
2,Amador,2543.0,2417.0,2011-2012,2012,95.045222,0500000US06005,37764,20542,54.4,...,29297,87.9,23254,69.8,13004,39.0,4021,12.1,87.5,18.8
3,Butte,22560.0,21008.0,2011-2012,2012,93.120567,0500000US06007,220101,108961,49.5,...,182717,83.8,130226,59.7,82655,37.9,35348,16.2,86.7,24.0
4,Calaveras,3716.0,3417.0,2011-2012,2012,91.953714,0500000US06009,45507,22871,50.3,...,39963,88.8,31832,70.7,16796,37.3,5041,11.2,92.8,20.8

In [83]:
combined_county_1118.to_csv('county_correlation.csv', index=False)