In [1]:
import numpy as np
import pandas as pd

In [2]:
# Import compiled vaccine data
data1112 = pd.read_csv("cleanjoin1112.csv", encoding = "ISO-8859-1")
data1213 = pd.read_csv("cleanjoin1213.csv", encoding = "ISO-8859-1")
data1314 = pd.read_csv("cleanjoin1314.csv", encoding = "ISO-8859-1")
data1415 = pd.read_csv("cleanjoin1415.csv", encoding = "ISO-8859-1")
data1516 = pd.read_csv("cleanjoin1516.csv", encoding = "ISO-8859-1")
data1617 = pd.read_csv("cleanjoin1617.csv", encoding = "ISO-8859-1")
data1718 = pd.read_csv("cleanjoin1718.csv", encoding = "ISO-8859-1")

In [3]:
#Keep county, city, school grade, population #, enrollment, vaccinated (n), 
vac1112=data1112[['county','city','enrollment','n','vac_info_type']]
vac1213=data1213[['county','city','enrollment','n','vac_info_type']]
vac1314=data1314[['county','city','enrollment','n','vac_info_type']]
vac1415=data1415[['county','city','enrollment','n','vac_info_type']]
vac1516=data1516[['county','city','enrollment','n','vac_info_type']]
vac1617=data1617[['county','city','enrollment','n','vac_info_type']]
vac1718=data1718[['county','city','enrollment','n','vac_info_type']]

In [4]:
vac1112.head()

    county        city  enrollment     n  vac_info_type
0  Alameda     Alameda        45.0  43.0  ChildCareData
1  Alameda     Alameda        28.0  28.0  ChildCareData
2  Alameda     Alameda        27.0  24.0  ChildCareData
3  Alameda  Emeryville        46.0  45.0  ChildCareData
4  Alameda    Berkeley        42.0  40.0  ChildCareData

In [5]:
data1112.head()

,facility_num,county,is_public,city,facility_name,enrollment,n,pct,reported,vac_info_type,...,other_pct,median_income,insurance,insurance_pct,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct
0,NaN,Alameda,HEAD START,Alameda,ALAMEDA HEAD START - SUE MATHESON CENTER,45.0,43.0,95.555556,Y,ChildCareData,...,10.0,77249.0,65482.0,90.1,55055.0,75.7,18158.0,25.0,7212.0,9.9
1,NaN,Alameda,HEAD START,Alameda,ALAMEDA HEAD START - WASHINGTON,28.0,28.0,100.000000,Y,ChildCareData,...,10.0,77249.0,65482.0,90.1,55055.0,75.7,18158.0,25.0,7212.0,9.9
2,NaN,Alameda,HEAD START,Alameda,ALAMEDA HEAD START- COLLEGE OF ALAMEDA HEAD START,27.0,24.0,88.888889,Y,ChildCareData,...,10.0,77249.0,65482.0,90.1,55055.0,75.7,18158.0,25.0,7212.0,9.9
3,NaN,Alameda,HEAD START,Emeryville,BERKELEY YMCA HDSTART/ST PRESCH EMERYVILLE MARINA,46.0,45.0,97.826087,Y,ChildCareData,...,15.2,66136.0,8493.0,85.5,7233.0,72.8,2325.0,23.4,1441.0,14.5
4,NaN,Alameda,HEAD START,Berkeley,BERKELEY YMCA HEAD START - OCEAN VIEW,42.0,40.0,95.238095,Y,ChildCareData,...,9.2,63505.0,102661.0,91.4,91778.0,81.7,21254.0,18.9,9674.0,8.6

In [6]:
vac1112=vac1112.groupby(by=['county','city','vac_info_type'], as_index=False)['enrollment','n'].sum()
vac1213=vac1213.groupby(by=['county','city','vac_info_type'], as_index=False)['enrollment','n'].sum()
vac1314=vac1314.groupby(by=['county','city','vac_info_type'], as_index=False)['enrollment','n'].sum()
vac1415=vac1415.groupby(by=['county','city','vac_info_type'], as_index=False)['enrollment','n'].sum()
vac1516=vac1516.groupby(by=['county','city','vac_info_type'], as_index=False)['enrollment','n'].sum()
vac1617=vac1617.groupby(by=['county','city','vac_info_type'], as_index=False)['enrollment','n'].sum()
vac1718=vac1718.groupby(by=['county','city','vac_info_type'], as_index=False)['enrollment','n'].sum()

In [7]:
vac1112['school_year']='2011-2012'
vac1112['year']='2012'

vac1213['school_year']='2012-2013'
vac1213['year']='2013'

vac1314['school_year']='2013-2014'
vac1314['year']='2014'

vac1415['school_year']='2014-2015'
vac1415['year']='2015'

vac1516['school_year']='2015-2016'
vac1516['year']='2016'

vac1617['school_year']='2016-2017'
vac1617['year']='2017'

vac1718['school_year']='2017-2018'
vac1718['year']='2018'

In [8]:
vac1112.head()

    county     city     vac_info_type  enrollment       n school_year  year
0  Alameda  Alameda      7thGradeData      5832.0  5712.0   2011-2012  2012
1  Alameda  Alameda     ChildCareData      1031.0   995.0   2011-2012  2012
2  Alameda  Alameda  KindergartenData       755.0   704.0   2011-2012  2012
3  Alameda   Albany      7thGradeData      1875.0  1835.0   2011-2012  2012
4  Alameda   Albany     ChildCareData       258.0   155.0   2011-2012  2012

In [9]:
vac_11_18=pd.concat([vac1112, 
           vac1213,
           vac1314,
           vac1415,
           vac1516,
           vac1617,
           vac1718
          ],ignore_index=True)

In [10]:
vac_11_18.rename(columns={'n': 'vaccinated'}, inplace=True)

In [11]:
vac_11_18.head()

,county,city,vac_info_type,enrollment,vaccinated,school_year,year
0,Alameda,Alameda,7thGradeData,5832.0,5712.0,2011-2012,2012
1,Alameda,Alameda,ChildCareData,1031.0,995.0,2011-2012,2012
2,Alameda,Alameda,KindergartenData,755.0,704.0,2011-2012,2012
3,Alameda,Albany,7thGradeData,1875.0,1835.0,2011-2012,2012
4,Alameda,Albany,ChildCareData,258.0,155.0,2011-2012,2012

In [12]:
#Export full cleaned data
vac_11_18.to_csv("vac_11_18_combined.csv", index=False)

In [13]:
vac_11_18.city.unique()

array(['Alameda', 'Albany', 'Berkeley', 'Castro Valley', 'Dublin',
       'Emeryville', 'Fremont', 'Hayward', 'Livermore', 'Newark',
       'Oakland', 'Piedmont', 'Pleasanton', 'San Leandro', 'San Lorenzo',
       'Sunol', 'Union City', 'Markleeville', 'Ione', 'Jackson',
       'Pine Grove', 'Pioneer', 'Plymouth', 'Sutter Creek', 'Bangor',
       'Berry Creek', 'Biggs', 'Chico', 'Durham', 'Forest Ranch',
       'Gridley', 'Magalia', 'Oroville', 'Palermo', 'Paradise', 'Angels',
       'Arnold', 'Avery', 'Copperopolis', 'Mokelumne Hill', 'Murphys',
       'San Andreas', 'Vallecito', 'Valley Springs', 'West Point',
       'Arbuckle', 'Colusa', 'Grimes', 'Maxwell', 'Williams', 'Alamo',
       'Antioch', 'Bay Point', 'Brentwood', 'Byron', 'Canyon', 'Clayton',
       'Concord', 'Crockett', 'Danville', 'Discovery Bay', 'El Cerrito',
       'El Sobrante (Contra Costa County)', 'Hercules', 'Kensington',
       'Knightsen', 'Lafayette', 'Martinez', 'Moraga', 'Oakley', 'Orinda',
       'Pinole', 'Pittsburg', 'Pleasant Hill', 'Richmond', 'Rodeo',
       'San Pablo', 'San Ramon', 'Walnut Creek', 'Crescent City',
       'Fort Dick', 'Klamath', 'Smith River', 'Cameron Park', 'Camino',
       'Cool', 'Costa Mesa', 'Diamond Springs', 'El Dorado',
       'El Dorado Hills', 'Garden Valley', 'Georgetown',
       'Huntington Park', 'Orangevale', 'Placerville', 'Pollock Pines',
       'Rescue', 'Sacramento', 'Shingle Springs', 'Somerset',
       'South Lake Tahoe', 'Stockton', 'Yerington', 'Auberry', 'Burrel',
       'Cantua Creek', 'Caruthers', 'Clovis', 'Coalinga', 'Del Rey',
       'Dinuba', 'Dunlap', 'Firebaugh', 'Five Points', 'Fowler', 'Fresno',
       'Helm', 'Huron', 'Kerman', 'Kingsburg', 'Laton', 'Mendota',
       'Orange Cove', 'Parlier', 'Prather', 'Raisin City', 'Reedley',
       'Riverdale', 'San Joaquin', 'Sanger', 'Selma', 'Tollhouse',
       'Tranquillity', 'Elk Creek', 'Glenn', 'Hamilton City', 'Orland',
       'Princeton', 'Willows', 'Arcata', 'Bayside', 'Blue Lake',
       'Briceland', 'Bridgeville', 'Carlotta', 'Eureka', 'Ferndale',
       'Fieldbrook', 'Fortuna', 'Hoopa', 'Hydesville', 'Loleta',
       'McKinleyville', 'Miranda', 'Orleans', 'Petrolia', 'Redway',
       'Rio Dell', 'Scotia', 'Trinidad', 'Whitethorn', 'Willow Creek',
       'Brawley', 'Calexico', 'Calipatria', 'El Centro', 'Heber',
       'Holtville', 'Imperial', 'Niland', 'Salton City', 'Seeley',
       'Westmorland', 'Winterhaven', 'Big Pine', 'Bishop', 'Lone Pine',
       'Los Angeles', 'Arvin', 'Bakersfield', 'Boron', 'Buttonwillow',
       'California City', 'Delano', 'Edwards AFB', 'Fellows',
       'Frazier Park', 'Inyokern', 'Kernville', 'Lake Isabella', 'Lamont',
       'Lebec', 'Lost Hills', 'Maricopa', 'McFarland', 'McKittrick',
       'Mojave', 'Pine Mountain Club', 'Ridgecrest', 'Rosamond',
       'Shafter', 'Simi Valley', 'Taft', 'Tehachapi', 'Tupman', 'Wasco',
       'Weldon', 'Armona', 'Avenal', 'Corcoran', 'El Segundo', 'Hanford',
       'Kettleman City', 'Lemoore', 'Lemoore Station', 'Stratford',
       'Vista', 'Clearlake', 'Clearlake Oaks', 'Cobb', 'Kelseyville',
       'Lakeport', 'Lower Lake', 'Lucerne', 'Middletown', 'Upper Lake',
       'Alturas', 'Bieber', 'Doyle', 'Herlong', 'Janesville',
       'Litchfield', 'Susanville', 'Termo', 'Westwood', 'Acton',
       'Agoura Hills', 'Agua Dulce', 'Alhambra', 'Altadena', 'Arcadia',
       'Artesia', 'Avalon', 'Azusa', 'Baldwin Park', 'Bell',
       'Bell Gardens', 'Bellflower', 'Beverly Hills', 'Burbank',
       'Calabasas', 'Carson', 'Castaic', 'Cerritos', 'Claremont',
       'Commerce', 'Compton', 'Covina', 'Cudahy', 'Culver City',
       'Diamond Bar', 'Downey', 'Duarte', 'East Rancho Dominguez',
       'East Whittier', 'El Monte', 'Gardena', 'Glendale', 'Glendora',
       'Gorman', 'Hacienda Heights', 'Hawaiian Gardens', 'Hawthorne',
       'Hermosa Beach', 'Industry', 'Inglewood', 'Irwindale',
       'La Canada Flintridge', 'La Crescenta-Montrose', 'La Habra',
       'La Habra Heights', 'La Mirada', 'La Puente', 'La Verne',
       'Lake Hughes', 'Lakewood', 'Lancaster', 'Lawndale', 'Lennox',
       'Leona Valley', 'Littlerock', 'Lomita', 'Long Beach', 'Lynwood',
       'Malibu', 'Manhattan Beach', 'Marina del Rey', 'Maywood',
       'Mission Hills', 'Monrovia', 'Montebello', 'Monterey Park',
       'Norwalk', 'Palmdale', 'Palos Verdes Estates', 'Paramount',
       'Pasadena', 'Pearblossom', 'Pico Rivera', 'Pomona', 'Quartz Hill',
       'Rancho Palos Verdes', 'Redlands', 'Redondo Beach',
       'Rolling Hills', 'Rolling Hills Estates', 'Rosemead',
       'Rowland Heights', 'San Dimas', 'San Fernando', 'San Gabriel',
       'San Marino', 'Santa Clarita', 'Santa Fe Springs', 'Santa Monica',
       'Sierra Madre', 'Signal Hill', 'South El Monte', 'South Gate',
       'South Pasadena', 'South San Gabriel', 'South Whittier',
       'Stevenson Ranch', 'Temple City', 'Thousand Oaks', 'Topanga',
       'Torrance', 'Val Verde', 'Valinda', 'Walnut', 'Walnut Park',
       'West Covina', 'West Hollywood', 'West Whittier-Los Nietos',
       'Westlake Village', 'Whittier', 'Ahwahnee', 'Chowchilla',
       'Coarsegold', 'Fairmead', 'Madera', 'North Fork', "O'Neals",
       'Oakhurst', 'Raymond', 'Belvedere', 'Bodega Bay', 'Bolinas',
       'Corte Madera', 'Fairfax', 'Inverness', 'Kentfield', 'Larkspur',
       'Marin City', 'Mill Valley', 'Novato', 'Point Reyes Station',
       'Ross', 'San Anselmo', 'San Geronimo', 'San Rafael', 'Sausalito',
       'Stinson Beach', 'Tiburon', 'Tomales', 'Woodacre', 'Greeley Hill',
       'La Grange', 'Mariposa', 'Boonville', 'Calpella', 'Caspar',
       'Covelo', 'Fort Bragg', 'Laytonville', 'Leggett', 'Mendocino',
       'Point Arena', 'Potter Valley', 'Redwood Valley', 'Talmage',
       'Ukiah', 'Willits', 'Atwater', 'Ballico', 'Cressey', 'Delhi',
       'Dos Palos', 'El Nido', 'Gustine', 'Hilmar-Irwin', 'Le Grand',
       'Livingston', 'Los Banos', 'Merced', 'Planada', 'Santa Nella',
       'Snelling', 'South Dos Palos', 'Stevinson', 'Winton', 'Adin',
       'Cedarville', 'Newell', 'Tulelake', 'Bridgeport', 'Coleville',
       'Lee Vining', 'Mammoth Lakes', 'Aromas', 'Big Sur', 'Bradley',
       'Carmel Valley Village', 'Castroville', 'Chualar', 'Del Rey Oaks',
       'Gonzales', 'Greenfield', 'King City', 'Lockwood', 'Marina',
       'Monterey', 'Pacific Grove', 'Pebble Beach', 'Prunedale',
       'Salinas', 'San Ardo', 'San Lucas', 'Seaside', 'Soledad',
       'Spreckels', 'Watsonville', 'American Canyon', 'Angwin',
       'Calistoga', 'Napa', 'Pope Valley', 'Rutherford', 'St. Helena',
       'Yountville', 'Auburn', 'Chicago Park', 'Grass Valley',
       'Nevada City', 'Norden', 'North San Juan', 'Penn Valley',
       'Truckee', 'Aliso Viejo', 'Anaheim', 'Brea', 'Buena Park',
       'Cypress', 'Dana Point', 'Fountain Valley', 'Fullerton',
       'Garden Grove', 'Huntington Beach', 'Irvine', 'La Palma',
       'Ladera Ranch', 'Laguna Beach', 'Laguna Hills', 'Laguna Niguel',
       'Laguna Woods', 'Lake Forest', 'Las Flores (Orange County)',
       'Los Alamitos', 'Midway City', 'Mission Viejo', 'Newport Beach',
       'Orange', 'Placentia', 'Rancho Santa Margarita', 'Rossmoor',
       'San Clemente', 'San Juan Capistrano', 'Santa Ana', 'Seal Beach',
       'Silverado', 'Stanton', 'Trabuco Canyon', 'Tustin', 'Villa Park',
       'Westminster', 'Yorba Linda', 'Alta', 'Antelope', 'Clipper Gap',
       'Colfax', 'Foresthill', 'Granite Bay', 'Kings Beach', 'Lincoln',
       'Loomis', 'Meadow Vista', 'Newcastle', 'Penryn', 'Rocklin',
       'Roseville', 'Sheridan', 'Soda Springs', 'Sunnyside-Tahoe City',
       'Weimar', 'Chester', 'Crescent Mills', 'Greenville', 'Portola',
       'Quincy', 'Aguanga', 'Anza', 'Banning', 'Beaumont',
       'Bermuda Dunes', 'Blythe', 'Cabazon', 'Calimesa', 'Cathedral City',
       'Cherry Valley', 'Coachella', 'Corona', 'Desert Hot Springs',
       'Eastvale', 'Hemet', 'Idyllwild-Pine Cove', 'Indian Wells',
       'Indio', 'Jurupa Valley', 'La Quinta', 'Lake Elsinore',
       'Lake Mathews', 'Mecca', 'Menifee', 'Moreno Valley', 'Murrieta',
       'Norco', 'Nuevo', 'Palm Desert', 'Palm Springs', 'Perris',
       'Rancho Mirage', 'Riverside', 'Romoland', 'San Jacinto',
       'Temecula', 'Thermal', 'Thousand Palms', 'Wildomar', 'Winchester',
       'Carmichael', 'Citrus Heights', 'Clarksburg', 'Courtland',
       'Elk Grove', 'Elverta', 'Fair Oaks', 'Folsom', 'Galt',
       'Gold River', 'Herald', 'Isleton', 'Mather', 'North Highlands',
       'Rancho Cordova', 'Rancho Murieta', 'Rio Linda', 'Rio Vista',
       'Sloughhouse', 'Walnut Grove', 'West Sacramento', 'Wilton',
       'Hollister', 'San Juan Bautista', 'Tres Pinos', 'Adelanto',
       'Apple Valley', 'Baker', 'Baldy Mesa', 'Barstow', 'Big Bear City',
       'Big Bear Lake', 'Big River', 'Bloomington', 'Chino',
       'Chino Hills', 'Colton', 'Crest Park', 'Crestline', 'Daggett',
       'Fontana', 'Forest Falls', 'Fort Irwin', 'Grand Terrace',
       'Helendale', 'Hesperia', 'Highland', 'Hinkley', 'Joshua Tree',
       'Lake Arrowhead', 'Loma Linda', 'Lucerne Valley', 'Mentone',
       'Montclair', 'Morongo Valley', 'Mount Baldy', 'Needles',
       'Newberry Springs', 'Oak Hills', 'Ontario', 'Oro Grande', 'Phelan',
       'Pinon Hills', 'Rancho Cucamonga', 'Rialto', 'Rim Forest',
       'Running Springs', 'San Bernardino', 'Sugarloaf', 'Trona',
       'Twentynine Palms', 'Twin Peaks', 'Upland', 'Victorville',
       'Wrightwood', 'Yermo', 'Yucaipa', 'Yucca Valley', 'Alpine',
       'Bonita', 'Bonsall', 'Borrego Springs', 'Boulevard',
       'Camp Pendleton North', 'Campo', 'Carlsbad', 'Chula Vista',
       'Coronado', 'Del Mar', 'Descanso', 'El Cajon', 'Encinitas',
       'Escondido', 'Fallbrook', 'Imperial Beach', 'Jacumba', 'Jamul',
       'Julian', 'La Mesa', 'Lakeside', 'Lemon Grove', 'National City',
       'Oceanside', 'Pala', 'Pauma Valley', 'Pine Valley', 'Potrero',
       'Poway', 'Rainbow', 'Ramona', 'Rancho Santa Fe', 'San Diego',
       'San Marcos', 'Santee', 'Solana Beach',
       'Spring Valley (San Diego County)', 'Tecate', 'Valley Center',
       'Warner Springs', 'San Francisco', 'Acampo', 'Banta', 'Escalon',
       'Farmington', 'French Camp', 'Lathrop', 'Linden', 'Lockeford',
       'Lodi', 'Manteca', 'Mountain House', 'Ripon', 'Thornton', 'Tracy',
       'Victor', 'Arroyo Grande', 'Atascadero', 'Cambria', 'Cayucos',
       'Creston', 'El Paso de Robles (Paso Robles)', 'Grover Beach',
       'Los Osos', 'Morro Bay', 'Nipomo', 'Oceano', 'Pismo Beach',
       'San Luis Obispo', 'San Miguel (San Luis Obispo County)',
       'Santa Margarita', 'Shandon', 'Templeton', 'Atherton', 'Belmont',
       'Brisbane', 'Burlingame', 'Colma', 'Daly City', 'East Palo Alto',
       'El Granada', 'Foster City', 'Half Moon Bay', 'Hillsborough',
       'La Honda', 'Menlo Park', 'Millbrae', 'Montara', 'Pacifica',
       'Palo Alto', 'Pescadero', 'Portola Valley', 'Redwood City',
       'San Bruno', 'San Carlos', 'San Mateo', 'South San Francisco',
       'Woodside', 'Buellton', 'Carpinteria', 'Cuyama', 'Gaviota',
       'Goleta', 'Guadalupe', 'Lompoc', 'Los Alamos', 'Los Olivos',
       'New Cuyama', 'Orcutt', 'Santa Barbara', 'Santa Maria',
       'Santa Ynez', 'Solvang', 'Vandenberg AFB', 'Campbell', 'Cupertino',
       'Gilroy', 'Los Altos', 'Los Altos Hills', 'Los Gatos', 'Milpitas',
       'Moffett Field', 'Morgan Hill', 'Mountain View', 'San Jose',
       'San Martin', 'Santa Clara', 'Saratoga', 'Stanford', 'Sunnyvale',
       'Aptos', 'Ben Lomond', 'Boulder Creek', 'Capitola', 'Corralitos',
       'Davenport', 'Felton', 'Freedom', 'La Selva Beach', 'Mount Hermon',
       'Santa Cruz', 'Scotts Valley', 'Soquel', 'Anderson', 'Bella Vista',
       'Burney', 'Castella', 'Cottonwood', 'Fall River Mills', 'McArthur',
       'Millville', 'Montgomery Creek', 'Oak Run', 'Palo Cedro',
       'Redding', 'Shasta', 'Shasta Lake', 'Shingletown', 'Loyalton',
       'Dorris', 'Dunsmuir', 'Edgewood', 'Etna', 'Fort Jones', 'Gazelle',
       'Grenada', 'Happy Camp', 'Macdoel', 'McCloud', 'Montague',
       'Mount Shasta', 'Weed', 'Yreka', 'Benicia', 'Dixon', 'Fairfield',
       'Suisun City', 'Vacaville', 'Vallejo', 'Boyes Hot Springs',
       'Cloverdale', 'Cotati', 'Forestville', 'Geyserville', 'Glen Ellen',
       'Guerneville', 'Healdsburg', 'Kenwood', 'Monte Rio', 'Occidental',
       'Penngrove', 'Petaluma', 'Rohnert Park', 'Santa Rosa',
       'Sebastopol', 'Sonoma', 'Windsor', 'Ceres', 'Crows Landing',
       'Denair', 'Empire', 'Hickman', 'Hughson', 'Keyes', 'Knights Ferry',
       'Modesto', 'Newman', 'Oakdale', 'Patterson', 'Riverbank', 'Salida',
       'Turlock', 'Valley Home', 'Waterford', 'Westley', 'East Nicolaus',
       'Live Oak', 'Nicolaus', 'Pleasant Grove', 'Rio Oso', 'Robbins',
       'Sutter', 'Yuba City', 'Corning', 'Gerber', 'Los Molinos',
       'Rancho Tehama Reserve', 'Red Bluff', 'Tehama', 'Vina',
       'Burnt Ranch', 'Douglas City', 'Hayfork', 'Junction City',
       'Lewiston', 'Weaverville', 'Allensworth', 'Alpaugh', 'Cutler',
       'Ducor', 'Earlimart', 'Exeter', 'Farmersville', 'Goshen',
       'Ivanhoe', 'Lemon Cove', 'Lindsay', 'London', 'Orosi', 'Pixley',
       'Poplar-Cotton Center', 'Porterville', 'Richgrove', 'Springville',
       'Strathmore', 'Sultana', 'Terra Bella', 'Three Rivers', 'Tipton',
       'Traver', 'Tulare', 'Tule Reservation', 'Visalia', 'Woodlake',
       'Woodville', 'Yettem', 'Columbia', 'Groveland', 'Jamestown',
       'Long Barn', 'Sonora', 'Soulsbyville', 'Tuolumne City',
       'Twain Harte', 'Camarillo', 'Fillmore', 'Moorpark', 'Oak Park',
       'Oak View', 'Ojai', 'Oxnard', 'Piru', 'Port Hueneme',
       'San Buenaventura (Ventura)', 'Santa Paula', 'Saticoy', 'Somis',
       'Davis', 'Esparto', 'Knights Landing', 'Madison', 'Winters',
       'Woodland', 'Yolo', 'Arboga', 'Beale AFB', 'Browns Valley',
       'Challenge', 'Dobbins', 'Marysville', 'Olivehurst', 'Oregon House',
       'Plumas Lake', 'Wheatland', 'Rail Road Flat', 'Garberville',
       'Weott', 'Avocado Heights', 'Catheys Valley', 'Albion', 'Canby',
       'North Tustin', 'Landers', 'Summerland', 'Meridian', 'Calente',
       'El Portal', 'Manchester', 'Coto de Caza', 'Kingvale',
       'Canyon Lake', 'Lenwood', 'Annapolis', 'Independence',
       'Rancho Dominguez', 'Squaw Valley', 'North Shore', 'Muscoy',
       'Coulterville', 'Speckles', 'Santa Ysabel', 'Bradbury',
       'Interlaken', 'Whitmore'], dtype=object)

In [14]:
# Import compiled census data
c11 = pd.read_csv("pop_data11.csv", encoding = "ISO-8859-1")
c12 = pd.read_csv("pop_data12.csv", encoding = "ISO-8859-1")
c13 = pd.read_csv("pop_data13.csv", encoding = "ISO-8859-1")
c14 = pd.read_csv("pop_data14.csv", encoding = "ISO-8859-1")
c15 = pd.read_csv("pop_data15.csv", encoding = "ISO-8859-1")
c16 = pd.read_csv("pop_data16.csv", encoding = "ISO-8859-1")

In [15]:
c11.tail()

,geoid,geoid2,city,tot_pop,male,male_pct,female,female_pct,under_5,under_5_pct,...,other_pct,median_income,insurance,insurance_pct,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct
1518,1600000US0686944,686944,Yreka,7696,3667,47.6,4029,52.4,528,6.9,...,13.6,31151.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1519,1600000US0686972,686972,Yuba City,64224,31826,49.6,32398,50.4,5119,8.0,...,7.5,48830.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1520,1600000US0687042,687042,Yucaipa,50862,25823,50.8,25039,49.2,2797,5.5,...,5.3,59596.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1521,1600000US0687056,687056,Yucca Valley,20508,9906,48.3,10602,51.7,1310,6.4,...,5.4,45502.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1522,1600000US0687090,687090,Zayante,781,344,44.0,437,56.0,37,4.7,...,2.6,64028.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
c12.head()

,geoid,geoid2,city,tot_pop,male,male_pct,female,female_pct,under_5,under_5_pct,...,other_pct,median_income,insurance,insurance_pct,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct
0,1600000US0600135,600135,Acalanes Ridge,1281,641,50.0,640,50.0,120,9.4,...,27.8,135865.0,1254,97.9,1185,92.5,229,17.9,27,2.1
1,1600000US0600156,600156,Acampo,462,324,70.1,138,29.9,64,13.9,...,0.0,123635.0,377,81.6,377,81.6,0,0.0,85,18.4
2,1600000US0600212,600212,Acton,7117,3547,49.8,3570,50.2,432,6.1,...,4.3,91888.0,6543,92.0,5676,79.8,1766,24.8,569,8.0
3,1600000US0600296,600296,Adelanto,31040,16275,52.4,14765,47.6,3305,10.6,...,9.0,41113.0,22321,76.4,10474,35.9,13060,44.7,6888,23.6
4,1600000US0600310,600310,Adin,322,156,48.4,166,51.6,15,4.7,...,0.0,38750.0,308,95.7,222,68.9,157,48.8,14,4.3

In [17]:
c12.dtypes

geoid                   object
geoid2                   int64
city                    object
tot_pop                  int64
male                     int64
male_pct               float64
female                   int64
female_pct             float64
under_5                  int64
under_5_pct            float64
5_9                      int64
5_9_pct                float64
10_14                    int64
10_14_pct              float64
15_19                    int64
15_19_pct              float64
20_24                    int64
20_24_pct              float64
25_34                    int64
25_34_pct              float64
35_44                    int64
35_44_pct              float64
45_54                    int64
45_54_pct              float64
55_59                    int64
55_59_pct              float64
60_64                    int64
60_64_pct              float64
65_74                    int64
65_74_pct              float64
                        ...
75_84_pct              float64
85_over                  int64
85_over_pct            float64
median_age             float64
median_age_pct         float64
hispanic_latino          int64
hispanic_latino_pct    float64
mexican                  int64
mexican_pct            float64
white                    int64
white_pct              float64
black                    int64
black_pct              float64
aian                     int64
aian_pct               float64
asian                    int64
asian_pct              float64
nhopi                    int64
nhopi_pct              float64
other                    int64
other_pct              float64
median_income          float64
insurance                int64
insurance_pct          float64
private_insure           int64
private_insure_pct     float64
public_insure            int64
public_insure_pct      float64
no_insurance             int64
no_insurance_pct       float64
Length: 61, dtype: object

In [18]:
#Keep relevant variables
acs11=c11[['geoid','city','tot_pop','male','female','under_5','5_9','10_14', 
           '15_19','20_24','25_34','35_44','45_54','55_59','60_64',
           '65_74','75_84','85_over','median_age','hispanic_latino',
           'white','black','aian','asian','nhopi','other',
           'median_income', 'insurance', 'private_insure',
           'public_insure','no_insurance']]
acs12=c12[['geoid','city','tot_pop','male','female','under_5','5_9','10_14', 
           '15_19','20_24','25_34','35_44','45_54','55_59','60_64',
           '65_74','75_84','85_over','median_age','hispanic_latino',
           'white','black','aian','asian','nhopi','other',
           'median_income', 'insurance', 'private_insure',
           'public_insure','no_insurance']]
acs13=c13[['geoid','city','tot_pop','male','female','under_5','5_9','10_14', 
           '15_19','20_24','25_34','35_44','45_54','55_59','60_64',
           '65_74','75_84','85_over','median_age','hispanic_latino',
           'white','black','aian','asian','nhopi','other',
           'median_income', 'insurance', 'private_insure',
           'public_insure','no_insurance']]
acs14=c14[['geoid','city','tot_pop','male','female','under_5','5_9','10_14', 
           '15_19','20_24','25_34','35_44','45_54','55_59','60_64',
           '65_74','75_84','85_over','median_age','hispanic_latino',
           'white','black','aian','asian','nhopi','other',
           'median_income', 'insurance', 'private_insure',
           'public_insure','no_insurance']]
acs15=c15[['geoid','city','tot_pop','male','female','under_5','5_9','10_14', 
           '15_19','20_24','25_34','35_44','45_54','55_59','60_64',
           '65_74','75_84','85_over','median_age','hispanic_latino',
           'white','black','aian','asian','nhopi','other',
           'median_income', 'insurance', 'private_insure',
           'public_insure','no_insurance']]
acs16=c16[['geoid','city','tot_pop','male','female','under_5','5_9','10_14', 
           '15_19','20_24','25_34','35_44','45_54','55_59','60_64',
           '65_74','75_84','85_over','median_age','hispanic_latino',
           'white','black','aian','asian','nhopi','other',
           'median_income', 'insurance', 'private_insure',
           'public_insure','no_insurance']]

In [19]:
acs11['year']='2011'
acs12['year']='2012'
acs13['year']='2013'
acs14['year']='2014'
acs15['year']='2015'
acs16['year']='2016'

C:\Users\42\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\42\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\42\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\42\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\42\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\42\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [20]:
city_11_16=pd.concat([acs11,
           acs12, 
           acs13,
           acs14,
           acs15,
           acs16
          ],ignore_index=True)

In [21]:
len(city_11_16)

9117

In [22]:
city_11_16.head()

,geoid,city,tot_pop,male,female,under_5,5_9,10_14,15_19,20_24,...,aian,asian,nhopi,other,median_income,insurance,private_insure,public_insure,no_insurance,year
0,1600000US0600135,Acalanes Ridge,1431,705,726,126,44,207,92,17,...,0,146,37,346,138672.0,NaN,NaN,NaN,NaN,2011
1,1600000US0600156,Acampo,387,263,124,55,0,0,0,67,...,0,0,0,0,121455.0,NaN,NaN,NaN,NaN,2011
2,1600000US0600212,Acton,7138,3596,3542,488,434,379,644,340,...,0,88,0,281,87896.0,NaN,NaN,NaN,NaN,2011
3,1600000US0600296,Adelanto,30670,16740,13930,3364,3343,3501,2683,2789,...,69,683,262,3181,42208.0,NaN,NaN,NaN,NaN,2011
4,1600000US0600310,Adin,418,211,207,21,51,31,0,0,...,14,0,0,0,45625.0,NaN,NaN,NaN,NaN,2011

In [23]:
#Export full combined census city data
city_11_16.to_csv("city_11_16.csv", index=False)

### Census County level data

In [24]:
# Import and clean census data for basic demographics age gender race is DP05 file
demo11 = pd.read_csv("/Users/42/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/County/ACS_11_5YR_DP05.csv",
                     encoding = "ISO-8859-1",
                       header=[0],na_values=['-'])
demo12 = pd.read_csv("/Users/42/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/County/ACS_12_5YR_DP05.csv",
                     encoding = "ISO-8859-1",
                       header=[0],na_values=['-'])
demo13 = pd.read_csv("/Users/42/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/County/ACS_13_5YR_DP05.csv",
                     encoding = "ISO-8859-1",
                       header=[0],na_values=['-'])
demo14 = pd.read_csv("/Users/42/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/County/ACS_14_5YR_DP05.csv",
                     encoding = "ISO-8859-1",
                       header=[0],na_values=['-'])
demo15 = pd.read_csv("/Users/42/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/County/ACS_15_5YR_DP05.csv",
                     encoding = "ISO-8859-1",
                       header=[0],na_values=['-'])
demo16 = pd.read_csv("/Users/42/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/County/ACS_16_5YR_DP05.csv",
                     encoding = "ISO-8859-1",
                       header=[0],na_values=['-'])

In [25]:
demo11 = demo11[['GEO.id','GEO.id2','GEO.display-label',
                         'HC01_VC03', 'HC01_VC04', 
                         'HC01_VC05', 'HC01_VC07', 
                         'HC01_VC08', 'HC01_VC09', 
                         'HC01_VC10', 'HC01_VC11', 
                         'HC01_VC12', 'HC01_VC13', 
                         'HC01_VC14', 'HC01_VC15', 
                         'HC01_VC16', 'HC01_VC17', 
                         'HC01_VC18', 'HC01_VC19', 
                         'HC01_VC21', 'HC01_VC82',
                         'HC01_VC88', 
                         'HC01_VC89', 'HC01_VC90', 
                         'HC01_VC91', 'HC01_VC92', 

                         'HC01_VC93', 'HC01_VC94', 
                         'HC01_VC95','HC01_VC96']]
demo12 = demo12[['GEO.id','GEO.id2','GEO.display-label',
                         'HC01_VC03', 'HC01_VC04', 
                         'HC01_VC05', 'HC01_VC07', 
                         'HC01_VC08', 'HC01_VC09', 
                         'HC01_VC10', 'HC01_VC11', 
                         'HC01_VC12', 'HC01_VC13', 
                         'HC01_VC14', 'HC01_VC15', 
                         'HC01_VC16', 'HC01_VC17', 
                         'HC01_VC18', 'HC01_VC19', 
                         'HC01_VC21', 'HC01_VC82', 
                         'HC01_VC88', 
                         'HC01_VC89', 'HC01_VC90', 
                         'HC01_VC91', 'HC01_VC92', 

                         'HC01_VC93', 'HC01_VC94', 
                         'HC01_VC95','HC01_VC96']]

In [26]:
#combine other race, two or more races (HC01_VC99, HC01_VC100, HC01_VC101, HC01_VC102)
demo11['other']=pd.Series(demo11['HC01_VC93']+demo11['HC01_VC94']+demo11['HC01_VC95']+demo11['HC01_VC96'])
demo12['other']=pd.Series(demo12['HC01_VC93']+demo12['HC01_VC94']+demo12['HC01_VC95']+demo12['HC01_VC96'])

In [27]:
demo11=demo11.drop(columns=['HC01_VC93','HC01_VC94','HC01_VC95','HC01_VC96'])
demo12=demo12.drop(columns=['HC01_VC93','HC01_VC94','HC01_VC95','HC01_VC96'])

In [28]:
demo11.rename(columns={'GEO.display-label': 'county',
                         'HC01_VC03': 'tot_pop', 
                         'HC01_VC04': 'male',
                         'HC01_VC05': 'female',
                         'HC01_VC07':'under_5',
                         'HC01_VC08':'5_9',
                         'HC01_VC09':'10_14',
                         'HC01_VC10':'15_19',
                         'HC01_VC11':'20_24',
                         'HC01_VC12':'25_34',
                         'HC01_VC13':'35_44',
                         'HC01_VC14':'45_54',
                         'HC01_VC15':'55_59',
                         'HC01_VC16':'60_64',
                         'HC01_VC17':'65_74',
                         'HC01_VC18':'75_84',
                         'HC01_VC19':'85_over',
                         'HC01_VC21':'median_age',
                         'HC01_VC82':'hispanic_latino',
                         'HC01_VC88':'white',
                         'HC01_VC89':'black',
                         'HC01_VC90':'aian',
                         'HC01_VC91':'asian',
                         'HC01_VC92':'nhopi'
                        }, 
                inplace=True)
demo12.rename(columns={'GEO.display-label': 'county',
                         'HC01_VC03': 'tot_pop', 
                         'HC01_VC04': 'male',
                         'HC01_VC05': 'female',
                         'HC01_VC07':'under_5',
                         'HC01_VC08':'5_9',
                         'HC01_VC09':'10_14',
                         'HC01_VC10':'15_19',
                         'HC01_VC11':'20_24',
                         'HC01_VC12':'25_34',
                         'HC01_VC13':'35_44',
                         'HC01_VC14':'45_54',
                         'HC01_VC15':'55_59',
                         'HC01_VC16':'60_64',
                         'HC01_VC17':'65_74',
                         'HC01_VC18':'75_84',
                         'HC01_VC19':'85_over',
                         'HC01_VC21':'median_age',
                         'HC01_VC82':'hispanic_latino',
                         'HC01_VC88':'white',
                         'HC01_VC89':'black',
                         'HC01_VC90':'aian',
                         'HC01_VC91':'asian',
                         'HC01_VC92':'nhopi'
                        }, 
                inplace=True)

# AIAN is american Indian Alaskan Native
# NHOPI is Native Hawaiian and Other Pacific Islander

# Other race categories
#                          'HC01_VC93':'other_only',
#                          'HC01_VC94':'more_two_races',
#                          'HC01_VC95':'more_two_races_other',
#                          'HC01_VC96':'more_two_races_other_exclude',

In [29]:
demo11.head()

,GEO.id,GEO.id2,county,tot_pop,male,female,under_5,5_9,10_14,15_19,...,75_84,85_over,median_age,hispanic_latino,white,black,aian,asian,nhopi,other
0,0500000US06001,6001,"Alameda County, California",1494876,733297,761579,98049,93980,89851,99073,...,52652,24295,36.4,332103,517548,182827,3827,388491,11993,110254
1,0500000US06003,6003,"Alpine County, California",1167,605,562,77,106,39,106,...,39,4,40.4,82,765,0,232,39,21,56
2,0500000US06005,6005,"Amador County, California",38244,20860,17384,1242,1587,2195,2486,...,2506,923,48.0,4677,30589,834,824,529,79,1385
3,0500000US06007,6007,"Butte County, California",219309,108441,110868,12270,11985,13301,17984,...,11114,5465,37.2,30476,165531,3105,1761,9217,477,17308
4,0500000US06009,6009,"Calaveras County, California",45794,22861,22933,1900,2298,2789,2931,...,2734,1126,49.0,4688,38272,489,506,591,16,2379

In [30]:
demo13 = demo13[['GEO.id','GEO.id2','GEO.display-label',
                     'HC01_VC03','HC01_VC04',
                     'HC01_VC05','HC01_VC08',
                     'HC01_VC09','HC01_VC10',
                     'HC01_VC11','HC01_VC12',
                     'HC01_VC13','HC01_VC14',
                     'HC01_VC15','HC01_VC16',
                     'HC01_VC17','HC01_VC18',
                     'HC01_VC19','HC01_VC20',
                     'HC01_VC23','HC01_VC88',
                     'HC01_VC94','HC01_VC95',
                     'HC01_VC96','HC01_VC97',
                     'HC01_VC98','HC01_VC99',
                     'HC01_VC100','HC01_VC101',
                     'HC01_VC102']]
demo14 = demo14[['GEO.id','GEO.id2','GEO.display-label',
                     'HC01_VC03','HC01_VC04',
                     'HC01_VC05','HC01_VC08',
                     'HC01_VC09','HC01_VC10',
                     'HC01_VC11','HC01_VC12',
                     'HC01_VC13','HC01_VC14',
                     'HC01_VC15','HC01_VC16',
                     'HC01_VC17','HC01_VC18',
                     'HC01_VC19','HC01_VC20',
                     'HC01_VC23','HC01_VC88',
                     'HC01_VC94','HC01_VC95',
                     'HC01_VC96','HC01_VC97',
                     'HC01_VC98','HC01_VC99',
                     'HC01_VC100','HC01_VC101',
                     'HC01_VC102']]
demo15 = demo15[['GEO.id','GEO.id2','GEO.display-label',
                     'HC01_VC03','HC01_VC04',
                     'HC01_VC05','HC01_VC08',
                     'HC01_VC09','HC01_VC10',
                     'HC01_VC11','HC01_VC12',
                     'HC01_VC13','HC01_VC14',
                     'HC01_VC15','HC01_VC16',
                     'HC01_VC17','HC01_VC18',
                     'HC01_VC19','HC01_VC20',
                     'HC01_VC23','HC01_VC88',
                     'HC01_VC94','HC01_VC95',
                     'HC01_VC96','HC01_VC97',
                     'HC01_VC98','HC01_VC99',
                     'HC01_VC100','HC01_VC101',
                     'HC01_VC102']]
demo16 = demo16[['GEO.id','GEO.id2','GEO.display-label',
                     'HC01_VC03','HC01_VC04',
                     'HC01_VC05','HC01_VC08',
                     'HC01_VC09','HC01_VC10',
                     'HC01_VC11','HC01_VC12',
                     'HC01_VC13','HC01_VC14',
                     'HC01_VC15','HC01_VC16',
                     'HC01_VC17','HC01_VC18',
                     'HC01_VC19','HC01_VC20',
                     'HC01_VC23','HC01_VC88',
                     'HC01_VC94','HC01_VC95',
                     'HC01_VC96','HC01_VC97',
                     'HC01_VC98','HC01_VC99',
                     'HC01_VC100','HC01_VC101',
                     'HC01_VC102']]

In [31]:
demo13.rename(columns={'GEO.display-label': 'county',
                         'HC01_VC03': 'tot_pop', 
                         'HC01_VC04': 'male',
                         'HC01_VC05': 'female',
                         'HC01_VC08':'under_5',
                         'HC01_VC09':'5_9',
                         'HC01_VC10':'10_14',
                         'HC01_VC11':'15_19',
                         'HC01_VC12':'20_24',
                         'HC01_VC13':'25_34',
                         'HC01_VC14':'35_44',
                         'HC01_VC15':'45_54',
                         'HC01_VC16':'55_59',
                         'HC01_VC17':'60_64',
                         'HC01_VC18':'65_74',
                         'HC01_VC19':'75_84',
                         'HC01_VC20':'85_over',
                         'HC01_VC23':'median_age',
                         'HC01_VC88':'hispanic_latino',
                         'HC01_VC94':'white',
                         'HC01_VC95':'black',
                         'HC01_VC96':'aian',
                         'HC01_VC97':'asian',
                         'HC01_VC98':'nhopi'}, 
                inplace=True)
demo14.rename(columns={'GEO.display-label': 'county',
                         'HC01_VC03': 'tot_pop', 
                         'HC01_VC04': 'male',
                         'HC01_VC05': 'female',
                         'HC01_VC08':'under_5',
                         'HC01_VC09':'5_9',
                         'HC01_VC10':'10_14',
                         'HC01_VC11':'15_19',
                         'HC01_VC12':'20_24',
                         'HC01_VC13':'25_34',
                         'HC01_VC14':'35_44',
                         'HC01_VC15':'45_54',
                         'HC01_VC16':'55_59',
                         'HC01_VC17':'60_64',
                         'HC01_VC18':'65_74',
                         'HC01_VC19':'75_84',
                         'HC01_VC20':'85_over',
                         'HC01_VC23':'median_age',
                         'HC01_VC88':'hispanic_latino',
                         'HC01_VC94':'white',
                         'HC01_VC95':'black',
                         'HC01_VC96':'aian',
                         'HC01_VC97':'asian',
                         'HC01_VC98':'nhopi'}, 
                inplace=True)
demo15.rename(columns={'GEO.display-label': 'county',
                         'HC01_VC03': 'tot_pop', 
                         'HC01_VC04': 'male',
                         'HC01_VC05': 'female',
                         'HC01_VC08':'under_5',
                         'HC01_VC09':'5_9',
                         'HC01_VC10':'10_14',
                         'HC01_VC11':'15_19',
                         'HC01_VC12':'20_24',
                         'HC01_VC13':'25_34',
                         'HC01_VC14':'35_44',
                         'HC01_VC15':'45_54',
                         'HC01_VC16':'55_59',
                         'HC01_VC17':'60_64',
                         'HC01_VC18':'65_74',
                         'HC01_VC19':'75_84',
                         'HC01_VC20':'85_over',
                         'HC01_VC23':'median_age',
                         'HC01_VC88':'hispanic_latino',
                         'HC01_VC94':'white',
                         'HC01_VC95':'black',
                         'HC01_VC96':'aian',
                         'HC01_VC97':'asian',
                         'HC01_VC98':'nhopi'}, 
                inplace=True)
demo16.rename(columns={'GEO.display-label': 'county',
                         'HC01_VC03': 'tot_pop', 
                         'HC01_VC04': 'male',
                         'HC01_VC05': 'female',
                         'HC01_VC08':'under_5',
                         'HC01_VC09':'5_9',
                         'HC01_VC10':'10_14',
                         'HC01_VC11':'15_19',
                         'HC01_VC12':'20_24',
                         'HC01_VC13':'25_34',
                         'HC01_VC14':'35_44',
                         'HC01_VC15':'45_54',
                         'HC01_VC16':'55_59',
                         'HC01_VC17':'60_64',
                         'HC01_VC18':'65_74',
                         'HC01_VC19':'75_84',
                         'HC01_VC20':'85_over',
                         'HC01_VC23':'median_age',
                         'HC01_VC88':'hispanic_latino',
                         'HC01_VC94':'white',
                         'HC01_VC95':'black',
                         'HC01_VC96':'aian',
                         'HC01_VC97':'asian',
                         'HC01_VC98':'nhopi'}, 
                inplace=True)
# Other race categories
#                          'HC01_VC99':'other_only',
#                          'HC01_VC100':'more_two_races',
#                          'HC01_VC101':'more_two_races_other',
#                          'HC01_VC102':'more_two_races_other_exclude',

In [32]:
#combine other race, two or more races (HC01_VC99, HC01_VC100, HC01_VC101, HC01_VC102)
demo13['other']=pd.Series(demo13['HC01_VC99']+demo13['HC01_VC100']+demo13['HC01_VC101']+demo13['HC01_VC102'])
demo14['other']=pd.Series(demo14['HC01_VC99']+demo14['HC01_VC100']+demo14['HC01_VC101']+demo14['HC01_VC102'])
demo15['other']=pd.Series(demo15['HC01_VC99']+demo15['HC01_VC100']+demo15['HC01_VC101']+demo15['HC01_VC102'])
demo16['other']=pd.Series(demo16['HC01_VC99']+demo16['HC01_VC100']+demo16['HC01_VC101']+demo16['HC01_VC102'])

In [33]:
demo13=demo13.drop(columns=['HC01_VC99','HC01_VC100','HC01_VC101','HC01_VC102'])
demo14=demo14.drop(columns=['HC01_VC99','HC01_VC100','HC01_VC101','HC01_VC102'])
demo15=demo15.drop(columns=['HC01_VC99','HC01_VC100','HC01_VC101','HC01_VC102'])
demo16=demo16.drop(columns=['HC01_VC99','HC01_VC100','HC01_VC101','HC01_VC102'])

In [34]:
demo13.head()

,GEO.id,GEO.id2,county,tot_pop,male,female,under_5,5_9,10_14,15_19,...,75_84,85_over,median_age,hispanic_latino,white,black,aian,asian,nhopi,other
0,0500000US06001,6001,"Alameda County, California",1535248,752840,782408,97522,94982,92140,97754,...,52967,26221,36.8,345847,517764,181315,4484,408556,12230,125705
1,0500000US06003,6003,"Alpine County, California",1165,708,457,43,112,42,90,...,113,0,44.3,87,823,7,200,17,27,8
2,0500000US06005,6005,"Amador County, California",37422,20236,17186,1290,1701,1734,2160,...,2459,931,49.1,4710,29928,893,623,503,79,1372
3,0500000US06007,6007,"Butte County, California",220542,109200,111342,12245,12180,13072,16640,...,11175,5509,37.0,32084,164932,2795,1677,9406,333,18564
4,0500000US06009,6009,"Calaveras County, California",45147,22612,22535,1846,2374,2509,2811,...,2592,1260,50.0,4794,37570,378,349,553,9,2981

### Census income

In [35]:
# Import and clean acs data for income and insurance status
inc11 = pd.read_csv("/Users/42/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/County/ACS_11_5YR_DP03.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-']) 
inc12 = pd.read_csv("/Users/42/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/County/ACS_12_5YR_DP03.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-']) 
inc13 = pd.read_csv("/Users/42/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/County/ACS_13_5YR_DP03.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-']) 
inc14 = pd.read_csv("/Users/42/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/County/ACS_14_5YR_DP03.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-']) 
inc15 = pd.read_csv("/Users/42/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/County/ACS_15_5YR_DP03.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-']) 
inc16 = pd.read_csv("/Users/42/desktop/capstone/mids_capstone/vaxxfacts/raw_data/Census/County/ACS_16_5YR_DP03.csv", 
                    encoding = "ISO-8859-1", header=[0], na_values=['-'])

In [36]:
inc11=inc11[['GEO.id','GEO.display-label','HC01_VC85','HC01_VC128',
                'HC01_VC129','HC01_VC130','HC01_VC131']]
inc12=inc12[['GEO.id','GEO.display-label','HC01_VC85','HC01_VC128',
                'HC01_VC129','HC01_VC130','HC01_VC131']]

inc13=inc13[['GEO.id','GEO.display-label','HC01_VC85','HC01_VC131',
                'HC01_VC132','HC01_VC133','HC01_VC134']]
inc14=inc14[['GEO.id','GEO.display-label','HC01_VC85','HC01_VC131',
                'HC01_VC132','HC01_VC133','HC01_VC134']]
inc15=inc15[['GEO.id','GEO.display-label','HC01_VC85','HC01_VC131',
                'HC01_VC132','HC01_VC133','HC01_VC134']]
inc16=inc16[['GEO.id','GEO.display-label','HC01_VC85','HC01_VC131',
                'HC01_VC132','HC01_VC133','HC01_VC134']]

In [37]:
inc11.rename(columns={'GEO.display-label': 'county',
                         'HC01_VC85': 'median_income',
                         'HC01_VC128': 'insurance',
                         'HC01_VC129': 'private_insure',
                         'HC01_VC130': 'public_insure',
                         'HC01_VC131': 'no_insurance' 
                        }, 
                inplace=True)
inc12.rename(columns={'GEO.display-label': 'county',
                         'HC01_VC85': 'median_income',
                         'HC01_VC128': 'insurance',
                         'HC01_VC129': 'private_insure',
                         'HC01_VC130': 'public_insure',
                         'HC01_VC131': 'no_insurance' 
                        }, 
                inplace=True)

inc13.rename(columns={'GEO.display-label': 'county',
                         'HC01_VC85': 'median_income',
                         'HC01_VC131': 'insurance',
                         'HC01_VC132': 'private_insure',
                         'HC01_VC133': 'public_insure',
                         'HC01_VC134': 'no_insurance' 
                        }, 
                inplace=True)
inc14.rename(columns={'GEO.display-label': 'county',
                         'HC01_VC85': 'median_income',
                         'HC01_VC131': 'insurance',
                         'HC01_VC132': 'private_insure',
                         'HC01_VC133': 'public_insure',
                         'HC01_VC134': 'no_insurance' 
                        }, 
                inplace=True)
inc15.rename(columns={'GEO.display-label': 'county',
                         'HC01_VC85': 'median_income',
                         'HC01_VC131': 'insurance',
                         'HC01_VC132': 'private_insure',
                         'HC01_VC133': 'public_insure',
                         'HC01_VC134': 'no_insurance' 
                        }, 
                inplace=True)
inc16.rename(columns={'GEO.display-label': 'county',
                         'HC01_VC85': 'median_income',
                         'HC01_VC131': 'insurance',
                         'HC01_VC132': 'private_insure',
                         'HC01_VC133': 'public_insure',
                         'HC01_VC134': 'no_insurance' 
                        }, 
                inplace=True)

In [38]:
inc11['year']='2011'
inc12['year']='2012'
inc13['year']='2013'
inc14['year']='2014'
inc15['year']='2015'
inc16['year']='2016'

In [39]:
inc11.head()

,GEO.id,county,median_income,insurance,private_insure,public_insure,no_insurance,year
0,0500000US06001,"Alameda County, California",70821,NaN,NaN,NaN,NaN,2011
1,0500000US06003,"Alpine County, California",59018,NaN,NaN,NaN,NaN,2011
2,0500000US06005,"Amador County, California",56180,NaN,NaN,NaN,NaN,2011
3,0500000US06007,"Butte County, California",42971,NaN,NaN,NaN,NaN,2011
4,0500000US06009,"Calaveras County, California",55256,NaN,NaN,NaN,NaN,2011

In [40]:
county11=demo11.merge(inc11, left_on='GEO.id', right_on='GEO.id', how='outer')
county12=demo12.merge(inc12, left_on='GEO.id', right_on='GEO.id', how='outer')
county13=demo13.merge(inc13, left_on='GEO.id', right_on='GEO.id', how='outer')
county14=demo14.merge(inc14, left_on='GEO.id', right_on='GEO.id', how='outer')
county15=demo15.merge(inc15, left_on='GEO.id', right_on='GEO.id', how='outer')
county16=demo16.merge(inc16, left_on='GEO.id', right_on='GEO.id', how='outer')

In [41]:
county11=county11.drop(columns=['GEO.id2','county_y'])
county12=county12.drop(columns=['GEO.id2','county_y'])
county13=county13.drop(columns=['GEO.id2','county_y'])
county14=county14.drop(columns=['GEO.id2','county_y'])
county15=county15.drop(columns=['GEO.id2','county_y'])
county16=county16.drop(columns=['GEO.id2','county_y'])

county11=county11.rename(columns={'county_x': 'county'})
county12=county12.rename(columns={'county_x': 'county'})
county13=county13.rename(columns={'county_x': 'county'})
county14=county14.rename(columns={'county_x': 'county'})
county15=county15.rename(columns={'county_x': 'county'})
county16=county16.rename(columns={'county_x': 'county'})

In [42]:
county16.head()

,GEO.id,county,tot_pop,male,female,under_5,5_9,10_14,15_19,20_24,...,aian,asian,nhopi,other,median_income,insurance,private_insure,public_insure,no_insurance,year
0,0500000US06001,"Alameda County, California",1605217,786730,818487,97572,97295,94149,95047,107875,...,4959,449676,13223,144822,79831,1460959,1143354,459358,133234,2016
1,0500000US06003,"Alpine County, California",1184,692,492,51,58,75,129,81,...,224,9,0,90,62375,1009,655,484,175,2016
2,0500000US06005,"Amador County, California",36963,19839,17124,1392,1616,1620,1944,1645,...,458,521,72,1584,57032,30689,22454,15581,2323,2016
3,0500000US06007,"Butte County, California",223877,110926,112951,12220,13202,12142,15752,26166,...,1553,9497,380,20194,44366,197738,132465,96959,23714,2016
4,0500000US06009,"Calaveras County, California",44787,22156,22631,1827,2551,1973,2590,1993,...,400,448,155,3253,53502,40735,29287,20450,3667,2016

In [43]:
county_11_16=pd.concat([county11, 
           county12,
           county13,
           county14,   
           county15,
           county16,
          ],ignore_index=True)

In [44]:
county_11_16['county']=county_11_16.county.replace('County, California', '', regex=True)

In [45]:
county_11_16.head()

,GEO.id,county,tot_pop,male,female,under_5,5_9,10_14,15_19,20_24,...,aian,asian,nhopi,other,median_income,insurance,private_insure,public_insure,no_insurance,year
0,0500000US06001,Alameda,1494876,733297,761579,98049,93980,89851,99073,105006,...,3827,388491,11993,110254,70821,NaN,NaN,NaN,NaN,2011
1,0500000US06003,Alpine,1167,605,562,77,106,39,106,126,...,232,39,21,56,59018,NaN,NaN,NaN,NaN,2011
2,0500000US06005,Amador,38244,20860,17384,1242,1587,2195,2486,1730,...,824,529,79,1385,56180,NaN,NaN,NaN,NaN,2011
3,0500000US06007,Butte,219309,108441,110868,12270,11985,13301,17984,24169,...,1761,9217,477,17308,42971,NaN,NaN,NaN,NaN,2011
4,0500000US06009,Calaveras,45794,22861,22933,1900,2298,2789,2931,2100,...,506,591,16,2379,55256,NaN,NaN,NaN,NaN,2011

In [46]:
#Export full combined County city data
county_11_16.to_csv("county_11_16.csv", index=False)

### Merge city vaccine and city census geoids

In [47]:
vac_11_18['vac_pct']=vac_11_18.vaccinated/vac_11_18.enrollment*100

In [48]:
vac_11_18.head()

,county,city,vac_info_type,enrollment,vaccinated,school_year,year,vac_pct
0,Alameda,Alameda,7thGradeData,5832.0,5712.0,2011-2012,2012,97.942387
1,Alameda,Alameda,ChildCareData,1031.0,995.0,2011-2012,2012,96.508244
2,Alameda,Alameda,KindergartenData,755.0,704.0,2011-2012,2012,93.245033
3,Alameda,Albany,7thGradeData,1875.0,1835.0,2011-2012,2012,97.866667
4,Alameda,Albany,ChildCareData,258.0,155.0,2011-2012,2012,60.077519

In [49]:
census_11_16=city_11_16[['geoid','city']]

In [50]:
list(city_11_16.city.unique())

['Acalanes Ridge',
 'Acampo',
 'Acton',
 'Adelanto',
 'Adin',
 'Agoura Hills',
 'Agua Dulce',
 'Aguanga',
 'Ahwahnee',
 'Airport',
 'Alameda',
 'Alamo',
 'Albany',
 'Albion',
 'Alderpoint',
 'Alhambra',
 'Alhambra Valley',
 'Aliso Viejo',
 'Alleghany',
 'Allendale',
 'Allensworth',
 'Almanor',
 'Alondra Park',
 'Alpaugh',
 'Alpine',
 'Alpine Village',
 'Alta',
 'Altadena',
 'Alta Sierra',
 'Alto',
 'Alturas',
 'Alum Rock',
 'Amador City',
 'American Canyon',
 'Amesti',
 'Anaheim',
 'Anchor Bay',
 'Anderson',
 'Angels',
 'Angwin',
 'Antelope',
 'Antioch',
 'Anza',
 'Apple Valley',
 'Aptos',
 'Aptos Hills-Larkin Valley',
 'Arbuckle',
 'Arcadia',
 'Arcata',
 'Arden-Arcade',
 'Armona',
 'Arnold',
 'Aromas',
 'Arroyo Grande',
 'Artesia',
 'Artois',
 'Arvin',
 'Ashland',
 'Aspen Springs',
 'Atascadero',
 'Atherton',
 'Atwater',
 'Auberry',
 'Auburn',
 'Auburn Lake Trails',
 'August',
 'Avalon',
 'Avenal',
 'Avery',
 'Avilla Beach',
 'Avocado Heights',
 'Azusa',
 'Baker',
 'Bakersfield',
 'Baldwin Park',
 'Ballard',
 'Ballico',
 'Bangor',
 'Banning',
 'Barstow',
 'Bass Lake',
 'Bay Point',
 'Bayview CDP (Contra Costa County), California',
 'Bayview CDP (Humboldt County), California',
 'Beale AFB',
 'Bear Creek',
 'Bear Valley CDP (Alpine County), California',
 'Bear Valley CDP (Mariposa County), California',
 'Bear Valley Springs',
 'Beaumont',
 'Beckwourth',
 'Belden',
 'Bell',
 'Bella Vista',
 'Bell Canyon',
 'Bellflower',
 'Bell Gardens',
 'Belmont',
 'Belvedere',
 'Benbow',
 'Bend',
 'Benicia',
 'Ben Lomond',
 'Benton',
 'Berkeley',
 'Bermuda Dunes',
 'Berry Creek',
 'Bertsch-Oceanview',
 'Bethel Island',
 'Beverly Hills',
 'Bieber',
 'Big Bear City',
 'Big Bear Lake',
 'Big Bend',
 'Big Creek',
 'Biggs',
 'Big Lagoon',
 'Big Pine',
 'Big River',
 'Biola',
 'Bishop',
 'Blackhawk',
 'Blacklake',
 'Black Point-Green Point',
 'Blairsden',
 'Bloomfield',
 'Bloomington',
 'Blue Lake',
 'Bluewater',
 'Blythe',
 'Bodega',
 'Bodega Bay',
 'Bodfish',
 'Bolinas',
 'Bombay Beach',
 'Bonadelle Ranchos-Madera Ranchos',
 'Bonita',
 'Bonny Doon',
 'Bonsall',
 'Boonville',
 'Bootjack',
 'Boron',
 'Boronda',
 'Borrego Springs',
 'Bostonia',
 'Boulder Creek',
 'Boulevard',
 'Bowles',
 'Boyes Hot Springs',
 'Bradbury',
 'Bradley',
 'Brawley',
 'Brea',
 'Brentwood',
 'Bret Harte',
 'Bridgeport',
 'Brisbane',
 'Broadmoor',
 'Brookdale',
 'Brooktrails',
 'Buckhorn',
 'Buck Meadows',
 'Bucks Lake',
 'Buellton',
 'Buena Park',
 'Buena Vista',
 'Burbank',
 'Burlingame',
 'Burney',
 'Burnt Ranch',
 'Butte Creek Canyon',
 'Butte Meadows',
 'Butte Valley',
 'Buttonwillow',
 'Byron',
 'Bystrom',
 'Cabazon',
 'Calabasas',
 'Calexico',
 'California City',
 'California Hot Springs',
 'California Pines',
 'Calimesa',
 'Calipatria',
 'Calistoga',
 'Callender',
 'Calpella',
 'Calpine',
 'Calwa',
 'Camanche North Shore',
 'Camanche Village',
 'Camarillo',
 'Cambria',
 'Cambrian Park',
 'Cameron Park',
 'Camino',
 'Camino Tassajara',
 'Campbell',
 'Camp Nelson',
 'Campo',
 'Camp Pendleton North',
 'Camp Pendleton South',
 'Camptonville',
 'Canby',
 'Cantua Creek',
 'Canyondam',
 'Canyon Lake',
 'Capitola',
 'Caribou',
 'Carlsbad',
 'Carmel-by-the-Sea',
 'Carmel Valley Village',
 'Carmet',
 'Carmichael',
 'Carnelian Bay',
 'Carpinteria',
 'Carrick',
 'Carson',
 'Cartago',
 'Caruthers',
 'Casa Conejo',
 'Casa de Oro-Mount Helix',
 'Casmalia',
 'Caspar',
 'Cassel',
 'Castaic',
 'Castle Hill',
 'Castro Valley',
 'Castroville',
 'Cathedral City',
 'Catheys Valley',
 'Cayucos',
 'Cazadero',
 'Cedar Ridge',
 'Cedar Slope',
 'Cedarville',
 'Centerville',
 'Ceres',
 'Cerritos',
 'Chalfant',
 'Challenge-Brownsville',
 'Channel Islands Beach',
 'Charter Oak',
 'Cherokee',
 'Cherokee Strip',
 'Cherryland',
 'Cherry Valley',
 'Chester',
 'Chico',
 'Chilcoot-Vinton',
 'China Lake Acres',
 'Chinese Camp',
 'Chino',
 'Chino Hills',
 'Chowchilla',
 'Chualar',
 'Chula Vista',
 'Citrus',
 'Citrus Heights',
 'Claremont',
 'Clarksburg',
 'Clay',
 'Clayton',
 'Clear Creek',
 'Clearlake',
 'Clearlake Oaks',
 'Clearlake Riviera',
 'Cleone',
 'Clio',
 'Clipper Mills',
 'Cloverdale',
 'Clovis',
 'Clyde',
 'Coachella',
 'Coalinga',
 'Coarsegold',
 'Cobb',
 'Coffee Creek',
 'Cohasset',
 'Cold Springs CDP (El Dorado County), California',
 'Cold Springs CDP (Tuolumne County), California',
 'Coleville',
 'Colfax',
 'College City',
 'Collierville',
 'Colma',
 'Coloma',
 'Colton',
 'Columbia',
 'Colusa',
 'Commerce',
 'Comptche',
 'Compton',
 'Concord',
 'Concow',
 'Contra Costa Centre',
 'Copperopolis',
 'Corcoran',
 'Corning',
 'Corona',
 'Coronado',
 'Coronita',
 'Corralitos',
 'Corte Madera',
 'Costa Mesa',
 'Cotati',
 'Coto de Caza',
 'Cottonwood',
 'Coultervillle',
 'Country Club',
 'Courtland',
 'Covelo',
 'Covina',
 'Cowan',
 'Crescent City',
 'Crescent Mills',
 'Cressey',
 'Crest',
 'Crestline',
 'Crestmore Heights',
 'Creston',
 'C-Road',
 'Crockett',
 'Cromberg',
 'Crowley Lake',
 'Crows Landing',
 'Cudahy',
 'Culver City',
 'Cupertino',
 'Cutler',
 'Cutten',
 'Cuyama',
 'Cypress',
 'Daly City',
 'Dana Point',
 'Danville',
 'Daphnedale Park',
 'Darwin',
 'Davenport',
 'Davis',
 'Day Valley',
 'Deer Park',
 'Del Aire',
 'Delano',
 'Delft Colony',
 'Delhi',
 'Delleker',
 'Del Mar',
 'Del Monte Forest',
 'Del Rey',
 'Del Rey Oaks',
 'Del Rio',
 'Denair',
 'Derby Acres',
 'Descanso',
 'Desert Center',
 'Desert Edge',
 'Desert Hot Springs',
 'Desert Palms',
 'Desert Shores',
 'Desert View Highlands',
 'Diablo',
 'Diablo Grande',
 'Diamond Bar',
 'Diamond Springs',
 'Dillon Beach',
 'Dinuba',
 'Discovery Bay',
 'Dixon',
 'Dixon Lane-Meadow Creek',
 'Dobbins',
 'Dogtown',
 'Dollar Point',
 'Dorrington',
 'Dorris',
 'Dos Palos',
 'Dos Palos Y',
 'Douglas City',
 'Downey',
 'Downieville',
 'Doyle',
 'Drytown',
 'Duarte',
 'Dublin',
 'Ducor',
 'Dunnigan',
 'Dunsmuir',
 'Durham',
 'Dustin Acres',
 'Dutch Flat',
 'Eagleville',
 'Earlimart',
 'East Foothills',
 'East Hemet',
 'East La Mirada',
 'East Los Angeles',
 'East Nicolaus',
 'East Oakdale',
 'Easton',
 'East Orosi',
 'East Palo Alto',
 'East Pasadena',
 'East Porterville',
 'East Quincy',
 'East Rancho Dominguez',
 'East Richmond Heights',
 'East San Gabriel',
 'East Shore',
 'East Sonora',
 'East Tulare Villa',
 'Eastvale',
 'Edgewood',
 'Edmundson Acres',
 'Edna',
 'Edwards AFB',
 'El Cajon',
 'El Centro',
 'El Cerrito',
 'El Dorado Hills',
 'Eldridge',
 'El Granada',
 'Elizabeth Lake',
 'Elk Creek',
 'Elk Grove',
 'Elkhorn',
 'Elmira',
 'El Monte',
 'El Nido',
 'Paso Robles',
 'El Portal',
 'El Rancho',
 'El Rio',
 'El Segundo',
 'El Sobrante CDP (Contra Costa County), California',
 'El Sobrante CDP (Riverside County), California',
 'El Verano',
 'Elverta',
 'Emerald Lake Hills',
 'Emeryville',
 'Empire',
 'Encinitas',
 'Escalon',
 'Escondido',
 'Esparto',
 'Etna',
 'Eucalyptus Hills',
 'Eureka',
 'Exeter',
 'Fairbanks Ranch',
 'Fairfax',
 'Fairfield',
 'Fairmead',
 'Fair Oaks',
 'Fairview',
 'Fallbrook',
 'Fall River Mills',
 'Farmersville',
 'Farmington',
 'Fellows',
 'Felton',
 'Ferndale',
 'Fetters Hot Springs-Agua Caliente',
 'Fiddletown',
 'Fieldbrook',
 'Fields Landing',
 'Fillmore',
 'Firebaugh',
 'Fish Camp',
 'Florence-Graham',
 'Florin',
 'Floriston',
 'Flournoy',
 'Folsom',
 'Fontana',
 'Foothill Farms',
 'Forbestown',
 'Ford City',
 'Foresthill',
 'Forest Meadows',
 'Forest Ranch',
 'Forestville',
 'Fort Bidwell',
 'Fort Bragg',
 'Fort Irwin',
 'Fort Jones',
 'Fortuna',
 'Fort Washington',
 'Foster City',
 'Fountain Valley',
 'Fowler',
 'Franklin CDP (Merced County), California',
 'Franklin CDP (Sacramento County), California',
 'Frazier Park',
 'Freedom',
 'Freeport',
 'Fremont',
 'French Camp',
 'French Gulch',
 'French Valley',
 'Fresno',
 'Friant',
 'Fruitdale',
 'Fruitridge Pocket',
 'Fuller Acres',
 'Fullerton',
 'Fulton',
 'Furnace Creek',
 'Galt',
 'Garberville',
 'Gardena',
 'Garden Acres',
 'Garden Farms',
 'Garden Grove',
 'Garey',
 'Garnet',
 'Gasquet',
 'Gazelle',
 'Georgetown',
 'Gerber',
 'Geyserville',
 'Gilroy',
 'Glen Avon',
 'Glendale',
 'Glendora',
 'Glen Ellen',
 'Golden Hills',
 'Gold Mountain',
 'Gold River',
 'Goleta',
 'Gonzales',
 'Good Hope',
 'Goodyears Bar',
 'Goshen',
 'Graeagle',
 'Grand Terrace',
 'Grangeville',
 'Granite Bay',
 'Granite Hills',
 'Graniteville',
 'Grass Valley',
 'Graton',
 'Grayson',
 'Greeley Hill',
 'Greenacres',
 'Green Acres',
 'Greenfield',
 'Greenhorn',
 'Green Valley CDP (Los Angeles County), California',
 'Green Valley CDP (Solano County), California',
 'Greenview',
 'Greenville',
 'Grenada',
 'Gridley',
 'Grimes',
 'Grizzly Flats',
 'Groveland',
 'Grover Beach',
 'Guadalupe',
 'Guerneville',
 'Guinda',
 'Gustine',
 'Hacienda Heights',
 'Half Moon Bay',
 'Hamilton Branch',
 'Hamilton City',
 'Hanford',
 'Happy Camp',
 'Harbison Canyon',
 'Hardwick',
 'Hartland',
 'Hartley',
 'Hasley Canyon',
 'Hat Creek',
 'Hawaiian Gardens',
 'Hawthorne',
 'Hayfork',
 'Hayward',
 'Healdsburg',
 'Heber',
 'Hemet',
 'Herald',
 'Hercules',
 'Herlong',
 'Hermosa Beach',
 'Hesperia',
 'Hickman',
 'Hidden Hills',
 'Hidden Meadows',
 'Hidden Valley Lake',
 'Highgrove',
 'Highland',
 'Highlands-Baywood Park',
 'Hillsborough',
 'Hilmar-Irwin',
 'Hiouchi',
 'Hollister',
 'Holtville',
 'Home Garden',
 'Home Gardens',
 'Homeland',
 'Homestead Valley',
 'Homewood Canyon',
 'Honcut',
 'Hood',
 'Hopland',
 'Hornbrook',
 'Hornitos',
 'Hughson',
 'Humboldt Hill',
 'Huntington Beach',
 'Huntington Park',
 'Huron',
 'Hyampom',
 'Hydesville',
 'Idlewild',
 'Idyllwild-Pine Cove',
 'Imperial',
 'Imperial Beach',
 'Independence',
 'Indian Falls',
 'Indianola',
 'Indian Wells',
 'Indio',
 'Indio Hills',
 'Industry',
 'Inglewood',
 'Interlaken',
 'Inverness',
 'Inyokern',
 'Ione',
 'Iron Horse',
 'Irvine',
 'Irwindale',
 'Isla Vista',
 'Isleton',
 'Ivanhoe',
 'Jackson',
 'Jacumba',
 'Jamestown',
 'Jamul',
 'Janesville',
 'Jenner',
 'Johannesburg',
 'Johnstonville',
 'Johnsville',
 'Joshua Tree',
 'Julian',
 'Junction City',
 'June Lake',
 'Keddie',
 'Keeler',
 'Keene',
 'Kelly Ridge',
 'Kelseyville',
 'Kennedy',
 'Kennedy Meadows',
 'Kensington',
 'Kentfield',
 'Kenwood',
 'Kerman',
 'Kernville',
 'Keswick',
 'Kettleman City',
 'Keyes',
 'King City',
 'Kings Beach',
 'Kingsburg',
 'Kingvale',
 'Kirkwood',
 'Klamath',
 'Knightsen',
 'Knights Landing',
 'La Canada Flintridge',
 'La Crescenta-Montrose',
 'Ladera',
 'Ladera Heights',
 'Ladera Ranch',
 'Lafayette',
 'Laguna Beach',
 'Laguna Hills',
 'Laguna Niguel',
 'Laguna Woods',
 'Lagunitas-Forest Knolls',
 'La Habra',
 'La Habra Heights',
 'La Honda',
 'Lake Almanor Country Club',
 'Lake Almanor Peninsula',
 'Lake Almanor West',
 'Lake Arrowhead',
 'Lake California',
 'Lake City',
 'Lake Davis',
 'Lake Don Pedro',
 'Lake Elsinore',
 'Lake Forest',
 'Lakehead',
 'Lake Hughes',
 'Lake Isabella',
 'Lakeland Village',
 'Lake Los Angeles',
 'Lake Mathews',
 'Lake Nacimiento',
 'Lake of the Pines',
 'Lake of the Woods',
 'Lakeport',
 'Lake Riverside',
 'Lake San Marcos',
 'Lake Sherwood',
 'Lakeside',
 'Lakeview',
 'Lake Wildwood',
 'Lakewood',
 'La Mesa',
 'La Mirada',
 'Lamont',
 'Lanare',
 'Lancaster',
 'La Palma',
 'La Porte',
 'La Presa',
 'La Puente',
 'La Quinta',
 'La Riviera',
 'Larkfield-Wikiup',
 'Larkspur',
 'La Selva Beach',
 'Las Flores CDP (Orange County), California',
 'Las Flores CDP (Tehama County), California',
 'Las Lomas',
 'Lathrop',
 'Laton',
 'La Verne',
 'La Vina',
 'Lawndale',
 'Laytonville',
 'Lebec',
 'Lee Vining',
 'Leggett',
 'Le Grand',
 'Lemon Cove',
 'Lemon Grove',
 'Lemon Hill',
 'Lemoore',
 'Lemoore Station',
 'Lennox',
 'Lenwood',
 'Leona Valley',
 'Lewiston',
 'Lexington Hills',
 'Likely',
 'Lincoln',
 'Lincoln Village',
 'Linda',
 'Lindcove',
 'Linden',
 'Lindsay',
 'Linnell Camp',
 'Litchfield',
 'Little Grass Valley',
 'Little River',
 'Littlerock',
 'Live Oak',
 'Livermore',
 'Livingston',
 'Lockeford',
 'Lockwood',
 'Lodi',
 'Lodoga',
 'Loleta',
 'Loma Linda',
 'Loma Mar',
 'Loma Rica',
 'Lomita',
 'Lompico',
 'Lompoc',
 'London',
 'Lone Pine',
 'Long Barn',
 'Long Beach',
 'Lookout',
 'Loomis',
 'Los Alamitos',
 'Los Alamos',
 'Los Altos',
 'Los Altos Hills',
 'Los Angeles',
 'Los Banos',
 'Los Berros',
 'Los Gatos',
 'Los Molinos',
 'Los Olivos',
 'Los Osos',
 'Los Ranchos',
 'Lost Hills',
 'Lower Lake',
 'Loyalton',
 'Loyola',
 'Lucas Valley-Marinwood',
 'Lucerne',
 'Lucerne Valley',
 'Lynwood',
 'Lytle Creek',
 'Mabie',
 'McArthur',
 'McClellan Park',
 'McClenney Tract',
 'McCloud',
 'Macdoel',
 'McFarland',
 'McGee Creek',
 'McKinleyville',
 'McKittrick',
 'McSwain',
 'Madera',
 'Madera Acres',
 'Madison',
 'Mad River',
 'Magalia',
 'Malaga',
 'Malibu',
 'Mammoth Lakes',
 'Manchester',
 'Manhattan Beach',
 'Manila',
 'Manteca',
 'Manton',
 'March ARB',
 'Maricopa',
 'Marina',
 'Marina del Rey',
 'Marin City',
 'Mariposa',
 'Markleeville',
 'Martell',
 'Martinez',
 'Marysville',
 'Matheny',
 'Mather',
 'Maxwell',
 'Mayfair',
 'Mayflower Village',
 'Maywood',
 'Meadowbrook',
 'Meadow Valley',
 'Meadow Vista',
 'Mead Valley',
 'Mecca',
 'Meiners Oaks',
 'Mendocino',
 'Mendota',
 'Menifee',
 'Menlo Park',
 'Mentone',
 'Merced',
 'Meridian',
 'Mesa',
 'Mesa Verde',
 'Mesa Vista',
 'Mettler',
 'Mexican Colony',
 'Middletown',
 'Midpines',
 'Midway City',
 'Milford',
 'Millbrae',
 'Mill Valley',
 'Millville',
 'Milpitas',
 'Mineral',
 'Minkler',
 'Mira Loma',
 'Mira Monte',
 'Miranda',
 'Mission Canyon',
 'Mission Hills',
 'Mission Viejo',
 'Mi-Wuk Village',
 'Modesto',
 'Mohawk Vista',
 'Mojave',
 'Mokelumne Hill',
 'Monmouth',
 'Mono City',
 'Mono Vista',
 'Monrovia',
 'Monson',
 'Montague',
 'Montalvin Manor',
 'Montara',
 'Montclair',
 'Montebello',
 'Montecito',
 'Monterey',
 'Monterey Park',
 'Monterey Park Tract',
 'Monte Rio',
 'Monte Sereno',
 'Montgomery Creek',
 'Monument Hills',
 'Moorpark',
 'Morada',
 'Moraga',
 'Moreno Valley',
 'Morgan Hill',
 'Morongo Valley',
 'Morro Bay',
 'Moskowite Corner',
 'Moss Beach',
 'Moss Landing',
 'Mountain Center',
 'Mountain Gate',
 'Mountain House',
 'Mountain Mesa',
 'Mountain Ranch',
 'Mountain View',
 'Mountain View Acres',
 'Mount Hebron',
 'Mount Hermon',
 'Mount Laguna',
 'Mount Shasta',
 'Muir Beach',
 'Murphys',
 'Murrieta',
 'Muscoy',
 'Myers Flat',
 'Myrtletown',
 'Napa',
 'National City',
 'Needles',
 'Nevada City',
 'Newark',
 'Newcastle',
 'New Cuyama',
 'Newell',
 'Newman',
 'New Pine Creek',
 'Newport Beach',
 'Nicasio',
 'Nice',
 'Nicolaus',
 'Niland',
 'Nipinnawasee',
 'Nipomo',
 'Norco',
 'Nord',
 'Norris Canyon',
 'North Auburn',
 'North Edwards',
 'North El Monte',
 'North Fair Oaks',
 'North Gate',
 'North Highlands',
 'North Lakeport',
 'North Richmond',
 'North San Juan',
 'North Shore',
 'North Tustin',
 'Norwalk',
 'Novato',
 'Nubieber',
 'Nuevo',
 'Oakdale',
 'Oak Glen',
 'Oak Hills',
 'Oakhurst',
 'Oakland',
 'Oakley',
 'Oak Park',
 'Oak Shores',
 'Oak View',
 'Oakville',
 'Oasis',
 'Occidental',
 'Oceano',
 'Oceanside',
 'Ocotillo',
 'Oildale',
 'Ojai',
 'Olancha',
 'Old Fig Garden',
 'Old Station',
 'Olivehurst',
 'Ontario',
 'Onyx',
 'Orange',
 'Orange Cove',
 'Orangevale',
 'Orcutt',
 'Orick',
 'Orinda',
 'Orland',
 'Orosi',
 'Oroville',
 'Oroville East',
 'Oxnard',
 'Pacheco',
 'Pacifica',
 'Pacific Grove',
 'Pajaro',
 ...]

In [51]:
# Fix typos
vac_11_18.loc[vac_11_18.city=='Ananheim', 'city']='Anaheim'
vac_11_18.loc[vac_11_18.city=='Costa Mesa,', 'city']='Costa Mesa'
vac_11_18.loc[vac_11_18.city=='Paso Robles', 'city']='El Paso De Robles (Paso Robles)'
vac_11_18.loc[vac_11_18.city=='El Paso de Robles', 'city']='El Paso De Robles (Paso Robles)'
vac_11_18.loc[vac_11_18.city=='Chasworth', 'city']='Los Angeles'
vac_11_18.loc[vac_11_18.city=='Huntington  Beach', 'city']='Huntington Beach'
vac_11_18.loc[vac_11_18.city=='Long  Beach', 'city']='Long Beach'
vac_11_18.loc[vac_11_18.city=='Mt Baldy', 'city']='Mount Baldy'
vac_11_18.loc[vac_11_18.city=='Mt. Baldy', 'city']='Mount Baldy'
vac_11_18.loc[vac_11_18.city=='North Hollywood', 'city']='Los Angeles'
vac_11_18.loc[vac_11_18.city=='Oneals', 'city']="O'Neals"
vac_11_18.loc[vac_11_18.city=='Canyon County', 'city']='Santa Clarita'
vac_11_18.loc[vac_11_18.city=='Coaresgold', 'city']='Coarsegold'
vac_11_18.loc[vac_11_18.city=='El Toro', 'city']='Lake Forest'
vac_11_18.loc[vac_11_18.city=='Herber', 'city']='Heber'
vac_11_18.loc[vac_11_18.city=='Hespera', 'city']='Hesperia'
vac_11_18.loc[vac_11_18.city=='Los Oso', 'city']='Los Osos'
vac_11_18.loc[vac_11_18.city=='Newport Coast', 'city']='Newport Beach'
vac_11_18.loc[vac_11_18.city=='Pinedale', 'city']='Fresno'
vac_11_18.loc[vac_11_18.city=='Rancho Tehema', 'city']='Rancho Tehama Reserve'
vac_11_18.loc[vac_11_18.city=='Redding ', 'city']='Redding'
vac_11_18.loc[vac_11_18.city=='Riversidty', 'city']='Riverside'
vac_11_18.loc[vac_11_18.city=='San Bernadino', 'city']='San Bernardino'
vac_11_18.loc[vac_11_18.city=='Simi  Valley', 'city']='Simi Valley'
vac_11_18.loc[vac_11_18.city=='Hilmar', 'city']='Hilmar-Irwin'

In [52]:
combined_1118=vac_11_18.merge(census_11_16, left_on=['city'], right_on=['city'], how='left')
combined_1118

# combined_1118=city_11_16.merge(vac_11_18, left_on=['city','year'], right_on=['city','year'], how='outer')
# combined_1118

,county,city,vac_info_type,enrollment,vaccinated,school_year,year,vac_pct,geoid
0,Alameda,Alameda,7thGradeData,5832.0,5712.0,2011-2012,2012,97.942387,1600000US0600562
1,Alameda,Alameda,7thGradeData,5832.0,5712.0,2011-2012,2012,97.942387,1600000US0600562
2,Alameda,Alameda,7thGradeData,5832.0,5712.0,2011-2012,2012,97.942387,1600000US0600562
3,Alameda,Alameda,7thGradeData,5832.0,5712.0,2011-2012,2012,97.942387,1600000US0600562
4,Alameda,Alameda,7thGradeData,5832.0,5712.0,2011-2012,2012,97.942387,1600000US0600562
5,Alameda,Alameda,7thGradeData,5832.0,5712.0,2011-2012,2012,97.942387,1600000US0600562
6,Alameda,Alameda,ChildCareData,1031.0,995.0,2011-2012,2012,96.508244,1600000US0600562
7,Alameda,Alameda,ChildCareData,1031.0,995.0,2011-2012,2012,96.508244,1600000US0600562
8,Alameda,Alameda,ChildCareData,1031.0,995.0,2011-2012,2012,96.508244,1600000US0600562
9,Alameda,Alameda,ChildCareData,1031.0,995.0,2011-2012,2012,96.508244,1600000US0600562
10,Alameda,Alameda,ChildCareData,1031.0,995.0,2011-2012,2012,96.508244,1600000US0600562
11,Alameda,Alameda,ChildCareData,1031.0,995.0,2011-2012,2012,96.508244,1600000US0600562
12,Alameda,Alameda,KindergartenData,755.0,704.0,2011-2012,2012,93.245033,1600000US0600562
13,Alameda,Alameda,KindergartenData,755.0,704.0,2011-2012,2012,93.245033,1600000US0600562
14,Alameda,Alameda,KindergartenData,755.0,704.0,2011-2012,2012,93.245033,1600000US0600562
15,Alameda,Alameda,KindergartenData,755.0,704.0,2011-2012,2012,93.245033,1600000US0600562
16,Alameda,Alameda,KindergartenData,755.0,704.0,2011-2012,2012,93.245033,1600000US0600562
17,Alameda,Alameda,KindergartenData,755.0,704.0,2011-2012,2012,93.245033,1600000US0600562
18,Alameda,Albany,7thGradeData,1875.0,1835.0,2011-2012,2012,97.866667,1600000US0600674
19,Alameda,Albany,7thGradeData,1875.0,1835.0,2011-2012,2012,97.866667,1600000US0600674
20,Alameda,Albany,7thGradeData,1875.0,1835.0,2011-2012,2012,97.866667,1600000US0600674
21,Alameda,Albany,7thGradeData,1875.0,1835.0,2011-2012,2012,97.866667,1600000US0600674
22,Alameda,Albany,7thGradeData,1875.0,1835.0,2011-2012,2012,97.866667,1600000US0600674
23,Alameda,Albany,7thGradeData,1875.0,1835.0,2011-2012,2012,97.866667,1600000US0600674
24,Alameda,Albany,ChildCareData,258.0,155.0,2011-2012,2012,60.077519,1600000US0600674
25,Alameda,Albany,ChildCareData,258.0,155.0,2011-2012,2012,60.077519,1600000US0600674
26,Alameda,Albany,ChildCareData,258.0,155.0,2011-2012,2012,60.077519,1600000US0600674
27,Alameda,Albany,ChildCareData,258.0,155.0,2011-2012,2012,60.077519,1600000US0600674
28,Alameda,Albany,ChildCareData,258.0,155.0,2011-2012,2012,60.077519,1600000US0600674
29,Alameda,Albany,ChildCareData,258.0,155.0,2011-2012,2012,60.077519,1600000US0600674
...,...,...,...,...,...,...,...,...,...
95200,Yuba,Plumas Lake,ChildCareData,56.0,53.0,2017-2018,2018,94.642857,1600000US0657829
95201,Yuba,Plumas Lake,ChildCareData,56.0,53.0,2017-2018,2018,94.642857,1600000US0657829
95202,Yuba,Plumas Lake,ChildCareData,56.0,53.0,2017-2018,2018,94.642857,1600000US0657829
95203,Yuba,Plumas Lake,ChildCareData,56.0,53.0,2017-2018,2018,94.642857,1600000US0657829
95204,Yuba,Plumas Lake,ChildCareData,56.0,53.0,2017-2018,2018,94.642857,1600000US0657829
95205,Yuba,Plumas Lake,ChildCareData,56.0,53.0,2017-2018,2018,94.642857,1600000US0657829
95206,Yuba,Plumas Lake,KindergartenData,181.0,177.0,2017-2018,2018,97.790055,1600000US0657829
95207,Yuba,Plumas Lake,KindergartenData,181.0,177.0,2017-2018,2018,97.790055,1600000US0657829
95208,Yuba,Plumas Lake,KindergartenData,181.0,177.0,2017-2018,2018,97.790055,1600000US0657829
95209,Yuba,Plumas Lake,KindergartenData,181.0,177.0,2017-2018,2018,97.790055,1600000US0657829
95210,Yuba,Plumas Lake,KindergartenData,181.0,177.0,2017-2018,2018,97.790055,1600000US0657829
95211,Yuba,Plumas Lake,KindergartenData,181.0,177.0,2017-2018,2018,97.790055,1600000US0657829
95212,Yuba,Wheatland,7thGradeData,141.0,139.0,2017-2018,2018,98.581560,1600000US0685012
95213,Yuba,Wheatland,7thGradeData,141.0,139.0,2017-2018,2018,98.581560,1600000US0685012
95214,Yuba,Wheatland,7thGradeData,141.0,139.0,2017-2018,2018,98.581560,1600000US0685012
95215,Yuba,Wheatland,7thGradeData,141.0,139.0,2017-2018,2018,98.581560,1600000US0685012
95216,Yuba,Wheatland,7thGradeData,141.0,139.0,2017-2018,2018,98.581560,1600000US0685012
95217,Yuba,Wheatland,7thGradeData,141.0,139.0,2017-2018,2018,98.581560,1600000US0685012
95218,Yuba,Wheatland,ChildCareData,104.0,99.0,2017-2018,2018,95.192308,1600000US0685012
95219,Yuba,Wheatland,ChildCareData,104.0,99.0,2017-2018,2018,95.192308,1600000US0685012
95220,Yuba,Wheatland,ChildCareData,104.0,99.0,2017-2018,2018,95.192308,1600000US0685012
95221,Yuba,Wheatland,ChildCareData,104.0,99.0,2017-2018,2018,95.192308,1600000US0685012
95222,Yuba,Wheatland,ChildCareData,104.0,99.0,2017-2018,2018,95.192308,1600000US0685012
95223,Yuba,Wheatland,ChildCareData,104.0,99.0,2017-2018,2018,95.192308,1600000US0685012
95224,Yuba,Wheatland,KindergartenData,92.0,90.0,2017-2018,2018,97.826087,1600000US0685012
95225,Yuba,Wheatland,KindergartenData,92.0,90.0,2017-2018,2018,97.826087,1600000US0685012
95226,Yuba,Wheatland,KindergartenData,92.0,90.0,2017-2018,2018,97.826087,1600000US0685012
95227,Yuba,Wheatland,KindergartenData,92.0,90.0,2017-2018,2018,97.826087,1600000US0685012
95228,Yuba,Wheatland,KindergartenData,92.0,90.0,2017-2018,2018,97.826087,1600000US0685012
95229,Yuba,Wheatland,KindergartenData,92.0,90.0,2017-2018,2018,97.826087,1600000US0685012

In [53]:
# more data cleaning on cities that didn't merge with census
combined_1118.loc[combined_1118.city=='La Canada Flintridge', 'geoid']='1600000US0639003'
combined_1118.loc[combined_1118.city=='Pinon Hills', 'geoid']='1600000US0657302'
combined_1118.loc[combined_1118.city=='El Paso De Robles (Paso Robles)', 'geoid']='1600000US0622300'
combined_1118.loc[combined_1118.city=='San Miguel (San Luis Obispo County)', 'geoid']='1600000US0668266'
combined_1118.loc[combined_1118.city=='Spring Valley (San Diego County)', 'geoid']='1600000US0673696'

In [54]:
combined_1118.to_csv("combined_1118.csv", index=False)